[Desktop Entry]
Name=Read this before You start using application
Name[ar]=Read this before You start using application
Name[ast]=Read this before You start using application
Name[be]=Read this before You start using application
Name[bn]=Read this before You start using application
Name[ca]=Read this before You start using application
Name[cs]=Read this before You start using application
Name[da]=Read this before You start using application
Name[de]=Read this before You start using application
Name[el]=Read this before You start using application
Name[en_GB]=Read this before You start using application
Name[eo]=Read this before You start using application
Name[es]=Read this before You start using application
Name[et]=Read this before You start using application
Name[eu]=Read this before You start using application
Name[fi]=Read this before You start using application
Name[fr]=Lise ceci avant de commencer à utiliser l'application
Name[gl]=Read this before You start using application
Name[he]=Read this before You start using application
Name[hr]=Read this before You start using application
Name[hu]=Read this before You start using application
Name[id]=Read this before You start using application
Name[it]=Read this before You start using application
Name[ja]=Read this before You start using application
Name[kk]=Read this before You start using application
Name[ko]=Read this before You start using application
Name[lt]=Read this before You start using application
Name[lv]=Read this before You start using application
Name[nb]=Read this before You start using application
Name[nl]=Read this before You start using application
Name[nn]=Read this before You start using application
Name[pa]=Read this before You start using application
Name[pl]=Przeczytaj zanim zaczniesz
Name[pt]=Read this before You start using application
Name[pt_BR]=Read this before You start using application
Name[ro]=Read this before You start using application
Name[ru]=Read this before You start using application
Name[si]=Read this before You start using application
Name[sk]=Read this before You start using application
Name[sq]=Read this before You start using application
Name[sr]=Read this before You start using application
Name[sv]=Read this before You start using application
Name[te]=Read this before You start using application
Name[tr]=Read this before You start using application
Name[ug]=Read this before You start using application
Name[uk]=Read this before You start using application
Name[ur]=Read this before You start using application
Name[ur_PK]=Read this before You start using application
Name[vi]=Read this before You start using application
Name[zh_CN]=Read this before You start using application
Name[zh_TW]=Read this before You start using application
Comment=Read this before You start using application
Comment[ar]=Read this before You start using application
Comment[ast]=Read this before You start using application
Comment[be]=Read this before You start using application
Comment[bn]=Read this before You start using application
Comment[ca]=Read this before You start using application
Comment[cs]=Read this before You start using application
Comment[da]=Read this before You start using application
Comment[de]=Read this before You start using application
Comment[el]=Read this before You start using application
Comment[en_GB]=Read this before You start using application
Comment[eo]=Read this before You start using application
Comment[es]=Read this before You start using application
Comment[et]=Read this before You start using application
Comment[eu]=Read this before You start using application
Comment[fi]=Read this before You start using application
Comment[fr]=Lise ceci avant de commencer à utiliser l'application
Comment[gl]=Read this before You start using application
Comment[he]=Read this before You start using application
Comment[hr]=Read this before You start using application
Comment[hu]=Read this before You start using application
Comment[id]=Read this before You start using application
Comment[it]=Read this before You start using application
Comment[ja]=Read this before You start using application
Comment[kk]=Read this before You start using application
Comment[ko]=Read this before You start using application
Comment[lt]=Read this before You start using application
Comment[lv]=Read this before You start using application
Comment[nb]=Read this before You start using application
Comment[nl]=Read this before You start using application
Comment[nn]=Read this before You start using application
Comment[pa]=Read this before You start using application
Comment[pl]=Przeczytaj zanim zaczniesz
Comment[pt]=Read this before You start using application
Comment[pt_BR]=Read this before You start using application
Comment[ro]=Read this before You start using application
Comment[ru]=Read this before You start using application
Comment[sk]=Read this before You start using application
Comment[sq]=Read this before You start using application
Comment[sr]=Read this before You start using application
Comment[sv]=Read this before You start using application
Comment[te]=Read this before You start using application
Comment[tr]=Read this before You start using application
Comment[ug]=Read this before You start using application
Comment[uk]=Read this before You start using application
Comment[ur]=Read this before You start using application
Comment[ur_PK]=Read this before You start using application
Comment[vi]=Read this before You start using application
Comment[zh_CN]=Read this before You start using application
Comment[zh_TW]=Read this before You start using application
GenericName=Read this before You start using application
GenericName[ar]=Read this before You start using application
GenericName[ast]=Read this before You start using application
GenericName[be]=Read this before You start using application
GenericName[bn]=Read this before You start using application
GenericName[ca]=Read this before You start using application
GenericName[cs]=Read this before You start using application
GenericName[da]=Read this before You start using application
GenericName[de]=Read this before You start using application
GenericName[el]=Read this before You start using application
GenericName[en_GB]=Read this before You start using application
GenericName[eo]=Read this before You start using application
GenericName[es]=Read this before You start using application
GenericName[et]=Read this before You start using application
GenericName[eu]=Read this before You start using application
GenericName[fi]=Read this before You start using application
GenericName[fr]=Lise ceci avant de commencer à utiliser l'application
GenericName[gl]=Read this before You start using application
GenericName[he]=Read this before You start using application
GenericName[hr]=Read this before You start using application
GenericName[hu]=Read this before You start using application
GenericName[id]=Read this before You start using application
GenericName[it]=Read this before You start using application
GenericName[ja]=Read this before You start using application
GenericName[kk]=Read this before You start using application
GenericName[ko]=Read this before You start using application
GenericName[lt]=Read this before You start using application
GenericName[lv]=Read this before You start using application
GenericName[nb]=Read this before You start using application
GenericName[nl]=Read this before You start using application
GenericName[nn]=Read this before You start using application
GenericName[pa]=Read this before You start using application
GenericName[pl]=Przeczytaj zanim zaczniesz
GenericName[pt]=Read this before You start using application
GenericName[pt_BR]=Read this before You start using application
GenericName[ro]=Read this before You start using application
GenericName[ru]=Read this before You start using application
GenericName[si]=Read this before You start using application
GenericName[sk]=Read this before You start using application
GenericName[sq]=Read this before You start using application
GenericName[sr]=Read this before You start using application
GenericName[sv]=Read this before You start using application
GenericName[te]=Read this before You start using application
GenericName[tr]=Read this before You start using application
GenericName[ug]=Read this before You start using application
GenericName[uk]=Read this before You start using application
GenericName[ur]=Read this before You start using application
GenericName[ur_PK]=Read this before You start using application
GenericName[vi]=Read this before You start using application
GenericName[zh_CN]=Read this before You start using application
GenericName[zh_TW]=Read this before You start using application

Exec=/opt/NeteXt73/./help
Icon=/opt/NeteXt73/ikony/help.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;
Version=1.0
Encoding=UTF-8
# vi:set encoding=UTF-8:
