[Desktop Entry]
Categories=Utility;
Comment[pl]=Pierwsza instalacja
Comment=The first installation
Comment[ar]=The first installation
Comment[ast]=The first installation
Comment[be]=The first installation
Comment[bn]=The first installation
Comment[ca]=The first installation
Comment[cs]=The first installation
Comment[da]=The first installation
Comment[de]=The first installation
Comment[el]=The first installation
Comment[en_GB]=The first installation
Comment[eo]=The first installation
Comment[es]=The first installation
Comment[et]=The first installation
Comment[eu]=The first installation
Comment[fi]=The first installation
Comment[fr]=La première installation
Comment[gl]=The first installation
Comment[he]=The first installation
Comment[hr]=The first installation
Comment[hu]=The first installation
Comment[id]=The first installation
Comment[it]=The first installation
Comment[ja]=The first installation
Comment[kk]=The first installation
Comment[ko]=The first installation
Comment[lt]=The first installation
Comment[lv]=The first installation
Comment[nb]=The first installation
Comment[nl]=The first installation
Comment[nn]=The first installation
Comment[pa]=The first installation
Comment[pt]=The first installation
Comment[pt_BR]=The first installation
Comment[ro]=The first installation
Comment[ru]=The first installation
Comment[sk]=The first installation
Comment[sq]=The first installation
Comment[sr]=The first installation
Comment[sv]=The first installation
Comment[te]=The first installation
Comment[tr]=The first installation
Comment[ug]=The first installation
Comment[uk]=The first installation
Comment[ur]=The first installation
Comment[ur_PK]=The first installation
Comment[vi]=The first installation
Comment[zh_CN]=The first installation
Comment[zh_TW]=The first installation
Encoding=UTF-8
Exec=/opt/NeteXt73/./update first
GenericName[pl]=Pierwsza instalacja
GenericName=The first installation
GenericName[ar]=The first installation
GenericName[ast]=The first installation
GenericName[be]=The first installation
GenericName[bn]=The first installation
GenericName[ca]=The first installation
GenericName[cs]=The first installation
GenericName[da]=The first installation
GenericName[de]=The first installation
GenericName[el]=The first installation
GenericName[en_GB]=The first installation
GenericName[eo]=The first installation
GenericName[es]=The first installation
GenericName[et]=The first installation
GenericName[eu]=The first installation
GenericName[fi]=The first installation
GenericName[fr]=La première installation
GenericName[gl]=The first installation
GenericName[he]=The first installation
GenericName[hr]=The first installation
GenericName[hu]=The first installation
GenericName[id]=The first installation
GenericName[it]=The first installation
GenericName[ja]=The first installation
GenericName[kk]=The first installation
GenericName[ko]=The first installation
GenericName[lt]=The first installation
GenericName[lv]=The first installation
GenericName[nb]=The first installation
GenericName[nl]=The first installation
GenericName[nn]=The first installation
GenericName[pa]=The first installation
GenericName[pt]=The first installation
GenericName[pt_BR]=The first installation
GenericName[ro]=The first installation
GenericName[ru]=The first installation
GenericName[si]=The first installation
GenericName[sk]=The first installation
GenericName[sq]=The first installation
GenericName[sr]=The first installation
GenericName[sv]=The first installation
GenericName[te]=The first installation
GenericName[tr]=The first installation
GenericName[ug]=The first installation
GenericName[uk]=The first installation
GenericName[ur]=The first installation
GenericName[ur_PK]=The first installation
GenericName[vi]=The first installation
GenericName[zh_CN]=The first installation
GenericName[zh_TW]=The first installation
Icon=/opt/NeteXt73/ikony/start.png
MimeType=
Name[pl]=Pierwsza instalacja
Name=The first installation
Name[ar]=The first installation
Name[ast]=The first installation
Name[be]=The first installation
Name[bn]=The first installation
Name[ca]=The first installation
Name[cs]=The first installation
Name[da]=The first installation
Name[de]=The first installation
Name[el]=The first installation
Name[en_GB]=The first installation
Name[eo]=The first installation
Name[es]=The first installation
Name[et]=The first installation
Name[eu]=The first installation
Name[fi]=The first installation
Name[fr]=La première installation
Name[gl]=The first installation
Name[he]=The first installation
Name[hr]=The first installation
Name[hu]=The first installation
Name[id]=The first installation
Name[it]=The first installation
Name[ja]=The first installation
Name[kk]=The first installation
Name[ko]=The first installation
Name[lt]=The first installation
Name[lv]=The first installation
Name[nb]=The first installation
Name[nl]=The first installation
Name[nn]=The first installation
Name[pa]=The first installation
Name[pt]=The first installation
Name[pt_BR]=The first installation
Name[ro]=The first installation
Name[ru]=The first installation
Name[si]=The first installation
Name[sk]=The first installation
Name[sq]=The first installation
Name[sr]=The first installation
Name[sv]=The first installation
Name[te]=The first installation
Name[tr]=The first installation
Name[ug]=The first installation
Name[uk]=The first installation
Name[ur]=The first installation
Name[ur_PK]=The first installation
Name[vi]=The first installation
Name[zh_CN]=The first installation
Name[zh_TW]=The first installation
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
