[Desktop Entry]
Name=Settings
Name[ar]=Settings
Name[ast]=Settings
Name[be]=Settings
Name[bn]=Settings
Name[ca]=Settings
Name[cs]=Settings
Name[da]=Settings
Name[de]=Settings
Name[el]=Settings
Name[en_GB]=Settings
Name[eo]=Settings
Name[es]=Settings
Name[et]=Settings
Name[eu]=Settings
Name[fi]=Settings
Name[fr]=Paramètres
Name[gl]=Settings
Name[he]=Settings
Name[hr]=Settings
Name[hu]=Settings
Name[id]=Settings
Name[it]=Settings
Name[ja]=Settings
Name[kk]=Settings
Name[ko]=Settings
Name[lt]=Settings
Name[lv]=Settings
Name[nb]=Settings
Name[nl]=Settings
Name[nn]=Settings
Name[pa]=Settings
Name[pl]=Konfiguracja programu
Name[pt]=Settings
Name[pt_BR]=Settings
Name[ro]=Settings
Name[ru]=Settings
Name[si]=Settings
Name[sk]=Settings
Name[sq]=Settings
Name[sr]=Settings
Name[sv]=Settings
Name[te]=Settings
Name[tr]=Settings
Name[ug]=Settings
Name[uk]=Settings
Name[ur]=Settings
Name[ur_PK]=Settings
Name[vi]=Settings
Name[zh_CN]=Settings
Name[zh_TW]=Settings
Comment=Change or restore default settings NeteXt'73
Comment[ar]=Change or restore default settings NeteXt'73
Comment[ast]=Change or restore default settings NeteXt'73
Comment[be]=Change or restore default settings NeteXt'73
Comment[bn]=Change or restore default settings NeteXt'73
Comment[ca]=Change or restore default settings NeteXt'73
Comment[cs]=Change or restore default settings NeteXt'73
Comment[da]=Change or restore default settings NeteXt'73
Comment[de]=Change or restore default settings NeteXt'73
Comment[el]=Change or restore default settings NeteXt'73
Comment[en_GB]=Change or restore default settings NeteXt'73
Comment[eo]=Change or restore default settings NeteXt'73
Comment[es]=Change or restore default settings NeteXt'73
Comment[et]=Change or restore default settings NeteXt'73
Comment[eu]=Change or restore default settings NeteXt'73
Comment[fi]=Change or restore default settings NeteXt'73
Comment[fr]=Modifier ou restaurer les paramètres par défaut de NeteXt 73
Comment[gl]=Change or restore default settings NeteXt'73
Comment[he]=Change or restore default settings NeteXt'73
Comment[hr]=Change or restore default settings NeteXt'73
Comment[hu]=Change or restore default settings NeteXt'73
Comment[id]=Change or restore default settings NeteXt'73
Comment[it]=Change or restore default settings NeteXt'73
Comment[ja]=Change or restore default settings NeteXt'73
Comment[kk]=Change or restore default settings NeteXt'73
Comment[ko]=Change or restore default settings NeteXt'73
Comment[lt]=Change or restore default settings NeteXt'73
Comment[lv]=Change or restore default settings NeteXt'73
Comment[nb]=Change or restore default settings NeteXt'73
Comment[nl]=Change or restore default settings NeteXt'73
Comment[nn]=Change or restore default settings NeteXt'73
Comment[pa]=Change or restore default settings NeteXt'73
Comment[pl]=Zmień lub przywróć domyślną konfigurację NeteXt'73
Comment[pt]=Change or restore default settings NeteXt'73
Comment[pt_BR]=Change or restore default settings NeteXt'73
Comment[ro]=Change or restore default settings NeteXt'73
Comment[ru]=Change or restore default settings NeteXt'73
Comment[sk]=Change or restore default settings NeteXt'73
Comment[sq]=Change or restore default settings NeteXt'73
Comment[sr]=Change or restore default settings NeteXt'73
Comment[sv]=Change or restore default settings NeteXt'73
Comment[te]=Change or restore default settings NeteXt'73
Comment[tr]=Change or restore default settings NeteXt'73
Comment[ug]=Change or restore default settings NeteXt'73
Comment[uk]=Change or restore default settings NeteXt'73
Comment[ur]=Change or restore default settings NeteXt'73
Comment[ur_PK]=Change or restore default settings NeteXt'73
Comment[vi]=Change or restore default settings NeteXt'73
Comment[zh_CN]=Change or restore default settings NeteXt'73
Comment[zh_TW]=Change or restore default settings NeteXt'73
GenericName=Settings
GenericName[ar]=Settings
GenericName[ast]=Settings
GenericName[be]=Settings
GenericName[bn]=Settings
GenericName[ca]=Settings
GenericName[cs]=Settings
GenericName[da]=Settings
GenericName[de]=Settings
GenericName[el]=Settings
GenericName[en_GB]=Settings
GenericName[eo]=Settings
GenericName[es]=Settings
GenericName[et]=Settings
GenericName[eu]=Settings
GenericName[fi]=Settings
GenericName[fr]=Paramètres
GenericName[gl]=Settings
GenericName[he]=Settings
GenericName[hr]=Settings
GenericName[hu]=Settings
GenericName[id]=Settings
GenericName[it]=Settings
GenericName[ja]=Settings
GenericName[kk]=Settings
GenericName[ko]=Settings
GenericName[lt]=Settings
GenericName[lv]=Settings
GenericName[nb]=Settings
GenericName[nl]=Settings
GenericName[nn]=Settings
GenericName[pa]=Settings
GenericName[pl]=Konfiguracja programu
GenericName[pt]=Settings
GenericName[pt_BR]=Settings
GenericName[ro]=Settings
GenericName[ru]=Settings
GenericName[si]=Settings
GenericName[sk]=Settings
GenericName[sq]=Settings
GenericName[sr]=Settings
GenericName[sv]=Settings
GenericName[te]=Settings
GenericName[tr]=Settings
GenericName[ug]=Settings
GenericName[uk]=Settings
GenericName[ur]=Settings
GenericName[ur_PK]=Settings
GenericName[vi]=Settings
GenericName[zh_CN]=Settings
GenericName[zh_TW]=Settings

Exec=/opt/NeteXt73/./config
Icon=/opt/NeteXt73/ikony/config.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;
Version=1.0
Encoding=UTF-8
# vi:set encoding=UTF-8:
