[Desktop Entry]
Name=Update NeteXt'73 \nor system
Name[ar]=Update NeteXt'73 \nor system
Name[ast]=Update NeteXt'73 \nor system
Name[be]=Update NeteXt'73 \nor system
Name[bn]=Update NeteXt'73 \nor system
Name[ca]=Update NeteXt'73 \nor system
Name[cs]=Update NeteXt'73 \nor system
Name[da]=Update NeteXt'73 \nor system
Name[de]=Update NeteXt'73 \nor system
Name[el]=Update NeteXt'73 \nor system
Name[en_GB]=Update NeteXt'73 \nor system
Name[eo]=Update NeteXt'73 \nor system
Name[es]=Update NeteXt'73 \nor system
Name[et]=Update NeteXt'73 \nor system
Name[eu]=Update NeteXt'73 \nor system
Name[fi]=Update NeteXt'73 \nor system
Name[fr]=Mets à jour le NeteXt'73 \nou le système
Name[gl]=Update NeteXt'73 \nor system
Name[he]=Update NeteXt'73 \nor system
Name[hr]=Update NeteXt'73 \nor system
Name[hu]=Update NeteXt'73 \nor system
Name[id]=Update NeteXt'73 \nor system
Name[it]=Update NeteXt'73 \nor system
Name[ja]=Update NeteXt'73 \nor system
Name[kk]=Update NeteXt'73 \nor system
Name[ko]=Update NeteXt'73 \nor system
Name[lt]=Update NeteXt'73 \nor system
Name[lv]=Update NeteXt'73 \nor system
Name[nb]=Update NeteXt'73 \nor system
Name[nl]=Update NeteXt'73 \nor system
Name[nn]=Update NeteXt'73 \nor system
Name[pa]=Update NeteXt'73 \nor system
Name[pl]=Sprawdź dostępne aktualizacje
Name[pt]=Update NeteXt'73 \nor system
Name[pt_BR]=Update NeteXt'73 \nor system
Name[ro]=Update NeteXt'73 \nor system
Name[ru]=Update NeteXt'73 \nor system
Name[si]=Update NeteXt'73 \nor system
Name[sk]=Update NeteXt'73 \nor system
Name[sq]=Update NeteXt'73 \nor system
Name[sr]=Update NeteXt'73 \nor system
Name[sv]=Update NeteXt'73 \nor system
Name[te]=Update NeteXt'73 \nor system
Name[tr]=Update NeteXt'73 \nor system
Name[ug]=Update NeteXt'73 \nor system
Name[uk]=Update NeteXt'73 \nor system
Name[ur]=Update NeteXt'73 \nor system
Name[ur_PK]=Update NeteXt'73 \nor system
Name[vi]=Update NeteXt'73 \nor system
Name[zh_CN]=Update NeteXt'73 \nor system
Name[zh_TW]=Update NeteXt'73 \nor system
Comment=Check updates
Comment[ar]=Check updates
Comment[ast]=Check updates
Comment[be]=Check updates
Comment[bn]=Check updates
Comment[ca]=Check updates
Comment[cs]=Check updates
Comment[da]=Check updates
Comment[de]=Check updates
Comment[el]=Check updates
Comment[en_GB]=Check updates
Comment[eo]=Check updates
Comment[es]=Check updates
Comment[et]=Check updates
Comment[eu]=Check updates
Comment[fi]=Check updates
Comment[fr]=Recherche les mises à jour
Comment[gl]=Check updates
Comment[he]=Check updates
Comment[hr]=Check updates
Comment[hu]=Check updates
Comment[id]=Check updates
Comment[it]=Check updates
Comment[ja]=Check updates
Comment[kk]=Check updates
Comment[ko]=Check updates
Comment[lt]=Check updates
Comment[lv]=Check updates
Comment[nb]=Check updates
Comment[nl]=Check updates
Comment[nn]=Check updates
Comment[pa]=Check updates
Comment[pl]=Sprawdź i pobierz nową wersję programu lub zaktualizuj system operacyjny
Comment[pt]=Check updates
Comment[pt_BR]=Check updates
Comment[ro]=Check updates
Comment[ru]=Check updates
Comment[sk]=Check updates
Comment[sq]=Check updates
Comment[sr]=Check updates
Comment[sv]=Check updates
Comment[te]=Check updates
Comment[tr]=Check updates
Comment[ug]=Check updates
Comment[uk]=Check updates
Comment[ur]=Check updates
Comment[ur_PK]=Check updates
Comment[vi]=Check updates
Comment[zh_CN]=Check updates
Comment[zh_TW]=Check updates
GenericName=Update NeteXt'73 \nor system
GenericName[ar]=Update NeteXt'73 \nor system
GenericName[ast]=Update NeteXt'73 \nor system
GenericName[be]=Update NeteXt'73 \nor system
GenericName[bn]=Update NeteXt'73 \nor system
GenericName[ca]=Update NeteXt'73 \nor system
GenericName[cs]=Update NeteXt'73 \nor system
GenericName[da]=Update NeteXt'73 \nor system
GenericName[de]=Update NeteXt'73 \nor system
GenericName[el]=Update NeteXt'73 \nor system
GenericName[en_GB]=Update NeteXt'73 \nor system
GenericName[eo]=Update NeteXt'73 \nor system
GenericName[es]=Update NeteXt'73 \nor system
GenericName[et]=Update NeteXt'73 \nor system
GenericName[eu]=Update NeteXt'73 \nor system
GenericName[fi]=Update NeteXt'73 \nor system
GenericName[fr]=Mets à jour le NeteXt'73 \nou le système
GenericName[gl]=Update NeteXt'73 \nor system
GenericName[he]=Update NeteXt'73 \nor system
GenericName[hr]=Update NeteXt'73 \nor system
GenericName[hu]=Update NeteXt'73 \nor system
GenericName[id]=Update NeteXt'73 \nor system
GenericName[it]=Update NeteXt'73 \nor system
GenericName[ja]=Update NeteXt'73 \nor system
GenericName[kk]=Update NeteXt'73 \nor system
GenericName[ko]=Update NeteXt'73 \nor system
GenericName[lt]=Update NeteXt'73 \nor system
GenericName[lv]=Update NeteXt'73 \nor system
GenericName[nb]=Update NeteXt'73 \nor system
GenericName[nl]=Update NeteXt'73 \nor system
GenericName[nn]=Update NeteXt'73 \nor system
GenericName[pa]=Update NeteXt'73 \nor system
GenericName[pl]=Sprawdź dostępne akutalizacje
GenericName[pt]=Update NeteXt'73 \nor system
GenericName[pt_BR]=Update NeteXt'73 \nor system
GenericName[ro]=Update NeteXt'73 \nor system
GenericName[ru]=Update NeteXt'73 \nor system
GenericName[si]=Update NeteXt'73 \nor system
GenericName[sk]=Update NeteXt'73 \nor system
GenericName[sq]=Update NeteXt'73 \nor system
GenericName[sr]=Update NeteXt'73 \nor system
GenericName[sv]=Update NeteXt'73 \nor system
GenericName[te]=Update NeteXt'73 \nor system
GenericName[tr]=Update NeteXt'73 \nor system
GenericName[ug]=Update NeteXt'73 \nor system
GenericName[uk]=Update NeteXt'73 \nor system
GenericName[ur]=Update NeteXt'73 \nor system
GenericName[ur_PK]=Update NeteXt'73 \nor system
GenericName[vi]=Update NeteXt'73 \nor system
GenericName[zh_CN]=Update NeteXt'73 \nor system
GenericName[zh_TW]=Update NeteXt'73 \nor system

Exec=/opt/NeteXt73/./update
Icon=/opt/NeteXt73/ikony/update.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;
Version=1.0
Encoding=UTF-8
# vi:set encoding=UTF-8:
