[Desktop Entry]
Name=Graphical installer \nkernels Premium  by  e X t 7 3
Name[ar]=Graphical installer \nkernels Premium  by  e X t 7 3
Name[ast]=Graphical installer \nkernels Premium  by  e X t 7 3
Name[be]=Graphical installer \nkernels Premium  by  e X t 7 3
Name[bn]=Graphical installer \nkernels Premium  by  e X t 7 3
Name[ca]=Graphical installer \nkernels Premium  by  e X t 7 3
Name[cs]=Graphical installer \nkernels Premium  by  e X t 7 3
Name[da]=Graphical installer \nkernels Premium  by  e X t 7 3
Name[de]=Graphical installer \nkernels Premium  by  e X t 7 3
Name[el]=Graphical installer \nkernels Premium  by  e X t 7 3
Name[en_GB]=Graphical installer \nkernels Premium  by  e X t 7 3
Name[eo]=Graphical installer \nkernels Premium  by  e X t 7 3
Name[es]=Graphical installer \nkernels Premium  by  e X t 7 3
Name[et]=Graphical installer \nkernels Premium  by  e X t 7 3
Name[eu]=Graphical installer \nkernels Premium  by  e X t 7 3
Name[fi]=Graphical installer \nkernels Premium  by  e X t 7 3
Name[fr]=Installateur graphique \ndes kernels par e X t 7 3
Name[gl]=Graphical installer \nkernels Premium  by  e X t 7 3
Name[he]=Graphical installer \nkernels Premium  by  e X t 7 3
Name[hr]=Graphical installer \nkernels Premium  by  e X t 7 3
Name[hu]=Graphical installer \nkernels Premium  by  e X t 7 3
Name[id]=Graphical installer \nkernels Premium  by  e X t 7 3
Name[it]=Graphical installer \nkernels Premium  by  e X t 7 3
Name[ja]=Graphical installer \nkernels Premium  by  e X t 7 3
Name[kk]=Graphical installer \nkernels Premium  by  e X t 7 3
Name[ko]=Graphical installer \nkernels Premium  by  e X t 7 3
Name[lt]=Graphical installer \nkernels Premium  by  e X t 7 3
Name[lv]=Graphical installer \nkernels Premium  by  e X t 7 3
Name[nb]=Graphical installer \nkernels Premium  by  e X t 7 3
Name[nl]=Graphical installer \nkernels Premium  by  e X t 7 3
Name[nn]=Graphical installer \nkernels Premium  by  e X t 7 3
Name[pa]=Graphical installer \nkernels Premium  by  e X t 7 3
Name[pl]=Kernele Premium
Name[pt]=Graphical installer \nkernels Premium  by  e X t 7 3
Name[pt_BR]=Graphical installer \nkernels Premium  by  e X t 7 3
Name[ro]=Graphical installer \nkernels Premium  by  e X t 7 3
Name[ru]=Graphical installer \nkernels Premium  by  e X t 7 3
Name[si]=Graphical installer \nkernels Premium  by  e X t 7 3
Name[sk]=Graphical installer \nkernels Premium  by  e X t 7 3
Name[sq]=Graphical installer \nkernels Premium  by  e X t 7 3
Name[sr]=Graphical installer \nkernels Premium  by  e X t 7 3
Name[sv]=Graphical installer \nkernels Premium  by  e X t 7 3
Name[te]=Graphical installer \nkernels Premium  by  e X t 7 3
Name[tr]=Graphical installer \nkernels Premium  by  e X t 7 3
Name[ug]=Graphical installer \nkernels Premium  by  e X t 7 3
Name[uk]=Graphical installer \nkernels Premium  by  e X t 7 3
Name[ur]=Graphical installer \nkernels Premium  by  e X t 7 3
Name[ur_PK]=Graphical installer \nkernels Premium  by  e X t 7 3
Name[vi]=Graphical installer \nkernels Premium  by  e X t 7 3
Name[zh_CN]=Graphical installer \nkernels Premium  by  e X t 7 3
Name[zh_TW]=Graphical installer \nkernels Premium  by  e X t 7 3
Comment=Graphical installer \nkernels Premium  by  e X t 7 3
Comment[ar]=Graphical installer \nkernels Premium  by  e X t 7 3
Comment[ast]=Graphical installer \nkernels Premium  by  e X t 7 3
Comment[be]=Graphical installer \nkernels Premium  by  e X t 7 3
Comment[bn]=Graphical installer \nkernels Premium  by  e X t 7 3
Comment[ca]=Graphical installer \nkernels Premium  by  e X t 7 3
Comment[cs]=Graphical installer \nkernels Premium  by  e X t 7 3
Comment[da]=Graphical installer \nkernels Premium  by  e X t 7 3
Comment[de]=Graphical installer \nkernels Premium  by  e X t 7 3
Comment[el]=Graphical installer \nkernels Premium  by  e X t 7 3
Comment[en_GB]=Graphical installer \nkernels Premium  by  e X t 7 3
Comment[eo]=Graphical installer \nkernels Premium  by  e X t 7 3
Comment[es]=Graphical installer \nkernels Premium  by  e X t 7 3
Comment[et]=Graphical installer \nkernels Premium  by  e X t 7 3
Comment[eu]=Graphical installer \nkernels Premium  by  e X t 7 3
Comment[fi]=Graphical installer \nkernels Premium  by  e X t 7 3
Comment[fr]=Installateur graphique \ndes kernels par e X t 7 3
Comment[gl]=Graphical installer \nkernels Premium  by  e X t 7 3
Comment[he]=Graphical installer \nkernels Premium  by  e X t 7 3
Comment[hr]=Graphical installer \nkernels Premium  by  e X t 7 3
Comment[hu]=Graphical installer \nkernels Premium  by  e X t 7 3
Comment[id]=Graphical installer \nkernels Premium  by  e X t 7 3
Comment[it]=Graphical installer \nkernels Premium  by  e X t 7 3
Comment[ja]=Graphical installer \nkernels Premium  by  e X t 7 3
Comment[kk]=Graphical installer \nkernels Premium  by  e X t 7 3
Comment[ko]=Graphical installer \nkernels Premium  by  e X t 7 3
Comment[lt]=Graphical installer \nkernels Premium  by  e X t 7 3
Comment[lv]=Graphical installer \nkernels Premium  by  e X t 7 3
Comment[nb]=Graphical installer \nkernels Premium  by  e X t 7 3
Comment[nl]=Graphical installer \nkernels Premium  by  e X t 7 3
Comment[nn]=Graphical installer \nkernels Premium  by  e X t 7 3
Comment[pa]=Graphical installer \nkernels Premium  by  e X t 7 3
Comment[pl]=Graficzny instalator\nkerneli Premium e X t 7 3
Comment[pt]=Graphical installer \nkernels Premium  by  e X t 7 3
Comment[pt_BR]=Graphical installer \nkernels Premium  by  e X t 7 3
Comment[ro]=Graphical installer \nkernels Premium  by  e X t 7 3
Comment[ru]=Graphical installer \nkernels Premium  by  e X t 7 3
Comment[sk]=Graphical installer \nkernels Premium  by  e X t 7 3
Comment[sq]=Graphical installer \nkernels Premium  by  e X t 7 3
Comment[sr]=Graphical installer \nkernels Premium  by  e X t 7 3
Comment[sv]=Graphical installer \nkernels Premium  by  e X t 7 3
Comment[te]=Graphical installer \nkernels Premium  by  e X t 7 3
Comment[tr]=Graphical installer \nkernels Premium  by  e X t 7 3
Comment[ug]=Graphical installer \nkernels Premium  by  e X t 7 3
Comment[uk]=Graphical installer \nkernels Premium  by  e X t 7 3
Comment[ur]=Graphical installer \nkernels Premium  by  e X t 7 3
Comment[ur_PK]=Graphical installer \nkernels Premium  by  e X t 7 3
Comment[vi]=Graphical installer \nkernels Premium  by  e X t 7 3
Comment[zh_CN]=Graphical installer \nkernels Premium  by  e X t 7 3
Comment[zh_TW]=Graphical installer \nkernels Premium  by  e X t 7 3
GenericName=Graphical installer \nkernels Premium  by  e X t 7 3
GenericName[ar]=Graphical installer \nkernels Premium  by  e X t 7 3
GenericName[ast]=Graphical installer \nkernels Premium  by  e X t 7 3
GenericName[be]=Graphical installer \nkernels Premium  by  e X t 7 3
GenericName[bn]=Graphical installer \nkernels Premium  by  e X t 7 3
GenericName[ca]=Graphical installer \nkernels Premium  by  e X t 7 3
GenericName[cs]=Graphical installer \nkernels Premium  by  e X t 7 3
GenericName[da]=Graphical installer \nkernels Premium  by  e X t 7 3
GenericName[de]=Graphical installer \nkernels Premium  by  e X t 7 3
GenericName[el]=Graphical installer \nkernels Premium  by  e X t 7 3
GenericName[en_GB]=Graphical installer \nkernels Premium  by  e X t 7 3
GenericName[eo]=Graphical installer \nkernels Premium  by  e X t 7 3
GenericName[es]=Graphical installer \nkernels Premium  by  e X t 7 3
GenericName[et]=Graphical installer \nkernels Premium  by  e X t 7 3
GenericName[eu]=Graphical installer \nkernels Premium  by  e X t 7 3
GenericName[fi]=Graphical installer \nkernels Premium  by  e X t 7 3
GenericName[fr]=Installateur graphique \ndes kernels par e X t 7 3
GenericName[gl]=Graphical installer \nkernels Premium  by  e X t 7 3
GenericName[he]=Graphical installer \nkernels Premium  by  e X t 7 3
GenericName[hr]=Graphical installer \nkernels Premium  by  e X t 7 3
GenericName[hu]=Graphical installer \nkernels Premium  by  e X t 7 3
GenericName[id]=Graphical installer \nkernels Premium  by  e X t 7 3
GenericName[it]=Graphical installer \nkernels Premium  by  e X t 7 3
GenericName[ja]=Graphical installer \nkernels Premium  by  e X t 7 3
GenericName[kk]=Graphical installer \nkernels Premium  by  e X t 7 3
GenericName[ko]=Graphical installer \nkernels Premium  by  e X t 7 3
GenericName[lt]=Graphical installer \nkernels Premium  by  e X t 7 3
GenericName[lv]=Graphical installer \nkernels Premium  by  e X t 7 3
GenericName[nb]=Graphical installer \nkernels Premium  by  e X t 7 3
GenericName[nl]=Graphical installer \nkernels Premium  by  e X t 7 3
GenericName[nn]=Graphical installer \nkernels Premium  by  e X t 7 3
GenericName[pa]=Graphical installer \nkernels Premium  by  e X t 7 3
GenericName[pl]=Graficzny instalator\nkerneli Premium e X t 7 3
GenericName[pt]=Graphical installer \nkernels Premium  by  e X t 7 3
GenericName[pt_BR]=Graphical installer \nkernels Premium  by  e X t 7 3
GenericName[ro]=Graphical installer \nkernels Premium  by  e X t 7 3
GenericName[ru]=Graphical installer \nkernels Premium  by  e X t 7 3
GenericName[si]=Graphical installer \nkernels Premium  by  e X t 7 3
GenericName[sk]=Graphical installer \nkernels Premium  by  e X t 7 3
GenericName[sq]=Graphical installer \nkernels Premium  by  e X t 7 3
GenericName[sr]=Graphical installer \nkernels Premium  by  e X t 7 3
GenericName[sv]=Graphical installer \nkernels Premium  by  e X t 7 3
GenericName[te]=Graphical installer \nkernels Premium  by  e X t 7 3
GenericName[tr]=Graphical installer \nkernels Premium  by  e X t 7 3
GenericName[ug]=Graphical installer \nkernels Premium  by  e X t 7 3
GenericName[uk]=Graphical installer \nkernels Premium  by  e X t 7 3
GenericName[ur]=Graphical installer \nkernels Premium  by  e X t 7 3
GenericName[ur_PK]=Graphical installer \nkernels Premium  by  e X t 7 3
GenericName[vi]=Graphical installer \nkernels Premium  by  e X t 7 3
GenericName[zh_CN]=Graphical installer \nkernels Premium  by  e X t 7 3
GenericName[zh_TW]=Graphical installer \nkernels Premium  by  e X t 7 3

Exec=/opt/NeteXt73/./kernele premium
Icon=/opt/NeteXt73/ikony/linux-premium.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;
Version=1.0
Encoding=UTF-8
# vi:set encoding=UTF-8:
