[Desktop Entry]
Name=GRUB Editor
Name[ar]=GRUB Editor
Name[ast]=GRUB Editor
Name[be]=GRUB Editor
Name[bn]=GRUB Editor
Name[ca]=GRUB Editor
Name[cs]=GRUB Editor
Name[da]=GRUB Editor
Name[de]=GRUB Editor
Name[el]=GRUB Editor
Name[en_GB]=GRUB Editor
Name[eo]=GRUB Editor
Name[es]=GRUB Editor
Name[et]=GRUB Editor
Name[eu]=GRUB Editor
Name[fi]=GRUB Editor
Name[fr]=Éditeur de configuration de GRUB
Name[gl]=GRUB Editor
Name[he]=GRUB Editor
Name[hr]=GRUB Editor
Name[hu]=GRUB Editor
Name[id]=GRUB Editor
Name[it]=GRUB Editor
Name[ja]=GRUB Editor
Name[kk]=GRUB Editor
Name[ko]=GRUB Editor
Name[lt]=GRUB Editor
Name[lv]=GRUB Editor
Name[nb]=GRUB Editor
Name[nl]=GRUB Editor
Name[nn]=GRUB Editor
Name[pa]=GRUB Editor
Name[pl]=Edytor ustawień GRUB
Name[pt]=GRUB Editor
Name[pt_BR]=GRUB Editor
Name[ro]=GRUB Editor
Name[ru]=GRUB Editor
Name[si]=GRUB Editor
Name[sk]=GRUB Editor
Name[sq]=GRUB Editor
Name[sr]=GRUB Editor
Name[sv]=GRUB Editor
Name[te]=GRUB Editor
Name[tr]=GRUB Editor
Name[ug]=GRUB Editor
Name[uk]=GRUB Editor
Name[ur]=GRUB Editor
Name[ur_PK]=GRUB Editor
Name[vi]=GRUB Editor
Name[zh_CN]=GRUB Editor
Name[zh_TW]=GRUB Editor
Comment=GRUB Editor
Comment[ar]=GRUB Editor
Comment[ast]=GRUB Editor
Comment[be]=GRUB Editor
Comment[bn]=GRUB Editor
Comment[ca]=GRUB Editor
Comment[cs]=GRUB Editor
Comment[da]=GRUB Editor
Comment[de]=GRUB Editor
Comment[el]=GRUB Editor
Comment[en_GB]=GRUB Editor
Comment[eo]=GRUB Editor
Comment[es]=GRUB Editor
Comment[et]=GRUB Editor
Comment[eu]=GRUB Editor
Comment[fi]=GRUB Editor
Comment[fr]=Éditeur de configuration de GRUB
Comment[gl]=GRUB Editor
Comment[he]=GRUB Editor
Comment[hr]=GRUB Editor
Comment[hu]=GRUB Editor
Comment[id]=GRUB Editor
Comment[it]=GRUB Editor
Comment[ja]=GRUB Editor
Comment[kk]=GRUB Editor
Comment[ko]=GRUB Editor
Comment[lt]=GRUB Editor
Comment[lv]=GRUB Editor
Comment[nb]=GRUB Editor
Comment[nl]=GRUB Editor
Comment[nn]=GRUB Editor
Comment[pa]=GRUB Editor
Comment[pl]=Edytor ustawień GRUB
Comment[pt]=GRUB Editor
Comment[pt_BR]=GRUB Editor
Comment[ro]=GRUB Editor
Comment[ru]=GRUB Editor
Comment[sk]=GRUB Editor
Comment[sq]=GRUB Editor
Comment[sr]=GRUB Editor
Comment[sv]=GRUB Editor
Comment[te]=GRUB Editor
Comment[tr]=GRUB Editor
Comment[ug]=GRUB Editor
Comment[uk]=GRUB Editor
Comment[ur]=GRUB Editor
Comment[ur_PK]=GRUB Editor
Comment[vi]=GRUB Editor
Comment[zh_CN]=GRUB Editor
Comment[zh_TW]=GRUB Editor
GenericName=GRUB Editor
GenericName[ar]=GRUB Editor
GenericName[ast]=GRUB Editor
GenericName[be]=GRUB Editor
GenericName[bn]=GRUB Editor
GenericName[ca]=GRUB Editor
GenericName[cs]=GRUB Editor
GenericName[da]=GRUB Editor
GenericName[de]=GRUB Editor
GenericName[el]=GRUB Editor
GenericName[en_GB]=GRUB Editor
GenericName[eo]=GRUB Editor
GenericName[es]=GRUB Editor
GenericName[et]=GRUB Editor
GenericName[eu]=GRUB Editor
GenericName[fi]=GRUB Editor
GenericName[fr]=Éditeur de configuration de GRUB
GenericName[gl]=GRUB Editor
GenericName[he]=GRUB Editor
GenericName[hr]=GRUB Editor
GenericName[hu]=GRUB Editor
GenericName[id]=GRUB Editor
GenericName[it]=GRUB Editor
GenericName[ja]=GRUB Editor
GenericName[kk]=GRUB Editor
GenericName[ko]=GRUB Editor
GenericName[lt]=GRUB Editor
GenericName[lv]=GRUB Editor
GenericName[nb]=GRUB Editor
GenericName[nl]=GRUB Editor
GenericName[nn]=GRUB Editor
GenericName[pa]=GRUB Editor
GenericName[pl]=Edytor ustawień GRUB
GenericName[pt]=GRUB Editor
GenericName[pt_BR]=GRUB Editor
GenericName[ro]=GRUB Editor
GenericName[ru]=GRUB Editor
GenericName[si]=GRUB Editor
GenericName[sk]=GRUB Editor
GenericName[sq]=GRUB Editor
GenericName[sr]=GRUB Editor
GenericName[sv]=GRUB Editor
GenericName[te]=GRUB Editor
GenericName[tr]=GRUB Editor
GenericName[ug]=GRUB Editor
GenericName[uk]=GRUB Editor
GenericName[ur]=GRUB Editor
GenericName[ur_PK]=GRUB Editor
GenericName[vi]=GRUB Editor
GenericName[zh_CN]=GRUB Editor
GenericName[zh_TW]=GRUB Editor

Exec=/opt/NeteXt73/./NeteXt73_root ./grub
Icon=/opt/NeteXt73/ikony/grub.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;
Version=1.0
Encoding=UTF-8
# vi:set encoding=UTF-8:
