[Desktop Entry]
Name=APM - power management and performance
Name[ar]=APM - power management and performance
Name[ast]=APM - power management and performance
Name[be]=APM - power management and performance
Name[bn]=APM - power management and performance
Name[ca]=APM - power management and performance
Name[cs]=APM - power management and performance
Name[da]=APM - power management and performance
Name[de]=APM - power management and performance
Name[el]=APM - power management and performance
Name[en_GB]=APM - power management and performance
Name[eo]=APM - power management and performance
Name[es]=APM - power management and performance
Name[et]=APM - power management and performance
Name[eu]=APM - power management and performance
Name[fi]=APM - power management and performance
Name[fr]=Le script d'APM
Name[gl]=APM - power management and performance
Name[he]=APM - power management and performance
Name[hr]=APM - power management and performance
Name[hu]=APM - power management and performance
Name[id]=APM - power management and performance
Name[it]=APM - power management and performance
Name[ja]=APM - power management and performance
Name[kk]=APM - power management and performance
Name[ko]=APM - power management and performance
Name[lt]=APM - power management and performance
Name[lv]=APM - power management and performance
Name[nb]=APM - power management and performance
Name[nl]=APM - power management and performance
Name[nn]=APM - power management and performance
Name[pa]=APM - power management and performance
Name[pl]=APM - zarządzanie energia\ni wydajnością
Name[pt]=APM - power management and performance
Name[pt_BR]=APM - power management and performance
Name[ro]=APM - power management and performance
Name[ru]=APM - power management and performance
Name[si]=APM - power management and performance
Name[sk]=APM - power management and performance
Name[sq]=APM - power management and performance
Name[sr]=APM - power management and performance
Name[sv]=APM - power management and performance
Name[te]=APM - power management and performance
Name[tr]=APM - power management and performance
Name[ug]=APM - power management and performance
Name[uk]=APM - power management and performance
Name[ur]=APM - power management and performance
Name[ur_PK]=APM - power management and performance
Name[vi]=APM - power management and performance
Name[zh_CN]=APM - power management and performance
Name[zh_TW]=APM - power management and performance
Comment=Graphical installer APM - power management and performance
Comment[ar]=Graphical installer APM - power management and performance
Comment[ast]=Graphical installer APM - power management and performance
Comment[be]=Graphical installer APM - power management and performance
Comment[bn]=Graphical installer APM - power management and performance
Comment[ca]=Graphical installer APM - power management and performance
Comment[cs]=Graphical installer APM - power management and performance
Comment[da]=Graphical installer APM - power management and performance
Comment[de]=Graphical installer APM - power management and performance
Comment[el]=Graphical installer APM - power management and performance
Comment[en_GB]=Graphical installer APM - power management and performance
Comment[eo]=Graphical installer APM - power management and performance
Comment[es]=Graphical installer APM - power management and performance
Comment[et]=Graphical installer APM - power management and performance
Comment[eu]=Graphical installer APM - power management and performance
Comment[fi]=Graphical installer APM - power management and performance
Comment[fr]=Installateur graphique de Script d'APM
Comment[gl]=Graphical installer APM - power management and performance
Comment[he]=Graphical installer APM - power management and performance
Comment[hr]=Graphical installer APM - power management and performance
Comment[hu]=Graphical installer APM - power management and performance
Comment[id]=Graphical installer APM - power management and performance
Comment[it]=Graphical installer APM - power management and performance
Comment[ja]=Graphical installer APM - power management and performance
Comment[kk]=Graphical installer APM - power management and performance
Comment[ko]=Graphical installer APM - power management and performance
Comment[lt]=Graphical installer APM - power management and performance
Comment[lv]=Graphical installer APM - power management and performance
Comment[nb]=Graphical installer APM - power management and performance
Comment[nl]=Graphical installer APM - power management and performance
Comment[nn]=Graphical installer APM - power management and performance
Comment[pa]=Graphical installer APM - power management and performance
Comment[pl]=Graficzny instalator skryptu APM - zarządzanie energia i wydajnością
Comment[pt]=Graphical installer APM - power management and performance
Comment[pt_BR]=Graphical installer APM - power management and performance
Comment[ro]=Graphical installer APM - power management and performance
Comment[ru]=Graphical installer APM - power management and performance
Comment[sk]=Graphical installer APM - power management and performance
Comment[sq]=Graphical installer APM - power management and performance
Comment[sr]=Graphical installer APM - power management and performance
Comment[sv]=Graphical installer APM - power management and performance
Comment[te]=Graphical installer APM - power management and performance
Comment[tr]=Graphical installer APM - power management and performance
Comment[ug]=Graphical installer APM - power management and performance
Comment[uk]=Graphical installer APM - power management and performance
Comment[ur]=Graphical installer APM - power management and performance
Comment[ur_PK]=Graphical installer APM - power management and performance
Comment[vi]=Graphical installer APM - power management and performance
Comment[zh_CN]=Graphical installer APM - power management and performance
Comment[zh_TW]=Graphical installer APM - power management and performance
GenericName=APM - power management and performance
GenericName[ar]=APM - power management and performance
GenericName[ast]=APM - power management and performance
GenericName[be]=APM - power management and performance
GenericName[bn]=APM - power management and performance
GenericName[ca]=APM - power management and performance
GenericName[cs]=APM - power management and performance
GenericName[da]=APM - power management and performance
GenericName[de]=APM - power management and performance
GenericName[el]=APM - power management and performance
GenericName[en_GB]=APM - power management and performance
GenericName[eo]=APM - power management and performance
GenericName[es]=APM - power management and performance
GenericName[et]=APM - power management and performance
GenericName[eu]=APM - power management and performance
GenericName[fi]=APM - power management and performance
GenericName[fr]=Le script d'APM
GenericName[gl]=APM - power management and performance
GenericName[he]=APM - power management and performance
GenericName[hr]=APM - power management and performance
GenericName[hu]=APM - power management and performance
GenericName[id]=APM - power management and performance
GenericName[it]=APM - power management and performance
GenericName[ja]=APM - power management and performance
GenericName[kk]=APM - power management and performance
GenericName[ko]=APM - power management and performance
GenericName[lt]=APM - power management and performance
GenericName[lv]=APM - power management and performance
GenericName[nb]=APM - power management and performance
GenericName[nl]=APM - power management and performance
GenericName[nn]=APM - power management and performance
GenericName[pa]=APM - power management and performance
GenericName[pl]=APM - zarządzanie energia i wydajnością
GenericName[pt]=APM - power management and performance
GenericName[pt_BR]=APM - power management and performance
GenericName[ro]=APM - power management and performance
GenericName[ru]=APM - power management and performance
GenericName[si]=APM - power management and performance
GenericName[sk]=APM - power management and performance
GenericName[sq]=APM - power management and performance
GenericName[sr]=APM - power management and performance
GenericName[sv]=APM - power management and performance
GenericName[te]=APM - power management and performance
GenericName[tr]=APM - power management and performance
GenericName[ug]=APM - power management and performance
GenericName[uk]=APM - power management and performance
GenericName[ur]=APM - power management and performance
GenericName[ur_PK]=APM - power management and performance
GenericName[vi]=APM - power management and performance
GenericName[zh_CN]=APM - power management and performance
GenericName[zh_TW]=APM - power management and performance

Exec=/opt/NeteXt73/./NeteXt73_root ./apm
Icon=/opt/NeteXt73/ikony/apm.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;
Version=1.0
Encoding=UTF-8
# vi:set encoding=UTF-8:
