[Desktop Entry]
Name=APM Script
Name[ar]=APM Script
Name[ast]=APM Script
Name[be]=APM Script
Name[bn]=APM Script
Name[ca]=APM Script
Name[cs]=APM Script
Name[da]=APM Script
Name[de]=APM Script
Name[el]=APM Script
Name[en_GB]=APM Script
Name[eo]=APM Script
Name[es]=APM Script
Name[et]=APM Script
Name[eu]=APM Script
Name[fi]=APM Script
Name[fr]=Le script d'APM
Name[gl]=APM Script
Name[he]=APM Script
Name[hr]=APM Script
Name[hu]=APM Script
Name[id]=APM Script
Name[it]=APM Script
Name[ja]=APM Script
Name[kk]=APM Script
Name[ko]=APM Script
Name[lt]=APM Script
Name[lv]=APM Script
Name[nb]=APM Script
Name[nl]=APM Script
Name[nn]=APM Script
Name[pa]=APM Script
Name[pl]=Skrypt APM
Name[pt]=APM Script
Name[pt_BR]=APM Script
Name[ro]=APM Script
Name[ru]=APM Script
Name[si]=APM Script
Name[sk]=APM Script
Name[sq]=APM Script
Name[sr]=APM Script
Name[sv]=APM Script
Name[te]=APM Script
Name[tr]=APM Script
Name[ug]=APM Script
Name[uk]=APM Script
Name[ur]=APM Script
Name[ur_PK]=APM Script
Name[vi]=APM Script
Name[zh_CN]=APM Script
Name[zh_TW]=APM Script
Comment=Graphical installer APM Script
Comment[ar]=Graphical installer APM Script
Comment[ast]=Graphical installer APM Script
Comment[be]=Graphical installer APM Script
Comment[bn]=Graphical installer APM Script
Comment[ca]=Graphical installer APM Script
Comment[cs]=Graphical installer APM Script
Comment[da]=Graphical installer APM Script
Comment[de]=Graphical installer APM Script
Comment[el]=Graphical installer APM Script
Comment[en_GB]=Graphical installer APM Script
Comment[eo]=Graphical installer APM Script
Comment[es]=Graphical installer APM Script
Comment[et]=Graphical installer APM Script
Comment[eu]=Graphical installer APM Script
Comment[fi]=Graphical installer APM Script
Comment[fr]=Installateur graphique de Script d'APM
Comment[gl]=Graphical installer APM Script
Comment[he]=Graphical installer APM Script
Comment[hr]=Graphical installer APM Script
Comment[hu]=Graphical installer APM Script
Comment[id]=Graphical installer APM Script
Comment[it]=Graphical installer APM Script
Comment[ja]=Graphical installer APM Script
Comment[kk]=Graphical installer APM Script
Comment[ko]=Graphical installer APM Script
Comment[lt]=Graphical installer APM Script
Comment[lv]=Graphical installer APM Script
Comment[nb]=Graphical installer APM Script
Comment[nl]=Graphical installer APM Script
Comment[nn]=Graphical installer APM Script
Comment[pa]=Graphical installer APM Script
Comment[pl]=Graficzny instalator skryptu APM
Comment[pt]=Graphical installer APM Script
Comment[pt_BR]=Graphical installer APM Script
Comment[ro]=Graphical installer APM Script
Comment[ru]=Graphical installer APM Script
Comment[sk]=Graphical installer APM Script
Comment[sq]=Graphical installer APM Script
Comment[sr]=Graphical installer APM Script
Comment[sv]=Graphical installer APM Script
Comment[te]=Graphical installer APM Script
Comment[tr]=Graphical installer APM Script
Comment[ug]=Graphical installer APM Script
Comment[uk]=Graphical installer APM Script
Comment[ur]=Graphical installer APM Script
Comment[ur_PK]=Graphical installer APM Script
Comment[vi]=Graphical installer APM Script
Comment[zh_CN]=Graphical installer APM Script
Comment[zh_TW]=Graphical installer APM Script
GenericName=APM Script
GenericName[ar]=APM Script
GenericName[ast]=APM Script
GenericName[be]=APM Script
GenericName[bn]=APM Script
GenericName[ca]=APM Script
GenericName[cs]=APM Script
GenericName[da]=APM Script
GenericName[de]=APM Script
GenericName[el]=APM Script
GenericName[en_GB]=APM Script
GenericName[eo]=APM Script
GenericName[es]=APM Script
GenericName[et]=APM Script
GenericName[eu]=APM Script
GenericName[fi]=APM Script
GenericName[fr]=Le script d'APM
GenericName[gl]=APM Script
GenericName[he]=APM Script
GenericName[hr]=APM Script
GenericName[hu]=APM Script
GenericName[id]=APM Script
GenericName[it]=APM Script
GenericName[ja]=APM Script
GenericName[kk]=APM Script
GenericName[ko]=APM Script
GenericName[lt]=APM Script
GenericName[lv]=APM Script
GenericName[nb]=APM Script
GenericName[nl]=APM Script
GenericName[nn]=APM Script
GenericName[pa]=APM Script
GenericName[pl]=Skrypt APM
GenericName[pt]=APM Script
GenericName[pt_BR]=APM Script
GenericName[ro]=APM Script
GenericName[ru]=APM Script
GenericName[si]=APM Script
GenericName[sk]=APM Script
GenericName[sq]=APM Script
GenericName[sr]=APM Script
GenericName[sv]=APM Script
GenericName[te]=APM Script
GenericName[tr]=APM Script
GenericName[ug]=APM Script
GenericName[uk]=APM Script
GenericName[ur]=APM Script
GenericName[ur_PK]=APM Script
GenericName[vi]=APM Script
GenericName[zh_CN]=APM Script
GenericName[zh_TW]=APM Script

Exec=/opt/NeteXt73/./apm
Icon=/opt/NeteXt73/ikony/apm.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;
Version=1.0
Encoding=UTF-8
# vi:set encoding=UTF-8:
