[Desktop Entry]
Name=Microcode & firmware installer
Name[ar]=Microcode & firmware installer
Name[ast]=Microcode & firmware installer
Name[be]=Microcode & firmware installer
Name[bn]=Microcode & firmware installer
Name[ca]=Microcode & firmware installer
Name[cs]=Microcode & firmware installer
Name[da]=Microcode & firmware installer
Name[de]=Microcode & firmware installer
Name[el]=Microcode & firmware installer
Name[en_GB]=Microcode & firmware installer
Name[eo]=Microcode & firmware installer
Name[es]=Microcode & firmware installer
Name[et]=Microcode & firmware installer
Name[eu]=Microcode & firmware installer
Name[fi]=Microcode & firmware installer
Name[fr]=Installateur du microcode et du firmware
Name[gl]=Microcode & firmware installer
Name[he]=Microcode & firmware installer
Name[hr]=Microcode & firmware installer
Name[hu]=Microcode & firmware installer
Name[id]=Microcode & firmware installer
Name[it]=Microcode & firmware installer
Name[ja]=Microcode & firmware installer
Name[kk]=Microcode & firmware installer
Name[ko]=Microcode & firmware installer
Name[lt]=Microcode & firmware installer
Name[lv]=Microcode & firmware installer
Name[nb]=Microcode & firmware installer
Name[nl]=Microcode & firmware installer
Name[nn]=Microcode & firmware installer
Name[pa]=Microcode & firmware installer
Name[pl]=microcode i firmware
Name[pt]=Microcode & firmware installer
Name[pt_BR]=Microcode & firmware installer
Name[ro]=Microcode & firmware installer
Name[ru]=Microcode & firmware installer
Name[si]=Microcode & firmware installer
Name[sk]=Microcode & firmware installer
Name[sq]=Microcode & firmware installer
Name[sr]=Microcode & firmware installer
Name[sv]=Microcode & firmware installer
Name[te]=Microcode & firmware installer
Name[tr]=Microcode & firmware installer
Name[ug]=Microcode & firmware installer
Name[uk]=Microcode & firmware installer
Name[ur]=Microcode & firmware installer
Name[ur_PK]=Microcode & firmware installer
Name[vi]=Microcode & firmware installer
Name[zh_CN]=Microcode & firmware installer
Name[zh_TW]=Microcode & firmware installer
Comment=Graphical installer microcode & firmware
Comment[ar]=Graphical installer microcode & firmware
Comment[ast]=Graphical installer microcode & firmware
Comment[be]=Graphical installer microcode & firmware
Comment[bn]=Graphical installer microcode & firmware
Comment[ca]=Graphical installer microcode & firmware
Comment[cs]=Graphical installer microcode & firmware
Comment[da]=Graphical installer microcode & firmware
Comment[de]=Graphical installer microcode & firmware
Comment[el]=Graphical installer microcode & firmware
Comment[en_GB]=Graphical installer microcode & firmware
Comment[eo]=Graphical installer microcode & firmware
Comment[es]=Graphical installer microcode & firmware
Comment[et]=Graphical installer microcode & firmware
Comment[eu]=Graphical installer microcode & firmware
Comment[fi]=Graphical installer microcode & firmware
Comment[fr]=Installateur graphique du microcode\n pour Intel et AMD et du firmware
Comment[gl]=Graphical installer microcode & firmware
Comment[he]=Graphical installer microcode & firmware
Comment[hr]=Graphical installer microcode & firmware
Comment[hu]=Graphical installer microcode & firmware
Comment[id]=Graphical installer microcode & firmware
Comment[it]=Graphical installer microcode & firmware
Comment[ja]=Graphical installer microcode & firmware
Comment[kk]=Graphical installer microcode & firmware
Comment[ko]=Graphical installer microcode & firmware
Comment[lt]=Graphical installer microcode & firmware
Comment[lv]=Graphical installer microcode & firmware
Comment[nb]=Graphical installer microcode & firmware
Comment[nl]=Graphical installer microcode & firmware
Comment[nn]=Graphical installer microcode & firmware
Comment[pa]=Graphical installer microcode & firmware
Comment[pl]=Instalator microcode dla procesorów Intel i AMD oraz firmware
Comment[pt]=Graphical installer microcode & firmware
Comment[pt_BR]=Graphical installer microcode & firmware
Comment[ro]=Graphical installer microcode & firmware
Comment[ru]=Graphical installer microcode & firmware
Comment[sk]=Graphical installer microcode & firmware
Comment[sq]=Graphical installer microcode & firmware
Comment[sr]=Graphical installer microcode & firmware
Comment[sv]=Graphical installer microcode & firmware
Comment[te]=Graphical installer microcode & firmware
Comment[tr]=Graphical installer microcode & firmware
Comment[ug]=Graphical installer microcode & firmware
Comment[uk]=Graphical installer microcode & firmware
Comment[ur]=Graphical installer microcode & firmware
Comment[ur_PK]=Graphical installer microcode & firmware
Comment[vi]=Graphical installer microcode & firmware
Comment[zh_CN]=Graphical installer microcode & firmware
Comment[zh_TW]=Graphical installer microcode & firmware
GenericName=Microcode & firmware installer
GenericName[ar]=Microcode & firmware installer
GenericName[ast]=Microcode & firmware installer
GenericName[be]=Microcode & firmware installer
GenericName[bn]=Microcode & firmware installer
GenericName[ca]=Microcode & firmware installer
GenericName[cs]=Microcode & firmware installer
GenericName[da]=Microcode & firmware installer
GenericName[de]=Microcode & firmware installer
GenericName[el]=Microcode & firmware installer
GenericName[en_GB]=Microcode & firmware installer
GenericName[eo]=Microcode & firmware installer
GenericName[es]=Microcode & firmware installer
GenericName[et]=Microcode & firmware installer
GenericName[eu]=Microcode & firmware installer
GenericName[fi]=Microcode & firmware installer
GenericName[fr]=Installateur du microcode et du firmware
GenericName[gl]=Microcode & firmware installer
GenericName[he]=Microcode & firmware installer
GenericName[hr]=Microcode & firmware installer
GenericName[hu]=Microcode & firmware installer
GenericName[id]=Microcode & firmware installer
GenericName[it]=Microcode & firmware installer
GenericName[ja]=Microcode & firmware installer
GenericName[kk]=Microcode & firmware installer
GenericName[ko]=Microcode & firmware installer
GenericName[lt]=Microcode & firmware installer
GenericName[lv]=Microcode & firmware installer
GenericName[nb]=Microcode & firmware installer
GenericName[nl]=Microcode & firmware installer
GenericName[nn]=Microcode & firmware installer
GenericName[pa]=Microcode & firmware installer
GenericName[pl]=Instalator microcode i firmware
GenericName[pt]=Microcode & firmware installer
GenericName[pt_BR]=Microcode & firmware installer
GenericName[ro]=Microcode & firmware installer
GenericName[ru]=Microcode & firmware installer
GenericName[si]=Microcode & firmware installer
GenericName[sk]=Microcode & firmware installer
GenericName[sq]=Microcode & firmware installer
GenericName[sr]=Microcode & firmware installer
GenericName[sv]=Microcode & firmware installer
GenericName[te]=Microcode & firmware installer
GenericName[tr]=Microcode & firmware installer
GenericName[ug]=Microcode & firmware installer
GenericName[uk]=Microcode & firmware installer
GenericName[ur]=Microcode & firmware installer
GenericName[ur_PK]=Microcode & firmware installer
GenericName[vi]=Microcode & firmware installer
GenericName[zh_CN]=Microcode & firmware installer
GenericName[zh_TW]=Microcode & firmware installer

Exec=/opt/NeteXt73/./microcode
Icon=/opt/NeteXt73/ikony/microcode.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;
Version=1.0
Encoding=UTF-8
# vi:set encoding=UTF-8:
