[Desktop Entry]
Name=Uninstaller
Name[ar]=Uninstaller
Name[ast]=Uninstaller
Name[be]=Uninstaller
Name[bn]=Uninstaller
Name[ca]=Uninstaller
Name[cs]=Uninstaller
Name[da]=Uninstaller
Name[de]=Uninstaller
Name[el]=Uninstaller
Name[en_GB]=Uninstaller
Name[eo]=Uninstaller
Name[es]=Uninstaller
Name[et]=Uninstaller
Name[eu]=Uninstaller
Name[fi]=Uninstaller
Name[fr]=Désinstallateur
Name[gl]=Uninstaller
Name[he]=Uninstaller
Name[hr]=Uninstaller
Name[hu]=Uninstaller
Name[id]=Uninstaller
Name[it]=Uninstaller
Name[ja]=Uninstaller
Name[kk]=Uninstaller
Name[ko]=Uninstaller
Name[lt]=Uninstaller
Name[lv]=Uninstaller
Name[nb]=Uninstaller
Name[nl]=Uninstaller
Name[nn]=Uninstaller
Name[pa]=Uninstaller
Name[pl]=Deinstalator
Name[pt]=Uninstaller
Name[pt_BR]=Uninstaller
Name[ro]=Uninstaller
Name[ru]=Uninstaller
Name[si]=Uninstaller
Name[sk]=Uninstaller
Name[sq]=Uninstaller
Name[sr]=Uninstaller
Name[sv]=Uninstaller
Name[te]=Uninstaller
Name[tr]=Uninstaller
Name[ug]=Uninstaller
Name[uk]=Uninstaller
Name[ur]=Uninstaller
Name[ur_PK]=Uninstaller
Name[vi]=Uninstaller
Name[zh_CN]=Uninstaller
Name[zh_TW]=Uninstaller
Comment=Uninstaller kernels and scripts
Comment[ar]=Uninstaller kernels and scripts
Comment[ast]=Uninstaller kernels and scripts
Comment[be]=Uninstaller kernels and scripts
Comment[bn]=Uninstaller kernels and scripts
Comment[ca]=Uninstaller kernels and scripts
Comment[cs]=Uninstaller kernels and scripts
Comment[da]=Uninstaller kernels and scripts
Comment[de]=Uninstaller kernels and scripts
Comment[el]=Uninstaller kernels and scripts
Comment[en_GB]=Uninstaller kernels and scripts
Comment[eo]=Uninstaller kernels and scripts
Comment[es]=Uninstaller kernels and scripts
Comment[et]=Uninstaller kernels and scripts
Comment[eu]=Uninstaller kernels and scripts
Comment[fi]=Uninstaller kernels and scripts
Comment[fr]=Désinstallateur des kernels et scripts
Comment[gl]=Uninstaller kernels and scripts
Comment[he]=Uninstaller kernels and scripts
Comment[hr]=Uninstaller kernels and scripts
Comment[hu]=Uninstaller kernels and scripts
Comment[id]=Uninstaller kernels and scripts
Comment[it]=Uninstaller kernels and scripts
Comment[ja]=Uninstaller kernels and scripts
Comment[kk]=Uninstaller kernels and scripts
Comment[ko]=Uninstaller kernels and scripts
Comment[lt]=Uninstaller kernels and scripts
Comment[lv]=Uninstaller kernels and scripts
Comment[nb]=Uninstaller kernels and scripts
Comment[nl]=Uninstaller kernels and scripts
Comment[nn]=Uninstaller kernels and scripts
Comment[pa]=Uninstaller kernels and scripts
Comment[pl]=Deinstalator kerneli oraz skryptów
Comment[pt]=Uninstaller kernels and scripts
Comment[pt_BR]=Uninstaller kernels and scripts
Comment[ro]=Uninstaller kernels and scripts
Comment[ru]=Uninstaller kernels and scripts
Comment[sk]=Uninstaller kernels and scripts
Comment[sq]=Uninstaller kernels and scripts
Comment[sr]=Uninstaller kernels and scripts
Comment[sv]=Uninstaller kernels and scripts
Comment[te]=Uninstaller kernels and scripts
Comment[tr]=Uninstaller kernels and scripts
Comment[ug]=Uninstaller kernels and scripts
Comment[uk]=Uninstaller kernels and scripts
Comment[ur]=Uninstaller kernels and scripts
Comment[ur_PK]=Uninstaller kernels and scripts
Comment[vi]=Uninstaller kernels and scripts
Comment[zh_CN]=Uninstaller kernels and scripts
Comment[zh_TW]=Uninstaller kernels and scripts
GenericName=Uninstaller
GenericName[ar]=Uninstaller
GenericName[ast]=Uninstaller
GenericName[be]=Uninstaller
GenericName[bn]=Uninstaller
GenericName[ca]=Uninstaller
GenericName[cs]=Uninstaller
GenericName[da]=Uninstaller
GenericName[de]=Uninstaller
GenericName[el]=Uninstaller
GenericName[en_GB]=Uninstaller
GenericName[eo]=Uninstaller
GenericName[es]=Uninstaller
GenericName[et]=Uninstaller
GenericName[eu]=Uninstaller
GenericName[fi]=Uninstaller
GenericName[fr]=Désinstallateur
GenericName[gl]=Uninstaller
GenericName[he]=Uninstaller
GenericName[hr]=Uninstaller
GenericName[hu]=Uninstaller
GenericName[id]=Uninstaller
GenericName[it]=Uninstaller
GenericName[ja]=Uninstaller
GenericName[kk]=Uninstaller
GenericName[ko]=Uninstaller
GenericName[lt]=Uninstaller
GenericName[lv]=Uninstaller
GenericName[nb]=Uninstaller
GenericName[nl]=Uninstaller
GenericName[nn]=Uninstaller
GenericName[pa]=Uninstaller
GenericName[pl]=Deinstalator
GenericName[pt]=Uninstaller
GenericName[pt_BR]=Uninstaller
GenericName[ro]=Uninstaller
GenericName[ru]=Uninstaller
GenericName[si]=Uninstaller
GenericName[sk]=Uninstaller
GenericName[sq]=Uninstaller
GenericName[sr]=Uninstaller
GenericName[sv]=Uninstaller
GenericName[te]=Uninstaller
GenericName[tr]=Uninstaller
GenericName[ug]=Uninstaller
GenericName[uk]=Uninstaller
GenericName[ur]=Uninstaller
GenericName[ur_PK]=Uninstaller
GenericName[vi]=Uninstaller
GenericName[zh_CN]=Uninstaller
GenericName[zh_TW]=Uninstaller

Exec=/opt/NeteXt73/./deinstalator
Icon=/opt/NeteXt73/ikony/delete.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;
Version=1.0
Encoding=UTF-8
# vi:set encoding=UTF-8:
