[Desktop Entry]
Name=GPG key management
Name[ar]=GPG key management
Name[ast]=GPG key management
Name[be]=GPG key management
Name[bn]=GPG key management
Name[ca]=GPG key management
Name[cs]=GPG key management
Name[da]=GPG key management
Name[de]=GPG key management
Name[el]=GPG key management
Name[en_GB]=GPG key management
Name[eo]=GPG key management
Name[es]=GPG key management
Name[et]=GPG key management
Name[eu]=GPG key management
Name[fi]=GPG key management
Name[fr]=Sauvegarde des des dépôts
Name[gl]=GPG key management
Name[he]=GPG key management
Name[hr]=GPG key management
Name[hu]=GPG key management
Name[id]=GPG key management
Name[it]=GPG key management
Name[ja]=GPG key management
Name[kk]=GPG key management
Name[ko]=GPG key management
Name[lt]=GPG key management
Name[lv]=GPG key management
Name[nb]=GPG key management
Name[nl]=GPG key management
Name[nn]=GPG key management
Name[pa]=GPG key management
Name[pl]=Zarządzanie kluczami GPG
Name[pt]=GPG key management
Name[pt_BR]=GPG key management
Name[ro]=GPG key management
Name[ru]=GPG key management
Name[si]=GPG key management
Name[sk]=GPG key management
Name[sq]=GPG key management
Name[sr]=GPG key management
Name[sv]=GPG key management
Name[te]=GPG key management
Name[tr]=GPG key management
Name[ug]=GPG key management
Name[uk]=GPG key management
Name[ur]=GPG key management
Name[ur_PK]=GPG key management
Name[vi]=GPG key management
Name[zh_CN]=GPG key management
Name[zh_TW]=GPG key management
Comment=Restore missing GPG keys\n or repair faulty GPG signatures
Comment[ar]=Restore missing GPG keys\n or repair faulty GPG signatures
Comment[ast]=Restore missing GPG keys\n or repair faulty GPG signatures
Comment[be]=Restore missing GPG keys\n or repair faulty GPG signatures
Comment[bn]=Restore missing GPG keys\n or repair faulty GPG signatures
Comment[ca]=Restore missing GPG keys\n or repair faulty GPG signatures
Comment[cs]=Restore missing GPG keys\n or repair faulty GPG signatures
Comment[da]=Restore missing GPG keys\n or repair faulty GPG signatures
Comment[de]=Restore missing GPG keys\n or repair faulty GPG signatures
Comment[el]=Restore missing GPG keys\n or repair faulty GPG signatures
Comment[en_GB]=Restore missing GPG keys\n or repair faulty GPG signatures
Comment[eo]=Restore missing GPG keys\n or repair faulty GPG signatures
Comment[es]=Restore missing GPG keys\n or repair faulty GPG signatures
Comment[et]=Restore missing GPG keys\n or repair faulty GPG signatures
Comment[eu]=Restore missing GPG keys\n or repair faulty GPG signatures
Comment[fi]=Restore missing GPG keys\n or repair faulty GPG signatures
Comment[fr]=Crée ou restaure la sauvegarde des dépôts ou télécharge\ndes clés GPG manquantes
Comment[gl]=Restore missing GPG keys\n or repair faulty GPG signatures
Comment[he]=Restore missing GPG keys\n or repair faulty GPG signatures
Comment[hr]=Restore missing GPG keys\n or repair faulty GPG signatures
Comment[hu]=Restore missing GPG keys\n or repair faulty GPG signatures
Comment[id]=Restore missing GPG keys\n or repair faulty GPG signatures
Comment[it]=Restore missing GPG keys\n or repair faulty GPG signatures
Comment[ja]=Restore missing GPG keys\n or repair faulty GPG signatures
Comment[kk]=Restore missing GPG keys\n or repair faulty GPG signatures
Comment[ko]=Restore missing GPG keys\n or repair faulty GPG signatures
Comment[lt]=Restore missing GPG keys\n or repair faulty GPG signatures
Comment[lv]=Restore missing GPG keys\n or repair faulty GPG signatures
Comment[nb]=Restore missing GPG keys\n or repair faulty GPG signatures
Comment[nl]=Restore missing GPG keys\n or repair faulty GPG signatures
Comment[nn]=Restore missing GPG keys\n or repair faulty GPG signatures
Comment[pa]=Restore missing GPG keys\n or repair faulty GPG signatures
Comment[pl]=Przywróć brakujące klucze GPG\nlub napraw błędne podpisy kluczy GPG
Comment[pt]=Restore missing GPG keys\n or repair faulty GPG signatures
Comment[pt_BR]=Restore missing GPG keys\n or repair faulty GPG signatures
Comment[ro]=Restore missing GPG keys\n or repair faulty GPG signatures
Comment[ru]=Restore missing GPG keys\n or repair faulty GPG signatures
Comment[sk]=Restore missing GPG keys\n or repair faulty GPG signatures
Comment[sq]=Restore missing GPG keys\n or repair faulty GPG signatures
Comment[sr]=Restore missing GPG keys\n or repair faulty GPG signatures
Comment[sv]=Restore missing GPG keys\n or repair faulty GPG signatures
Comment[te]=Restore missing GPG keys\n or repair faulty GPG signatures
Comment[tr]=Restore missing GPG keys\n or repair faulty GPG signatures
Comment[ug]=Restore missing GPG keys\n or repair faulty GPG signatures
Comment[uk]=Restore missing GPG keys\n or repair faulty GPG signatures
Comment[ur]=Restore missing GPG keys\n or repair faulty GPG signatures
Comment[ur_PK]=Restore missing GPG keys\n or repair faulty GPG signatures
Comment[vi]=Restore missing GPG keys\n or repair faulty GPG signatures
Comment[zh_CN]=Restore missing GPG keys\n or repair faulty GPG signatures
Comment[zh_TW]=Restore missing GPG keys\n or repair faulty GPG signatures
GenericName=GPG key management
GenericName[ar]=GPG key management
GenericName[ast]=GPG key management
GenericName[be]=GPG key management
GenericName[bn]=GPG key management
GenericName[ca]=GPG key management
GenericName[cs]=GPG key management
GenericName[da]=GPG key management
GenericName[de]=GPG key management
GenericName[el]=GPG key management
GenericName[en_GB]=GPG key management
GenericName[eo]=GPG key management
GenericName[es]=GPG key management
GenericName[et]=GPG key management
GenericName[eu]=GPG key management
GenericName[fi]=GPG key management
GenericName[fr]=Sauvegarde des des dépôts
GenericName[gl]=GPG key management
GenericName[he]=GPG key management
GenericName[hr]=GPG key management
GenericName[hu]=GPG key management
GenericName[id]=GPG key management
GenericName[it]=GPG key management
GenericName[ja]=GPG key management
GenericName[kk]=GPG key management
GenericName[ko]=GPG key management
GenericName[lt]=GPG key management
GenericName[lv]=GPG key management
GenericName[nb]=GPG key management
GenericName[nl]=GPG key management
GenericName[nn]=GPG key management
GenericName[pa]=GPG key management
GenericName[pl]=Zarządzanie kluczami GPG
GenericName[pt]=GPG key management
GenericName[pt_BR]=GPG key management
GenericName[ro]=GPG key management
GenericName[ru]=GPG key management
GenericName[si]=GPG key management
GenericName[sk]=GPG key management
GenericName[sq]=GPG key management
GenericName[sr]=GPG key management
GenericName[sv]=GPG key management
GenericName[te]=GPG key management
GenericName[tr]=GPG key management
GenericName[ug]=GPG key management
GenericName[uk]=GPG key management
GenericName[ur]=GPG key management
GenericName[ur_PK]=GPG key management
GenericName[vi]=GPG key management
GenericName[zh_CN]=GPG key management
GenericName[zh_TW]=GPG key management

Exec=/opt/NeteXt73/./repo GPG
Icon=/opt/NeteXt73/ikony/pgp.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;
Version=1.0
Encoding=UTF-8
# vi:set encoding=UTF-8:
