[Desktop Entry]
Name=Management of services
Name[ar]=Management of services
Name[ast]=Management of services
Name[be]=Management of services
Name[bn]=Management of services
Name[ca]=Management of services
Name[cs]=Management of services
Name[da]=Management of services
Name[de]=Management of services
Name[el]=Management of services
Name[en_GB]=Management of services
Name[eo]=Management of services
Name[es]=Management of services
Name[et]=Management of services
Name[eu]=Management of services
Name[fi]=Management of services
Name[fr]=Gestion des services
Name[gl]=Management of services
Name[he]=Management of services
Name[hr]=Management of services
Name[hu]=Management of services
Name[id]=Management of services
Name[it]=Management of services
Name[ja]=Management of services
Name[kk]=Management of services
Name[ko]=Management of services
Name[lt]=Management of services
Name[lv]=Management of services
Name[nb]=Management of services
Name[nl]=Management of services
Name[nn]=Management of services
Name[pa]=Management of services
Name[pl]=Zarządzanie usługami
Name[pt]=Management of services
Name[pt_BR]=Management of services
Name[ro]=Management of services
Name[ru]=Management of services
Name[si]=Management of services
Name[sk]=Management of services
Name[sq]=Management of services
Name[sr]=Management of services
Name[sv]=Management of services
Name[te]=Management of services
Name[tr]=Management of services
Name[ug]=Management of services
Name[uk]=Management of services
Name[ur]=Management of services
Name[ur_PK]=Management of services
Name[vi]=Management of services
Name[zh_CN]=Management of services
Name[zh_TW]=Management of services
Comment=Management of services Upstart, SysV
Comment[ar]=Management of services Upstart, SysV
Comment[ast]=Management of services Upstart, SysV
Comment[be]=Management of services Upstart, SysV
Comment[bn]=Management of services Upstart, SysV
Comment[ca]=Management of services Upstart, SysV
Comment[cs]=Management of services Upstart, SysV
Comment[da]=Management of services Upstart, SysV
Comment[de]=Management of services Upstart, SysV
Comment[el]=Management of services Upstart, SysV
Comment[en_GB]=Management of services Upstart, SysV
Comment[eo]=Management of services Upstart, SysV
Comment[es]=Management of services Upstart, SysV
Comment[et]=Management of services Upstart, SysV
Comment[eu]=Management of services Upstart, SysV
Comment[fi]=Management of services Upstart, SysV
Comment[fr]=Gestion des services Upstart, SysV
Comment[gl]=Management of services Upstart, SysV
Comment[he]=Management of services Upstart, SysV
Comment[hr]=Management of services Upstart, SysV
Comment[hu]=Management of services Upstart, SysV
Comment[id]=Management of services Upstart, SysV
Comment[it]=Management of services Upstart, SysV
Comment[ja]=Management of services Upstart, SysV
Comment[kk]=Management of services Upstart, SysV
Comment[ko]=Management of services Upstart, SysV
Comment[lt]=Management of services Upstart, SysV
Comment[lv]=Management of services Upstart, SysV
Comment[nb]=Management of services Upstart, SysV
Comment[nl]=Management of services Upstart, SysV
Comment[nn]=Management of services Upstart, SysV
Comment[pa]=Management of services Upstart, SysV
Comment[pl]=Zarządzanie usługami Upstart, SysV
Comment[pt]=Management of services Upstart, SysV
Comment[pt_BR]=Management of services Upstart, SysV
Comment[ro]=Management of services Upstart, SysV
Comment[ru]=Management of services Upstart, SysV
Comment[sk]=Management of services Upstart, SysV
Comment[sq]=Management of services Upstart, SysV
Comment[sr]=Management of services Upstart, SysV
Comment[sv]=Management of services Upstart, SysV
Comment[te]=Management of services Upstart, SysV
Comment[tr]=Management of services Upstart, SysV
Comment[ug]=Management of services Upstart, SysV
Comment[uk]=Management of services Upstart, SysV
Comment[ur]=Management of services Upstart, SysV
Comment[ur_PK]=Management of services Upstart, SysV
Comment[vi]=Management of services Upstart, SysV
Comment[zh_CN]=Management of services Upstart, SysV
Comment[zh_TW]=Management of services Upstart, SysV
GenericName=Management of services
GenericName[ar]=Management of services
GenericName[ast]=Management of services
GenericName[be]=Management of services
GenericName[bn]=Management of services
GenericName[ca]=Management of services
GenericName[cs]=Management of services
GenericName[da]=Management of services
GenericName[de]=Management of services
GenericName[el]=Management of services
GenericName[en_GB]=Management of services
GenericName[eo]=Management of services
GenericName[es]=Management of services
GenericName[et]=Management of services
GenericName[eu]=Management of services
GenericName[fi]=Management of services
GenericName[fr]=Gestion des services
GenericName[gl]=Management of services
GenericName[he]=Management of services
GenericName[hr]=Management of services
GenericName[hu]=Management of services
GenericName[id]=Management of services
GenericName[it]=Management of services
GenericName[ja]=Management of services
GenericName[kk]=Management of services
GenericName[ko]=Management of services
GenericName[lt]=Management of services
GenericName[lv]=Management of services
GenericName[nb]=Management of services
GenericName[nl]=Management of services
GenericName[nn]=Management of services
GenericName[pa]=Management of services
GenericName[pl]=Zarządzanie usługami
GenericName[pt]=Management of services
GenericName[pt_BR]=Management of services
GenericName[ro]=Management of services
GenericName[ru]=Management of services
GenericName[si]=Management of services
GenericName[sk]=Management of services
GenericName[sq]=Management of services
GenericName[sr]=Management of services
GenericName[sv]=Management of services
GenericName[te]=Management of services
GenericName[tr]=Management of services
GenericName[ug]=Management of services
GenericName[uk]=Management of services
GenericName[ur]=Management of services
GenericName[ur_PK]=Management of services
GenericName[vi]=Management of services
GenericName[zh_CN]=Management of services
GenericName[zh_TW]=Management of services

Exec=/opt/NeteXt73/./NeteXt73_root ./uslugi
Icon=/opt/NeteXt73/ikony/uslugi.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;
Version=1.0
Encoding=UTF-8
# vi:set encoding=UTF-8:
