[Desktop Entry]
Name=PPA repository\n and software
Name[ar]=PPA repository\n and software
Name[ast]=PPA repository\n and software
Name[be]=PPA repository\n and software
Name[bn]=PPA repository\n and software
Name[ca]=PPA repository\n and software
Name[cs]=PPA repository\n and software
Name[da]=PPA repository\n and software
Name[de]=PPA repository\n and software
Name[el]=PPA repository\n and software
Name[en_GB]=PPA repository\n and software
Name[eo]=PPA repository\n and software
Name[es]=PPA repository\n and software
Name[et]=PPA repository\n and software
Name[eu]=PPA repository\n and software
Name[fi]=PPA repository\n and software
Name[fr]=Sauvegarde des des dépôts
Name[gl]=PPA repository\n and software
Name[he]=PPA repository\n and software
Name[hr]=PPA repository\n and software
Name[hu]=PPA repository\n and software
Name[id]=PPA repository\n and software
Name[it]=PPA repository\n and software
Name[ja]=PPA repository\n and software
Name[kk]=PPA repository\n and software
Name[ko]=PPA repository\n and software
Name[lt]=PPA repository\n and software
Name[lv]=PPA repository\n and software
Name[nb]=PPA repository\n and software
Name[nl]=PPA repository\n and software
Name[nn]=PPA repository\n and software
Name[pa]=PPA repository\n and software
Name[pl]=Oprogramowanie
Name[pt]=PPA repository\n and software
Name[pt_BR]=PPA repository\n and software
Name[ro]=PPA repository\n and software
Name[ru]=PPA repository\n and software
Name[si]=PPA repository\n and software
Name[sk]=PPA repository\n and software
Name[sq]=PPA repository\n and software
Name[sr]=PPA repository\n and software
Name[sv]=PPA repository\n and software
Name[te]=PPA repository\n and software
Name[tr]=PPA repository\n and software
Name[ug]=PPA repository\n and software
Name[uk]=PPA repository\n and software
Name[ur]=PPA repository\n and software
Name[ur_PK]=PPA repository\n and software
Name[vi]=PPA repository\n and software
Name[zh_CN]=PPA repository\n and software
Name[zh_TW]=PPA repository\n and software
Comment=Create or restore the backup repository,\n manage the repository and software
Comment[ar]=Create or restore the backup repository,\n manage the repository and software
Comment[ast]=Create or restore the backup repository,\n manage the repository and software
Comment[be]=Create or restore the backup repository,\n manage the repository and software
Comment[bn]=Create or restore the backup repository,\n manage the repository and software
Comment[ca]=Create or restore the backup repository,\n manage the repository and software
Comment[cs]=Create or restore the backup repository,\n manage the repository and software
Comment[da]=Create or restore the backup repository,\n manage the repository and software
Comment[de]=Create or restore the backup repository,\n manage the repository and software
Comment[el]=Create or restore the backup repository,\n manage the repository and software
Comment[en_GB]=Create or restore the backup repository,\n manage the repository and software
Comment[eo]=Create or restore the backup repository,\n manage the repository and software
Comment[es]=Create or restore the backup repository,\n manage the repository and software
Comment[et]=Create or restore the backup repository,\n manage the repository and software
Comment[eu]=Create or restore the backup repository,\n manage the repository and software
Comment[fi]=Create or restore the backup repository,\n manage the repository and software
Comment[fr]=Crée ou restaure la sauvegarde des dépôts ou télécharge\ndes clés GPG manquantes
Comment[gl]=Create or restore the backup repository,\n manage the repository and software
Comment[he]=Create or restore the backup repository,\n manage the repository and software
Comment[hr]=Create or restore the backup repository,\n manage the repository and software
Comment[hu]=Create or restore the backup repository,\n manage the repository and software
Comment[id]=Create or restore the backup repository,\n manage the repository and software
Comment[it]=Create or restore the backup repository,\n manage the repository and software
Comment[ja]=Create or restore the backup repository,\n manage the repository and software
Comment[kk]=Create or restore the backup repository,\n manage the repository and software
Comment[ko]=Create or restore the backup repository,\n manage the repository and software
Comment[lt]=Create or restore the backup repository,\n manage the repository and software
Comment[lv]=Create or restore the backup repository,\n manage the repository and software
Comment[nb]=Create or restore the backup repository,\n manage the repository and software
Comment[nl]=Create or restore the backup repository,\n manage the repository and software
Comment[nn]=Create or restore the backup repository,\n manage the repository and software
Comment[pa]=Create or restore the backup repository,\n manage the repository and software
Comment[pl]=Stwórz lub przywróć kopię zapasową repozytorium,\n zarządzaj repozytorium i oprogramowaniem
Comment[pt]=Create or restore the backup repository,\n manage the repository and software
Comment[pt_BR]=Create or restore the backup repository,\n manage the repository and software
Comment[ro]=Create or restore the backup repository,\n manage the repository and software
Comment[ru]=Create or restore the backup repository,\n manage the repository and software
Comment[sk]=Create or restore the backup repository,\n manage the repository and software
Comment[sq]=Create or restore the backup repository,\n manage the repository and software
Comment[sr]=Create or restore the backup repository,\n manage the repository and software
Comment[sv]=Create or restore the backup repository,\n manage the repository and software
Comment[te]=Create or restore the backup repository,\n manage the repository and software
Comment[tr]=Create or restore the backup repository,\n manage the repository and software
Comment[ug]=Create or restore the backup repository,\n manage the repository and software
Comment[uk]=Create or restore the backup repository,\n manage the repository and software
Comment[ur]=Create or restore the backup repository,\n manage the repository and software
Comment[ur_PK]=Create or restore the backup repository,\n manage the repository and software
Comment[vi]=Create or restore the backup repository,\n manage the repository and software
Comment[zh_CN]=Create or restore the backup repository,\n manage the repository and software
Comment[zh_TW]=Create or restore the backup repository,\n manage the repository and software
GenericName=PPA repository\n and software
GenericName[ar]=PPA repository\n and software
GenericName[ast]=PPA repository\n and software
GenericName[be]=PPA repository\n and software
GenericName[bn]=PPA repository\n and software
GenericName[ca]=PPA repository\n and software
GenericName[cs]=PPA repository\n and software
GenericName[da]=PPA repository\n and software
GenericName[de]=PPA repository\n and software
GenericName[el]=PPA repository\n and software
GenericName[en_GB]=PPA repository\n and software
GenericName[eo]=PPA repository\n and software
GenericName[es]=PPA repository\n and software
GenericName[et]=PPA repository\n and software
GenericName[eu]=PPA repository\n and software
GenericName[fi]=PPA repository\n and software
GenericName[fr]=Sauvegarde des des dépôts
GenericName[gl]=PPA repository\n and software
GenericName[he]=PPA repository\n and software
GenericName[hr]=PPA repository\n and software
GenericName[hu]=PPA repository\n and software
GenericName[id]=PPA repository\n and software
GenericName[it]=PPA repository\n and software
GenericName[ja]=PPA repository\n and software
GenericName[kk]=PPA repository\n and software
GenericName[ko]=PPA repository\n and software
GenericName[lt]=PPA repository\n and software
GenericName[lv]=PPA repository\n and software
GenericName[nb]=PPA repository\n and software
GenericName[nl]=PPA repository\n and software
GenericName[nn]=PPA repository\n and software
GenericName[pa]=PPA repository\n and software
GenericName[pl]=Repozytorium PPA\ni oprogramowanie
GenericName[pt]=PPA repository\n and software
GenericName[pt_BR]=PPA repository\n and software
GenericName[ro]=PPA repository\n and software
GenericName[ru]=PPA repository\n and software
GenericName[si]=PPA repository\n and software
GenericName[sk]=PPA repository\n and software
GenericName[sq]=PPA repository\n and software
GenericName[sr]=PPA repository\n and software
GenericName[sv]=PPA repository\n and software
GenericName[te]=PPA repository\n and software
GenericName[tr]=PPA repository\n and software
GenericName[ug]=PPA repository\n and software
GenericName[uk]=PPA repository\n and software
GenericName[ur]=PPA repository\n and software
GenericName[ur_PK]=PPA repository\n and software
GenericName[vi]=PPA repository\n and software
GenericName[zh_CN]=PPA repository\n and software
GenericName[zh_TW]=PPA repository\n and software

Exec=/opt/NeteXt73/./repo
Icon=/opt/NeteXt73/ikony/backuprepo.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;
Version=1.0
Encoding=UTF-8
# vi:set encoding=UTF-8:
