[Desktop Entry]
Name=Stability and performance tests
Name[ar]=Stability and performance tests
Name[ast]=Stability and performance tests
Name[be]=Stability and performance tests
Name[bn]=Stability and performance tests
Name[ca]=Stability and performance tests
Name[cs]=Stability and performance tests
Name[da]=Stability and performance tests
Name[de]=Stability and performance tests
Name[el]=Stability and performance tests
Name[en_GB]=Stability and performance tests
Name[eo]=Stability and performance tests
Name[es]=Stability and performance tests
Name[et]=Stability and performance tests
Name[eu]=Stability and performance tests
Name[fi]=Stability and performance tests
Name[fr]=Les tests de stabilité et de performance
Name[gl]=Stability and performance tests
Name[he]=Stability and performance tests
Name[hr]=Stability and performance tests
Name[hu]=Stability and performance tests
Name[id]=Stability and performance tests
Name[it]=Stability and performance tests
Name[ja]=Stability and performance tests
Name[kk]=Stability and performance tests
Name[ko]=Stability and performance tests
Name[lt]=Stability and performance tests
Name[lv]=Stability and performance tests
Name[nb]=Stability and performance tests
Name[nl]=Stability and performance tests
Name[nn]=Stability and performance tests
Name[pa]=Stability and performance tests
Name[pl]=Testy stabilności i wydajności
Name[pt]=Stability and performance tests
Name[pt_BR]=Stability and performance tests
Name[ro]=Stability and performance tests
Name[ru]=Stability and performance tests
Name[si]=Stability and performance tests
Name[sk]=Stability and performance tests
Name[sq]=Stability and performance tests
Name[sr]=Stability and performance tests
Name[sv]=Stability and performance tests
Name[te]=Stability and performance tests
Name[tr]=Stability and performance tests
Name[ug]=Stability and performance tests
Name[uk]=Stability and performance tests
Name[ur]=Stability and performance tests
Name[ur_PK]=Stability and performance tests
Name[vi]=Stability and performance tests
Name[zh_CN]=Stability and performance tests
Name[zh_TW]=Stability and performance tests
Comment=Stability and performance tests
Comment[ar]=Stability and performance tests
Comment[ast]=Stability and performance tests
Comment[be]=Stability and performance tests
Comment[bn]=Stability and performance tests
Comment[ca]=Stability and performance tests
Comment[cs]=Stability and performance tests
Comment[da]=Stability and performance tests
Comment[de]=Stability and performance tests
Comment[el]=Stability and performance tests
Comment[en_GB]=Stability and performance tests
Comment[eo]=Stability and performance tests
Comment[es]=Stability and performance tests
Comment[et]=Stability and performance tests
Comment[eu]=Stability and performance tests
Comment[fi]=Stability and performance tests
Comment[fr]=Les tests de stabilité et de performance
Comment[gl]=Stability and performance tests
Comment[he]=Stability and performance tests
Comment[hr]=Stability and performance tests
Comment[hu]=Stability and performance tests
Comment[id]=Stability and performance tests
Comment[it]=Stability and performance tests
Comment[ja]=Stability and performance tests
Comment[kk]=Stability and performance tests
Comment[ko]=Stability and performance tests
Comment[lt]=Stability and performance tests
Comment[lv]=Stability and performance tests
Comment[nb]=Stability and performance tests
Comment[nl]=Stability and performance tests
Comment[nn]=Stability and performance tests
Comment[pa]=Stability and performance tests
Comment[pl]=Testy stabilności i wydajności
Comment[pt]=Stability and performance tests
Comment[pt_BR]=Stability and performance tests
Comment[ro]=Stability and performance tests
Comment[ru]=Stability and performance tests
Comment[sk]=Stability and performance tests
Comment[sq]=Stability and performance tests
Comment[sr]=Stability and performance tests
Comment[sv]=Stability and performance tests
Comment[te]=Stability and performance tests
Comment[tr]=Stability and performance tests
Comment[ug]=Stability and performance tests
Comment[uk]=Stability and performance tests
Comment[ur]=Stability and performance tests
Comment[ur_PK]=Stability and performance tests
Comment[vi]=Stability and performance tests
Comment[zh_CN]=Stability and performance tests
Comment[zh_TW]=Stability and performance tests
GenericName=Stability and performance tests
GenericName[ar]=Stability and performance tests
GenericName[ast]=Stability and performance tests
GenericName[be]=Stability and performance tests
GenericName[bn]=Stability and performance tests
GenericName[ca]=Stability and performance tests
GenericName[cs]=Stability and performance tests
GenericName[da]=Stability and performance tests
GenericName[de]=Stability and performance tests
GenericName[el]=Stability and performance tests
GenericName[en_GB]=Stability and performance tests
GenericName[eo]=Stability and performance tests
GenericName[es]=Stability and performance tests
GenericName[et]=Stability and performance tests
GenericName[eu]=Stability and performance tests
GenericName[fi]=Stability and performance tests
GenericName[fr]=Les tests de stabilité et de performance
GenericName[gl]=Stability and performance tests
GenericName[he]=Stability and performance tests
GenericName[hr]=Stability and performance tests
GenericName[hu]=Stability and performance tests
GenericName[id]=Stability and performance tests
GenericName[it]=Stability and performance tests
GenericName[ja]=Stability and performance tests
GenericName[kk]=Stability and performance tests
GenericName[ko]=Stability and performance tests
GenericName[lt]=Stability and performance tests
GenericName[lv]=Stability and performance tests
GenericName[nb]=Stability and performance tests
GenericName[nl]=Stability and performance tests
GenericName[nn]=Stability and performance tests
GenericName[pa]=Stability and performance tests
GenericName[pl]=Testy stabilności i wydajności
GenericName[pt]=Stability and performance tests
GenericName[pt_BR]=Stability and performance tests
GenericName[ro]=Stability and performance tests
GenericName[ru]=Stability and performance tests
GenericName[si]=Stability and performance tests
GenericName[sk]=Stability and performance tests
GenericName[sq]=Stability and performance tests
GenericName[sr]=Stability and performance tests
GenericName[sv]=Stability and performance tests
GenericName[te]=Stability and performance tests
GenericName[tr]=Stability and performance tests
GenericName[ug]=Stability and performance tests
GenericName[uk]=Stability and performance tests
GenericName[ur]=Stability and performance tests
GenericName[ur_PK]=Stability and performance tests
GenericName[vi]=Stability and performance tests
GenericName[zh_CN]=Stability and performance tests
GenericName[zh_TW]=Stability and performance tests

Exec=/opt/NeteXt73/./skrypty testy
Icon=/opt/NeteXt73/ikony/testy.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;
Version=1.0
Encoding=UTF-8
# vi:set encoding=UTF-8:
