#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Utilities Scripts
Name[ar]=Utilities Scripts
Name[ast]=Utilities Scripts
Name[be]=Utilities Scripts
Name[bn]=Utilities Scripts
Name[ca]=Utilities Scripts
Name[cs]=Utilities Scripts
Name[da]=Utilities Scripts
Name[de]=Utilities Scripts
Name[el]=Utilities Scripts
Name[en_GB]=Utilities Scripts
Name[eo]=Utilities Scripts
Name[es]=Utilities Scripts
Name[et]=Utilities Scripts
Name[eu]=Utilities Scripts
Name[fi]=Utilities Scripts
Name[fr]=Scripts utiles
Name[gl]=Utilities Scripts
Name[he]=Utilities Scripts
Name[hr]=Utilities Scripts
Name[hu]=Utilities Scripts
Name[id]=Utilities Scripts
Name[it]=Utilities Scripts
Name[ja]=Utilities Scripts
Name[kk]=Utilities Scripts
Name[ko]=Utilities Scripts
Name[lt]=Utilities Scripts
Name[lv]=Utilities Scripts
Name[nb]=Utilities Scripts
Name[nl]=Utilities Scripts
Name[nn]=Utilities Scripts
Name[pa]=Utilities Scripts
Name[pl]=Przydatne skrypty
Name[pt]=Utilities Scripts
Name[pt_BR]=Utilities Scripts
Name[ro]=Utilities Scripts
Name[ru]=Utilities Scripts
Name[si]=Utilities Scripts
Name[sk]=Utilities Scripts
Name[sq]=Utilities Scripts
Name[sr]=Utilities Scripts
Name[sv]=Utilities Scripts
Name[te]=Utilities Scripts
Name[tr]=Utilities Scripts
Name[ug]=Utilities Scripts
Name[uk]=Utilities Scripts
Name[ur]=Utilities Scripts
Name[ur_PK]=Utilities Scripts
Name[vi]=Utilities Scripts
Name[zh_CN]=Utilities Scripts
Name[zh_TW]=Utilities Scripts
Comment=Collection of useful scripts
Comment[ar]=Collection of useful scripts
Comment[ast]=Collection of useful scripts
Comment[be]=Collection of useful scripts
Comment[bn]=Collection of useful scripts
Comment[ca]=Collection of useful scripts
Comment[cs]=Collection of useful scripts
Comment[da]=Collection of useful scripts
Comment[de]=Collection of useful scripts
Comment[el]=Collection of useful scripts
Comment[en_GB]=Collection of useful scripts
Comment[eo]=Collection of useful scripts
Comment[es]=Collection of useful scripts
Comment[et]=Collection of useful scripts
Comment[eu]=Collection of useful scripts
Comment[fi]=Collection of useful scripts
Comment[fr]=Collection de scripts utiles
Comment[gl]=Collection of useful scripts
Comment[he]=Collection of useful scripts
Comment[hr]=Collection of useful scripts
Comment[hu]=Collection of useful scripts
Comment[id]=Collection of useful scripts
Comment[it]=Collection of useful scripts
Comment[ja]=Collection of useful scripts
Comment[kk]=Collection of useful scripts
Comment[ko]=Collection of useful scripts
Comment[lt]=Collection of useful scripts
Comment[lv]=Collection of useful scripts
Comment[nb]=Collection of useful scripts
Comment[nl]=Collection of useful scripts
Comment[nn]=Collection of useful scripts
Comment[pa]=Collection of useful scripts
Comment[pl]=Zbiór przydatnych skryptów
Comment[pt]=Collection of useful scripts
Comment[pt_BR]=Collection of useful scripts
Comment[ro]=Collection of useful scripts
Comment[ru]=Collection of useful scripts
Comment[sk]=Collection of useful scripts
Comment[sq]=Collection of useful scripts
Comment[sr]=Collection of useful scripts
Comment[sv]=Collection of useful scripts
Comment[te]=Collection of useful scripts
Comment[tr]=Collection of useful scripts
Comment[ug]=Collection of useful scripts
Comment[uk]=Collection of useful scripts
Comment[ur]=Collection of useful scripts
Comment[ur_PK]=Collection of useful scripts
Comment[vi]=Collection of useful scripts
Comment[zh_CN]=Collection of useful scripts
Comment[zh_TW]=Collection of useful scripts
GenericName=Utilities Scripts
GenericName[ar]=Utilities Scripts
GenericName[ast]=Utilities Scripts
GenericName[be]=Utilities Scripts
GenericName[bn]=Utilities Scripts
GenericName[ca]=Utilities Scripts
GenericName[cs]=Utilities Scripts
GenericName[da]=Utilities Scripts
GenericName[de]=Utilities Scripts
GenericName[el]=Utilities Scripts
GenericName[en_GB]=Utilities Scripts
GenericName[eo]=Utilities Scripts
GenericName[es]=Utilities Scripts
GenericName[et]=Utilities Scripts
GenericName[eu]=Utilities Scripts
GenericName[fi]=Utilities Scripts
GenericName[fr]=Scripts utiles
GenericName[gl]=Utilities Scripts
GenericName[he]=Utilities Scripts
GenericName[hr]=Utilities Scripts
GenericName[hu]=Utilities Scripts
GenericName[id]=Utilities Scripts
GenericName[it]=Utilities Scripts
GenericName[ja]=Utilities Scripts
GenericName[kk]=Utilities Scripts
GenericName[ko]=Utilities Scripts
GenericName[lt]=Utilities Scripts
GenericName[lv]=Utilities Scripts
GenericName[nb]=Utilities Scripts
GenericName[nl]=Utilities Scripts
GenericName[nn]=Utilities Scripts
GenericName[pa]=Utilities Scripts
GenericName[pl]=Przydatne Skrypty
GenericName[pt]=Utilities Scripts
GenericName[pt_BR]=Utilities Scripts
GenericName[ro]=Utilities Scripts
GenericName[ru]=Utilities Scripts
GenericName[si]=Utilities Scripts
GenericName[sk]=Utilities Scripts
GenericName[sq]=Utilities Scripts
GenericName[sr]=Utilities Scripts
GenericName[sv]=Utilities Scripts
GenericName[te]=Utilities Scripts
GenericName[tr]=Utilities Scripts
GenericName[ug]=Utilities Scripts
GenericName[uk]=Utilities Scripts
GenericName[ur]=Utilities Scripts
GenericName[ur_PK]=Utilities Scripts
GenericName[vi]=Utilities Scripts
GenericName[zh_CN]=Utilities Scripts
GenericName[zh_TW]=Utilities Scripts

Exec=/opt/NeteXt73/./skrypty
Icon=/opt/NeteXt73/ikony/skrypty.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;
Version=1.0
Encoding=UTF-8
# vi:set encoding=UTF-8:
