[Desktop Entry]
Name=Generating a logs
Name[ar]=Generating a logs
Name[ast]=Generating a logs
Name[be]=Generating a logs
Name[bn]=Generating a logs
Name[ca]=Generating a logs
Name[cs]=Generating a logs
Name[da]=Generating a logs
Name[de]=Generating a logs
Name[el]=Generating a logs
Name[en_GB]=Generating a logs
Name[eo]=Generating a logs
Name[es]=Generating a logs
Name[et]=Generating a logs
Name[eu]=Generating a logs
Name[fi]=Generating a logs
Name[fr]=Journaux de système
Name[gl]=Generating a logs
Name[he]=Generating a logs
Name[hr]=Generating a logs
Name[hu]=Generating a logs
Name[id]=Generating a logs
Name[it]=Generating a logs
Name[ja]=Generating a logs
Name[kk]=Generating a logs
Name[ko]=Generating a logs
Name[lt]=Generating a logs
Name[lv]=Generating a logs
Name[nb]=Generating a logs
Name[nl]=Generating a logs
Name[nn]=Generating a logs
Name[pa]=Generating a logs
Name[pl]=Generowanie logów
Name[pt]=Generating a logs
Name[pt_BR]=Generating a logs
Name[ro]=Generating a logs
Name[ru]=Generating a logs
Name[si]=Generating a logs
Name[sk]=Generating a logs
Name[sq]=Generating a logs
Name[sr]=Generating a logs
Name[sv]=Generating a logs
Name[te]=Generating a logs
Name[tr]=Generating a logs
Name[ug]=Generating a logs
Name[uk]=Generating a logs
Name[ur]=Generating a logs
Name[ur_PK]=Generating a logs
Name[vi]=Generating a logs
Name[zh_CN]=Generating a logs
Name[zh_TW]=Generating a logs
Comment=Generating a logs
Comment[ar]=Generating a logs
Comment[ast]=Generating a logs
Comment[be]=Generating a logs
Comment[bn]=Generating a logs
Comment[ca]=Generating a logs
Comment[cs]=Generating a logs
Comment[da]=Generating a logs
Comment[de]=Generating a logs
Comment[el]=Generating a logs
Comment[en_GB]=Generating a logs
Comment[eo]=Generating a logs
Comment[es]=Generating a logs
Comment[et]=Generating a logs
Comment[eu]=Generating a logs
Comment[fi]=Generating a logs
Comment[fr]=Journaux de système
Comment[gl]=Generating a logs
Comment[he]=Generating a logs
Comment[hr]=Generating a logs
Comment[hu]=Generating a logs
Comment[id]=Generating a logs
Comment[it]=Generating a logs
Comment[ja]=Generating a logs
Comment[kk]=Generating a logs
Comment[ko]=Generating a logs
Comment[lt]=Generating a logs
Comment[lv]=Generating a logs
Comment[nb]=Generating a logs
Comment[nl]=Generating a logs
Comment[nn]=Generating a logs
Comment[pa]=Generating a logs
Comment[pl]=Generowanie logów
Comment[pt]=Generating a logs
Comment[pt_BR]=Generating a logs
Comment[ro]=Generating a logs
Comment[ru]=Generating a logs
Comment[sk]=Generating a logs
Comment[sq]=Generating a logs
Comment[sr]=Generating a logs
Comment[sv]=Generating a logs
Comment[te]=Generating a logs
Comment[tr]=Generating a logs
Comment[ug]=Generating a logs
Comment[uk]=Generating a logs
Comment[ur]=Generating a logs
Comment[ur_PK]=Generating a logs
Comment[vi]=Generating a logs
Comment[zh_CN]=Generating a logs
Comment[zh_TW]=Generating a logs
GenericName=Generating a logs
GenericName[ar]=Generating a logs
GenericName[ast]=Generating a logs
GenericName[be]=Generating a logs
GenericName[bn]=Generating a logs
GenericName[ca]=Generating a logs
GenericName[cs]=Generating a logs
GenericName[da]=Generating a logs
GenericName[de]=Generating a logs
GenericName[el]=Generating a logs
GenericName[en_GB]=Generating a logs
GenericName[eo]=Generating a logs
GenericName[es]=Generating a logs
GenericName[et]=Generating a logs
GenericName[eu]=Generating a logs
GenericName[fi]=Generating a logs
GenericName[fr]=Journaux de système
GenericName[gl]=Generating a logs
GenericName[he]=Generating a logs
GenericName[hr]=Generating a logs
GenericName[hu]=Generating a logs
GenericName[id]=Generating a logs
GenericName[it]=Generating a logs
GenericName[ja]=Generating a logs
GenericName[kk]=Generating a logs
GenericName[ko]=Generating a logs
GenericName[lt]=Generating a logs
GenericName[lv]=Generating a logs
GenericName[nb]=Generating a logs
GenericName[nl]=Generating a logs
GenericName[nn]=Generating a logs
GenericName[pa]=Generating a logs
GenericName[pl]=Generowanie logów
GenericName[pt]=Generating a logs
GenericName[pt_BR]=Generating a logs
GenericName[ro]=Generating a logs
GenericName[ru]=Generating a logs
GenericName[si]=Generating a logs
GenericName[sk]=Generating a logs
GenericName[sq]=Generating a logs
GenericName[sr]=Generating a logs
GenericName[sv]=Generating a logs
GenericName[te]=Generating a logs
GenericName[tr]=Generating a logs
GenericName[ug]=Generating a logs
GenericName[uk]=Generating a logs
GenericName[ur]=Generating a logs
GenericName[ur_PK]=Generating a logs
GenericName[vi]=Generating a logs
GenericName[zh_CN]=Generating a logs
GenericName[zh_TW]=Generating a logs

Exec=/opt/NeteXt73/./NeteXt73_root ./logi
Icon=/opt/NeteXt73/ikony/logi.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;
Version=1.0
Encoding=UTF-8
# vi:set encoding=UTF-8:
