[Desktop Entry]
Name=We will help you, you will help us
Name[ar]=We will help you, you will help us
Name[ast]=We will help you, you will help us
Name[be]=We will help you, you will help us
Name[bn]=We will help you, you will help us
Name[ca]=We will help you, you will help us
Name[cs]=We will help you, you will help us
Name[da]=We will help you, you will help us
Name[de]=We will help you, you will help us
Name[el]=We will help you, you will help us
Name[en_GB]=We will help you, you will help us
Name[eo]=We will help you, you will help us
Name[es]=We will help you, you will help us
Name[et]=We will help you, you will help us
Name[eu]=We will help you, you will help us
Name[fi]=We will help you, you will help us
Name[fr]=We will help you, you will help us
Name[gl]=We will help you, you will help us
Name[he]=We will help you, you will help us
Name[hr]=We will help you, you will help us
Name[hu]=We will help you, you will help us
Name[id]=We will help you, you will help us
Name[it]=We will help you, you will help us
Name[ja]=We will help you, you will help us
Name[kk]=We will help you, you will help us
Name[ko]=We will help you, you will help us
Name[lt]=We will help you, you will help us
Name[lv]=We will help you, you will help us
Name[nb]=We will help you, you will help us
Name[nl]=We will help you, you will help us
Name[nn]=We will help you, you will help us
Name[pa]=We will help you, you will help us
Name[pl]=Pomagamy Tobie, pomóż nam
Name[pt]=We will help you, you will help us
Name[pt_BR]=We will help you, you will help us
Name[ro]=We will help you, you will help us
Name[ru]=We will help you, you will help us
Name[si]=We will help you, you will help us
Name[sk]=We will help you, you will help us
Name[sq]=We will help you, you will help us
Name[sr]=We will help you, you will help us
Name[sv]=We will help you, you will help us
Name[te]=We will help you, you will help us
Name[tr]=We will help you, you will help us
Name[ug]=We will help you, you will help us
Name[uk]=We will help you, you will help us
Name[ur]=We will help you, you will help us
Name[ur_PK]=We will help you, you will help us
Name[vi]=We will help you, you will help us
Name[zh_CN]=We will help you, you will help us
Name[zh_TW]=We will help you, you will help us
Comment=We will help you, you will help us
Comment[ar]=We will help you, you will help us
Comment[ast]=We will help you, you will help us
Comment[be]=We will help you, you will help us
Comment[bn]=We will help you, you will help us
Comment[ca]=We will help you, you will help us
Comment[cs]=We will help you, you will help us
Comment[da]=We will help you, you will help us
Comment[de]=We will help you, you will help us
Comment[el]=We will help you, you will help us
Comment[en_GB]=We will help you, you will help us
Comment[eo]=We will help you, you will help us
Comment[es]=We will help you, you will help us
Comment[et]=We will help you, you will help us
Comment[eu]=We will help you, you will help us
Comment[fi]=We will help you, you will help us
Comment[fr]=We will help you, you will help us
Comment[gl]=We will help you, you will help us
Comment[he]=We will help you, you will help us
Comment[hr]=We will help you, you will help us
Comment[hu]=We will help you, you will help us
Comment[id]=We will help you, you will help us
Comment[it]=We will help you, you will help us
Comment[ja]=We will help you, you will help us
Comment[kk]=We will help you, you will help us
Comment[ko]=We will help you, you will help us
Comment[lt]=We will help you, you will help us
Comment[lv]=We will help you, you will help us
Comment[nb]=We will help you, you will help us
Comment[nl]=We will help you, you will help us
Comment[nn]=We will help you, you will help us
Comment[pa]=We will help you, you will help us
Comment[pl]=Pomagamy Tobie, pomóż nam
Comment[pt]=We will help you, you will help us
Comment[pt_BR]=We will help you, you will help us
Comment[ro]=We will help you, you will help us
Comment[ru]=We will help you, you will help us
Comment[sk]=We will help you, you will help us
Comment[sq]=We will help you, you will help us
Comment[sr]=We will help you, you will help us
Comment[sv]=We will help you, you will help us
Comment[te]=We will help you, you will help us
Comment[tr]=We will help you, you will help us
Comment[ug]=We will help you, you will help us
Comment[uk]=We will help you, you will help us
Comment[ur]=We will help you, you will help us
Comment[ur_PK]=We will help you, you will help us
Comment[vi]=We will help you, you will help us
Comment[zh_CN]=We will help you, you will help us
Comment[zh_TW]=We will help you, you will help us
GenericName=We will help you, you will help us
GenericName[ar]=We will help you, you will help us
GenericName[ast]=We will help you, you will help us
GenericName[be]=We will help you, you will help us
GenericName[bn]=We will help you, you will help us
GenericName[ca]=We will help you, you will help us
GenericName[cs]=We will help you, you will help us
GenericName[da]=We will help you, you will help us
GenericName[de]=We will help you, you will help us
GenericName[el]=We will help you, you will help us
GenericName[en_GB]=We will help you, you will help us
GenericName[eo]=We will help you, you will help us
GenericName[es]=We will help you, you will help us
GenericName[et]=We will help you, you will help us
GenericName[eu]=We will help you, you will help us
GenericName[fi]=We will help you, you will help us
GenericName[fr]=We will help you, you will help us
GenericName[gl]=We will help you, you will help us
GenericName[he]=We will help you, you will help us
GenericName[hr]=We will help you, you will help us
GenericName[hu]=We will help you, you will help us
GenericName[id]=We will help you, you will help us
GenericName[it]=We will help you, you will help us
GenericName[ja]=We will help you, you will help us
GenericName[kk]=We will help you, you will help us
GenericName[ko]=We will help you, you will help us
GenericName[lt]=We will help you, you will help us
GenericName[lv]=We will help you, you will help us
GenericName[nb]=We will help you, you will help us
GenericName[nl]=We will help you, you will help us
GenericName[nn]=We will help you, you will help us
GenericName[pa]=We will help you, you will help us
GenericName[pl]=Pomagamy Tobie, pomóż nam
GenericName[pt]=We will help you, you will help us
GenericName[pt_BR]=We will help you, you will help us
GenericName[ro]=We will help you, you will help us
GenericName[ru]=We will help you, you will help us
GenericName[si]=We will help you, you will help us
GenericName[sk]=We will help you, you will help us
GenericName[sq]=We will help you, you will help us
GenericName[sr]=We will help you, you will help us
GenericName[sv]=We will help you, you will help us
GenericName[te]=We will help you, you will help us
GenericName[tr]=We will help you, you will help us
GenericName[ug]=We will help you, you will help us
GenericName[uk]=We will help you, you will help us
GenericName[ur]=We will help you, you will help us
GenericName[ur_PK]=We will help you, you will help us
GenericName[vi]=We will help you, you will help us
GenericName[zh_CN]=We will help you, you will help us
GenericName[zh_TW]=We will help you, you will help us

Exec=/opt/NeteXt73/./help paypal
Icon=/opt/NeteXt73/ikony/paypal.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;
Version=1.0
Encoding=UTF-8
# vi:set encoding=UTF-8:
