[Desktop Entry]
Name=About NeteXt'73
Name[ar]=About NeteXt'73
Name[ast]=About NeteXt'73
Name[be]=About NeteXt'73
Name[bn]=About NeteXt'73
Name[ca]=About NeteXt'73
Name[cs]=About NeteXt'73
Name[da]=About NeteXt'73
Name[de]=About NeteXt'73
Name[el]=About NeteXt'73
Name[en_GB]=About NeteXt'73
Name[eo]=About NeteXt'73
Name[es]=About NeteXt'73
Name[et]=About NeteXt'73
Name[eu]=About NeteXt'73
Name[fi]=About NeteXt'73
Name[fr]=Le contact avec les développeurs
Name[gl]=About NeteXt'73
Name[he]=About NeteXt'73
Name[hr]=About NeteXt'73
Name[hu]=About NeteXt'73
Name[id]=About NeteXt'73
Name[it]=About NeteXt'73
Name[ja]=About NeteXt'73
Name[kk]=About NeteXt'73
Name[ko]=About NeteXt'73
Name[lt]=About NeteXt'73
Name[lv]=About NeteXt'73
Name[nb]=About NeteXt'73
Name[nl]=About NeteXt'73
Name[nn]=About NeteXt'73
Name[pa]=About NeteXt'73
Name[pl]=O NeteXt'73
Name[pt]=About NeteXt'73
Name[pt_BR]=About NeteXt'73
Name[ro]=About NeteXt'73
Name[ru]=About NeteXt'73
Name[si]=About NeteXt'73
Name[sk]=About NeteXt'73
Name[sq]=About NeteXt'73
Name[sr]=About NeteXt'73
Name[sv]=About NeteXt'73
Name[te]=About NeteXt'73
Name[tr]=About NeteXt'73
Name[ug]=About NeteXt'73
Name[uk]=About NeteXt'73
Name[ur]=About NeteXt'73
Name[ur_PK]=About NeteXt'73
Name[vi]=About NeteXt'73
Name[zh_CN]=About NeteXt'73
Name[zh_TW]=About NeteXt'73
Comment=About NeteXt'73
Comment[ar]=About NeteXt'73
Comment[ast]=About NeteXt'73
Comment[be]=About NeteXt'73
Comment[bn]=About NeteXt'73
Comment[ca]=About NeteXt'73
Comment[cs]=About NeteXt'73
Comment[da]=About NeteXt'73
Comment[de]=About NeteXt'73
Comment[el]=About NeteXt'73
Comment[en_GB]=About NeteXt'73
Comment[eo]=About NeteXt'73
Comment[es]=About NeteXt'73
Comment[et]=About NeteXt'73
Comment[eu]=About NeteXt'73
Comment[fi]=About NeteXt'73
Comment[fr]=Le contact avec les développeurs
Comment[gl]=About NeteXt'73
Comment[he]=About NeteXt'73
Comment[hr]=About NeteXt'73
Comment[hu]=About NeteXt'73
Comment[id]=About NeteXt'73
Comment[it]=About NeteXt'73
Comment[ja]=About NeteXt'73
Comment[kk]=About NeteXt'73
Comment[ko]=About NeteXt'73
Comment[lt]=About NeteXt'73
Comment[lv]=About NeteXt'73
Comment[nb]=About NeteXt'73
Comment[nl]=About NeteXt'73
Comment[nn]=About NeteXt'73
Comment[pa]=About NeteXt'73
Comment[pl]=O NeteXt'73
Comment[pt]=About NeteXt'73
Comment[pt_BR]=About NeteXt'73
Comment[ro]=About NeteXt'73
Comment[ru]=About NeteXt'73
Comment[sk]=About NeteXt'73
Comment[sq]=About NeteXt'73
Comment[sr]=About NeteXt'73
Comment[sv]=About NeteXt'73
Comment[te]=About NeteXt'73
Comment[tr]=About NeteXt'73
Comment[ug]=About NeteXt'73
Comment[uk]=About NeteXt'73
Comment[ur]=About NeteXt'73
Comment[ur_PK]=About NeteXt'73
Comment[vi]=About NeteXt'73
Comment[zh_CN]=About NeteXt'73
Comment[zh_TW]=About NeteXt'73
GenericName=About NeteXt'73
GenericName[ar]=About NeteXt'73
GenericName[ast]=About NeteXt'73
GenericName[be]=About NeteXt'73
GenericName[bn]=About NeteXt'73
GenericName[ca]=About NeteXt'73
GenericName[cs]=About NeteXt'73
GenericName[da]=About NeteXt'73
GenericName[de]=About NeteXt'73
GenericName[el]=About NeteXt'73
GenericName[en_GB]=About NeteXt'73
GenericName[eo]=About NeteXt'73
GenericName[es]=About NeteXt'73
GenericName[et]=About NeteXt'73
GenericName[eu]=About NeteXt'73
GenericName[fi]=About NeteXt'73
GenericName[fr]=Le contact avec les développeurs
GenericName[gl]=About NeteXt'73
GenericName[he]=About NeteXt'73
GenericName[hr]=About NeteXt'73
GenericName[hu]=About NeteXt'73
GenericName[id]=About NeteXt'73
GenericName[it]=About NeteXt'73
GenericName[ja]=About NeteXt'73
GenericName[kk]=About NeteXt'73
GenericName[ko]=About NeteXt'73
GenericName[lt]=About NeteXt'73
GenericName[lv]=About NeteXt'73
GenericName[nb]=About NeteXt'73
GenericName[nl]=About NeteXt'73
GenericName[nn]=About NeteXt'73
GenericName[pa]=About NeteXt'73
GenericName[pl]=O NeteXt'73
GenericName[pt]=About NeteXt'73
GenericName[pt_BR]=About NeteXt'73
GenericName[ro]=About NeteXt'73
GenericName[ru]=About NeteXt'73
GenericName[si]=About NeteXt'73
GenericName[sk]=About NeteXt'73
GenericName[sq]=About NeteXt'73
GenericName[sr]=About NeteXt'73
GenericName[sv]=About NeteXt'73
GenericName[te]=About NeteXt'73
GenericName[tr]=About NeteXt'73
GenericName[ug]=About NeteXt'73
GenericName[uk]=About NeteXt'73
GenericName[ur]=About NeteXt'73
GenericName[ur_PK]=About NeteXt'73
GenericName[vi]=About NeteXt'73
GenericName[zh_CN]=About NeteXt'73
GenericName[zh_TW]=About NeteXt'73

Exec=/opt/NeteXt73/./help kontakty
Icon=/opt/NeteXt73/ikony/netext.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;
Version=1.0
Encoding=UTF-8
# vi:set encoding=UTF-8:
