[Desktop Entry]
Name=Contact with developers
Name[ar]=Contact with developers
Name[ast]=Contact with developers
Name[be]=Contact with developers
Name[bn]=Contact with developers
Name[ca]=Contact with developers
Name[cs]=Contact with developers
Name[da]=Contact with developers
Name[de]=Contact with developers
Name[el]=Contact with developers
Name[en_GB]=Contact with developers
Name[eo]=Contact with developers
Name[es]=Contact with developers
Name[et]=Contact with developers
Name[eu]=Contact with developers
Name[fi]=Contact with developers
Name[fr]=Le contact avec les développeurs
Name[gl]=Contact with developers
Name[he]=Contact with developers
Name[hr]=Contact with developers
Name[hu]=Contact with developers
Name[id]=Contact with developers
Name[it]=Contact with developers
Name[ja]=Contact with developers
Name[kk]=Contact with developers
Name[ko]=Contact with developers
Name[lt]=Contact with developers
Name[lv]=Contact with developers
Name[nb]=Contact with developers
Name[nl]=Contact with developers
Name[nn]=Contact with developers
Name[pa]=Contact with developers
Name[pl]=Kontakt z autorami programu
Name[pt]=Contact with developers
Name[pt_BR]=Contact with developers
Name[ro]=Contact with developers
Name[ru]=Contact with developers
Name[si]=Contact with developers
Name[sk]=Contact with developers
Name[sq]=Contact with developers
Name[sr]=Contact with developers
Name[sv]=Contact with developers
Name[te]=Contact with developers
Name[tr]=Contact with developers
Name[ug]=Contact with developers
Name[uk]=Contact with developers
Name[ur]=Contact with developers
Name[ur_PK]=Contact with developers
Name[vi]=Contact with developers
Name[zh_CN]=Contact with developers
Name[zh_TW]=Contact with developers
Comment=Contact with developers
Comment[ar]=Contact with developers
Comment[ast]=Contact with developers
Comment[be]=Contact with developers
Comment[bn]=Contact with developers
Comment[ca]=Contact with developers
Comment[cs]=Contact with developers
Comment[da]=Contact with developers
Comment[de]=Contact with developers
Comment[el]=Contact with developers
Comment[en_GB]=Contact with developers
Comment[eo]=Contact with developers
Comment[es]=Contact with developers
Comment[et]=Contact with developers
Comment[eu]=Contact with developers
Comment[fi]=Contact with developers
Comment[fr]=Le contact avec les développeurs
Comment[gl]=Contact with developers
Comment[he]=Contact with developers
Comment[hr]=Contact with developers
Comment[hu]=Contact with developers
Comment[id]=Contact with developers
Comment[it]=Contact with developers
Comment[ja]=Contact with developers
Comment[kk]=Contact with developers
Comment[ko]=Contact with developers
Comment[lt]=Contact with developers
Comment[lv]=Contact with developers
Comment[nb]=Contact with developers
Comment[nl]=Contact with developers
Comment[nn]=Contact with developers
Comment[pa]=Contact with developers
Comment[pl]=Kontakt z autorami programu
Comment[pt]=Contact with developers
Comment[pt_BR]=Contact with developers
Comment[ro]=Contact with developers
Comment[ru]=Contact with developers
Comment[sk]=Contact with developers
Comment[sq]=Contact with developers
Comment[sr]=Contact with developers
Comment[sv]=Contact with developers
Comment[te]=Contact with developers
Comment[tr]=Contact with developers
Comment[ug]=Contact with developers
Comment[uk]=Contact with developers
Comment[ur]=Contact with developers
Comment[ur_PK]=Contact with developers
Comment[vi]=Contact with developers
Comment[zh_CN]=Contact with developers
Comment[zh_TW]=Contact with developers
GenericName=Contact with developers
GenericName[ar]=Contact with developers
GenericName[ast]=Contact with developers
GenericName[be]=Contact with developers
GenericName[bn]=Contact with developers
GenericName[ca]=Contact with developers
GenericName[cs]=Contact with developers
GenericName[da]=Contact with developers
GenericName[de]=Contact with developers
GenericName[el]=Contact with developers
GenericName[en_GB]=Contact with developers
GenericName[eo]=Contact with developers
GenericName[es]=Contact with developers
GenericName[et]=Contact with developers
GenericName[eu]=Contact with developers
GenericName[fi]=Contact with developers
GenericName[fr]=Le contact avec les développeurs
GenericName[gl]=Contact with developers
GenericName[he]=Contact with developers
GenericName[hr]=Contact with developers
GenericName[hu]=Contact with developers
GenericName[id]=Contact with developers
GenericName[it]=Contact with developers
GenericName[ja]=Contact with developers
GenericName[kk]=Contact with developers
GenericName[ko]=Contact with developers
GenericName[lt]=Contact with developers
GenericName[lv]=Contact with developers
GenericName[nb]=Contact with developers
GenericName[nl]=Contact with developers
GenericName[nn]=Contact with developers
GenericName[pa]=Contact with developers
GenericName[pl]=Kontakt z autorami programu
GenericName[pt]=Contact with developers
GenericName[pt_BR]=Contact with developers
GenericName[ro]=Contact with developers
GenericName[ru]=Contact with developers
GenericName[si]=Contact with developers
GenericName[sk]=Contact with developers
GenericName[sq]=Contact with developers
GenericName[sr]=Contact with developers
GenericName[sv]=Contact with developers
GenericName[te]=Contact with developers
GenericName[tr]=Contact with developers
GenericName[ug]=Contact with developers
GenericName[uk]=Contact with developers
GenericName[ur]=Contact with developers
GenericName[ur_PK]=Contact with developers
GenericName[vi]=Contact with developers
GenericName[zh_CN]=Contact with developers
GenericName[zh_TW]=Contact with developers

Exec=/opt/NeteXt73/./help kontakty
Icon=/opt/NeteXt73/ikony/mail.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;
Version=1.0
Encoding=UTF-8
# vi:set encoding=UTF-8:
