[Desktop Entry]
Name=Graphical installer \nNVIDIA GPU Drivers
Name[ar]=Graphical installer \nNVIDIA GPU Drivers
Name[ast]=Graphical installer \nNVIDIA GPU Drivers
Name[be]=Graphical installer \nNVIDIA GPU Drivers
Name[bn]=Graphical installer \nNVIDIA GPU Drivers
Name[ca]=Graphical installer \nNVIDIA GPU Drivers
Name[cs]=Graphical installer \nNVIDIA GPU Drivers
Name[da]=Graphical installer \nNVIDIA GPU Drivers
Name[de]=Graphical installer \nNVIDIA GPU Drivers
Name[el]=Graphical installer \nNVIDIA GPU Drivers
Name[en_GB]=Graphical installer \nNVIDIA GPU Drivers
Name[eo]=Graphical installer \nNVIDIA GPU Drivers
Name[es]=Graphical installer \nNVIDIA GPU Drivers
Name[et]=Graphical installer \nNVIDIA GPU Drivers
Name[eu]=Graphical installer \nNVIDIA GPU Drivers
Name[fi]=Graphical installer \nNVIDIA GPU Drivers
Name[fr]=Installateur graphique des\npilotes pour les cartes\ngraphiques Nvidia
Name[gl]=Graphical installer \nNVIDIA GPU Drivers
Name[he]=Graphical installer \nNVIDIA GPU Drivers
Name[hr]=Graphical installer \nNVIDIA GPU Drivers
Name[hu]=Graphical installer \nNVIDIA GPU Drivers
Name[id]=Graphical installer \nNVIDIA GPU Drivers
Name[it]=Graphical installer \nNVIDIA GPU Drivers
Name[ja]=Graphical installer \nNVIDIA GPU Drivers
Name[kk]=Graphical installer \nNVIDIA GPU Drivers
Name[ko]=Graphical installer \nNVIDIA GPU Drivers
Name[lt]=Graphical installer \nNVIDIA GPU Drivers
Name[lv]=Graphical installer \nNVIDIA GPU Drivers
Name[nb]=Graphical installer \nNVIDIA GPU Drivers
Name[nl]=Graphical installer \nNVIDIA GPU Drivers
Name[nn]=Graphical installer \nNVIDIA GPU Drivers
Name[pa]=Graphical installer \nNVIDIA GPU Drivers
Name[pl]=Graficzny instalator sterowników do kart graficznych Nvidia
Name[pt]=Graphical installer \nNVIDIA GPU Drivers
Name[pt_BR]=Graphical installer \nNVIDIA GPU Drivers
Name[ro]=Graphical installer \nNVIDIA GPU Drivers
Name[ru]=Graphical installer \nNVIDIA GPU Drivers
Name[si]=Graphical installer \nNVIDIA GPU Drivers
Name[sk]=Graphical installer \nNVIDIA GPU Drivers
Name[sq]=Graphical installer \nNVIDIA GPU Drivers
Name[sr]=Graphical installer \nNVIDIA GPU Drivers
Name[sv]=Graphical installer \nNVIDIA GPU Drivers
Name[te]=Graphical installer \nNVIDIA GPU Drivers
Name[tr]=Graphical installer \nNVIDIA GPU Drivers
Name[ug]=Graphical installer \nNVIDIA GPU Drivers
Name[uk]=Graphical installer \nNVIDIA GPU Drivers
Name[ur]=Graphical installer \nNVIDIA GPU Drivers
Name[ur_PK]=Graphical installer \nNVIDIA GPU Drivers
Name[vi]=Graphical installer \nNVIDIA GPU Drivers
Name[zh_CN]=Graphical installer \nNVIDIA GPU Drivers
Name[zh_TW]=Graphical installer \nNVIDIA GPU Drivers
Comment=Graphical installer \nNVIDIA GPU Drivers
Comment[ar]=Graphical installer \nNVIDIA GPU Drivers
Comment[ast]=Graphical installer \nNVIDIA GPU Drivers
Comment[be]=Graphical installer \nNVIDIA GPU Drivers
Comment[bn]=Graphical installer \nNVIDIA GPU Drivers
Comment[ca]=Graphical installer \nNVIDIA GPU Drivers
Comment[cs]=Graphical installer \nNVIDIA GPU Drivers
Comment[da]=Graphical installer \nNVIDIA GPU Drivers
Comment[de]=Graphical installer \nNVIDIA GPU Drivers
Comment[el]=Graphical installer \nNVIDIA GPU Drivers
Comment[en_GB]=Graphical installer \nNVIDIA GPU Drivers
Comment[eo]=Graphical installer \nNVIDIA GPU Drivers
Comment[es]=Graphical installer \nNVIDIA GPU Drivers
Comment[et]=Graphical installer \nNVIDIA GPU Drivers
Comment[eu]=Graphical installer \nNVIDIA GPU Drivers
Comment[fi]=Graphical installer \nNVIDIA GPU Drivers
Comment[fr]=Installateur graphique des pilotes \npour les cartes graphiques Nvidia
Comment[gl]=Graphical installer \nNVIDIA GPU Drivers
Comment[he]=Graphical installer \nNVIDIA GPU Drivers
Comment[hr]=Graphical installer \nNVIDIA GPU Drivers
Comment[hu]=Graphical installer \nNVIDIA GPU Drivers
Comment[id]=Graphical installer \nNVIDIA GPU Drivers
Comment[it]=Graphical installer \nNVIDIA GPU Drivers
Comment[ja]=Graphical installer \nNVIDIA GPU Drivers
Comment[kk]=Graphical installer \nNVIDIA GPU Drivers
Comment[ko]=Graphical installer \nNVIDIA GPU Drivers
Comment[lt]=Graphical installer \nNVIDIA GPU Drivers
Comment[lv]=Graphical installer \nNVIDIA GPU Drivers
Comment[nb]=Graphical installer \nNVIDIA GPU Drivers
Comment[nl]=Graphical installer \nNVIDIA GPU Drivers
Comment[nn]=Graphical installer \nNVIDIA GPU Drivers
Comment[pa]=Graphical installer \nNVIDIA GPU Drivers
Comment[pl]=Graficzny instalator sterowników do kart graficznych Nvidia
Comment[pt]=Graphical installer \nNVIDIA GPU Drivers
Comment[pt_BR]=Graphical installer \nNVIDIA GPU Drivers
Comment[ro]=Graphical installer \nNVIDIA GPU Drivers
Comment[ru]=Graphical installer \nNVIDIA GPU Drivers
Comment[sk]=Graphical installer \nNVIDIA GPU Drivers
Comment[sq]=Graphical installer \nNVIDIA GPU Drivers
Comment[sr]=Graphical installer \nNVIDIA GPU Drivers
Comment[sv]=Graphical installer \nNVIDIA GPU Drivers
Comment[te]=Graphical installer \nNVIDIA GPU Drivers
Comment[tr]=Graphical installer \nNVIDIA GPU Drivers
Comment[ug]=Graphical installer \nNVIDIA GPU Drivers
Comment[uk]=Graphical installer \nNVIDIA GPU Drivers
Comment[ur]=Graphical installer \nNVIDIA GPU Drivers
Comment[ur_PK]=Graphical installer \nNVIDIA GPU Drivers
Comment[vi]=Graphical installer \nNVIDIA GPU Drivers
Comment[zh_CN]=Graphical installer \nNVIDIA GPU Drivers
Comment[zh_TW]=Graphical installer \nNVIDIA GPU Drivers
GenericName=Graphical installer \nNVIDIA GPU Drivers
GenericName[ar]=Graphical installer \nNVIDIA GPU Drivers
GenericName[ast]=Graphical installer \nNVIDIA GPU Drivers
GenericName[be]=Graphical installer \nNVIDIA GPU Drivers
GenericName[bn]=Graphical installer \nNVIDIA GPU Drivers
GenericName[ca]=Graphical installer \nNVIDIA GPU Drivers
GenericName[cs]=Graphical installer \nNVIDIA GPU Drivers
GenericName[da]=Graphical installer \nNVIDIA GPU Drivers
GenericName[de]=Graphical installer \nNVIDIA GPU Drivers
GenericName[el]=Graphical installer \nNVIDIA GPU Drivers
GenericName[en_GB]=Graphical installer \nNVIDIA GPU Drivers
GenericName[eo]=Graphical installer \nNVIDIA GPU Drivers
GenericName[es]=Graphical installer \nNVIDIA GPU Drivers
GenericName[et]=Graphical installer \nNVIDIA GPU Drivers
GenericName[eu]=Graphical installer \nNVIDIA GPU Drivers
GenericName[fi]=Graphical installer \nNVIDIA GPU Drivers
GenericName[fr]=Installateur graphique des pilotes \npour les cartes graphiques Nvidia
GenericName[gl]=Graphical installer \nNVIDIA GPU Drivers
GenericName[he]=Graphical installer \nNVIDIA GPU Drivers
GenericName[hr]=Graphical installer \nNVIDIA GPU Drivers
GenericName[hu]=Graphical installer \nNVIDIA GPU Drivers
GenericName[id]=Graphical installer \nNVIDIA GPU Drivers
GenericName[it]=Graphical installer \nNVIDIA GPU Drivers
GenericName[ja]=Graphical installer \nNVIDIA GPU Drivers
GenericName[kk]=Graphical installer \nNVIDIA GPU Drivers
GenericName[ko]=Graphical installer \nNVIDIA GPU Drivers
GenericName[lt]=Graphical installer \nNVIDIA GPU Drivers
GenericName[lv]=Graphical installer \nNVIDIA GPU Drivers
GenericName[nb]=Graphical installer \nNVIDIA GPU Drivers
GenericName[nl]=Graphical installer \nNVIDIA GPU Drivers
GenericName[nn]=Graphical installer \nNVIDIA GPU Drivers
GenericName[pa]=Graphical installer \nNVIDIA GPU Drivers
GenericName[pl]=Graficzny instalator sterowników do kart graficznych Nvidia
GenericName[pt]=Graphical installer \nNVIDIA GPU Drivers
GenericName[pt_BR]=Graphical installer \nNVIDIA GPU Drivers
GenericName[ro]=Graphical installer \nNVIDIA GPU Drivers
GenericName[ru]=Graphical installer \nNVIDIA GPU Drivers
GenericName[si]=Graphical installer \nNVIDIA GPU Drivers
GenericName[sk]=Graphical installer \nNVIDIA GPU Drivers
GenericName[sq]=Graphical installer \nNVIDIA GPU Drivers
GenericName[sr]=Graphical installer \nNVIDIA GPU Drivers
GenericName[sv]=Graphical installer \nNVIDIA GPU Drivers
GenericName[te]=Graphical installer \nNVIDIA GPU Drivers
GenericName[tr]=Graphical installer \nNVIDIA GPU Drivers
GenericName[ug]=Graphical installer \nNVIDIA GPU Drivers
GenericName[uk]=Graphical installer \nNVIDIA GPU Drivers
GenericName[ur]=Graphical installer \nNVIDIA GPU Drivers
GenericName[ur_PK]=Graphical installer \nNVIDIA GPU Drivers
GenericName[vi]=Graphical installer \nNVIDIA GPU Drivers
GenericName[zh_CN]=Graphical installer \nNVIDIA GPU Drivers
GenericName[zh_TW]=Graphical installer \nNVIDIA GPU Drivers

Exec=/opt/NeteXt73/./nvidia
Icon=/opt/NeteXt73/ikony/nvidia.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;
Version=1.0
Encoding=UTF-8
# vi:set encoding=UTF-8:
