[Desktop Entry]
Name=System logs
Name[ar]=System logs
Name[ast]=System logs
Name[be]=System logs
Name[bn]=System logs
Name[ca]=System logs
Name[cs]=System logs
Name[da]=System logs
Name[de]=System logs
Name[el]=System logs
Name[en_GB]=System logs
Name[eo]=System logs
Name[es]=System logs
Name[et]=System logs
Name[eu]=System logs
Name[fi]=System logs
Name[fr]=Journaux de système
Name[gl]=System logs
Name[he]=System logs
Name[hr]=System logs
Name[hu]=System logs
Name[id]=System logs
Name[it]=System logs
Name[ja]=System logs
Name[kk]=System logs
Name[ko]=System logs
Name[lt]=System logs
Name[lv]=System logs
Name[nb]=System logs
Name[nl]=System logs
Name[nn]=System logs
Name[pa]=System logs
Name[pl]=Logi systemowe
Name[pt]=System logs
Name[pt_BR]=System logs
Name[ro]=System logs
Name[ru]=System logs
Name[si]=System logs
Name[sk]=System logs
Name[sq]=System logs
Name[sr]=System logs
Name[sv]=System logs
Name[te]=System logs
Name[tr]=System logs
Name[ug]=System logs
Name[uk]=System logs
Name[ur]=System logs
Name[ur_PK]=System logs
Name[vi]=System logs
Name[zh_CN]=System logs
Name[zh_TW]=System logs
Comment=System logs
Comment[ar]=System logs
Comment[ast]=System logs
Comment[be]=System logs
Comment[bn]=System logs
Comment[ca]=System logs
Comment[cs]=System logs
Comment[da]=System logs
Comment[de]=System logs
Comment[el]=System logs
Comment[en_GB]=System logs
Comment[eo]=System logs
Comment[es]=System logs
Comment[et]=System logs
Comment[eu]=System logs
Comment[fi]=System logs
Comment[fr]=Journaux de système
Comment[gl]=System logs
Comment[he]=System logs
Comment[hr]=System logs
Comment[hu]=System logs
Comment[id]=System logs
Comment[it]=System logs
Comment[ja]=System logs
Comment[kk]=System logs
Comment[ko]=System logs
Comment[lt]=System logs
Comment[lv]=System logs
Comment[nb]=System logs
Comment[nl]=System logs
Comment[nn]=System logs
Comment[pa]=System logs
Comment[pl]=Logi systemowe
Comment[pt]=System logs
Comment[pt_BR]=System logs
Comment[ro]=System logs
Comment[ru]=System logs
Comment[sk]=System logs
Comment[sq]=System logs
Comment[sr]=System logs
Comment[sv]=System logs
Comment[te]=System logs
Comment[tr]=System logs
Comment[ug]=System logs
Comment[uk]=System logs
Comment[ur]=System logs
Comment[ur_PK]=System logs
Comment[vi]=System logs
Comment[zh_CN]=System logs
Comment[zh_TW]=System logs
GenericName=System logs
GenericName[ar]=System logs
GenericName[ast]=System logs
GenericName[be]=System logs
GenericName[bn]=System logs
GenericName[ca]=System logs
GenericName[cs]=System logs
GenericName[da]=System logs
GenericName[de]=System logs
GenericName[el]=System logs
GenericName[en_GB]=System logs
GenericName[eo]=System logs
GenericName[es]=System logs
GenericName[et]=System logs
GenericName[eu]=System logs
GenericName[fi]=System logs
GenericName[fr]=Journaux de système
GenericName[gl]=System logs
GenericName[he]=System logs
GenericName[hr]=System logs
GenericName[hu]=System logs
GenericName[id]=System logs
GenericName[it]=System logs
GenericName[ja]=System logs
GenericName[kk]=System logs
GenericName[ko]=System logs
GenericName[lt]=System logs
GenericName[lv]=System logs
GenericName[nb]=System logs
GenericName[nl]=System logs
GenericName[nn]=System logs
GenericName[pa]=System logs
GenericName[pl]=Logi systemowe
GenericName[pt]=System logs
GenericName[pt_BR]=System logs
GenericName[ro]=System logs
GenericName[ru]=System logs
GenericName[si]=System logs
GenericName[sk]=System logs
GenericName[sq]=System logs
GenericName[sr]=System logs
GenericName[sv]=System logs
GenericName[te]=System logs
GenericName[tr]=System logs
GenericName[ug]=System logs
GenericName[uk]=System logs
GenericName[ur]=System logs
GenericName[ur_PK]=System logs
GenericName[vi]=System logs
GenericName[zh_CN]=System logs
GenericName[zh_TW]=System logs

Exec=/opt/NeteXt73/./logi
Icon=/opt/NeteXt73/ikony/logi.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;
Version=1.0
Encoding=UTF-8
# vi:set encoding=UTF-8:
