[Desktop Entry]
Name=Tasksel - Installer various server services
Name[ar]=Tasksel - Installer various server services
Name[ast]=Tasksel - Installer various server services
Name[be]=Tasksel - Installer various server services
Name[bn]=Tasksel - Installer various server services
Name[ca]=Tasksel - Installer various server services
Name[cs]=Tasksel - Installer various server services
Name[da]=Tasksel - Installer various server services
Name[de]=Tasksel - Installer various server services
Name[el]=Tasksel - Installer various server services
Name[en_GB]=Tasksel - Installer various server services
Name[eo]=Tasksel - Installer various server services
Name[es]=Tasksel - Installer various server services
Name[et]=Tasksel - Installer various server services
Name[eu]=Tasksel - Installer various server services
Name[fi]=Tasksel - Installer various server services
Name[fr]=Tasksel - Installateur des différents services du serveur
Name[gl]=Tasksel - Installer various server services
Name[he]=Tasksel - Installer various server services
Name[hr]=Tasksel - Installer various server services
Name[hu]=Tasksel - Installer various server services
Name[id]=Tasksel - Installer various server services
Name[it]=Tasksel - Installer various server services
Name[ja]=Tasksel - Installer various server services
Name[kk]=Tasksel - Installer various server services
Name[ko]=Tasksel - Installer various server services
Name[lt]=Tasksel - Installer various server services
Name[lv]=Tasksel - Installer various server services
Name[nb]=Tasksel - Installer various server services
Name[nl]=Tasksel - Installer various server services
Name[nn]=Tasksel - Installer various server services
Name[pa]=Tasksel - Installer various server services
Name[pl]=Tasksel - instalator usług serwerowych
Name[pt]=Tasksel - Installer various server services
Name[pt_BR]=Tasksel - Installer various server services
Name[ro]=Tasksel - Installer various server services
Name[ru]=Tasksel - Installer various server services
Name[si]=Tasksel - Installer various server services
Name[sk]=Tasksel - Installer various server services
Name[sq]=Tasksel - Installer various server services
Name[sr]=Tasksel - Installer various server services
Name[sv]=Tasksel - Installer various server services
Name[te]=Tasksel - Installer various server services
Name[tr]=Tasksel - Installer various server services
Name[ug]=Tasksel - Installer various server services
Name[uk]=Tasksel - Installer various server services
Name[ur]=Tasksel - Installer various server services
Name[ur_PK]=Tasksel - Installer various server services
Name[vi]=Tasksel - Installer various server services
Name[zh_CN]=Tasksel - Installer various server services
Name[zh_TW]=Tasksel - Installer various server services
Comment=Installer various server services /ftp, ssh, apache, etc/
Comment[ar]=Installer various server services /ftp, ssh, apache, etc/
Comment[ast]=Installer various server services /ftp, ssh, apache, etc/
Comment[be]=Installer various server services /ftp, ssh, apache, etc/
Comment[bn]=Installer various server services /ftp, ssh, apache, etc/
Comment[ca]=Installer various server services /ftp, ssh, apache, etc/
Comment[cs]=Installer various server services /ftp, ssh, apache, etc/
Comment[da]=Installer various server services /ftp, ssh, apache, etc/
Comment[de]=Installer various server services /ftp, ssh, apache, etc/
Comment[el]=Installer various server services /ftp, ssh, apache, etc/
Comment[en_GB]=Installer various server services /ftp, ssh, apache, etc/
Comment[eo]=Installer various server services /ftp, ssh, apache, etc/
Comment[es]=Installer various server services /ftp, ssh, apache, etc/
Comment[et]=Installer various server services /ftp, ssh, apache, etc/
Comment[eu]=Installer various server services /ftp, ssh, apache, etc/
Comment[fi]=Installer various server services /ftp, ssh, apache, etc/
Comment[fr]=Installateur des différents services du serveur /ftp, ssh, apache, etc/
Comment[gl]=Installer various server services /ftp, ssh, apache, etc/
Comment[he]=Installer various server services /ftp, ssh, apache, etc/
Comment[hr]=Installer various server services /ftp, ssh, apache, etc/
Comment[hu]=Installer various server services /ftp, ssh, apache, etc/
Comment[id]=Installer various server services /ftp, ssh, apache, etc/
Comment[it]=Installer various server services /ftp, ssh, apache, etc/
Comment[ja]=Installer various server services /ftp, ssh, apache, etc/
Comment[kk]=Installer various server services /ftp, ssh, apache, etc/
Comment[ko]=Installer various server services /ftp, ssh, apache, etc/
Comment[lt]=Installer various server services /ftp, ssh, apache, etc/
Comment[lv]=Installer various server services /ftp, ssh, apache, etc/
Comment[nb]=Installer various server services /ftp, ssh, apache, etc/
Comment[nl]=Installer various server services /ftp, ssh, apache, etc/
Comment[nn]=Installer various server services /ftp, ssh, apache, etc/
Comment[pa]=Installer various server services /ftp, ssh, apache, etc/
Comment[pl]=Instalator różnych usług serwerowych /ftp,ssh,apache itp/
Comment[pt]=Installer various server services /ftp, ssh, apache, etc/
Comment[pt_BR]=Installer various server services /ftp, ssh, apache, etc/
Comment[ro]=Installer various server services /ftp, ssh, apache, etc/
Comment[ru]=Installer various server services /ftp, ssh, apache, etc/
Comment[sk]=Installer various server services /ftp, ssh, apache, etc/
Comment[sq]=Installer various server services /ftp, ssh, apache, etc/
Comment[sr]=Installer various server services /ftp, ssh, apache, etc/
Comment[sv]=Installer various server services /ftp, ssh, apache, etc/
Comment[te]=Installer various server services /ftp, ssh, apache, etc/
Comment[tr]=Installer various server services /ftp, ssh, apache, etc/
Comment[ug]=Installer various server services /ftp, ssh, apache, etc/
Comment[uk]=Installer various server services /ftp, ssh, apache, etc/
Comment[ur]=Installer various server services /ftp, ssh, apache, etc/
Comment[ur_PK]=Installer various server services /ftp, ssh, apache, etc/
Comment[vi]=Installer various server services /ftp, ssh, apache, etc/
Comment[zh_CN]=Installer various server services /ftp, ssh, apache, etc/
Comment[zh_TW]=Installer various server services /ftp, ssh, apache, etc/
GenericName=Tasksel - Installer various server services
GenericName[ar]=Tasksel - Installer various server services
GenericName[ast]=Tasksel - Installer various server services
GenericName[be]=Tasksel - Installer various server services
GenericName[bn]=Tasksel - Installer various server services
GenericName[ca]=Tasksel - Installer various server services
GenericName[cs]=Tasksel - Installer various server services
GenericName[da]=Tasksel - Installer various server services
GenericName[de]=Tasksel - Installer various server services
GenericName[el]=Tasksel - Installer various server services
GenericName[en_GB]=Tasksel - Installer various server services
GenericName[eo]=Tasksel - Installer various server services
GenericName[es]=Tasksel - Installer various server services
GenericName[et]=Tasksel - Installer various server services
GenericName[eu]=Tasksel - Installer various server services
GenericName[fi]=Tasksel - Installer various server services
GenericName[fr]=Tasksel - Installateur des différents services du serveur
GenericName[gl]=Tasksel - Installer various server services
GenericName[he]=Tasksel - Installer various server services
GenericName[hr]=Tasksel - Installer various server services
GenericName[hu]=Tasksel - Installer various server services
GenericName[id]=Tasksel - Installer various server services
GenericName[it]=Tasksel - Installer various server services
GenericName[ja]=Tasksel - Installer various server services
GenericName[kk]=Tasksel - Installer various server services
GenericName[ko]=Tasksel - Installer various server services
GenericName[lt]=Tasksel - Installer various server services
GenericName[lv]=Tasksel - Installer various server services
GenericName[nb]=Tasksel - Installer various server services
GenericName[nl]=Tasksel - Installer various server services
GenericName[nn]=Tasksel - Installer various server services
GenericName[pa]=Tasksel - Installer various server services
GenericName[pl]=Tasksel - instalator usług serwerowych
GenericName[pt]=Tasksel - Installer various server services
GenericName[pt_BR]=Tasksel - Installer various server services
GenericName[ro]=Tasksel - Installer various server services
GenericName[ru]=Tasksel - Installer various server services
GenericName[si]=Tasksel - Installer various server services
GenericName[sk]=Tasksel - Installer various server services
GenericName[sq]=Tasksel - Installer various server services
GenericName[sr]=Tasksel - Installer various server services
GenericName[sv]=Tasksel - Installer various server services
GenericName[te]=Tasksel - Installer various server services
GenericName[tr]=Tasksel - Installer various server services
GenericName[ug]=Tasksel - Installer various server services
GenericName[uk]=Tasksel - Installer various server services
GenericName[ur]=Tasksel - Installer various server services
GenericName[ur_PK]=Tasksel - Installer various server services
GenericName[vi]=Tasksel - Installer various server services
GenericName[zh_CN]=Tasksel - Installer various server services
GenericName[zh_TW]=Tasksel - Installer various server services

Exec=/opt/NeteXt73/./tasksel
Icon=/opt/NeteXt73/ikony/configure2.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;
Version=1.0
Encoding=UTF-8
# vi:set encoding=UTF-8:
