[Desktop Entry]
Name=Free up unused memory setup
Name[ar]=Free up unused memory setup
Name[ast]=Free up unused memory setup
Name[be]=Free up unused memory setup
Name[bn]=Free up unused memory setup
Name[ca]=Free up unused memory setup
Name[cs]=Free up unused memory setup
Name[da]=Free up unused memory setup
Name[de]=Free up unused memory setup
Name[el]=Free up unused memory setup
Name[en_GB]=Free up unused memory setup
Name[eo]=Free up unused memory setup
Name[es]=Free up unused memory setup
Name[et]=Free up unused memory setup
Name[eu]=Free up unused memory setup
Name[fi]=Free up unused memory setup
Name[fr]=Gérer cache nettoyage
Name[gl]=Free up unused memory setup
Name[he]=Free up unused memory setup
Name[hr]=Free up unused memory setup
Name[hu]=Free up unused memory setup
Name[id]=Free up unused memory setup
Name[it]=Free up unused memory setup
Name[ja]=Free up unused memory setup
Name[kk]=Free up unused memory setup
Name[ko]=Free up unused memory setup
Name[lt]=Free up unused memory setup
Name[lv]=Free up unused memory setup
Name[nb]=Free up unused memory setup
Name[nl]=Free up unused memory setup
Name[nn]=Free up unused memory setup
Name[pa]=Free up unused memory setup
Name[pl]=Zarządzaj czyszczeniem pamięci cache
Name[pt]=Free up unused memory setup
Name[pt_BR]=Free up unused memory setup
Name[ro]=Free up unused memory setup
Name[ru]=Free up unused memory setup
Name[si]=Free up unused memory setup
Name[sk]=Free up unused memory setup
Name[sq]=Free up unused memory setup
Name[sr]=Free up unused memory setup
Name[sv]=Free up unused memory setup
Name[te]=Free up unused memory setup
Name[tr]=Free up unused memory setup
Name[ug]=Free up unused memory setup
Name[uk]=Free up unused memory setup
Name[ur]=Free up unused memory setup
Name[ur_PK]=Free up unused memory setup
Name[vi]=Free up unused memory setup
Name[zh_CN]=Free up unused memory setup
Name[zh_TW]=Free up unused memory setup
Comment=Free up unused memory setup
Comment[ar]=Free up unused memory setup
Comment[ast]=Free up unused memory setup
Comment[be]=Free up unused memory setup
Comment[bn]=Free up unused memory setup
Comment[ca]=Free up unused memory setup
Comment[cs]=Free up unused memory setup
Comment[da]=Free up unused memory setup
Comment[de]=Free up unused memory setup
Comment[el]=Free up unused memory setup
Comment[en_GB]=Free up unused memory setup
Comment[eo]=Free up unused memory setup
Comment[es]=Free up unused memory setup
Comment[et]=Free up unused memory setup
Comment[eu]=Free up unused memory setup
Comment[fi]=Free up unused memory setup
Comment[fr]=Gérer cache nettoyage
Comment[gl]=Free up unused memory setup
Comment[he]=Free up unused memory setup
Comment[hr]=Free up unused memory setup
Comment[hu]=Free up unused memory setup
Comment[id]=Free up unused memory setup
Comment[it]=Free up unused memory setup
Comment[ja]=Free up unused memory setup
Comment[kk]=Free up unused memory setup
Comment[ko]=Free up unused memory setup
Comment[lt]=Free up unused memory setup
Comment[lv]=Free up unused memory setup
Comment[nb]=Free up unused memory setup
Comment[nl]=Free up unused memory setup
Comment[nn]=Free up unused memory setup
Comment[pa]=Free up unused memory setup
Comment[pl]=Zarządzaj czyszczeniem pamięci cache
Comment[pt]=Free up unused memory setup
Comment[pt_BR]=Free up unused memory setup
Comment[ro]=Free up unused memory setup
Comment[ru]=Free up unused memory setup
Comment[sk]=Free up unused memory setup
Comment[sq]=Free up unused memory setup
Comment[sr]=Free up unused memory setup
Comment[sv]=Free up unused memory setup
Comment[te]=Free up unused memory setup
Comment[tr]=Free up unused memory setup
Comment[ug]=Free up unused memory setup
Comment[uk]=Free up unused memory setup
Comment[ur]=Free up unused memory setup
Comment[ur_PK]=Free up unused memory setup
Comment[vi]=Free up unused memory setup
Comment[zh_CN]=Free up unused memory setup
Comment[zh_TW]=Free up unused memory setup
GenericName=Free up unused memory setup
GenericName[ar]=Free up unused memory setup
GenericName[ast]=Free up unused memory setup
GenericName[be]=Free up unused memory setup
GenericName[bn]=Free up unused memory setup
GenericName[ca]=Free up unused memory setup
GenericName[cs]=Free up unused memory setup
GenericName[da]=Free up unused memory setup
GenericName[de]=Free up unused memory setup
GenericName[el]=Free up unused memory setup
GenericName[en_GB]=Free up unused memory setup
GenericName[eo]=Free up unused memory setup
GenericName[es]=Free up unused memory setup
GenericName[et]=Free up unused memory setup
GenericName[eu]=Free up unused memory setup
GenericName[fi]=Free up unused memory setup
GenericName[fr]=Gérer cache nettoyage
GenericName[gl]=Free up unused memory setup
GenericName[he]=Free up unused memory setup
GenericName[hr]=Free up unused memory setup
GenericName[hu]=Free up unused memory setup
GenericName[id]=Free up unused memory setup
GenericName[it]=Free up unused memory setup
GenericName[ja]=Free up unused memory setup
GenericName[kk]=Free up unused memory setup
GenericName[ko]=Free up unused memory setup
GenericName[lt]=Free up unused memory setup
GenericName[lv]=Free up unused memory setup
GenericName[nb]=Free up unused memory setup
GenericName[nl]=Free up unused memory setup
GenericName[nn]=Free up unused memory setup
GenericName[pa]=Free up unused memory setup
GenericName[pl]=Zarządzaj czyszczeniem pamięci cache
GenericName[pt]=Free up unused memory setup
GenericName[pt_BR]=Free up unused memory setup
GenericName[ro]=Free up unused memory setup
GenericName[ru]=Free up unused memory setup
GenericName[si]=Free up unused memory setup
GenericName[sk]=Free up unused memory setup
GenericName[sq]=Free up unused memory setup
GenericName[sr]=Free up unused memory setup
GenericName[sv]=Free up unused memory setup
GenericName[te]=Free up unused memory setup
GenericName[tr]=Free up unused memory setup
GenericName[ug]=Free up unused memory setup
GenericName[uk]=Free up unused memory setup
GenericName[ur]=Free up unused memory setup
GenericName[ur_PK]=Free up unused memory setup
GenericName[vi]=Free up unused memory setup
GenericName[zh_CN]=Free up unused memory setup
GenericName[zh_TW]=Free up unused memory setup

Exec=/opt/NeteXt73/./ram
Icon=/opt/NeteXt73/ikony/ram.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;
Version=1.0
Encoding=UTF-8
# vi:set encoding=UTF-8:
