[Desktop Entry]
Name=Enable or disable guest session
Name[ar]=Enable or disable guest session
Name[ast]=Enable or disable guest session
Name[be]=Enable or disable guest session
Name[bn]=Enable or disable guest session
Name[ca]=Enable or disable guest session
Name[cs]=Enable or disable guest session
Name[da]=Enable or disable guest session
Name[de]=Enable or disable guest session
Name[el]=Enable or disable guest session
Name[en_GB]=Enable or disable guest session
Name[eo]=Enable or disable guest session
Name[es]=Enable or disable guest session
Name[et]=Enable or disable guest session
Name[eu]=Enable or disable guest session
Name[fi]=Enable or disable guest session
Name[fr]=Activer ou désactiver la session d'invité
Name[gl]=Enable or disable guest session
Name[he]=Enable or disable guest session
Name[hr]=Enable or disable guest session
Name[hu]=Enable or disable guest session
Name[id]=Enable or disable guest session
Name[it]=Enable or disable guest session
Name[ja]=Enable or disable guest session
Name[kk]=Enable or disable guest session
Name[ko]=Enable or disable guest session
Name[lt]=Enable or disable guest session
Name[lv]=Enable or disable guest session
Name[nb]=Enable or disable guest session
Name[nl]=Enable or disable guest session
Name[nn]=Enable or disable guest session
Name[pa]=Enable or disable guest session
Name[pl]=Dodaj lub usuń konto gościa
Name[pt]=Enable or disable guest session
Name[pt_BR]=Enable or disable guest session
Name[ro]=Enable or disable guest session
Name[ru]=Enable or disable guest session
Name[si]=Enable or disable guest session
Name[sk]=Enable or disable guest session
Name[sq]=Enable or disable guest session
Name[sr]=Enable or disable guest session
Name[sv]=Enable or disable guest session
Name[te]=Enable or disable guest session
Name[tr]=Enable or disable guest session
Name[ug]=Enable or disable guest session
Name[uk]=Enable or disable guest session
Name[ur]=Enable or disable guest session
Name[ur_PK]=Enable or disable guest session
Name[vi]=Enable or disable guest session
Name[zh_CN]=Enable or disable guest session
Name[zh_TW]=Enable or disable guest session
Comment=Enable or disable guest session
Comment[ar]=Enable or disable guest session
Comment[ast]=Enable or disable guest session
Comment[be]=Enable or disable guest session
Comment[bn]=Enable or disable guest session
Comment[ca]=Enable or disable guest session
Comment[cs]=Enable or disable guest session
Comment[da]=Enable or disable guest session
Comment[de]=Enable or disable guest session
Comment[el]=Enable or disable guest session
Comment[en_GB]=Enable or disable guest session
Comment[eo]=Enable or disable guest session
Comment[es]=Enable or disable guest session
Comment[et]=Enable or disable guest session
Comment[eu]=Enable or disable guest session
Comment[fi]=Enable or disable guest session
Comment[fr]=Activer ou désactiver la session d'invité
Comment[gl]=Enable or disable guest session
Comment[he]=Enable or disable guest session
Comment[hr]=Enable or disable guest session
Comment[hu]=Enable or disable guest session
Comment[id]=Enable or disable guest session
Comment[it]=Enable or disable guest session
Comment[ja]=Enable or disable guest session
Comment[kk]=Enable or disable guest session
Comment[ko]=Enable or disable guest session
Comment[lt]=Enable or disable guest session
Comment[lv]=Enable or disable guest session
Comment[nb]=Enable or disable guest session
Comment[nl]=Enable or disable guest session
Comment[nn]=Enable or disable guest session
Comment[pa]=Enable or disable guest session
Comment[pl]=Dodaj lub usuń konto gościa
Comment[pt]=Enable or disable guest session
Comment[pt_BR]=Enable or disable guest session
Comment[ro]=Enable or disable guest session
Comment[ru]=Enable or disable guest session
Comment[sk]=Enable or disable guest session
Comment[sq]=Enable or disable guest session
Comment[sr]=Enable or disable guest session
Comment[sv]=Enable or disable guest session
Comment[te]=Enable or disable guest session
Comment[tr]=Enable or disable guest session
Comment[ug]=Enable or disable guest session
Comment[uk]=Enable or disable guest session
Comment[ur]=Enable or disable guest session
Comment[ur_PK]=Enable or disable guest session
Comment[vi]=Enable or disable guest session
Comment[zh_CN]=Enable or disable guest session
Comment[zh_TW]=Enable or disable guest session
GenericName=Enable or disable guest session
GenericName[ar]=Enable or disable guest session
GenericName[ast]=Enable or disable guest session
GenericName[be]=Enable or disable guest session
GenericName[bn]=Enable or disable guest session
GenericName[ca]=Enable or disable guest session
GenericName[cs]=Enable or disable guest session
GenericName[da]=Enable or disable guest session
GenericName[de]=Enable or disable guest session
GenericName[el]=Enable or disable guest session
GenericName[en_GB]=Enable or disable guest session
GenericName[eo]=Enable or disable guest session
GenericName[es]=Enable or disable guest session
GenericName[et]=Enable or disable guest session
GenericName[eu]=Enable or disable guest session
GenericName[fi]=Enable or disable guest session
GenericName[fr]=Activer ou désactiver la session d'invité
GenericName[gl]=Enable or disable guest session
GenericName[he]=Enable or disable guest session
GenericName[hr]=Enable or disable guest session
GenericName[hu]=Enable or disable guest session
GenericName[id]=Enable or disable guest session
GenericName[it]=Enable or disable guest session
GenericName[ja]=Enable or disable guest session
GenericName[kk]=Enable or disable guest session
GenericName[ko]=Enable or disable guest session
GenericName[lt]=Enable or disable guest session
GenericName[lv]=Enable or disable guest session
GenericName[nb]=Enable or disable guest session
GenericName[nl]=Enable or disable guest session
GenericName[nn]=Enable or disable guest session
GenericName[pa]=Enable or disable guest session
GenericName[pl]=Dodaj lub usuń konto gościa
GenericName[pt]=Enable or disable guest session
GenericName[pt_BR]=Enable or disable guest session
GenericName[ro]=Enable or disable guest session
GenericName[ru]=Enable or disable guest session
GenericName[si]=Enable or disable guest session
GenericName[sk]=Enable or disable guest session
GenericName[sq]=Enable or disable guest session
GenericName[sr]=Enable or disable guest session
GenericName[sv]=Enable or disable guest session
GenericName[te]=Enable or disable guest session
GenericName[tr]=Enable or disable guest session
GenericName[ug]=Enable or disable guest session
GenericName[uk]=Enable or disable guest session
GenericName[ur]=Enable or disable guest session
GenericName[ur_PK]=Enable or disable guest session
GenericName[vi]=Enable or disable guest session
GenericName[zh_CN]=Enable or disable guest session
GenericName[zh_TW]=Enable or disable guest session

Exec=/opt/NeteXt73/./gosc
Icon=/opt/NeteXt73/ikony/gosc.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;
Version=1.0
Encoding=UTF-8
# vi:set encoding=UTF-8:
