[Desktop Entry]
Name=Software manager
Name[ar]=Software manager
Name[ast]=Software manager
Name[be]=Software manager
Name[bn]=Software manager
Name[ca]=Software manager
Name[cs]=Software manager
Name[da]=Software manager
Name[de]=Software manager
Name[el]=Software manager
Name[en_GB]=Software manager
Name[eo]=Software manager
Name[es]=Software manager
Name[et]=Software manager
Name[eu]=Software manager
Name[fi]=Software manager
Name[fr]=Sauvegarde des des dépôts
Name[gl]=Software manager
Name[he]=Software manager
Name[hr]=Software manager
Name[hu]=Software manager
Name[id]=Software manager
Name[it]=Software manager
Name[ja]=Software manager
Name[kk]=Software manager
Name[ko]=Software manager
Name[lt]=Software manager
Name[lv]=Software manager
Name[nb]=Software manager
Name[nl]=Software manager
Name[nn]=Software manager
Name[pa]=Software manager
Name[pl]=Zarządzanie oprogramowaniem
Name[pt]=Software manager
Name[pt_BR]=Software manager
Name[ro]=Software manager
Name[ru]=Software manager
Name[si]=Software manager
Name[sk]=Software manager
Name[sq]=Software manager
Name[sr]=Software manager
Name[sv]=Software manager
Name[te]=Software manager
Name[tr]=Software manager
Name[ug]=Software manager
Name[uk]=Software manager
Name[ur]=Software manager
Name[ur_PK]=Software manager
Name[vi]=Software manager
Name[zh_CN]=Software manager
Name[zh_TW]=Software manager
Comment=Create or restore backup repository or download\n a missing GPG keys
Comment[ar]=Create or restore backup repository or download\n a missing GPG keys
Comment[ast]=Create or restore backup repository or download\n a missing GPG keys
Comment[be]=Create or restore backup repository or download\n a missing GPG keys
Comment[bn]=Create or restore backup repository or download\n a missing GPG keys
Comment[ca]=Create or restore backup repository or download\n a missing GPG keys
Comment[cs]=Create or restore backup repository or download\n a missing GPG keys
Comment[da]=Create or restore backup repository or download\n a missing GPG keys
Comment[de]=Create or restore backup repository or download\n a missing GPG keys
Comment[el]=Create or restore backup repository or download\n a missing GPG keys
Comment[en_GB]=Create or restore backup repository or download\n a missing GPG keys
Comment[eo]=Create or restore backup repository or download\n a missing GPG keys
Comment[es]=Create or restore backup repository or download\n a missing GPG keys
Comment[et]=Create or restore backup repository or download\n a missing GPG keys
Comment[eu]=Create or restore backup repository or download\n a missing GPG keys
Comment[fi]=Create or restore backup repository or download\n a missing GPG keys
Comment[fr]=Crée ou restaure la sauvegarde des dépôts ou télécharge\ndes clés GPG manquantes
Comment[gl]=Create or restore backup repository or download\n a missing GPG keys
Comment[he]=Create or restore backup repository or download\n a missing GPG keys
Comment[hr]=Create or restore backup repository or download\n a missing GPG keys
Comment[hu]=Create or restore backup repository or download\n a missing GPG keys
Comment[id]=Create or restore backup repository or download\n a missing GPG keys
Comment[it]=Create or restore backup repository or download\n a missing GPG keys
Comment[ja]=Create or restore backup repository or download\n a missing GPG keys
Comment[kk]=Create or restore backup repository or download\n a missing GPG keys
Comment[ko]=Create or restore backup repository or download\n a missing GPG keys
Comment[lt]=Create or restore backup repository or download\n a missing GPG keys
Comment[lv]=Create or restore backup repository or download\n a missing GPG keys
Comment[nb]=Create or restore backup repository or download\n a missing GPG keys
Comment[nl]=Create or restore backup repository or download\n a missing GPG keys
Comment[nn]=Create or restore backup repository or download\n a missing GPG keys
Comment[pa]=Create or restore backup repository or download\n a missing GPG keys
Comment[pl]=Stwórz lub przywróć kopię zapasową repozytorium,\n przywróć brakujące klucze GPG\nlub napraw błędne podpisy kluczy GPG
Comment[pt]=Create or restore backup repository or download\n a missing GPG keys
Comment[pt_BR]=Create or restore backup repository or download\n a missing GPG keys
Comment[ro]=Create or restore backup repository or download\n a missing GPG keys
Comment[ru]=Create or restore backup repository or download\n a missing GPG keys
Comment[sk]=Create or restore backup repository or download\n a missing GPG keys
Comment[sq]=Create or restore backup repository or download\n a missing GPG keys
Comment[sr]=Create or restore backup repository or download\n a missing GPG keys
Comment[sv]=Create or restore backup repository or download\n a missing GPG keys
Comment[te]=Create or restore backup repository or download\n a missing GPG keys
Comment[tr]=Create or restore backup repository or download\n a missing GPG keys
Comment[ug]=Create or restore backup repository or download\n a missing GPG keys
Comment[uk]=Create or restore backup repository or download\n a missing GPG keys
Comment[ur]=Create or restore backup repository or download\n a missing GPG keys
Comment[ur_PK]=Create or restore backup repository or download\n a missing GPG keys
Comment[vi]=Create or restore backup repository or download\n a missing GPG keys
Comment[zh_CN]=Create or restore backup repository or download\n a missing GPG keys
Comment[zh_TW]=Create or restore backup repository or download\n a missing GPG keys
GenericName=Software manager
GenericName[ar]=Software manager
GenericName[ast]=Software manager
GenericName[be]=Software manager
GenericName[bn]=Software manager
GenericName[ca]=Software manager
GenericName[cs]=Software manager
GenericName[da]=Software manager
GenericName[de]=Software manager
GenericName[el]=Software manager
GenericName[en_GB]=Software manager
GenericName[eo]=Software manager
GenericName[es]=Software manager
GenericName[et]=Software manager
GenericName[eu]=Software manager
GenericName[fi]=Software manager
GenericName[fr]=Sauvegarde des des dépôts
GenericName[gl]=Software manager
GenericName[he]=Software manager
GenericName[hr]=Software manager
GenericName[hu]=Software manager
GenericName[id]=Software manager
GenericName[it]=Software manager
GenericName[ja]=Software manager
GenericName[kk]=Software manager
GenericName[ko]=Software manager
GenericName[lt]=Software manager
GenericName[lv]=Software manager
GenericName[nb]=Software manager
GenericName[nl]=Software manager
GenericName[nn]=Software manager
GenericName[pa]=Software manager
GenericName[pl]=Zarządzanie oprogramowaniem
GenericName[pt]=Software manager
GenericName[pt_BR]=Software manager
GenericName[ro]=Software manager
GenericName[ru]=Software manager
GenericName[si]=Software manager
GenericName[sk]=Software manager
GenericName[sq]=Software manager
GenericName[sr]=Software manager
GenericName[sv]=Software manager
GenericName[te]=Software manager
GenericName[tr]=Software manager
GenericName[ug]=Software manager
GenericName[uk]=Software manager
GenericName[ur]=Software manager
GenericName[ur_PK]=Software manager
GenericName[vi]=Software manager
GenericName[zh_CN]=Software manager
GenericName[zh_TW]=Software manager

Exec=/opt/NeteXt73/./repo
Icon=/opt/NeteXt73/ikony/backuprepo.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;
Version=1.0
Encoding=UTF-8
# vi:set encoding=UTF-8:
