[Desktop Entry]
Name=Reboot system
Name[ar]=Reboot system
Name[ast]=Reboot system
Name[be]=Reboot system
Name[bn]=Reboot system
Name[ca]=Reboot system
Name[cs]=Reboot system
Name[da]=Reboot system
Name[de]=Reboot system
Name[el]=Reboot system
Name[en_GB]=Reboot system
Name[eo]=Reboot system
Name[es]=Reboot system
Name[et]=Reboot system
Name[eu]=Reboot system
Name[fi]=Reboot system
Name[fr]=Redémarre le système
Name[gl]=Reboot system
Name[he]=Reboot system
Name[hr]=Reboot system
Name[hu]=Reboot system
Name[id]=Reboot system
Name[it]=Reboot system
Name[ja]=Reboot system
Name[kk]=Reboot system
Name[ko]=Reboot system
Name[lt]=Reboot system
Name[lv]=Reboot system
Name[nb]=Reboot system
Name[nl]=Reboot system
Name[nn]=Reboot system
Name[pa]=Reboot system
Name[pl]=Restart komputera
Name[pt]=Reboot system
Name[pt_BR]=Reboot system
Name[ro]=Reboot system
Name[ru]=Reboot system
Name[si]=Reboot system
Name[sk]=Reboot system
Name[sq]=Reboot system
Name[sr]=Reboot system
Name[sv]=Reboot system
Name[te]=Reboot system
Name[tr]=Reboot system
Name[ug]=Reboot system
Name[uk]=Reboot system
Name[ur]=Reboot system
Name[ur_PK]=Reboot system
Name[vi]=Reboot system
Name[zh_CN]=Reboot system
Name[zh_TW]=Reboot system
Comment=Reboot system
Comment[ar]=Reboot system
Comment[ast]=Reboot system
Comment[be]=Reboot system
Comment[bn]=Reboot system
Comment[ca]=Reboot system
Comment[cs]=Reboot system
Comment[da]=Reboot system
Comment[de]=Reboot system
Comment[el]=Reboot system
Comment[en_GB]=Reboot system
Comment[eo]=Reboot system
Comment[es]=Reboot system
Comment[et]=Reboot system
Comment[eu]=Reboot system
Comment[fi]=Reboot system
Comment[fr]=Redémarre le système
Comment[gl]=Reboot system
Comment[he]=Reboot system
Comment[hr]=Reboot system
Comment[hu]=Reboot system
Comment[id]=Reboot system
Comment[it]=Reboot system
Comment[ja]=Reboot system
Comment[kk]=Reboot system
Comment[ko]=Reboot system
Comment[lt]=Reboot system
Comment[lv]=Reboot system
Comment[nb]=Reboot system
Comment[nl]=Reboot system
Comment[nn]=Reboot system
Comment[pa]=Reboot system
Comment[pl]=Restart komputera
Comment[pt]=Reboot system
Comment[pt_BR]=Reboot system
Comment[ro]=Reboot system
Comment[ru]=Reboot system
Comment[sk]=Reboot system
Comment[sq]=Reboot system
Comment[sr]=Reboot system
Comment[sv]=Reboot system
Comment[te]=Reboot system
Comment[tr]=Reboot system
Comment[ug]=Reboot system
Comment[uk]=Reboot system
Comment[ur]=Reboot system
Comment[ur_PK]=Reboot system
Comment[vi]=Reboot system
Comment[zh_CN]=Reboot system
Comment[zh_TW]=Reboot system
GenericName=Reboot system
GenericName[ar]=Reboot system
GenericName[ast]=Reboot system
GenericName[be]=Reboot system
GenericName[bn]=Reboot system
GenericName[ca]=Reboot system
GenericName[cs]=Reboot system
GenericName[da]=Reboot system
GenericName[de]=Reboot system
GenericName[el]=Reboot system
GenericName[en_GB]=Reboot system
GenericName[eo]=Reboot system
GenericName[es]=Reboot system
GenericName[et]=Reboot system
GenericName[eu]=Reboot system
GenericName[fi]=Reboot system
GenericName[fr]=Redémarre le système
GenericName[gl]=Reboot system
GenericName[he]=Reboot system
GenericName[hr]=Reboot system
GenericName[hu]=Reboot system
GenericName[id]=Reboot system
GenericName[it]=Reboot system
GenericName[ja]=Reboot system
GenericName[kk]=Reboot system
GenericName[ko]=Reboot system
GenericName[lt]=Reboot system
GenericName[lv]=Reboot system
GenericName[nb]=Reboot system
GenericName[nl]=Reboot system
GenericName[nn]=Reboot system
GenericName[pa]=Reboot system
GenericName[pl]=Restart komputera
GenericName[pt]=Reboot system
GenericName[pt_BR]=Reboot system
GenericName[ro]=Reboot system
GenericName[ru]=Reboot system
GenericName[si]=Reboot system
GenericName[sk]=Reboot system
GenericName[sq]=Reboot system
GenericName[sr]=Reboot system
GenericName[sv]=Reboot system
GenericName[te]=Reboot system
GenericName[tr]=Reboot system
GenericName[ug]=Reboot system
GenericName[uk]=Reboot system
GenericName[ur]=Reboot system
GenericName[ur_PK]=Reboot system
GenericName[vi]=Reboot system
GenericName[zh_CN]=Reboot system
GenericName[zh_TW]=Reboot system

Exec=/opt/NeteXt73/./restart
Icon=/opt/NeteXt73/ikony/reboot.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;
Version=1.0
Encoding=UTF-8
# vi:set encoding=UTF-8:
