[Desktop Entry]
Name=eloaders
Name[en_GB]=eloaders
Name[fr]=eloaders
Name[pl]=eloaders
Comment=eloaders
Comment[en_GB]=eloaders
Comment[fr]=eloaders
Comment[pl]=eloaders
GenericName=eloaders
GenericName[en_GB]=eloaders
GenericName[fr]=eloaders
GenericName[pl]=eloaders
Exec=xdg-open 'http://i-nex.linux.pl'
Icon=/opt/NeteXt73/ikony/eloaders.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;
Version=1.0
Encoding=UTF-8
# vi:set encoding=UTF-8:
