[Desktop Entry]
Name=FadeMind - translations and beta tests
Name[en_GB]=FadeMind - translations and beta tests
Name[fr]=FadeMind - la traduction en anglais des textes et des bêta tests
Name[pl]=FadeMind - tłumaczenie na język angielski i beta testy
Comment=FadeMind - translations and beta tests
Comment[en_GB]=FadeMind - translations and beta tests
Comment[fr]=FadeMind - la traduction en anglais des textes et des bêta tests
Comment[pl]=FadeMind - tłumaczenie na język angielski i beta testy
GenericName=FadeMind - translations and beta tests
GenericName[en_GB]=FadeMind - translations and beta tests
GenericName[fr]=FadeMind - la traduction en anglais des textes et des bêta tests
GenericName[pl]=FadeMind - tłumaczenie na język angielski i beta testy
Exec=xdg-open 'http://tomaszprzybyl-apel.blogspot.com/'
Icon=/opt/NeteXt73/ikony/fademind.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;
Version=1.0
Encoding=UTF-8
# vi:set encoding=UTF-8:
