[Desktop Entry]
Name=FadeMind
Name[en_GB]=FadeMind
Name[fr]=FadeMind
Name[pl]=FadeMind
Comment=FadeMind
Comment[en_GB]=FadeMind
Comment[fr]=FadeMind
Comment[pl]=FadeMind
GenericName=FadeMind
GenericName[en_GB]=FadeMind
GenericName[fr]=FadeMind
GenericName[pl]=FadeMind
Exec=xdg-open 'http://tomaszprzybyl-apel.blogspot.com/'
Icon=/opt/NeteXt73/ikony/fademind.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;
Version=1.0
Encoding=UTF-8
# vi:set encoding=UTF-8:
