[Desktop Entry]
Name=e X t 7 3 - development a custom kernel and APM script
Name[en_GB]=e X t 7 3 - development a custom kernel and APM script
Name[pl]=e X t 7 3 - przygotowanie kerneli,skryptów APM oraz sterowników do kart graficznych
Name[fr]=e X t 7 3 - préparation des kernels et du script d'APM
Comment=e X t 7 3 - development a custom kernel and APM script
Comment[en_GB]=e X t 7 3 - development a custom kernel and APM script
Comment[fr]=e X t 7 3 - préparation des kernels et du script d'APM
Comment[pl]=e X t 7 3 - przygotowanie kerneli,skryptów APM oraz sterowników do kart graficznych
GenericName=e X t 7 3 - development a custom kernel and APM script 
GenericName[en_GB]=e X t 7 3 - development a custom kernel and APM script
GenericName[fr]=e X t 7 3 - préparation des kernels et du script d'APM
GenericName[pl]=e X t 7 3 - przygotowanie kerneli,skryptów APM oraz sterowników do kart graficznych
Exec=xdg-open 'http://www.netext73.pl/2014/02/e-x-t-7-3.html'
Icon=/opt/NeteXt73/ikony/ext73.jpeg
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;
Version=1.0
Encoding=UTF-8
# vi:set encoding=UTF-8:
