#!/usr/bin/env xdg-open
[Desktop Entry]
Name=XTerm
Name[ar]=XTerm
Name[ast]=XTerm
Name[be]=XTerm
Name[bn]=XTerm
Name[ca]=XTerm
Name[cs]=XTerm
Name[da]=XTerm
Name[de]=XTerm
Name[el]=XTerm
Name[en_GB]=XTerm
Name[eo]=XTerm
Name[es]=XTerm
Name[et]=XTerm
Name[eu]=XTerm
Name[fi]=XTerm
Name[fr]=XTerm
Name[gl]=XTerm
Name[he]=XTerm
Name[hr]=XTerm
Name[hu]=XTerm
Name[id]=XTerm
Name[it]=XTerm
Name[ja]=XTerm
Name[kk]=XTerm
Name[ko]=XTerm
Name[lt]=XTerm
Name[lv]=XTerm
Name[nb]=XTerm
Name[nl]=XTerm
Name[nn]=XTerm
Name[pa]=XTerm
Name[pl]=XTerm
Name[pt]=XTerm
Name[pt_BR]=XTerm
Name[ro]=XTerm
Name[ru]=XTerm
Name[si]=XTerm
Name[sk]=XTerm
Name[sq]=XTerm
Name[sr]=XTerm
Name[sv]=XTerm
Name[te]=XTerm
Name[tr]=XTerm
Name[ug]=XTerm
Name[uk]=XTerm
Name[ur]=XTerm
Name[ur_PK]=XTerm
Name[vi]=XTerm
Name[zh_CN]=XTerm
Name[zh_TW]=XTerm
Comment=Standard terminal emulator for the X window system
Comment[ar]=Standard terminal emulator for the X window system
Comment[ast]=Standard terminal emulator for the X window system
Comment[be]=Standard terminal emulator for the X window system
Comment[bn]=Standard terminal emulator for the X window system
Comment[ca]=Standard terminal emulator for the X window system
Comment[cs]=Standard terminal emulator for the X window system
Comment[da]=Standard terminal emulator for the X window system
Comment[de]=Standard terminal emulator for the X window system
Comment[el]=Standard terminal emulator for the X window system
Comment[en_GB]=Standard terminal emulator for the X window system
Comment[eo]=Standard terminal emulator for the X window system
Comment[es]=Standard terminal emulator for the X window system
Comment[et]=Standard terminal emulator for the X window system
Comment[eu]=Standard terminal emulator for the X window system
Comment[fi]=Standard terminal emulator for the X window system
Comment[fr]=Émulateur de terminal
Comment[gl]=Standard terminal emulator for the X window system
Comment[he]=Standard terminal emulator for the X window system
Comment[hr]=Standard terminal emulator for the X window system
Comment[hu]=Standard terminal emulator for the X window system
Comment[id]=Standard terminal emulator for the X window system
Comment[it]=Standard terminal emulator for the X window system
Comment[ja]=Standard terminal emulator for the X window system
Comment[kk]=Standard terminal emulator for the X window system
Comment[ko]=Standard terminal emulator for the X window system
Comment[lt]=Standard terminal emulator for the X window system
Comment[lv]=Standard terminal emulator for the X window system
Comment[nb]=Standard terminal emulator for the X window system
Comment[nl]=Standard terminal emulator for the X window system
Comment[nn]=Standard terminal emulator for the X window system
Comment[pa]=Standard terminal emulator for the X window system
Comment[pl]=Terminal
Comment[pt]=Standard terminal emulator for the X window system
Comment[pt_BR]=Standard terminal emulator for the X window system
Comment[ro]=Standard terminal emulator for the X window system
Comment[ru]=Standard terminal emulator for the X window system
Comment[sk]=Standard terminal emulator for the X window system
Comment[sq]=Standard terminal emulator for the X window system
Comment[sr]=Standard terminal emulator for the X window system
Comment[sv]=Standard terminal emulator for the X window system
Comment[te]=Standard terminal emulator for the X window system
Comment[tr]=Standard terminal emulator for the X window system
Comment[ug]=Standard terminal emulator for the X window system
Comment[uk]=Standard terminal emulator for the X window system
Comment[ur]=Standard terminal emulator for the X window system
Comment[ur_PK]=Standard terminal emulator for the X window system
Comment[vi]=Standard terminal emulator for the X window system
Comment[zh_CN]=Standard terminal emulator for the X window system
Comment[zh_TW]=Standard terminal emulator for the X window system
GenericName=XTerm
GenericName[ar]=XTerm
GenericName[ast]=XTerm
GenericName[be]=XTerm
GenericName[bn]=XTerm
GenericName[ca]=XTerm
GenericName[cs]=XTerm
GenericName[da]=XTerm
GenericName[de]=XTerm
GenericName[el]=XTerm
GenericName[en_GB]=XTerm
GenericName[eo]=XTerm
GenericName[es]=XTerm
GenericName[et]=XTerm
GenericName[eu]=XTerm
GenericName[fi]=XTerm
GenericName[fr]=XTerm
GenericName[gl]=XTerm
GenericName[he]=XTerm
GenericName[hr]=XTerm
GenericName[hu]=XTerm
GenericName[id]=XTerm
GenericName[it]=XTerm
GenericName[ja]=XTerm
GenericName[kk]=XTerm
GenericName[ko]=XTerm
GenericName[lt]=XTerm
GenericName[lv]=XTerm
GenericName[nb]=XTerm
GenericName[nl]=XTerm
GenericName[nn]=XTerm
GenericName[pa]=XTerm
GenericName[pl]=XTerm
GenericName[pt]=XTerm
GenericName[pt_BR]=XTerm
GenericName[ro]=XTerm
GenericName[ru]=XTerm
GenericName[si]=XTerm
GenericName[sk]=XTerm
GenericName[sq]=XTerm
GenericName[sr]=XTerm
GenericName[sv]=XTerm
GenericName[te]=XTerm
GenericName[tr]=XTerm
GenericName[ug]=XTerm
GenericName[uk]=XTerm
GenericName[ur]=XTerm
GenericName[ur_PK]=XTerm
GenericName[vi]=XTerm
GenericName[zh_CN]=XTerm
GenericName[zh_TW]=XTerm

Exec=/opt/NeteXt73/./xterm1
Icon=/opt/NeteXt73/ikony/terminal.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;
Version=1.0
Encoding=UTF-8
# vi:set encoding=UTF-8:
