[Desktop Entry]
Name=System monitor
Name[ar]=System monitor
Name[ast]=System monitor
Name[be]=System monitor
Name[bn]=System monitor
Name[ca]=System monitor
Name[cs]=System monitor
Name[da]=System monitor
Name[de]=System monitor
Name[el]=System monitor
Name[en_GB]=System monitor
Name[eo]=System monitor
Name[es]=System monitor
Name[et]=System monitor
Name[eu]=System monitor
Name[fi]=System monitor
Name[fr]=Moniteur système
Name[gl]=System monitor
Name[he]=System monitor
Name[hr]=System monitor
Name[hu]=System monitor
Name[id]=System monitor
Name[it]=System monitor
Name[ja]=System monitor
Name[kk]=System monitor
Name[ko]=System monitor
Name[lt]=System monitor
Name[lv]=System monitor
Name[nb]=System monitor
Name[nl]=System monitor
Name[nn]=System monitor
Name[pa]=System monitor
Name[pl]=Monitor systemowy
Name[pt]=System monitor
Name[pt_BR]=System monitor
Name[ro]=System monitor
Name[ru]=System monitor
Name[si]=System monitor
Name[sk]=System monitor
Name[sq]=System monitor
Name[sr]=System monitor
Name[sv]=System monitor
Name[te]=System monitor
Name[tr]=System monitor
Name[ug]=System monitor
Name[uk]=System monitor
Name[ur]=System monitor
Name[ur_PK]=System monitor
Name[vi]=System monitor
Name[zh_CN]=System monitor
Name[zh_TW]=System monitor
Comment=System monitor
Comment[ar]=System monitor
Comment[ast]=System monitor
Comment[be]=System monitor
Comment[bn]=System monitor
Comment[ca]=System monitor
Comment[cs]=System monitor
Comment[da]=System monitor
Comment[de]=System monitor
Comment[el]=System monitor
Comment[en_GB]=System monitor
Comment[eo]=System monitor
Comment[es]=System monitor
Comment[et]=System monitor
Comment[eu]=System monitor
Comment[fi]=System monitor
Comment[fr]=Moniteur système
Comment[gl]=System monitor
Comment[he]=System monitor
Comment[hr]=System monitor
Comment[hu]=System monitor
Comment[id]=System monitor
Comment[it]=System monitor
Comment[ja]=System monitor
Comment[kk]=System monitor
Comment[ko]=System monitor
Comment[lt]=System monitor
Comment[lv]=System monitor
Comment[nb]=System monitor
Comment[nl]=System monitor
Comment[nn]=System monitor
Comment[pa]=System monitor
Comment[pl]=Monitor systemowy
Comment[pt]=System monitor
Comment[pt_BR]=System monitor
Comment[ro]=System monitor
Comment[ru]=System monitor
Comment[sk]=System monitor
Comment[sq]=System monitor
Comment[sr]=System monitor
Comment[sv]=System monitor
Comment[te]=System monitor
Comment[tr]=System monitor
Comment[ug]=System monitor
Comment[uk]=System monitor
Comment[ur]=System monitor
Comment[ur_PK]=System monitor
Comment[vi]=System monitor
Comment[zh_CN]=System monitor
Comment[zh_TW]=System monitor
GenericName=System monitor
GenericName[ar]=System monitor
GenericName[ast]=System monitor
GenericName[be]=System monitor
GenericName[bn]=System monitor
GenericName[ca]=System monitor
GenericName[cs]=System monitor
GenericName[da]=System monitor
GenericName[de]=System monitor
GenericName[el]=System monitor
GenericName[en_GB]=System monitor
GenericName[eo]=System monitor
GenericName[es]=System monitor
GenericName[et]=System monitor
GenericName[eu]=System monitor
GenericName[fi]=System monitor
GenericName[fr]=Moniteur système
GenericName[gl]=System monitor
GenericName[he]=System monitor
GenericName[hr]=System monitor
GenericName[hu]=System monitor
GenericName[id]=System monitor
GenericName[it]=System monitor
GenericName[ja]=System monitor
GenericName[kk]=System monitor
GenericName[ko]=System monitor
GenericName[lt]=System monitor
GenericName[lv]=System monitor
GenericName[nb]=System monitor
GenericName[nl]=System monitor
GenericName[nn]=System monitor
GenericName[pa]=System monitor
GenericName[pl]=Monitor systemowy
GenericName[pt]=System monitor
GenericName[pt_BR]=System monitor
GenericName[ro]=System monitor
GenericName[ru]=System monitor
GenericName[si]=System monitor
GenericName[sk]=System monitor
GenericName[sq]=System monitor
GenericName[sr]=System monitor
GenericName[sv]=System monitor
GenericName[te]=System monitor
GenericName[tr]=System monitor
GenericName[ug]=System monitor
GenericName[uk]=System monitor
GenericName[ur]=System monitor
GenericName[ur_PK]=System monitor
GenericName[vi]=System monitor
GenericName[zh_CN]=System monitor
GenericName[zh_TW]=System monitor

Exec=/opt/NeteXt73/./monitor
Icon=/opt/NeteXt73/ikony/monitor.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;
Version=1.0
Encoding=UTF-8
# vi:set encoding=UTF-8:
