[Desktop Entry]
Name=PayPal
Name[ar]=PayPal
Name[ast]=PayPal
Name[be]=PayPal
Name[bn]=PayPal
Name[ca]=PayPal
Name[cs]=PayPal
Name[da]=PayPal
Name[de]=PayPal
Name[el]=PayPal
Name[en_GB]=PayPal
Name[eo]=PayPal
Name[es]=PayPal
Name[et]=PayPal
Name[eu]=PayPal
Name[fi]=PayPal
Name[fr]=PayPal
Name[gl]=PayPal
Name[he]=PayPal
Name[hr]=PayPal
Name[hu]=PayPal
Name[id]=PayPal
Name[it]=PayPal
Name[ja]=PayPal
Name[kk]=PayPal
Name[ko]=PayPal
Name[lt]=PayPal
Name[lv]=PayPal
Name[nb]=PayPal
Name[nl]=PayPal
Name[nn]=PayPal
Name[pa]=PayPal
Name[pl]=PayPal
Name[pt]=PayPal
Name[pt_BR]=PayPal
Name[ro]=PayPal
Name[ru]=PayPal
Name[si]=PayPal
Name[sk]=PayPal
Name[sq]=PayPal
Name[sr]=PayPal
Name[sv]=PayPal
Name[te]=PayPal
Name[tr]=PayPal
Name[ug]=PayPal
Name[uk]=PayPal
Name[ur]=PayPal
Name[ur_PK]=PayPal
Name[vi]=PayPal
Name[zh_CN]=PayPal
Name[zh_TW]=PayPal
Comment=PayPal
Comment[ar]=PayPal
Comment[ast]=PayPal
Comment[be]=PayPal
Comment[bn]=PayPal
Comment[ca]=PayPal
Comment[cs]=PayPal
Comment[da]=PayPal
Comment[de]=PayPal
Comment[el]=PayPal
Comment[en_GB]=PayPal
Comment[eo]=PayPal
Comment[es]=PayPal
Comment[et]=PayPal
Comment[eu]=PayPal
Comment[fi]=PayPal
Comment[fr]=PayPal
Comment[gl]=PayPal
Comment[he]=PayPal
Comment[hr]=PayPal
Comment[hu]=PayPal
Comment[id]=PayPal
Comment[it]=PayPal
Comment[ja]=PayPal
Comment[kk]=PayPal
Comment[ko]=PayPal
Comment[lt]=PayPal
Comment[lv]=PayPal
Comment[nb]=PayPal
Comment[nl]=PayPal
Comment[nn]=PayPal
Comment[pa]=PayPal
Comment[pl]=PayPal
Comment[pt]=PayPal
Comment[pt_BR]=PayPal
Comment[ro]=PayPal
Comment[ru]=PayPal
Comment[sk]=PayPal
Comment[sq]=PayPal
Comment[sr]=PayPal
Comment[sv]=PayPal
Comment[te]=PayPal
Comment[tr]=PayPal
Comment[ug]=PayPal
Comment[uk]=PayPal
Comment[ur]=PayPal
Comment[ur_PK]=PayPal
Comment[vi]=PayPal
Comment[zh_CN]=PayPal
Comment[zh_TW]=PayPal
GenericName=PayPal
GenericName[ar]=PayPal
GenericName[ast]=PayPal
GenericName[be]=PayPal
GenericName[bn]=PayPal
GenericName[ca]=PayPal
GenericName[cs]=PayPal
GenericName[da]=PayPal
GenericName[de]=PayPal
GenericName[el]=PayPal
GenericName[en_GB]=PayPal
GenericName[eo]=PayPal
GenericName[es]=PayPal
GenericName[et]=PayPal
GenericName[eu]=PayPal
GenericName[fi]=PayPal
GenericName[fr]=PayPal
GenericName[gl]=PayPal
GenericName[he]=PayPal
GenericName[hr]=PayPal
GenericName[hu]=PayPal
GenericName[id]=PayPal
GenericName[it]=PayPal
GenericName[ja]=PayPal
GenericName[kk]=PayPal
GenericName[ko]=PayPal
GenericName[lt]=PayPal
GenericName[lv]=PayPal
GenericName[nb]=PayPal
GenericName[nl]=PayPal
GenericName[nn]=PayPal
GenericName[pa]=PayPal
GenericName[pl]=PayPal
GenericName[pt]=PayPal
GenericName[pt_BR]=PayPal
GenericName[ro]=PayPal
GenericName[ru]=PayPal
GenericName[si]=PayPal
GenericName[sk]=PayPal
GenericName[sq]=PayPal
GenericName[sr]=PayPal
GenericName[sv]=PayPal
GenericName[te]=PayPal
GenericName[tr]=PayPal
GenericName[ug]=PayPal
GenericName[uk]=PayPal
GenericName[ur]=PayPal
GenericName[ur_PK]=PayPal
GenericName[vi]=PayPal
GenericName[zh_CN]=PayPal
GenericName[zh_TW]=PayPal

Exec=/opt/NeteXt73/./paypal
Icon=/opt/NeteXt73/ikony/paypal.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;
Version=1.0
Encoding=UTF-8
# vi:set encoding=UTF-8:
