[Desktop Entry]
Name=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer
Name[ar]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Name[ast]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Name[be]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Name[bn]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Name[ca]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Name[cs]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Name[da]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Name[de]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Name[el]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Name[en_GB]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Name[eo]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Name[es]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Name[et]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Name[eu]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Name[fi]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Name[fr]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Name[gl]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Name[he]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Name[hr]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Name[hu]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Name[id]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Name[it]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Name[ja]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Name[kk]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Name[ko]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Name[lt]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Name[lv]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Name[nb]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Name[nl]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Name[nn]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Name[pa]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Name[pl]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Name[pt]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Name[pt_BR]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Name[ro]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Name[ru]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Name[si]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Name[sk]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Name[sq]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Name[sr]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Name[sv]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Name[te]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Name[tr]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Name[ug]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Name[uk]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Name[ur]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Name[ur_PK]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Name[vi]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Name[zh_CN]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Name[zh_TW]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Comment=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Comment[ar]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Comment[ast]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Comment[be]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Comment[bn]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Comment[ca]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Comment[cs]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Comment[da]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Comment[de]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Comment[el]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Comment[en_GB]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Comment[eo]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Comment[es]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Comment[et]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Comment[eu]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Comment[fi]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Comment[fr]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Comment[gl]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Comment[he]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Comment[hr]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Comment[hu]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Comment[id]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Comment[it]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Comment[ja]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Comment[kk]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Comment[ko]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Comment[lt]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Comment[lv]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Comment[nb]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Comment[nl]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Comment[nn]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Comment[pa]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Comment[pl]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Comment[pt]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Comment[pt_BR]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Comment[ro]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Comment[ru]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Comment[sk]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Comment[sq]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Comment[sr]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Comment[sv]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Comment[te]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Comment[tr]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Comment[ug]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Comment[uk]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Comment[ur]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Comment[ur_PK]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Comment[vi]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Comment[zh_CN]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
Comment[zh_TW]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
GenericName=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
GenericName[ar]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
GenericName[ast]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
GenericName[be]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
GenericName[bn]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
GenericName[ca]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
GenericName[cs]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
GenericName[da]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
GenericName[de]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
GenericName[el]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
GenericName[en_GB]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
GenericName[eo]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
GenericName[es]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
GenericName[et]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
GenericName[eu]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
GenericName[fi]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
GenericName[fr]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
GenericName[gl]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
GenericName[he]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
GenericName[hr]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
GenericName[hu]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
GenericName[id]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
GenericName[it]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
GenericName[ja]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
GenericName[kk]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
GenericName[ko]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
GenericName[lt]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
GenericName[lv]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
GenericName[nb]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
GenericName[nl]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
GenericName[nn]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
GenericName[pa]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
GenericName[pl]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
GenericName[pt]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
GenericName[pt_BR]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
GenericName[ro]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
GenericName[ru]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
GenericName[si]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
GenericName[sk]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
GenericName[sq]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
GenericName[sr]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
GenericName[sv]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
GenericName[te]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
GenericName[tr]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
GenericName[ug]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
GenericName[uk]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
GenericName[ur]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
GenericName[ur_PK]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
GenericName[vi]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
GenericName[zh_CN]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 
GenericName[zh_TW]=Brazos - AMD Athlon II, Phenom II, Brazos, Bulldozer 


Exec=/opt/NeteXt73/./kernele amd
Icon=/opt/NeteXt73/ikony/amd.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;
Version=1.0
Encoding=UTF-8
# vi:set encoding=UTF-8:
