[Desktop Entry]
Name=Brazos-PRO  AMD Piledriver, Steamroller
Name[ar]=Brazos-PRO  AMD Piledriver, Steamroller
Name[ast]=Brazos-PRO  AMD Piledriver, Steamroller
Name[be]=Brazos-PRO  AMD Piledriver, Steamroller
Name[bn]=Brazos-PRO  AMD Piledriver, Steamroller
Name[ca]=Brazos-PRO  AMD Piledriver, Steamroller
Name[cs]=Brazos-PRO  AMD Piledriver, Steamroller
Name[da]=Brazos-PRO  AMD Piledriver, Steamroller
Name[de]=Brazos-PRO  AMD Piledriver, Steamroller
Name[el]=Brazos-PRO  AMD Piledriver, Steamroller
Name[en_GB]=Brazos-PRO  AMD Piledriver, Steamroller
Name[eo]=Brazos-PRO  AMD Piledriver, Steamroller
Name[es]=Brazos-PRO  AMD Piledriver, Steamroller
Name[et]=Brazos-PRO  AMD Piledriver, Steamroller
Name[eu]=Brazos-PRO  AMD Piledriver, Steamroller
Name[fi]=Brazos-PRO  AMD Piledriver, Steamroller
Name[fr]=Brazos-PRO  AMD Piledriver, Steamroller
Name[gl]=Brazos-PRO  AMD Piledriver, Steamroller
Name[he]=Brazos-PRO  AMD Piledriver, Steamroller
Name[hr]=Brazos-PRO  AMD Piledriver, Steamroller
Name[hu]=Brazos-PRO  AMD Piledriver, Steamroller
Name[id]=Brazos-PRO  AMD Piledriver, Steamroller
Name[it]=Brazos-PRO  AMD Piledriver, Steamroller
Name[ja]=Brazos-PRO  AMD Piledriver, Steamroller
Name[kk]=Brazos-PRO  AMD Piledriver, Steamroller
Name[ko]=Brazos-PRO  AMD Piledriver, Steamroller
Name[lt]=Brazos-PRO  AMD Piledriver, Steamroller
Name[lv]=Brazos-PRO  AMD Piledriver, Steamroller
Name[nb]=Brazos-PRO  AMD Piledriver, Steamroller
Name[nl]=Brazos-PRO  AMD Piledriver, Steamroller
Name[nn]=Brazos-PRO  AMD Piledriver, Steamroller
Name[pa]=Brazos-PRO  AMD Piledriver, Steamroller
Name[pl]=Brazos-PRO  AMD Piledriver, Steamroller
Name[pt]=Brazos-PRO  AMD Piledriver, Steamroller
Name[pt_BR]=Brazos-PRO  AMD Piledriver, Steamroller
Name[ro]=Brazos-PRO  AMD Piledriver, Steamroller
Name[ru]=Brazos-PRO  AMD Piledriver, Steamroller
Name[si]=Brazos-PRO  AMD Piledriver, Steamroller
Name[sk]=Brazos-PRO  AMD Piledriver, Steamroller
Name[sq]=Brazos-PRO  AMD Piledriver, Steamroller
Name[sr]=Brazos-PRO  AMD Piledriver, Steamroller
Name[sv]=Brazos-PRO  AMD Piledriver, Steamroller
Name[te]=Brazos-PRO  AMD Piledriver, Steamroller
Name[tr]=Brazos-PRO  AMD Piledriver, Steamroller
Name[ug]=Brazos-PRO  AMD Piledriver, Steamroller
Name[uk]=Brazos-PRO  AMD Piledriver, Steamroller
Name[ur]=Brazos-PRO  AMD Piledriver, Steamroller
Name[ur_PK]=Brazos-PRO  AMD Piledriver, Steamroller
Name[vi]=Brazos-PRO  AMD Piledriver, Steamroller
Name[zh_CN]=Brazos-PRO  AMD Piledriver, Steamroller
Name[zh_TW]=Brazos-PRO  AMD Piledriver, Steamroller
Comment=Brazos-PRO  AMD Piledriver, Steamroller
Comment[ar]=Brazos-PRO  AMD Piledriver, Steamroller
Comment[ast]=Brazos-PRO  AMD Piledriver, Steamroller
Comment[be]=Brazos-PRO  AMD Piledriver, Steamroller
Comment[bn]=Brazos-PRO  AMD Piledriver, Steamroller
Comment[ca]=Brazos-PRO  AMD Piledriver, Steamroller
Comment[cs]=Brazos-PRO  AMD Piledriver, Steamroller
Comment[da]=Brazos-PRO  AMD Piledriver, Steamroller
Comment[de]=Brazos-PRO  AMD Piledriver, Steamroller
Comment[el]=Brazos-PRO  AMD Piledriver, Steamroller
Comment[en_GB]=Brazos-PRO  AMD Piledriver, Steamroller
Comment[eo]=Brazos-PRO  AMD Piledriver, Steamroller
Comment[es]=Brazos-PRO  AMD Piledriver, Steamroller
Comment[et]=Brazos-PRO  AMD Piledriver, Steamroller
Comment[eu]=Brazos-PRO  AMD Piledriver, Steamroller
Comment[fi]=Brazos-PRO  AMD Piledriver, Steamroller
Comment[fr]=Brazos-PRO  AMD Piledriver, Steamroller
Comment[gl]=Brazos-PRO  AMD Piledriver, Steamroller
Comment[he]=Brazos-PRO  AMD Piledriver, Steamroller
Comment[hr]=Brazos-PRO  AMD Piledriver, Steamroller
Comment[hu]=Brazos-PRO  AMD Piledriver, Steamroller
Comment[id]=Brazos-PRO  AMD Piledriver, Steamroller
Comment[it]=Brazos-PRO  AMD Piledriver, Steamroller
Comment[ja]=Brazos-PRO  AMD Piledriver, Steamroller
Comment[kk]=Brazos-PRO  AMD Piledriver, Steamroller
Comment[ko]=Brazos-PRO  AMD Piledriver, Steamroller
Comment[lt]=Brazos-PRO  AMD Piledriver, Steamroller
Comment[lv]=Brazos-PRO  AMD Piledriver, Steamroller
Comment[nb]=Brazos-PRO  AMD Piledriver, Steamroller
Comment[nl]=Brazos-PRO  AMD Piledriver, Steamroller
Comment[nn]=Brazos-PRO  AMD Piledriver, Steamroller
Comment[pa]=Brazos-PRO  AMD Piledriver, Steamroller
Comment[pl]=Brazos-PRO  AMD Piledriver, Steamroller
Comment[pt]=Brazos-PRO  AMD Piledriver, Steamroller
Comment[pt_BR]=Brazos-PRO  AMD Piledriver, Steamroller
Comment[ro]=Brazos-PRO  AMD Piledriver, Steamroller
Comment[ru]=Brazos-PRO  AMD Piledriver, Steamroller
Comment[sk]=Brazos-PRO  AMD Piledriver, Steamroller
Comment[sq]=Brazos-PRO  AMD Piledriver, Steamroller
Comment[sr]=Brazos-PRO  AMD Piledriver, Steamroller
Comment[sv]=Brazos-PRO  AMD Piledriver, Steamroller
Comment[te]=Brazos-PRO  AMD Piledriver, Steamroller
Comment[tr]=Brazos-PRO  AMD Piledriver, Steamroller
Comment[ug]=Brazos-PRO  AMD Piledriver, Steamroller
Comment[uk]=Brazos-PRO  AMD Piledriver, Steamroller
Comment[ur]=Brazos-PRO  AMD Piledriver, Steamroller
Comment[ur_PK]=Brazos-PRO  AMD Piledriver, Steamroller
Comment[vi]=Brazos-PRO  AMD Piledriver, Steamroller
Comment[zh_CN]=Brazos-PRO  AMD Piledriver, Steamroller
Comment[zh_TW]=Brazos-PRO  AMD Piledriver, Steamroller
GenericName=Brazos-PRO  AMD Piledriver, Steamroller
GenericName[ar]=Brazos-PRO  AMD Piledriver, Steamroller
GenericName[ast]=Brazos-PRO  AMD Piledriver, Steamroller
GenericName[be]=Brazos-PRO  AMD Piledriver, Steamroller
GenericName[bn]=Brazos-PRO  AMD Piledriver, Steamroller
GenericName[ca]=Brazos-PRO  AMD Piledriver, Steamroller
GenericName[cs]=Brazos-PRO  AMD Piledriver, Steamroller
GenericName[da]=Brazos-PRO  AMD Piledriver, Steamroller
GenericName[de]=Brazos-PRO  AMD Piledriver, Steamroller
GenericName[el]=Brazos-PRO  AMD Piledriver, Steamroller
GenericName[en_GB]=Brazos-PRO  AMD Piledriver, Steamroller
GenericName[eo]=Brazos-PRO  AMD Piledriver, Steamroller
GenericName[es]=Brazos-PRO  AMD Piledriver, Steamroller
GenericName[et]=Brazos-PRO  AMD Piledriver, Steamroller
GenericName[eu]=Brazos-PRO  AMD Piledriver, Steamroller
GenericName[fi]=Brazos-PRO  AMD Piledriver, Steamroller
GenericName[fr]=Brazos-PRO  AMD Piledriver, Steamroller
GenericName[gl]=Brazos-PRO  AMD Piledriver, Steamroller
GenericName[he]=Brazos-PRO  AMD Piledriver, Steamroller
GenericName[hr]=Brazos-PRO  AMD Piledriver, Steamroller
GenericName[hu]=Brazos-PRO  AMD Piledriver, Steamroller
GenericName[id]=Brazos-PRO  AMD Piledriver, Steamroller
GenericName[it]=Brazos-PRO  AMD Piledriver, Steamroller
GenericName[ja]=Brazos-PRO  AMD Piledriver, Steamroller
GenericName[kk]=Brazos-PRO  AMD Piledriver, Steamroller
GenericName[ko]=Brazos-PRO  AMD Piledriver, Steamroller
GenericName[lt]=Brazos-PRO  AMD Piledriver, Steamroller
GenericName[lv]=Brazos-PRO  AMD Piledriver, Steamroller
GenericName[nb]=Brazos-PRO  AMD Piledriver, Steamroller
GenericName[nl]=Brazos-PRO  AMD Piledriver, Steamroller
GenericName[nn]=Brazos-PRO  AMD Piledriver, Steamroller
GenericName[pa]=Brazos-PRO  AMD Piledriver, Steamroller
GenericName[pl]=Brazos-PRO  AMD Piledriver, Steamroller
GenericName[pt]=Brazos-PRO  AMD Piledriver, Steamroller
GenericName[pt_BR]=Brazos-PRO  AMD Piledriver, Steamroller
GenericName[ro]=Brazos-PRO  AMD Piledriver, Steamroller
GenericName[ru]=Brazos-PRO  AMD Piledriver, Steamroller
GenericName[si]=Brazos-PRO  AMD Piledriver, Steamroller
GenericName[sk]=Brazos-PRO  AMD Piledriver, Steamroller
GenericName[sq]=Brazos-PRO  AMD Piledriver, Steamroller
GenericName[sr]=Brazos-PRO  AMD Piledriver, Steamroller
GenericName[sv]=Brazos-PRO  AMD Piledriver, Steamroller
GenericName[te]=Brazos-PRO  AMD Piledriver, Steamroller
GenericName[tr]=Brazos-PRO  AMD Piledriver, Steamroller
GenericName[ug]=Brazos-PRO  AMD Piledriver, Steamroller
GenericName[uk]=Brazos-PRO  AMD Piledriver, Steamroller
GenericName[ur]=Brazos-PRO  AMD Piledriver, Steamroller
GenericName[ur_PK]=Brazos-PRO  AMD Piledriver, Steamroller
GenericName[vi]=Brazos-PRO  AMD Piledriver, Steamroller
GenericName[zh_CN]=Brazos-PRO  AMD Piledriver, Steamroller
GenericName[zh_TW]=Brazos-PRO  AMD Piledriver, Steamroller


Exec=/opt/NeteXt73/./kernele amd_pro
Icon=/opt/NeteXt73/ikony/amd.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;
Version=1.0
Encoding=UTF-8
# vi:set encoding=UTF-8:
