[Desktop Entry]
Name=Atom - Intel Atom 64bit
Name[ar]=Atom - Intel Atom 64bit
Name[ast]=Atom - Intel Atom 64bit
Name[be]=Atom - Intel Atom 64bit
Name[bn]=Atom - Intel Atom 64bit
Name[ca]=Atom - Intel Atom 64bit
Name[cs]=Atom - Intel Atom 64bit
Name[da]=Atom - Intel Atom 64bit
Name[de]=Atom - Intel Atom 64bit
Name[el]=Atom - Intel Atom 64bit
Name[en_GB]=Atom - Intel Atom 64bit
Name[eo]=Atom - Intel Atom 64bit
Name[es]=Atom - Intel Atom 64bit
Name[et]=Atom - Intel Atom 64bit
Name[eu]=Atom - Intel Atom 64bit
Name[fi]=Atom - Intel Atom 64bit
Name[fr]=Atom - Intel Atom 64bit
Name[gl]=Atom - Intel Atom 64bit
Name[he]=Atom - Intel Atom 64bit
Name[hr]=Atom - Intel Atom 64bit
Name[hu]=Atom - Intel Atom 64bit
Name[id]=Atom - Intel Atom 64bit
Name[it]=Atom - Intel Atom 64bit
Name[ja]=Atom - Intel Atom 64bit
Name[kk]=Atom - Intel Atom 64bit
Name[ko]=Atom - Intel Atom 64bit
Name[lt]=Atom - Intel Atom 64bit
Name[lv]=Atom - Intel Atom 64bit
Name[nb]=Atom - Intel Atom 64bit
Name[nl]=Atom - Intel Atom 64bit
Name[nn]=Atom - Intel Atom 64bit
Name[pa]=Atom - Intel Atom 64bit
Name[pl]=Atom - Intel Atom 64bit
Name[pt]=Atom - Intel Atom 64bit
Name[pt_BR]=Atom - Intel Atom 64bit
Name[ro]=Atom - Intel Atom 64bit
Name[ru]=Atom - Intel Atom 64bit
Name[si]=Atom - Intel Atom 64bit
Name[sk]=Atom - Intel Atom 64bit
Name[sq]=Atom - Intel Atom 64bit
Name[sr]=Atom - Intel Atom 64bit
Name[sv]=Atom - Intel Atom 64bit
Name[te]=Atom - Intel Atom 64bit
Name[tr]=Atom - Intel Atom 64bit
Name[ug]=Atom - Intel Atom 64bit
Name[uk]=Atom - Intel Atom 64bit
Name[ur]=Atom - Intel Atom 64bit
Name[ur_PK]=Atom - Intel Atom 64bit
Name[vi]=Atom - Intel Atom 64bit
Name[zh_CN]=Atom - Intel Atom 64bit
Name[zh_TW]=Atom - Intel Atom 64bit
Comment=Atom - Intel Atom 64bit
Comment[ar]=Atom - Intel Atom 64bit
Comment[ast]=Atom - Intel Atom 64bit
Comment[be]=Atom - Intel Atom 64bit
Comment[bn]=Atom - Intel Atom 64bit
Comment[ca]=Atom - Intel Atom 64bit
Comment[cs]=Atom - Intel Atom 64bit
Comment[da]=Atom - Intel Atom 64bit
Comment[de]=Atom - Intel Atom 64bit
Comment[el]=Atom - Intel Atom 64bit
Comment[en_GB]=Atom - Intel Atom 64bit
Comment[eo]=Atom - Intel Atom 64bit
Comment[es]=Atom - Intel Atom 64bit
Comment[et]=Atom - Intel Atom 64bit
Comment[eu]=Atom - Intel Atom 64bit
Comment[fi]=Atom - Intel Atom 64bit
Comment[fr]=Atom - Intel Atom 64bit
Comment[gl]=Atom - Intel Atom 64bit
Comment[he]=Atom - Intel Atom 64bit
Comment[hr]=Atom - Intel Atom 64bit
Comment[hu]=Atom - Intel Atom 64bit
Comment[id]=Atom - Intel Atom 64bit
Comment[it]=Atom - Intel Atom 64bit
Comment[ja]=Atom - Intel Atom 64bit
Comment[kk]=Atom - Intel Atom 64bit
Comment[ko]=Atom - Intel Atom 64bit
Comment[lt]=Atom - Intel Atom 64bit
Comment[lv]=Atom - Intel Atom 64bit
Comment[nb]=Atom - Intel Atom 64bit
Comment[nl]=Atom - Intel Atom 64bit
Comment[nn]=Atom - Intel Atom 64bit
Comment[pa]=Atom - Intel Atom 64bit
Comment[pl]=Atom - Intel Atom 64bit
Comment[pt]=Atom - Intel Atom 64bit
Comment[pt_BR]=Atom - Intel Atom 64bit
Comment[ro]=Atom - Intel Atom 64bit
Comment[ru]=Atom - Intel Atom 64bit
Comment[sk]=Atom - Intel Atom 64bit
Comment[sq]=Atom - Intel Atom 64bit
Comment[sr]=Atom - Intel Atom 64bit
Comment[sv]=Atom - Intel Atom 64bit
Comment[te]=Atom - Intel Atom 64bit
Comment[tr]=Atom - Intel Atom 64bit
Comment[ug]=Atom - Intel Atom 64bit
Comment[uk]=Atom - Intel Atom 64bit
Comment[ur]=Atom - Intel Atom 64bit
Comment[ur_PK]=Atom - Intel Atom 64bit
Comment[vi]=Atom - Intel Atom 64bit
Comment[zh_CN]=Atom - Intel Atom 64bit
Comment[zh_TW]=Atom - Intel Atom 64bit
GenericName=Atom - Intel Atom 64bit
GenericName[ar]=Atom - Intel Atom 64bit
GenericName[ast]=Atom - Intel Atom 64bit
GenericName[be]=Atom - Intel Atom 64bit
GenericName[bn]=Atom - Intel Atom 64bit
GenericName[ca]=Atom - Intel Atom 64bit
GenericName[cs]=Atom - Intel Atom 64bit
GenericName[da]=Atom - Intel Atom 64bit
GenericName[de]=Atom - Intel Atom 64bit
GenericName[el]=Atom - Intel Atom 64bit
GenericName[en_GB]=Atom - Intel Atom 64bit
GenericName[eo]=Atom - Intel Atom 64bit
GenericName[es]=Atom - Intel Atom 64bit
GenericName[et]=Atom - Intel Atom 64bit
GenericName[eu]=Atom - Intel Atom 64bit
GenericName[fi]=Atom - Intel Atom 64bit
GenericName[fr]=Atom - Intel Atom 64bit
GenericName[gl]=Atom - Intel Atom 64bit
GenericName[he]=Atom - Intel Atom 64bit
GenericName[hr]=Atom - Intel Atom 64bit
GenericName[hu]=Atom - Intel Atom 64bit
GenericName[id]=Atom - Intel Atom 64bit
GenericName[it]=Atom - Intel Atom 64bit
GenericName[ja]=Atom - Intel Atom 64bit
GenericName[kk]=Atom - Intel Atom 64bit
GenericName[ko]=Atom - Intel Atom 64bit
GenericName[lt]=Atom - Intel Atom 64bit
GenericName[lv]=Atom - Intel Atom 64bit
GenericName[nb]=Atom - Intel Atom 64bit
GenericName[nl]=Atom - Intel Atom 64bit
GenericName[nn]=Atom - Intel Atom 64bit
GenericName[pa]=Atom - Intel Atom 64bit
GenericName[pl]=Atom - Intel Atom 64bit
GenericName[pt]=Atom - Intel Atom 64bit
GenericName[pt_BR]=Atom - Intel Atom 64bit
GenericName[ro]=Atom - Intel Atom 64bit
GenericName[ru]=Atom - Intel Atom 64bit
GenericName[si]=Atom - Intel Atom 64bit
GenericName[sk]=Atom - Intel Atom 64bit
GenericName[sq]=Atom - Intel Atom 64bit
GenericName[sr]=Atom - Intel Atom 64bit
GenericName[sv]=Atom - Intel Atom 64bit
GenericName[te]=Atom - Intel Atom 64bit
GenericName[tr]=Atom - Intel Atom 64bit
GenericName[ug]=Atom - Intel Atom 64bit
GenericName[uk]=Atom - Intel Atom 64bit
GenericName[ur]=Atom - Intel Atom 64bit
GenericName[ur_PK]=Atom - Intel Atom 64bit
GenericName[vi]=Atom - Intel Atom 64bit
GenericName[zh_CN]=Atom - Intel Atom 64bit
GenericName[zh_TW]=Atom - Intel Atom 64bit


Exec=/opt/NeteXt73/./kernele atom
Icon=/opt/NeteXt73/ikony/atom.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;
Version=1.0
Encoding=UTF-8
# vi:set encoding=UTF-8:
