[Desktop Entry]
Name=K8 - from Intel C2D, AMD K8
Name[ar]=K8 - from Intel C2D, AMD K8
Name[ast]=K8 - from Intel C2D, AMD K8
Name[be]=K8 - from Intel C2D, AMD K8
Name[bn]=K8 - from Intel C2D, AMD K8
Name[ca]=K8 - from Intel C2D, AMD K8
Name[cs]=K8 - from Intel C2D, AMD K8
Name[da]=K8 - from Intel C2D, AMD K8
Name[de]=K8 - from Intel C2D, AMD K8
Name[el]=K8 - from Intel C2D, AMD K8
Name[en_GB]=K8 - from Intel C2D, AMD K8
Name[eo]=K8 - from Intel C2D, AMD K8
Name[es]=K8 - from Intel C2D, AMD K8
Name[et]=K8 - from Intel C2D, AMD K8
Name[eu]=K8 - from Intel C2D, AMD K8
Name[fi]=K8 - from Intel C2D, AMD K8
Name[fr]=K8 - from Intel C2D, AMD K8
Name[gl]=K8 - from Intel C2D, AMD K8
Name[he]=K8 - from Intel C2D, AMD K8
Name[hr]=K8 - from Intel C2D, AMD K8
Name[hu]=K8 - from Intel C2D, AMD K8
Name[id]=K8 - from Intel C2D, AMD K8
Name[it]=K8 - from Intel C2D, AMD K8
Name[ja]=K8 - from Intel C2D, AMD K8
Name[kk]=K8 - from Intel C2D, AMD K8
Name[ko]=K8 - from Intel C2D, AMD K8
Name[lt]=K8 - from Intel C2D, AMD K8
Name[lv]=K8 - from Intel C2D, AMD K8
Name[nb]=K8 - from Intel C2D, AMD K8
Name[nl]=K8 - from Intel C2D, AMD K8
Name[nn]=K8 - from Intel C2D, AMD K8
Name[pa]=K8 - from Intel C2D, AMD K8
Name[pl]=K8 - od Intel C2D, AMD K8
Name[pt]=K8 - from Intel C2D, AMD K8
Name[pt_BR]=K8 - from Intel C2D, AMD K8
Name[ro]=K8 - from Intel C2D, AMD K8
Name[ru]=K8 - from Intel C2D, AMD K8
Name[si]=K8 - from Intel C2D, AMD K8
Name[sk]=K8 - from Intel C2D, AMD K8
Name[sq]=K8 - from Intel C2D, AMD K8
Name[sr]=K8 - from Intel C2D, AMD K8
Name[sv]=K8 - from Intel C2D, AMD K8
Name[te]=K8 - from Intel C2D, AMD K8
Name[tr]=K8 - from Intel C2D, AMD K8
Name[ug]=K8 - from Intel C2D, AMD K8
Name[uk]=K8 - from Intel C2D, AMD K8
Name[ur]=K8 - from Intel C2D, AMD K8
Name[ur_PK]=K8 - from Intel C2D, AMD K8
Name[vi]=K8 - from Intel C2D, AMD K8
Name[zh_CN]=K8 - from Intel C2D, AMD K8
Name[zh_TW]=K8 - from Intel C2D, AMD K8
Comment=K8 - from Intel C2D, AMD K8
Comment[ar]=K8 - from Intel C2D, AMD K8
Comment[ast]=K8 - from Intel C2D, AMD K8
Comment[be]=K8 - from Intel C2D, AMD K8
Comment[bn]=K8 - from Intel C2D, AMD K8
Comment[ca]=K8 - from Intel C2D, AMD K8
Comment[cs]=K8 - from Intel C2D, AMD K8
Comment[da]=K8 - from Intel C2D, AMD K8
Comment[de]=K8 - from Intel C2D, AMD K8
Comment[el]=K8 - from Intel C2D, AMD K8
Comment[en_GB]=K8 - from Intel C2D, AMD K8
Comment[eo]=K8 - from Intel C2D, AMD K8
Comment[es]=K8 - from Intel C2D, AMD K8
Comment[et]=K8 - from Intel C2D, AMD K8
Comment[eu]=K8 - from Intel C2D, AMD K8
Comment[fi]=K8 - from Intel C2D, AMD K8
Comment[fr]=K8 - from Intel C2D, AMD K8
Comment[gl]=K8 - from Intel C2D, AMD K8
Comment[he]=K8 - from Intel C2D, AMD K8
Comment[hr]=K8 - from Intel C2D, AMD K8
Comment[hu]=K8 - from Intel C2D, AMD K8
Comment[id]=K8 - from Intel C2D, AMD K8
Comment[it]=K8 - from Intel C2D, AMD K8
Comment[ja]=K8 - from Intel C2D, AMD K8
Comment[kk]=K8 - from Intel C2D, AMD K8
Comment[ko]=K8 - from Intel C2D, AMD K8
Comment[lt]=K8 - from Intel C2D, AMD K8
Comment[lv]=K8 - from Intel C2D, AMD K8
Comment[nb]=K8 - from Intel C2D, AMD K8
Comment[nl]=K8 - from Intel C2D, AMD K8
Comment[nn]=K8 - from Intel C2D, AMD K8
Comment[pa]=K8 - from Intel C2D, AMD K8
Comment[pl]=K8 - od Intel C2D, AMD K8
Comment[pt]=K8 - from Intel C2D, AMD K8
Comment[pt_BR]=K8 - from Intel C2D, AMD K8
Comment[ro]=K8 - from Intel C2D, AMD K8
Comment[ru]=K8 - from Intel C2D, AMD K8
Comment[sk]=K8 - from Intel C2D, AMD K8
Comment[sq]=K8 - from Intel C2D, AMD K8
Comment[sr]=K8 - from Intel C2D, AMD K8
Comment[sv]=K8 - from Intel C2D, AMD K8
Comment[te]=K8 - from Intel C2D, AMD K8
Comment[tr]=K8 - from Intel C2D, AMD K8
Comment[ug]=K8 - from Intel C2D, AMD K8
Comment[uk]=K8 - from Intel C2D, AMD K8
Comment[ur]=K8 - from Intel C2D, AMD K8
Comment[ur_PK]=K8 - from Intel C2D, AMD K8
Comment[vi]=K8 - from Intel C2D, AMD K8
Comment[zh_CN]=K8 - from Intel C2D, AMD K8
Comment[zh_TW]=K8 - from Intel C2D, AMD K8
GenericName=K8 - from Intel C2D, AMD K8
GenericName[ar]=K8 - from Intel C2D, AMD K8
GenericName[ast]=K8 - from Intel C2D, AMD K8
GenericName[be]=K8 - from Intel C2D, AMD K8
GenericName[bn]=K8 - from Intel C2D, AMD K8
GenericName[ca]=K8 - from Intel C2D, AMD K8
GenericName[cs]=K8 - from Intel C2D, AMD K8
GenericName[da]=K8 - from Intel C2D, AMD K8
GenericName[de]=K8 - from Intel C2D, AMD K8
GenericName[el]=K8 - from Intel C2D, AMD K8
GenericName[en_GB]=K8 - from Intel C2D, AMD K8
GenericName[eo]=K8 - from Intel C2D, AMD K8
GenericName[es]=K8 - from Intel C2D, AMD K8
GenericName[et]=K8 - from Intel C2D, AMD K8
GenericName[eu]=K8 - from Intel C2D, AMD K8
GenericName[fi]=K8 - from Intel C2D, AMD K8
GenericName[fr]=K8 - from Intel C2D, AMD K8
GenericName[gl]=K8 - from Intel C2D, AMD K8
GenericName[he]=K8 - from Intel C2D, AMD K8
GenericName[hr]=K8 - from Intel C2D, AMD K8
GenericName[hu]=K8 - from Intel C2D, AMD K8
GenericName[id]=K8 - from Intel C2D, AMD K8
GenericName[it]=K8 - from Intel C2D, AMD K8
GenericName[ja]=K8 - from Intel C2D, AMD K8
GenericName[kk]=K8 - from Intel C2D, AMD K8
GenericName[ko]=K8 - from Intel C2D, AMD K8
GenericName[lt]=K8 - from Intel C2D, AMD K8
GenericName[lv]=K8 - from Intel C2D, AMD K8
GenericName[nb]=K8 - from Intel C2D, AMD K8
GenericName[nl]=K8 - from Intel C2D, AMD K8
GenericName[nn]=K8 - from Intel C2D, AMD K8
GenericName[pa]=K8 - from Intel C2D, AMD K8
GenericName[pl]=K8 - od Intel C2D, AMD K8
GenericName[pt]=K8 - from Intel C2D, AMD K8
GenericName[pt_BR]=K8 - from Intel C2D, AMD K8
GenericName[ro]=K8 - from Intel C2D, AMD K8
GenericName[ru]=K8 - from Intel C2D, AMD K8
GenericName[si]=K8 - from Intel C2D, AMD K8
GenericName[sk]=K8 - from Intel C2D, AMD K8
GenericName[sq]=K8 - from Intel C2D, AMD K8
GenericName[sr]=K8 - from Intel C2D, AMD K8
GenericName[sv]=K8 - from Intel C2D, AMD K8
GenericName[te]=K8 - from Intel C2D, AMD K8
GenericName[tr]=K8 - from Intel C2D, AMD K8
GenericName[ug]=K8 - from Intel C2D, AMD K8
GenericName[uk]=K8 - from Intel C2D, AMD K8
GenericName[ur]=K8 - from Intel C2D, AMD K8
GenericName[ur_PK]=K8 - from Intel C2D, AMD K8
GenericName[vi]=K8 - from Intel C2D, AMD K8
GenericName[zh_CN]=K8 - from Intel C2D, AMD K8
GenericName[zh_TW]=K8 - from Intel C2D, AMD K8


Exec=/opt/NeteXt73/./kernele K8
Icon=/opt/NeteXt73/ikony/c2d.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;
Version=1.0
Encoding=UTF-8
# vi:set encoding=UTF-8:
