[Desktop Entry]
Name=i7-PRO Haswell
Name[ar]=i7-PRO Haswell
Name[ast]=i7-PRO Haswell
Name[be]=i7-PRO Haswell
Name[bn]=i7-PRO Haswell
Name[ca]=i7-PRO Haswell
Name[cs]=i7-PRO Haswell
Name[da]=i7-PRO Haswell
Name[de]=i7-PRO Haswell
Name[el]=i7-PRO Haswell
Name[en_GB]=i7-PRO Haswell
Name[eo]=i7-PRO Haswell
Name[es]=i7-PRO Haswell
Name[et]=i7-PRO Haswell
Name[eu]=i7-PRO Haswell
Name[fi]=i7-PRO Haswell
Name[fr]=i7-PRO Haswell
Name[gl]=i7-PRO Haswell
Name[he]=i7-PRO Haswell
Name[hr]=i7-PRO Haswell
Name[hu]=i7-PRO Haswell
Name[id]=i7-PRO Haswell
Name[it]=i7-PRO Haswell
Name[ja]=i7-PRO Haswell
Name[kk]=i7-PRO Haswell
Name[ko]=i7-PRO Haswell
Name[lt]=i7-PRO Haswell
Name[lv]=i7-PRO Haswell
Name[nb]=i7-PRO Haswell
Name[nl]=i7-PRO Haswell
Name[nn]=i7-PRO Haswell
Name[pa]=i7-PRO Haswell
Name[pl]=i7-PRO Haswell
Name[pt]=i7-PRO Haswell
Name[pt_BR]=i7-PRO Haswell
Name[ro]=i7-PRO Haswell
Name[ru]=i7-PRO Haswell
Name[si]=i7-PRO Haswell
Name[sk]=i7-PRO Haswell
Name[sq]=i7-PRO Haswell
Name[sr]=i7-PRO Haswell
Name[sv]=i7-PRO Haswell
Name[te]=i7-PRO Haswell
Name[tr]=i7-PRO Haswell
Name[ug]=i7-PRO Haswell
Name[uk]=i7-PRO Haswell
Name[ur]=i7-PRO Haswell
Name[ur_PK]=i7-PRO Haswell
Name[vi]=i7-PRO Haswell
Name[zh_CN]=i7-PRO Haswell
Name[zh_TW]=i7-PRO Haswell
Comment=i7-PRO Haswell
Comment[ar]=i7-PRO Haswell
Comment[ast]=i7-PRO Haswell
Comment[be]=i7-PRO Haswell
Comment[bn]=i7-PRO Haswell
Comment[ca]=i7-PRO Haswell
Comment[cs]=i7-PRO Haswell
Comment[da]=i7-PRO Haswell
Comment[de]=i7-PRO Haswell
Comment[el]=i7-PRO Haswell
Comment[en_GB]=i7-PRO Haswell
Comment[eo]=i7-PRO Haswell
Comment[es]=i7-PRO Haswell
Comment[et]=i7-PRO Haswell
Comment[eu]=i7-PRO Haswell
Comment[fi]=i7-PRO Haswell
Comment[fr]=i7-PRO Haswell
Comment[gl]=i7-PRO Haswell
Comment[he]=i7-PRO Haswell
Comment[hr]=i7-PRO Haswell
Comment[hu]=i7-PRO Haswell
Comment[id]=i7-PRO Haswell
Comment[it]=i7-PRO Haswell
Comment[ja]=i7-PRO Haswell
Comment[kk]=i7-PRO Haswell
Comment[ko]=i7-PRO Haswell
Comment[lt]=i7-PRO Haswell
Comment[lv]=i7-PRO Haswell
Comment[nb]=i7-PRO Haswell
Comment[nl]=i7-PRO Haswell
Comment[nn]=i7-PRO Haswell
Comment[pa]=i7-PRO Haswell
Comment[pl]=i7-PRO Haswell
Comment[pt]=i7-PRO Haswell
Comment[pt_BR]=i7-PRO Haswell
Comment[ro]=i7-PRO Haswell
Comment[ru]=i7-PRO Haswell
Comment[sk]=i7-PRO Haswell
Comment[sq]=i7-PRO Haswell
Comment[sr]=i7-PRO Haswell
Comment[sv]=i7-PRO Haswell
Comment[te]=i7-PRO Haswell
Comment[tr]=i7-PRO Haswell
Comment[ug]=i7-PRO Haswell
Comment[uk]=i7-PRO Haswell
Comment[ur]=i7-PRO Haswell
Comment[ur_PK]=i7-PRO Haswell
Comment[vi]=i7-PRO Haswell
Comment[zh_CN]=i7-PRO Haswell
Comment[zh_TW]=i7-PRO Haswell
GenericName=i7-PRO Haswell
GenericName[ar]=i7-PRO Haswell
GenericName[ast]=i7-PRO Haswell
GenericName[be]=i7-PRO Haswell
GenericName[bn]=i7-PRO Haswell
GenericName[ca]=i7-PRO Haswell
GenericName[cs]=i7-PRO Haswell
GenericName[da]=i7-PRO Haswell
GenericName[de]=i7-PRO Haswell
GenericName[el]=i7-PRO Haswell
GenericName[en_GB]=i7-PRO Haswell
GenericName[eo]=i7-PRO Haswell
GenericName[es]=i7-PRO Haswell
GenericName[et]=i7-PRO Haswell
GenericName[eu]=i7-PRO Haswell
GenericName[fi]=i7-PRO Haswell
GenericName[fr]=i7-PRO Haswell
GenericName[gl]=i7-PRO Haswell
GenericName[he]=i7-PRO Haswell
GenericName[hr]=i7-PRO Haswell
GenericName[hu]=i7-PRO Haswell
GenericName[id]=i7-PRO Haswell
GenericName[it]=i7-PRO Haswell
GenericName[ja]=i7-PRO Haswell
GenericName[kk]=i7-PRO Haswell
GenericName[ko]=i7-PRO Haswell
GenericName[lt]=i7-PRO Haswell
GenericName[lv]=i7-PRO Haswell
GenericName[nb]=i7-PRO Haswell
GenericName[nl]=i7-PRO Haswell
GenericName[nn]=i7-PRO Haswell
GenericName[pa]=i7-PRO Haswell
GenericName[pl]=i7-PRO Haswell
GenericName[pt]=i7-PRO Haswell
GenericName[pt_BR]=i7-PRO Haswell
GenericName[ro]=i7-PRO Haswell
GenericName[ru]=i7-PRO Haswell
GenericName[si]=i7-PRO Haswell
GenericName[sk]=i7-PRO Haswell
GenericName[sq]=i7-PRO Haswell
GenericName[sr]=i7-PRO Haswell
GenericName[sv]=i7-PRO Haswell
GenericName[te]=i7-PRO Haswell
GenericName[tr]=i7-PRO Haswell
GenericName[ug]=i7-PRO Haswell
GenericName[uk]=i7-PRO Haswell
GenericName[ur]=i7-PRO Haswell
GenericName[ur_PK]=i7-PRO Haswell
GenericName[vi]=i7-PRO Haswell
GenericName[zh_CN]=i7-PRO Haswell
GenericName[zh_TW]=i7-PRO Haswell

Exec=/opt/NeteXt73/./kernele i7_pro
Icon=/opt/NeteXt73/ikony/i7.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;
Version=1.0
Encoding=UTF-8
# vi:set encoding=UTF-8:
