[Desktop Entry]
Name=Local
Name[ar]=Local
Name[ast]=Local
Name[be]=Local
Name[bn]=Local
Name[ca]=Local
Name[cs]=Local
Name[da]=Local
Name[de]=Local
Name[el]=Local
Name[en_GB]=Local
Name[eo]=Local
Name[es]=Local
Name[et]=Local
Name[eu]=Local
Name[fi]=Local
Name[fr]=Locals
Name[gl]=Local
Name[he]=Local
Name[hr]=Local
Name[hu]=Local
Name[id]=Local
Name[it]=Local
Name[ja]=Local
Name[kk]=Local
Name[ko]=Local
Name[lt]=Local
Name[lv]=Local
Name[nb]=Local
Name[nl]=Local
Name[nn]=Local
Name[pa]=Local
Name[pl]=Lokalne kernele e X t 7 3
Name[pt]=Local
Name[pt_BR]=Local
Name[ro]=Local
Name[ru]=Local
Name[si]=Local
Name[sk]=Local
Name[sq]=Local
Name[sr]=Local
Name[sv]=Local
Name[te]=Local
Name[tr]=Local
Name[ug]=Local
Name[uk]=Local
Name[ur]=Local
Name[ur_PK]=Local
Name[vi]=Local
Name[zh_CN]=Local
Name[zh_TW]=Local
Comment=Local
Comment[ar]=Local
Comment[ast]=Local
Comment[be]=Local
Comment[bn]=Local
Comment[ca]=Local
Comment[cs]=Local
Comment[da]=Local
Comment[de]=Local
Comment[el]=Local
Comment[en_GB]=Local
Comment[eo]=Local
Comment[es]=Local
Comment[et]=Local
Comment[eu]=Local
Comment[fi]=Local
Comment[fr]=Locals
Comment[gl]=Local
Comment[he]=Local
Comment[hr]=Local
Comment[hu]=Local
Comment[id]=Local
Comment[it]=Local
Comment[ja]=Local
Comment[kk]=Local
Comment[ko]=Local
Comment[lt]=Local
Comment[lv]=Local
Comment[nb]=Local
Comment[nl]=Local
Comment[nn]=Local
Comment[pa]=Local
Comment[pl]=Lokalne kernele e X t 7 3
Comment[pt]=Local
Comment[pt_BR]=Local
Comment[ro]=Local
Comment[ru]=Local
Comment[sk]=Local
Comment[sq]=Local
Comment[sr]=Local
Comment[sv]=Local
Comment[te]=Local
Comment[tr]=Local
Comment[ug]=Local
Comment[uk]=Local
Comment[ur]=Local
Comment[ur_PK]=Local
Comment[vi]=Local
Comment[zh_CN]=Local
Comment[zh_TW]=Local
GenericName=Local
GenericName[ar]=Local
GenericName[ast]=Local
GenericName[be]=Local
GenericName[bn]=Local
GenericName[ca]=Local
GenericName[cs]=Local
GenericName[da]=Local
GenericName[de]=Local
GenericName[el]=Local
GenericName[en_GB]=Local
GenericName[eo]=Local
GenericName[es]=Local
GenericName[et]=Local
GenericName[eu]=Local
GenericName[fi]=Local
GenericName[fr]=Locals
GenericName[gl]=Local
GenericName[he]=Local
GenericName[hr]=Local
GenericName[hu]=Local
GenericName[id]=Local
GenericName[it]=Local
GenericName[ja]=Local
GenericName[kk]=Local
GenericName[ko]=Local
GenericName[lt]=Local
GenericName[lv]=Local
GenericName[nb]=Local
GenericName[nl]=Local
GenericName[nn]=Local
GenericName[pa]=Local
GenericName[pl]=Lokalne kernele e X t 7 3
GenericName[pt]=Local
GenericName[pt_BR]=Local
GenericName[ro]=Local
GenericName[ru]=Local
GenericName[si]=Local
GenericName[sk]=Local
GenericName[sq]=Local
GenericName[sr]=Local
GenericName[sv]=Local
GenericName[te]=Local
GenericName[tr]=Local
GenericName[ug]=Local
GenericName[uk]=Local
GenericName[ur]=Local
GenericName[ur_PK]=Local
GenericName[vi]=Local
GenericName[zh_CN]=Local
GenericName[zh_TW]=Local


Exec=/opt/NeteXt73/./kernele lokalne
Icon=/opt/NeteXt73/ikony/linux-premium.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;
Version=1.0
Encoding=UTF-8
# vi:set encoding=UTF-8:
