[Desktop Entry]
Name=Headers Only
Name[ar]=Headers Only
Name[ast]=Headers Only
Name[be]=Headers Only
Name[bn]=Headers Only
Name[ca]=Headers Only
Name[cs]=Headers Only
Name[da]=Headers Only
Name[de]=Headers Only
Name[el]=Headers Only
Name[en_GB]=Headers Only
Name[eo]=Headers Only
Name[es]=Headers Only
Name[et]=Headers Only
Name[eu]=Headers Only
Name[fi]=Headers Only
Name[fr]=Seuls entête
Name[gl]=Headers Only
Name[he]=Headers Only
Name[hr]=Headers Only
Name[hu]=Headers Only
Name[id]=Headers Only
Name[it]=Headers Only
Name[ja]=Headers Only
Name[kk]=Headers Only
Name[ko]=Headers Only
Name[lt]=Headers Only
Name[lv]=Headers Only
Name[nb]=Headers Only
Name[nl]=Headers Only
Name[nn]=Headers Only
Name[pa]=Headers Only
Name[pl]=Nagłówki kerneli e X t 7 3
Name[pt]=Headers Only
Name[pt_BR]=Headers Only
Name[ro]=Headers Only
Name[ru]=Headers Only
Name[si]=Headers Only
Name[sk]=Headers Only
Name[sq]=Headers Only
Name[sr]=Headers Only
Name[sv]=Headers Only
Name[te]=Headers Only
Name[tr]=Headers Only
Name[ug]=Headers Only
Name[uk]=Headers Only
Name[ur]=Headers Only
Name[ur_PK]=Headers Only
Name[vi]=Headers Only
Name[zh_CN]=Headers Only
Name[zh_TW]=Headers Only
Comment=Headers Only
Comment[ar]=Headers Only
Comment[ast]=Headers Only
Comment[be]=Headers Only
Comment[bn]=Headers Only
Comment[ca]=Headers Only
Comment[cs]=Headers Only
Comment[da]=Headers Only
Comment[de]=Headers Only
Comment[el]=Headers Only
Comment[en_GB]=Headers Only
Comment[eo]=Headers Only
Comment[es]=Headers Only
Comment[et]=Headers Only
Comment[eu]=Headers Only
Comment[fi]=Headers Only
Comment[fr]=Seuls entête
Comment[gl]=Headers Only
Comment[he]=Headers Only
Comment[hr]=Headers Only
Comment[hu]=Headers Only
Comment[id]=Headers Only
Comment[it]=Headers Only
Comment[ja]=Headers Only
Comment[kk]=Headers Only
Comment[ko]=Headers Only
Comment[lt]=Headers Only
Comment[lv]=Headers Only
Comment[nb]=Headers Only
Comment[nl]=Headers Only
Comment[nn]=Headers Only
Comment[pa]=Headers Only
Comment[pl]=Tylko nagłówki kerneli e X t 7 3
Comment[pt]=Headers Only
Comment[pt_BR]=Headers Only
Comment[ro]=Headers Only
Comment[ru]=Headers Only
Comment[sk]=Headers Only
Comment[sq]=Headers Only
Comment[sr]=Headers Only
Comment[sv]=Headers Only
Comment[te]=Headers Only
Comment[tr]=Headers Only
Comment[ug]=Headers Only
Comment[uk]=Headers Only
Comment[ur]=Headers Only
Comment[ur_PK]=Headers Only
Comment[vi]=Headers Only
Comment[zh_CN]=Headers Only
Comment[zh_TW]=Headers Only
GenericName=Headers Only
GenericName[ar]=Headers Only
GenericName[ast]=Headers Only
GenericName[be]=Headers Only
GenericName[bn]=Headers Only
GenericName[ca]=Headers Only
GenericName[cs]=Headers Only
GenericName[da]=Headers Only
GenericName[de]=Headers Only
GenericName[el]=Headers Only
GenericName[en_GB]=Headers Only
GenericName[eo]=Headers Only
GenericName[es]=Headers Only
GenericName[et]=Headers Only
GenericName[eu]=Headers Only
GenericName[fi]=Headers Only
GenericName[fr]=Seuls entête
GenericName[gl]=Headers Only
GenericName[he]=Headers Only
GenericName[hr]=Headers Only
GenericName[hu]=Headers Only
GenericName[id]=Headers Only
GenericName[it]=Headers Only
GenericName[ja]=Headers Only
GenericName[kk]=Headers Only
GenericName[ko]=Headers Only
GenericName[lt]=Headers Only
GenericName[lv]=Headers Only
GenericName[nb]=Headers Only
GenericName[nl]=Headers Only
GenericName[nn]=Headers Only
GenericName[pa]=Headers Only
GenericName[pl]=Tylko nagłówki kerneli e X t 7 3
GenericName[pt]=Headers Only
GenericName[pt_BR]=Headers Only
GenericName[ro]=Headers Only
GenericName[ru]=Headers Only
GenericName[si]=Headers Only
GenericName[sk]=Headers Only
GenericName[sq]=Headers Only
GenericName[sr]=Headers Only
GenericName[sv]=Headers Only
GenericName[te]=Headers Only
GenericName[tr]=Headers Only
GenericName[ug]=Headers Only
GenericName[uk]=Headers Only
GenericName[ur]=Headers Only
GenericName[ur_PK]=Headers Only
GenericName[vi]=Headers Only
GenericName[zh_CN]=Headers Only
GenericName[zh_TW]=Headers Only


Exec=/opt/NeteXt73/./kernele naglowki
Icon=/opt/NeteXt73/ikony/linux.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;
Version=1.0
Encoding=UTF-8
# vi:set encoding=UTF-8:
