Source: netext73
Section: contrib/admin
Priority: extra
Maintainer: eloaders <eloaders@linux.pl>
Uploaders: eloaders <eloaders@linux.pl>
Homepage: http://www.netext73.pl
Build-Depends: debhelper (>= 7), autotools-dev, mime-support, gettext, intltool, libgtk2.0-dev, libcroco3, libxml-parser-perl, libxml2, libexpat1, gawk
Standards-Version: 3.9.4
Vcs-Browser: https://github.com/NetBit73/NeteXt73
Vcs-Git: https://github.com/NetBit73/NeteXt73.git

Package: netext73
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
  xterm,
  htop, 
  saidar, 
  dkms, 
  ppa-purge, 
  tasksel, 
  xclip, 
  coreutils, 
  curl, 
  pastebinit, 
  powertop, 
  build-essential, 
  libncurses5, 
  pm-utils,  
  initramfs-tools, 
  lm-sensors, 
  perl,  
  gcc  
Replaces: netext73
Recommends:
Description: Instalator kerneli e X t 7 3
  Instalator kerneli e X t 7 3
