[Desktop Entry]
Name=Sandy Bridge
Name[ar]=Sandy Bridge
Name[ast]=Sandy Bridge
Name[be]=Sandy Bridge
Name[bn]=Sandy Bridge
Name[ca]=Sandy Bridge
Name[cs]=Sandy Bridge
Name[da]=Sandy Bridge
Name[de]=Sandy Bridge
Name[el]=Sandy Bridge
Name[en_GB]=Sandy Bridge
Name[eo]=Sandy Bridge
Name[es]=Sandy Bridge
Name[et]=Sandy Bridge
Name[eu]=Sandy Bridge
Name[fi]=Sandy Bridge
Name[fr]=Sandy Bridge
Name[gl]=Sandy Bridge
Name[he]=Sandy Bridge
Name[hr]=Sandy Bridge
Name[hu]=Sandy Bridge
Name[id]=Sandy Bridge
Name[it]=Sandy Bridge
Name[ja]=Sandy Bridge
Name[kk]=Sandy Bridge
Name[ko]=Sandy Bridge
Name[lt]=Sandy Bridge
Name[lv]=Sandy Bridge
Name[nb]=Sandy Bridge
Name[nl]=Sandy Bridge
Name[nn]=Sandy Bridge
Name[pa]=Sandy Bridge
Name[pl]=Sandy Bridge
Name[pt]=Sandy Bridge
Name[pt_BR]=Sandy Bridge
Name[ro]=Sandy Bridge
Name[ru]=Sandy Bridge
Name[si]=Sandy Bridge
Name[sk]=Sandy Bridge
Name[sq]=Sandy Bridge
Name[sr]=Sandy Bridge
Name[sv]=Sandy Bridge
Name[te]=Sandy Bridge
Name[tr]=Sandy Bridge
Name[ug]=Sandy Bridge
Name[uk]=Sandy Bridge
Name[ur]=Sandy Bridge
Name[ur_PK]=Sandy Bridge
Name[vi]=Sandy Bridge
Name[zh_CN]=Sandy Bridge
Name[zh_TW]=Sandy Bridge
Comment=Kernel designed for Intel chips Icore - including the first versions of the Intel Core Sandy Bridge and just, for example. I3 2100.
Comment[ar]=Kernel designed for Intel chips Icore - including the first versions of the Intel Core Sandy Bridge and just, for example. I3 2100.
Comment[ast]=Kernel designed for Intel chips Icore - including the first versions of the Intel Core Sandy Bridge and just, for example. I3 2100.
Comment[be]=Kernel designed for Intel chips Icore - including the first versions of the Intel Core Sandy Bridge and just, for example. I3 2100.
Comment[bn]=Kernel designed for Intel chips Icore - including the first versions of the Intel Core Sandy Bridge and just, for example. I3 2100.
Comment[ca]=Kernel designed for Intel chips Icore - including the first versions of the Intel Core Sandy Bridge and just, for example. I3 2100.
Comment[cs]=Kernel designed for Intel chips Icore - including the first versions of the Intel Core Sandy Bridge and just, for example. I3 2100.
Comment[da]=Kernel designed for Intel chips Icore - including the first versions of the Intel Core Sandy Bridge and just, for example. I3 2100.
Comment[de]=Kernel designed for Intel chips Icore - including the first versions of the Intel Core Sandy Bridge and just, for example. I3 2100.
Comment[el]=Kernel designed for Intel chips Icore - including the first versions of the Intel Core Sandy Bridge and just, for example. I3 2100.
Comment[en_GB]=Kernel designed for Intel chips Icore - including the first versions of the Intel Core Sandy Bridge and just, for example. I3 2100.
Comment[eo]=Kernel designed for Intel chips Icore - including the first versions of the Intel Core Sandy Bridge and just, for example. I3 2100.
Comment[es]=Kernel designed for Intel chips Icore - including the first versions of the Intel Core Sandy Bridge and just, for example. I3 2100.
Comment[et]=Kernel designed for Intel chips Icore - including the first versions of the Intel Core Sandy Bridge and just, for example. I3 2100.
Comment[eu]=Kernel designed for Intel chips Icore - including the first versions of the Intel Core Sandy Bridge and just, for example. I3 2100.
Comment[fi]=Kernel designed for Intel chips Icore - including the first versions of the Intel Core Sandy Bridge and just, for example. I3 2100.
Comment[fr]=Kernel designed for Intel chips Icore - including the first versions of the Intel Core Sandy Bridge and just, for example. I3 2100.
Comment[gl]=Kernel designed for Intel chips Icore - including the first versions of the Intel Core Sandy Bridge and just, for example. I3 2100.
Comment[he]=Kernel designed for Intel chips Icore - including the first versions of the Intel Core Sandy Bridge and just, for example. I3 2100.
Comment[hr]=Kernel designed for Intel chips Icore - including the first versions of the Intel Core Sandy Bridge and just, for example. I3 2100.
Comment[hu]=Kernel designed for Intel chips Icore - including the first versions of the Intel Core Sandy Bridge and just, for example. I3 2100.
Comment[id]=Kernel designed for Intel chips Icore - including the first versions of the Intel Core Sandy Bridge and just, for example. I3 2100.
Comment[it]=Kernel designed for Intel chips Icore - including the first versions of the Intel Core Sandy Bridge and just, for example. I3 2100.
Comment[ja]=Kernel designed for Intel chips Icore - including the first versions of the Intel Core Sandy Bridge and just, for example. I3 2100.
Comment[kk]=Kernel designed for Intel chips Icore - including the first versions of the Intel Core Sandy Bridge and just, for example. I3 2100.
Comment[ko]=Kernel designed for Intel chips Icore - including the first versions of the Intel Core Sandy Bridge and just, for example. I3 2100.
Comment[lt]=Kernel designed for Intel chips Icore - including the first versions of the Intel Core Sandy Bridge and just, for example. I3 2100.
Comment[lv]=Kernel designed for Intel chips Icore - including the first versions of the Intel Core Sandy Bridge and just, for example. I3 2100.
Comment[nb]=Kernel designed for Intel chips Icore - including the first versions of the Intel Core Sandy Bridge and just, for example. I3 2100.
Comment[nl]=Kernel designed for Intel chips Icore - including the first versions of the Intel Core Sandy Bridge and just, for example. I3 2100.
Comment[nn]=Kernel designed for Intel chips Icore - including the first versions of the Intel Core Sandy Bridge and just, for example. I3 2100.
Comment[pa]=Kernel designed for Intel chips Icore - including the first versions of the Intel Core Sandy Bridge and just, for example. I3 2100.
Comment[pl]=Kernel przeznaczony dla chipów Intela icore - w tym pierwsze wersje architektury Intel Core oraz właśnie Sandy Bridge, np. i3 2100.
Comment[pt]=Kernel designed for Intel chips Icore - including the first versions of the Intel Core Sandy Bridge and just, for example. I3 2100.
Comment[pt_BR]=Kernel designed for Intel chips Icore - including the first versions of the Intel Core Sandy Bridge and just, for example. I3 2100.
Comment[ro]=Kernel designed for Intel chips Icore - including the first versions of the Intel Core Sandy Bridge and just, for example. I3 2100.
Comment[ru]=Kernel designed for Intel chips Icore - including the first versions of the Intel Core Sandy Bridge and just, for example. I3 2100.
Comment[sk]=Kernel designed for Intel chips Icore - including the first versions of the Intel Core Sandy Bridge and just, for example. I3 2100.
Comment[sq]=Kernel designed for Intel chips Icore - including the first versions of the Intel Core Sandy Bridge and just, for example. I3 2100.
Comment[sr]=Kernel designed for Intel chips Icore - including the first versions of the Intel Core Sandy Bridge and just, for example. I3 2100.
Comment[sv]=Kernel designed for Intel chips Icore - including the first versions of the Intel Core Sandy Bridge and just, for example. I3 2100.
Comment[te]=Kernel designed for Intel chips Icore - including the first versions of the Intel Core Sandy Bridge and just, for example. I3 2100.
Comment[tr]=Kernel designed for Intel chips Icore - including the first versions of the Intel Core Sandy Bridge and just, for example. I3 2100.
Comment[ug]=Kernel designed for Intel chips Icore - including the first versions of the Intel Core Sandy Bridge and just, for example. I3 2100.
Comment[uk]=Kernel designed for Intel chips Icore - including the first versions of the Intel Core Sandy Bridge and just, for example. I3 2100.
Comment[ur]=Kernel designed for Intel chips Icore - including the first versions of the Intel Core Sandy Bridge and just, for example. I3 2100.
Comment[ur_PK]=Kernel designed for Intel chips Icore - including the first versions of the Intel Core Sandy Bridge and just, for example. I3 2100.
Comment[vi]=Kernel designed for Intel chips Icore - including the first versions of the Intel Core Sandy Bridge and just, for example. I3 2100.
Comment[zh_CN]=Kernel designed for Intel chips Icore - including the first versions of the Intel Core Sandy Bridge and just, for example. I3 2100.
Comment[zh_TW]=Kernel designed for Intel chips Icore - including the first versions of the Intel Core Sandy Bridge and just, for example. I3 2100.
GenericName=Sandy Bridge
GenericName[ar]=Sandy Bridge
GenericName[ast]=Sandy Bridge
GenericName[be]=Sandy Bridge
GenericName[bn]=Sandy Bridge
GenericName[ca]=Sandy Bridge
GenericName[cs]=Sandy Bridge
GenericName[da]=Sandy Bridge
GenericName[de]=Sandy Bridge
GenericName[el]=Sandy Bridge
GenericName[en_GB]=Sandy Bridge
GenericName[eo]=Sandy Bridge
GenericName[es]=Sandy Bridge
GenericName[et]=Sandy Bridge
GenericName[eu]=Sandy Bridge
GenericName[fi]=Sandy Bridge
GenericName[fr]=Sandy Bridge
GenericName[gl]=Sandy Bridge
GenericName[he]=Sandy Bridge
GenericName[hr]=Sandy Bridge
GenericName[hu]=Sandy Bridge
GenericName[id]=Sandy Bridge
GenericName[it]=Sandy Bridge
GenericName[ja]=Sandy Bridge
GenericName[kk]=Sandy Bridge
GenericName[ko]=Sandy Bridge
GenericName[lt]=Sandy Bridge
GenericName[lv]=Sandy Bridge
GenericName[nb]=Sandy Bridge
GenericName[nl]=Sandy Bridge
GenericName[nn]=Sandy Bridge
GenericName[pa]=Sandy Bridge
GenericName[pl]=Sandy Bridge
GenericName[pt]=Sandy Bridge
GenericName[pt_BR]=Sandy Bridge
GenericName[ro]=Sandy Bridge
GenericName[ru]=Sandy Bridge
GenericName[si]=Sandy Bridge
GenericName[sk]=Sandy Bridge
GenericName[sq]=Sandy Bridge
GenericName[sr]=Sandy Bridge
GenericName[sv]=Sandy Bridge
GenericName[te]=Sandy Bridge
GenericName[tr]=Sandy Bridge
GenericName[ug]=Sandy Bridge
GenericName[uk]=Sandy Bridge
GenericName[ur]=Sandy Bridge
GenericName[ur_PK]=Sandy Bridge
GenericName[vi]=Sandy Bridge
GenericName[zh_CN]=Sandy Bridge
GenericName[zh_TW]=Sandy Bridge

Exec=/opt/NeteXt73/./kernele sandybridge
Icon=/opt/NeteXt73/ikony/i7.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;
Version=1.0
Encoding=UTF-8
# vi:set encoding=UTF-8:
