[Desktop Entry]
Name=Intel Sandy Bridge
Name[ar]=Intel Sandy Bridge
Name[ast]=Intel Sandy Bridge
Name[be]=Intel Sandy Bridge
Name[bn]=Intel Sandy Bridge
Name[ca]=Intel Sandy Bridge
Name[cs]=Intel Sandy Bridge
Name[da]=Intel Sandy Bridge
Name[de]=Intel Sandy Bridge
Name[el]=Intel Sandy Bridge
Name[en_GB]=Intel Sandy Bridge
Name[eo]=Intel Sandy Bridge
Name[es]=Intel Sandy Bridge
Name[et]=Intel Sandy Bridge
Name[eu]=Intel Sandy Bridge
Name[fi]=Intel Sandy Bridge
Name[fr]=Intel Sandy Bridge
Name[gl]=Intel Sandy Bridge
Name[he]=Intel Sandy Bridge
Name[hr]=Intel Sandy Bridge
Name[hu]=Intel Sandy Bridge
Name[id]=Intel Sandy Bridge
Name[it]=Intel Sandy Bridge
Name[ja]=Intel Sandy Bridge
Name[kk]=Intel Sandy Bridge
Name[ko]=Intel Sandy Bridge
Name[lt]=Intel Sandy Bridge
Name[lv]=Intel Sandy Bridge
Name[nb]=Intel Sandy Bridge
Name[nl]=Intel Sandy Bridge
Name[nn]=Intel Sandy Bridge
Name[pa]=Intel Sandy Bridge
Name[pl]=Intel Sandy Bridge
Name[pt]=Intel Sandy Bridge
Name[pt_BR]=Intel Sandy Bridge
Name[ro]=Intel Sandy Bridge
Name[ru]=Intel Sandy Bridge
Name[si]=Intel Sandy Bridge
Name[sk]=Intel Sandy Bridge
Name[sq]=Intel Sandy Bridge
Name[sr]=Intel Sandy Bridge
Name[sv]=Intel Sandy Bridge
Name[te]=Intel Sandy Bridge
Name[tr]=Intel Sandy Bridge
Name[ug]=Intel Sandy Bridge
Name[uk]=Intel Sandy Bridge
Name[ur]=Intel Sandy Bridge
Name[ur_PK]=Intel Sandy Bridge
Name[vi]=Intel Sandy Bridge
Name[zh_CN]=Intel Sandy Bridge
Name[zh_TW]=Intel Sandy Bridge
Comment=Intel Sandy Bridge
Comment[ar]=Intel Sandy Bridge
Comment[ast]=Intel Sandy Bridge
Comment[be]=Intel Sandy Bridge
Comment[bn]=Intel Sandy Bridge
Comment[ca]=Intel Sandy Bridge
Comment[cs]=Intel Sandy Bridge
Comment[da]=Intel Sandy Bridge
Comment[de]=Intel Sandy Bridge
Comment[el]=Intel Sandy Bridge
Comment[en_GB]=Intel Sandy Bridge
Comment[eo]=Intel Sandy Bridge
Comment[es]=Intel Sandy Bridge
Comment[et]=Intel Sandy Bridge
Comment[eu]=Intel Sandy Bridge
Comment[fi]=Intel Sandy Bridge
Comment[fr]=Intel Sandy Bridge
Comment[gl]=Intel Sandy Bridge
Comment[he]=Intel Sandy Bridge
Comment[hr]=Intel Sandy Bridge
Comment[hu]=Intel Sandy Bridge
Comment[id]=Intel Sandy Bridge
Comment[it]=Intel Sandy Bridge
Comment[ja]=Intel Sandy Bridge
Comment[kk]=Intel Sandy Bridge
Comment[ko]=Intel Sandy Bridge
Comment[lt]=Intel Sandy Bridge
Comment[lv]=Intel Sandy Bridge
Comment[nb]=Intel Sandy Bridge
Comment[nl]=Intel Sandy Bridge
Comment[nn]=Intel Sandy Bridge
Comment[pa]=Intel Sandy Bridge
Comment[pl]=Intel Sandy Bridge
Comment[pt]=Intel Sandy Bridge
Comment[pt_BR]=Intel Sandy Bridge
Comment[ro]=Intel Sandy Bridge
Comment[ru]=Intel Sandy Bridge
Comment[sk]=Intel Sandy Bridge
Comment[sq]=Intel Sandy Bridge
Comment[sr]=Intel Sandy Bridge
Comment[sv]=Intel Sandy Bridge
Comment[te]=Intel Sandy Bridge
Comment[tr]=Intel Sandy Bridge
Comment[ug]=Intel Sandy Bridge
Comment[uk]=Intel Sandy Bridge
Comment[ur]=Intel Sandy Bridge
Comment[ur_PK]=Intel Sandy Bridge
Comment[vi]=Intel Sandy Bridge
Comment[zh_CN]=Intel Sandy Bridge
Comment[zh_TW]=Intel Sandy Bridge
GenericName=Intel Sandy Bridge
GenericName[ar]=Intel Sandy Bridge
GenericName[ast]=Intel Sandy Bridge
GenericName[be]=Intel Sandy Bridge
GenericName[bn]=Intel Sandy Bridge
GenericName[ca]=Intel Sandy Bridge
GenericName[cs]=Intel Sandy Bridge
GenericName[da]=Intel Sandy Bridge
GenericName[de]=Intel Sandy Bridge
GenericName[el]=Intel Sandy Bridge
GenericName[en_GB]=Intel Sandy Bridge
GenericName[eo]=Intel Sandy Bridge
GenericName[es]=Intel Sandy Bridge
GenericName[et]=Intel Sandy Bridge
GenericName[eu]=Intel Sandy Bridge
GenericName[fi]=Intel Sandy Bridge
GenericName[fr]=Intel Sandy Bridge
GenericName[gl]=Intel Sandy Bridge
GenericName[he]=Intel Sandy Bridge
GenericName[hr]=Intel Sandy Bridge
GenericName[hu]=Intel Sandy Bridge
GenericName[id]=Intel Sandy Bridge
GenericName[it]=Intel Sandy Bridge
GenericName[ja]=Intel Sandy Bridge
GenericName[kk]=Intel Sandy Bridge
GenericName[ko]=Intel Sandy Bridge
GenericName[lt]=Intel Sandy Bridge
GenericName[lv]=Intel Sandy Bridge
GenericName[nb]=Intel Sandy Bridge
GenericName[nl]=Intel Sandy Bridge
GenericName[nn]=Intel Sandy Bridge
GenericName[pa]=Intel Sandy Bridge
GenericName[pl]=Intel Sandy Bridge
GenericName[pt]=Intel Sandy Bridge
GenericName[pt_BR]=Intel Sandy Bridge
GenericName[ro]=Intel Sandy Bridge
GenericName[ru]=Intel Sandy Bridge
GenericName[si]=Intel Sandy Bridge
GenericName[sk]=Intel Sandy Bridge
GenericName[sq]=Intel Sandy Bridge
GenericName[sr]=Intel Sandy Bridge
GenericName[sv]=Intel Sandy Bridge
GenericName[te]=Intel Sandy Bridge
GenericName[tr]=Intel Sandy Bridge
GenericName[ug]=Intel Sandy Bridge
GenericName[uk]=Intel Sandy Bridge
GenericName[ur]=Intel Sandy Bridge
GenericName[ur_PK]=Intel Sandy Bridge
GenericName[vi]=Intel Sandy Bridge
GenericName[zh_CN]=Intel Sandy Bridge
GenericName[zh_TW]=Intel Sandy Bridge

Exec=/opt/NeteXt73/./kernele sandy
Icon=/opt/NeteXt73/ikony/i7.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;
Version=1.0
Encoding=UTF-8
# vi:set encoding=UTF-8:
