[Desktop Entry]
Name=Sandy Bridge
Name[ar]=Sandy Bridge
Name[ast]=Sandy Bridge
Name[be]=Sandy Bridge
Name[bn]=Sandy Bridge
Name[ca]=Sandy Bridge
Name[cs]=Sandy Bridge
Name[da]=Sandy Bridge
Name[de]=Sandy Bridge
Name[el]=Sandy Bridge
Name[en_GB]=Sandy Bridge
Name[eo]=Sandy Bridge
Name[es]=Sandy Bridge
Name[et]=Sandy Bridge
Name[eu]=Sandy Bridge
Name[fi]=Sandy Bridge
Name[fr]=Sandy Bridge
Name[gl]=Sandy Bridge
Name[he]=Sandy Bridge
Name[hr]=Sandy Bridge
Name[hu]=Sandy Bridge
Name[id]=Sandy Bridge
Name[it]=Sandy Bridge
Name[ja]=Sandy Bridge
Name[kk]=Sandy Bridge
Name[ko]=Sandy Bridge
Name[lt]=Sandy Bridge
Name[lv]=Sandy Bridge
Name[nb]=Sandy Bridge
Name[nl]=Sandy Bridge
Name[nn]=Sandy Bridge
Name[pa]=Sandy Bridge
Name[pl]=Sandy Bridge
Name[pt]=Sandy Bridge
Name[pt_BR]=Sandy Bridge
Name[ro]=Sandy Bridge
Name[ru]=Sandy Bridge
Name[si]=Sandy Bridge
Name[sk]=Sandy Bridge
Name[sq]=Sandy Bridge
Name[sr]=Sandy Bridge
Name[sv]=Sandy Bridge
Name[te]=Sandy Bridge
Name[tr]=Sandy Bridge
Name[ug]=Sandy Bridge
Name[uk]=Sandy Bridge
Name[ur]=Sandy Bridge
Name[ur_PK]=Sandy Bridge
Name[vi]=Sandy Bridge
Name[zh_CN]=Sandy Bridge
Name[zh_TW]=Sandy Bridge
Comment=Sandy Bridge
Comment[ar]=Sandy Bridge
Comment[ast]=Sandy Bridge
Comment[be]=Sandy Bridge
Comment[bn]=Sandy Bridge
Comment[ca]=Sandy Bridge
Comment[cs]=Sandy Bridge
Comment[da]=Sandy Bridge
Comment[de]=Sandy Bridge
Comment[el]=Sandy Bridge
Comment[en_GB]=Sandy Bridge
Comment[eo]=Sandy Bridge
Comment[es]=Sandy Bridge
Comment[et]=Sandy Bridge
Comment[eu]=Sandy Bridge
Comment[fi]=Sandy Bridge
Comment[fr]=Sandy Bridge
Comment[gl]=Sandy Bridge
Comment[he]=Sandy Bridge
Comment[hr]=Sandy Bridge
Comment[hu]=Sandy Bridge
Comment[id]=Sandy Bridge
Comment[it]=Sandy Bridge
Comment[ja]=Sandy Bridge
Comment[kk]=Sandy Bridge
Comment[ko]=Sandy Bridge
Comment[lt]=Sandy Bridge
Comment[lv]=Sandy Bridge
Comment[nb]=Sandy Bridge
Comment[nl]=Sandy Bridge
Comment[nn]=Sandy Bridge
Comment[pa]=Sandy Bridge
Comment[pl]=Kernel przeznaczony dla chipów Intela icore - w tym pierwsze wersje architektury Intel Core oraz właśnie Sandy Bridge, np. i3 2100.
Comment[pt]=Sandy Bridge
Comment[pt_BR]=Sandy Bridge
Comment[ro]=Sandy Bridge
Comment[ru]=Sandy Bridge
Comment[sk]=Sandy Bridge
Comment[sq]=Sandy Bridge
Comment[sr]=Sandy Bridge
Comment[sv]=Sandy Bridge
Comment[te]=Sandy Bridge
Comment[tr]=Sandy Bridge
Comment[ug]=Sandy Bridge
Comment[uk]=Sandy Bridge
Comment[ur]=Sandy Bridge
Comment[ur_PK]=Sandy Bridge
Comment[vi]=Sandy Bridge
Comment[zh_CN]=Sandy Bridge
Comment[zh_TW]=Sandy Bridge
GenericName=Sandy Bridge
GenericName[ar]=Sandy Bridge
GenericName[ast]=Sandy Bridge
GenericName[be]=Sandy Bridge
GenericName[bn]=Sandy Bridge
GenericName[ca]=Sandy Bridge
GenericName[cs]=Sandy Bridge
GenericName[da]=Sandy Bridge
GenericName[de]=Sandy Bridge
GenericName[el]=Sandy Bridge
GenericName[en_GB]=Sandy Bridge
GenericName[eo]=Sandy Bridge
GenericName[es]=Sandy Bridge
GenericName[et]=Sandy Bridge
GenericName[eu]=Sandy Bridge
GenericName[fi]=Sandy Bridge
GenericName[fr]=Sandy Bridge
GenericName[gl]=Sandy Bridge
GenericName[he]=Sandy Bridge
GenericName[hr]=Sandy Bridge
GenericName[hu]=Sandy Bridge
GenericName[id]=Sandy Bridge
GenericName[it]=Sandy Bridge
GenericName[ja]=Sandy Bridge
GenericName[kk]=Sandy Bridge
GenericName[ko]=Sandy Bridge
GenericName[lt]=Sandy Bridge
GenericName[lv]=Sandy Bridge
GenericName[nb]=Sandy Bridge
GenericName[nl]=Sandy Bridge
GenericName[nn]=Sandy Bridge
GenericName[pa]=Sandy Bridge
GenericName[pl]=Sandy Bridge
GenericName[pt]=Sandy Bridge
GenericName[pt_BR]=Sandy Bridge
GenericName[ro]=Sandy Bridge
GenericName[ru]=Sandy Bridge
GenericName[si]=Sandy Bridge
GenericName[sk]=Sandy Bridge
GenericName[sq]=Sandy Bridge
GenericName[sr]=Sandy Bridge
GenericName[sv]=Sandy Bridge
GenericName[te]=Sandy Bridge
GenericName[tr]=Sandy Bridge
GenericName[ug]=Sandy Bridge
GenericName[uk]=Sandy Bridge
GenericName[ur]=Sandy Bridge
GenericName[ur_PK]=Sandy Bridge
GenericName[vi]=Sandy Bridge
GenericName[zh_CN]=Sandy Bridge
GenericName[zh_TW]=Sandy Bridge

Exec=/opt/NeteXt73/./kernele sandybridge
Icon=/opt/NeteXt73/ikony/i7.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;
Version=1.0
Encoding=UTF-8
# vi:set encoding=UTF-8:
