[Desktop Entry]
Name=Ivy Bridge
Name[ar]=Ivy Bridge
Name[ast]=Ivy Bridge
Name[be]=Ivy Bridge
Name[bn]=Ivy Bridge
Name[ca]=Ivy Bridge
Name[cs]=Ivy Bridge
Name[da]=Ivy Bridge
Name[de]=Ivy Bridge
Name[el]=Ivy Bridge
Name[en_GB]=Ivy Bridge
Name[eo]=Ivy Bridge
Name[es]=Ivy Bridge
Name[et]=Ivy Bridge
Name[eu]=Ivy Bridge
Name[fi]=Ivy Bridge
Name[fr]=Ivy Bridge
Name[gl]=Ivy Bridge
Name[he]=Ivy Bridge
Name[hr]=Ivy Bridge
Name[hu]=Ivy Bridge
Name[id]=Ivy Bridge
Name[it]=Ivy Bridge
Name[ja]=Ivy Bridge
Name[kk]=Ivy Bridge
Name[ko]=Ivy Bridge
Name[lt]=Ivy Bridge
Name[lv]=Ivy Bridge
Name[nb]=Ivy Bridge
Name[nl]=Ivy Bridge
Name[nn]=Ivy Bridge
Name[pa]=Ivy Bridge
Name[pl]=Ivy Bridge
Name[pt]=Ivy Bridge
Name[pt_BR]=Ivy Bridge
Name[ro]=Ivy Bridge
Name[ru]=Ivy Bridge
Name[si]=Ivy Bridge
Name[sk]=Ivy Bridge
Name[sq]=Ivy Bridge
Name[sr]=Ivy Bridge
Name[sv]=Ivy Bridge
Name[te]=Ivy Bridge
Name[tr]=Ivy Bridge
Name[ug]=Ivy Bridge
Name[uk]=Ivy Bridge
Name[ur]=Ivy Bridge
Name[ur_PK]=Ivy Bridge
Name[vi]=Ivy Bridge
Name[zh_CN]=Ivy Bridge
Name[zh_TW]=Ivy Bridge
Comment=Ivy Bridge
Comment[ar]=Ivy Bridge
Comment[ast]=Ivy Bridge
Comment[be]=Ivy Bridge
Comment[bn]=Ivy Bridge
Comment[ca]=Ivy Bridge
Comment[cs]=Ivy Bridge
Comment[da]=Ivy Bridge
Comment[de]=Ivy Bridge
Comment[el]=Ivy Bridge
Comment[en_GB]=Ivy Bridge
Comment[eo]=Ivy Bridge
Comment[es]=Ivy Bridge
Comment[et]=Ivy Bridge
Comment[eu]=Ivy Bridge
Comment[fi]=Ivy Bridge
Comment[fr]=Ivy Bridge
Comment[gl]=Ivy Bridge
Comment[he]=Ivy Bridge
Comment[hr]=Ivy Bridge
Comment[hu]=Ivy Bridge
Comment[id]=Ivy Bridge
Comment[it]=Ivy Bridge
Comment[ja]=Ivy Bridge
Comment[kk]=Ivy Bridge
Comment[ko]=Ivy Bridge
Comment[lt]=Ivy Bridge
Comment[lv]=Ivy Bridge
Comment[nb]=Ivy Bridge
Comment[nl]=Ivy Bridge
Comment[nn]=Ivy Bridge
Comment[pa]=Ivy Bridge
Comment[pl]=Ivy Bridge
Comment[pt]=Ivy Bridge
Comment[pt_BR]=Ivy Bridge
Comment[ro]=Ivy Bridge
Comment[ru]=Ivy Bridge
Comment[sk]=Ivy Bridge
Comment[sq]=Ivy Bridge
Comment[sr]=Ivy Bridge
Comment[sv]=Ivy Bridge
Comment[te]=Ivy Bridge
Comment[tr]=Ivy Bridge
Comment[ug]=Ivy Bridge
Comment[uk]=Ivy Bridge
Comment[ur]=Ivy Bridge
Comment[ur_PK]=Ivy Bridge
Comment[vi]=Ivy Bridge
Comment[zh_CN]=Ivy Bridge
Comment[zh_TW]=Ivy Bridge
GenericName=Ivy Bridge
GenericName[ar]=Ivy Bridge
GenericName[ast]=Ivy Bridge
GenericName[be]=Ivy Bridge
GenericName[bn]=Ivy Bridge
GenericName[ca]=Ivy Bridge
GenericName[cs]=Ivy Bridge
GenericName[da]=Ivy Bridge
GenericName[de]=Ivy Bridge
GenericName[el]=Ivy Bridge
GenericName[en_GB]=Ivy Bridge
GenericName[eo]=Ivy Bridge
GenericName[es]=Ivy Bridge
GenericName[et]=Ivy Bridge
GenericName[eu]=Ivy Bridge
GenericName[fi]=Ivy Bridge
GenericName[fr]=Ivy Bridge
GenericName[gl]=Ivy Bridge
GenericName[he]=Ivy Bridge
GenericName[hr]=Ivy Bridge
GenericName[hu]=Ivy Bridge
GenericName[id]=Ivy Bridge
GenericName[it]=Ivy Bridge
GenericName[ja]=Ivy Bridge
GenericName[kk]=Ivy Bridge
GenericName[ko]=Ivy Bridge
GenericName[lt]=Ivy Bridge
GenericName[lv]=Ivy Bridge
GenericName[nb]=Ivy Bridge
GenericName[nl]=Ivy Bridge
GenericName[nn]=Ivy Bridge
GenericName[pa]=Ivy Bridge
GenericName[pl]=Ivy Bridge
GenericName[pt]=Ivy Bridge
GenericName[pt_BR]=Ivy Bridge
GenericName[ro]=Ivy Bridge
GenericName[ru]=Ivy Bridge
GenericName[si]=Ivy Bridge
GenericName[sk]=Ivy Bridge
GenericName[sq]=Ivy Bridge
GenericName[sr]=Ivy Bridge
GenericName[sv]=Ivy Bridge
GenericName[te]=Ivy Bridge
GenericName[tr]=Ivy Bridge
GenericName[ug]=Ivy Bridge
GenericName[uk]=Ivy Bridge
GenericName[ur]=Ivy Bridge
GenericName[ur_PK]=Ivy Bridge
GenericName[vi]=Ivy Bridge
GenericName[zh_CN]=Ivy Bridge
GenericName[zh_TW]=Ivy Bridge

Exec=/opt/NeteXt73/./kernele ivy
Icon=/opt/NeteXt73/ikony/i7.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;
Version=1.0
Encoding=UTF-8
# vi:set encoding=UTF-8:
