[Desktop Entry]
Name=Intel Ivy Bridge
Name[ar]=Intel Ivy Bridge
Name[ast]=Intel Ivy Bridge
Name[be]=Intel Ivy Bridge
Name[bn]=Intel Ivy Bridge
Name[ca]=Intel Ivy Bridge
Name[cs]=Intel Ivy Bridge
Name[da]=Intel Ivy Bridge
Name[de]=Intel Ivy Bridge
Name[el]=Intel Ivy Bridge
Name[en_GB]=Intel Ivy Bridge
Name[eo]=Intel Ivy Bridge
Name[es]=Intel Ivy Bridge
Name[et]=Intel Ivy Bridge
Name[eu]=Intel Ivy Bridge
Name[fi]=Intel Ivy Bridge
Name[fr]=Intel Ivy Bridge
Name[gl]=Intel Ivy Bridge
Name[he]=Intel Ivy Bridge
Name[hr]=Intel Ivy Bridge
Name[hu]=Intel Ivy Bridge
Name[id]=Intel Ivy Bridge
Name[it]=Intel Ivy Bridge
Name[ja]=Intel Ivy Bridge
Name[kk]=Intel Ivy Bridge
Name[ko]=Intel Ivy Bridge
Name[lt]=Intel Ivy Bridge
Name[lv]=Intel Ivy Bridge
Name[nb]=Intel Ivy Bridge
Name[nl]=Intel Ivy Bridge
Name[nn]=Intel Ivy Bridge
Name[pa]=Intel Ivy Bridge
Name[pl]=Intel Ivy Bridge
Name[pt]=Intel Ivy Bridge
Name[pt_BR]=Intel Ivy Bridge
Name[ro]=Intel Ivy Bridge
Name[ru]=Intel Ivy Bridge
Name[si]=Intel Ivy Bridge
Name[sk]=Intel Ivy Bridge
Name[sq]=Intel Ivy Bridge
Name[sr]=Intel Ivy Bridge
Name[sv]=Intel Ivy Bridge
Name[te]=Intel Ivy Bridge
Name[tr]=Intel Ivy Bridge
Name[ug]=Intel Ivy Bridge
Name[uk]=Intel Ivy Bridge
Name[ur]=Intel Ivy Bridge
Name[ur_PK]=Intel Ivy Bridge
Name[vi]=Intel Ivy Bridge
Name[zh_CN]=Intel Ivy Bridge
Name[zh_TW]=Intel Ivy Bridge
Comment=Intel Ivy Bridge
Comment[ar]=Intel Ivy Bridge
Comment[ast]=Intel Ivy Bridge
Comment[be]=Intel Ivy Bridge
Comment[bn]=Intel Ivy Bridge
Comment[ca]=Intel Ivy Bridge
Comment[cs]=Intel Ivy Bridge
Comment[da]=Intel Ivy Bridge
Comment[de]=Intel Ivy Bridge
Comment[el]=Intel Ivy Bridge
Comment[en_GB]=Intel Ivy Bridge
Comment[eo]=Intel Ivy Bridge
Comment[es]=Intel Ivy Bridge
Comment[et]=Intel Ivy Bridge
Comment[eu]=Intel Ivy Bridge
Comment[fi]=Intel Ivy Bridge
Comment[fr]=Intel Ivy Bridge
Comment[gl]=Intel Ivy Bridge
Comment[he]=Intel Ivy Bridge
Comment[hr]=Intel Ivy Bridge
Comment[hu]=Intel Ivy Bridge
Comment[id]=Intel Ivy Bridge
Comment[it]=Intel Ivy Bridge
Comment[ja]=Intel Ivy Bridge
Comment[kk]=Intel Ivy Bridge
Comment[ko]=Intel Ivy Bridge
Comment[lt]=Intel Ivy Bridge
Comment[lv]=Intel Ivy Bridge
Comment[nb]=Intel Ivy Bridge
Comment[nl]=Intel Ivy Bridge
Comment[nn]=Intel Ivy Bridge
Comment[pa]=Intel Ivy Bridge
Comment[pl]=Intel Ivy Bridge
Comment[pt]=Intel Ivy Bridge
Comment[pt_BR]=Intel Ivy Bridge
Comment[ro]=Intel Ivy Bridge
Comment[ru]=Intel Ivy Bridge
Comment[sk]=Intel Ivy Bridge
Comment[sq]=Intel Ivy Bridge
Comment[sr]=Intel Ivy Bridge
Comment[sv]=Intel Ivy Bridge
Comment[te]=Intel Ivy Bridge
Comment[tr]=Intel Ivy Bridge
Comment[ug]=Intel Ivy Bridge
Comment[uk]=Intel Ivy Bridge
Comment[ur]=Intel Ivy Bridge
Comment[ur_PK]=Intel Ivy Bridge
Comment[vi]=Intel Ivy Bridge
Comment[zh_CN]=Intel Ivy Bridge
Comment[zh_TW]=Intel Ivy Bridge
GenericName=Intel Ivy Bridge
GenericName[ar]=Intel Ivy Bridge
GenericName[ast]=Intel Ivy Bridge
GenericName[be]=Intel Ivy Bridge
GenericName[bn]=Intel Ivy Bridge
GenericName[ca]=Intel Ivy Bridge
GenericName[cs]=Intel Ivy Bridge
GenericName[da]=Intel Ivy Bridge
GenericName[de]=Intel Ivy Bridge
GenericName[el]=Intel Ivy Bridge
GenericName[en_GB]=Intel Ivy Bridge
GenericName[eo]=Intel Ivy Bridge
GenericName[es]=Intel Ivy Bridge
GenericName[et]=Intel Ivy Bridge
GenericName[eu]=Intel Ivy Bridge
GenericName[fi]=Intel Ivy Bridge
GenericName[fr]=Intel Ivy Bridge
GenericName[gl]=Intel Ivy Bridge
GenericName[he]=Intel Ivy Bridge
GenericName[hr]=Intel Ivy Bridge
GenericName[hu]=Intel Ivy Bridge
GenericName[id]=Intel Ivy Bridge
GenericName[it]=Intel Ivy Bridge
GenericName[ja]=Intel Ivy Bridge
GenericName[kk]=Intel Ivy Bridge
GenericName[ko]=Intel Ivy Bridge
GenericName[lt]=Intel Ivy Bridge
GenericName[lv]=Intel Ivy Bridge
GenericName[nb]=Intel Ivy Bridge
GenericName[nl]=Intel Ivy Bridge
GenericName[nn]=Intel Ivy Bridge
GenericName[pa]=Intel Ivy Bridge
GenericName[pl]=Intel Ivy Bridge
GenericName[pt]=Intel Ivy Bridge
GenericName[pt_BR]=Intel Ivy Bridge
GenericName[ro]=Intel Ivy Bridge
GenericName[ru]=Intel Ivy Bridge
GenericName[si]=Intel Ivy Bridge
GenericName[sk]=Intel Ivy Bridge
GenericName[sq]=Intel Ivy Bridge
GenericName[sr]=Intel Ivy Bridge
GenericName[sv]=Intel Ivy Bridge
GenericName[te]=Intel Ivy Bridge
GenericName[tr]=Intel Ivy Bridge
GenericName[ug]=Intel Ivy Bridge
GenericName[uk]=Intel Ivy Bridge
GenericName[ur]=Intel Ivy Bridge
GenericName[ur_PK]=Intel Ivy Bridge
GenericName[vi]=Intel Ivy Bridge
GenericName[zh_CN]=Intel Ivy Bridge
GenericName[zh_TW]=Intel Ivy Bridge

Exec=/opt/NeteXt73/./kernele ivy
Icon=/opt/NeteXt73/ikony/i7.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;
Version=1.0
Encoding=UTF-8
# vi:set encoding=UTF-8:
