[Desktop Entry]
Name=Ivy Bridge
Name[ar]=Ivy Bridge
Name[ast]=Ivy Bridge
Name[be]=Ivy Bridge
Name[bn]=Ivy Bridge
Name[ca]=Ivy Bridge
Name[cs]=Ivy Bridge
Name[da]=Ivy Bridge
Name[de]=Ivy Bridge
Name[el]=Ivy Bridge
Name[en_GB]=Ivy Bridge
Name[eo]=Ivy Bridge
Name[es]=Ivy Bridge
Name[et]=Ivy Bridge
Name[eu]=Ivy Bridge
Name[fi]=Ivy Bridge
Name[fr]=Ivy Bridge
Name[gl]=Ivy Bridge
Name[he]=Ivy Bridge
Name[hr]=Ivy Bridge
Name[hu]=Ivy Bridge
Name[id]=Ivy Bridge
Name[it]=Ivy Bridge
Name[ja]=Ivy Bridge
Name[kk]=Ivy Bridge
Name[ko]=Ivy Bridge
Name[lt]=Ivy Bridge
Name[lv]=Ivy Bridge
Name[nb]=Ivy Bridge
Name[nl]=Ivy Bridge
Name[nn]=Ivy Bridge
Name[pa]=Ivy Bridge
Name[pl]=Ivy Bridge
Name[pt]=Ivy Bridge
Name[pt_BR]=Ivy Bridge
Name[ro]=Ivy Bridge
Name[ru]=Ivy Bridge
Name[si]=Ivy Bridge
Name[sk]=Ivy Bridge
Name[sq]=Ivy Bridge
Name[sr]=Ivy Bridge
Name[sv]=Ivy Bridge
Name[te]=Ivy Bridge
Name[tr]=Ivy Bridge
Name[ug]=Ivy Bridge
Name[uk]=Ivy Bridge
Name[ur]=Ivy Bridge
Name[ur_PK]=Ivy Bridge
Name[vi]=Ivy Bridge
Name[zh_CN]=Ivy Bridge
Name[zh_TW]=Ivy Bridge
Comment=Kernel designed for Intel chips Icore Ivy Bridge, for example. I3 3210.
Comment[ar]=Kernel designed for Intel chips Icore Ivy Bridge, for example. I3 3210.
Comment[ast]=Kernel designed for Intel chips Icore Ivy Bridge, for example. I3 3210.
Comment[be]=Kernel designed for Intel chips Icore Ivy Bridge, for example. I3 3210.
Comment[bn]=Kernel designed for Intel chips Icore Ivy Bridge, for example. I3 3210.
Comment[ca]=Kernel designed for Intel chips Icore Ivy Bridge, for example. I3 3210.
Comment[cs]=Kernel designed for Intel chips Icore Ivy Bridge, for example. I3 3210.
Comment[da]=Kernel designed for Intel chips Icore Ivy Bridge, for example. I3 3210.
Comment[de]=Kernel designed for Intel chips Icore Ivy Bridge, for example. I3 3210.
Comment[el]=Kernel designed for Intel chips Icore Ivy Bridge, for example. I3 3210.
Comment[en_GB]=Kernel designed for Intel chips Icore Ivy Bridge, for example. I3 3210.
Comment[eo]=Kernel designed for Intel chips Icore Ivy Bridge, for example. I3 3210.
Comment[es]=Kernel designed for Intel chips Icore Ivy Bridge, for example. I3 3210.
Comment[et]=Kernel designed for Intel chips Icore Ivy Bridge, for example. I3 3210.
Comment[eu]=Kernel designed for Intel chips Icore Ivy Bridge, for example. I3 3210.
Comment[fi]=Kernel designed for Intel chips Icore Ivy Bridge, for example. I3 3210.
Comment[fr]=Kernel designed for Intel chips Icore Ivy Bridge, for example. I3 3210.
Comment[gl]=Kernel designed for Intel chips Icore Ivy Bridge, for example. I3 3210.
Comment[he]=Kernel designed for Intel chips Icore Ivy Bridge, for example. I3 3210.
Comment[hr]=Kernel designed for Intel chips Icore Ivy Bridge, for example. I3 3210.
Comment[hu]=Kernel designed for Intel chips Icore Ivy Bridge, for example. I3 3210.
Comment[id]=Kernel designed for Intel chips Icore Ivy Bridge, for example. I3 3210.
Comment[it]=Kernel designed for Intel chips Icore Ivy Bridge, for example. I3 3210.
Comment[ja]=Kernel designed for Intel chips Icore Ivy Bridge, for example. I3 3210.
Comment[kk]=Kernel designed for Intel chips Icore Ivy Bridge, for example. I3 3210.
Comment[ko]=Kernel designed for Intel chips Icore Ivy Bridge, for example. I3 3210.
Comment[lt]=Kernel designed for Intel chips Icore Ivy Bridge, for example. I3 3210.
Comment[lv]=Kernel designed for Intel chips Icore Ivy Bridge, for example. I3 3210.
Comment[nb]=Kernel designed for Intel chips Icore Ivy Bridge, for example. I3 3210.
Comment[nl]=Kernel designed for Intel chips Icore Ivy Bridge, for example. I3 3210.
Comment[nn]=Kernel designed for Intel chips Icore Ivy Bridge, for example. I3 3210.
Comment[pa]=Kernel designed for Intel chips Icore Ivy Bridge, for example. I3 3210.
Comment[pl]=Kernel przeznaczony dla chipów Intela icore Ivy Bridge, np. i3 3210.
Comment[pt]=Kernel designed for Intel chips Icore Ivy Bridge, for example. I3 3210.
Comment[pt_BR]=Kernel designed for Intel chips Icore Ivy Bridge, for example. I3 3210.
Comment[ro]=Kernel designed for Intel chips Icore Ivy Bridge, for example. I3 3210.
Comment[ru]=Kernel designed for Intel chips Icore Ivy Bridge, for example. I3 3210.
Comment[sk]=Kernel designed for Intel chips Icore Ivy Bridge, for example. I3 3210.
Comment[sq]=Kernel designed for Intel chips Icore Ivy Bridge, for example. I3 3210.
Comment[sr]=Kernel designed for Intel chips Icore Ivy Bridge, for example. I3 3210.
Comment[sv]=Kernel designed for Intel chips Icore Ivy Bridge, for example. I3 3210.
Comment[te]=Kernel designed for Intel chips Icore Ivy Bridge, for example. I3 3210.
Comment[tr]=Kernel designed for Intel chips Icore Ivy Bridge, for example. I3 3210.
Comment[ug]=Kernel designed for Intel chips Icore Ivy Bridge, for example. I3 3210.
Comment[uk]=Kernel designed for Intel chips Icore Ivy Bridge, for example. I3 3210.
Comment[ur]=Kernel designed for Intel chips Icore Ivy Bridge, for example. I3 3210.
Comment[ur_PK]=Kernel designed for Intel chips Icore Ivy Bridge, for example. I3 3210.
Comment[vi]=Kernel designed for Intel chips Icore Ivy Bridge, for example. I3 3210.
Comment[zh_CN]=Kernel designed for Intel chips Icore Ivy Bridge, for example. I3 3210.
Comment[zh_TW]=Kernel designed for Intel chips Icore Ivy Bridge, for example. I3 3210.
GenericName=Ivy Bridge
GenericName[ar]=Ivy Bridge
GenericName[ast]=Ivy Bridge
GenericName[be]=Ivy Bridge
GenericName[bn]=Ivy Bridge
GenericName[ca]=Ivy Bridge
GenericName[cs]=Ivy Bridge
GenericName[da]=Ivy Bridge
GenericName[de]=Ivy Bridge
GenericName[el]=Ivy Bridge
GenericName[en_GB]=Ivy Bridge
GenericName[eo]=Ivy Bridge
GenericName[es]=Ivy Bridge
GenericName[et]=Ivy Bridge
GenericName[eu]=Ivy Bridge
GenericName[fi]=Ivy Bridge
GenericName[fr]=Ivy Bridge
GenericName[gl]=Ivy Bridge
GenericName[he]=Ivy Bridge
GenericName[hr]=Ivy Bridge
GenericName[hu]=Ivy Bridge
GenericName[id]=Ivy Bridge
GenericName[it]=Ivy Bridge
GenericName[ja]=Ivy Bridge
GenericName[kk]=Ivy Bridge
GenericName[ko]=Ivy Bridge
GenericName[lt]=Ivy Bridge
GenericName[lv]=Ivy Bridge
GenericName[nb]=Ivy Bridge
GenericName[nl]=Ivy Bridge
GenericName[nn]=Ivy Bridge
GenericName[pa]=Ivy Bridge
GenericName[pl]=Ivy Bridge
GenericName[pt]=Ivy Bridge
GenericName[pt_BR]=Ivy Bridge
GenericName[ro]=Ivy Bridge
GenericName[ru]=Ivy Bridge
GenericName[si]=Ivy Bridge
GenericName[sk]=Ivy Bridge
GenericName[sq]=Ivy Bridge
GenericName[sr]=Ivy Bridge
GenericName[sv]=Ivy Bridge
GenericName[te]=Ivy Bridge
GenericName[tr]=Ivy Bridge
GenericName[ug]=Ivy Bridge
GenericName[uk]=Ivy Bridge
GenericName[ur]=Ivy Bridge
GenericName[ur_PK]=Ivy Bridge
GenericName[vi]=Ivy Bridge
GenericName[zh_CN]=Ivy Bridge
GenericName[zh_TW]=Ivy Bridge

Exec=/opt/NeteXt73/./kernele ivybridge
Icon=/opt/NeteXt73/ikony/i7.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;
Version=1.0
Encoding=UTF-8
# vi:set encoding=UTF-8:
