[Desktop Entry]
Name=Intel Haswell
Name[ar]=Intel Haswell
Name[ast]=Intel Haswell
Name[be]=Intel Haswell
Name[bn]=Intel Haswell
Name[ca]=Intel Haswell
Name[cs]=Intel Haswell
Name[da]=Intel Haswell
Name[de]=Intel Haswell
Name[el]=Intel Haswell
Name[en_GB]=Intel Haswell
Name[eo]=Intel Haswell
Name[es]=Intel Haswell
Name[et]=Intel Haswell
Name[eu]=Intel Haswell
Name[fi]=Intel Haswell
Name[fr]=Intel Haswell
Name[gl]=Intel Haswell
Name[he]=Intel Haswell
Name[hr]=Intel Haswell
Name[hu]=Intel Haswell
Name[id]=Intel Haswell
Name[it]=Intel Haswell
Name[ja]=Intel Haswell
Name[kk]=Intel Haswell
Name[ko]=Intel Haswell
Name[lt]=Intel Haswell
Name[lv]=Intel Haswell
Name[nb]=Intel Haswell
Name[nl]=Intel Haswell
Name[nn]=Intel Haswell
Name[pa]=Intel Haswell
Name[pl]=Intel Haswell
Name[pt]=Intel Haswell
Name[pt_BR]=Intel Haswell
Name[ro]=Intel Haswell
Name[ru]=Intel Haswell
Name[si]=Intel Haswell
Name[sk]=Intel Haswell
Name[sq]=Intel Haswell
Name[sr]=Intel Haswell
Name[sv]=Intel Haswell
Name[te]=Intel Haswell
Name[tr]=Intel Haswell
Name[ug]=Intel Haswell
Name[uk]=Intel Haswell
Name[ur]=Intel Haswell
Name[ur_PK]=Intel Haswell
Name[vi]=Intel Haswell
Name[zh_CN]=Intel Haswell
Name[zh_TW]=Intel Haswell
Comment=Intel Haswell
Comment[ar]=Intel Haswell
Comment[ast]=Intel Haswell
Comment[be]=Intel Haswell
Comment[bn]=Intel Haswell
Comment[ca]=Intel Haswell
Comment[cs]=Intel Haswell
Comment[da]=Intel Haswell
Comment[de]=Intel Haswell
Comment[el]=Intel Haswell
Comment[en_GB]=Intel Haswell
Comment[eo]=Intel Haswell
Comment[es]=Intel Haswell
Comment[et]=Intel Haswell
Comment[eu]=Intel Haswell
Comment[fi]=Intel Haswell
Comment[fr]=Intel Haswell
Comment[gl]=Intel Haswell
Comment[he]=Intel Haswell
Comment[hr]=Intel Haswell
Comment[hu]=Intel Haswell
Comment[id]=Intel Haswell
Comment[it]=Intel Haswell
Comment[ja]=Intel Haswell
Comment[kk]=Intel Haswell
Comment[ko]=Intel Haswell
Comment[lt]=Intel Haswell
Comment[lv]=Intel Haswell
Comment[nb]=Intel Haswell
Comment[nl]=Intel Haswell
Comment[nn]=Intel Haswell
Comment[pa]=Intel Haswell
Comment[pl]=Intel Haswell
Comment[pt]=Intel Haswell
Comment[pt_BR]=Intel Haswell
Comment[ro]=Intel Haswell
Comment[ru]=Intel Haswell
Comment[sk]=Intel Haswell
Comment[sq]=Intel Haswell
Comment[sr]=Intel Haswell
Comment[sv]=Intel Haswell
Comment[te]=Intel Haswell
Comment[tr]=Intel Haswell
Comment[ug]=Intel Haswell
Comment[uk]=Intel Haswell
Comment[ur]=Intel Haswell
Comment[ur_PK]=Intel Haswell
Comment[vi]=Intel Haswell
Comment[zh_CN]=Intel Haswell
Comment[zh_TW]=Intel Haswell
GenericName=Intel Haswell
GenericName[ar]=Intel Haswell
GenericName[ast]=Intel Haswell
GenericName[be]=Intel Haswell
GenericName[bn]=Intel Haswell
GenericName[ca]=Intel Haswell
GenericName[cs]=Intel Haswell
GenericName[da]=Intel Haswell
GenericName[de]=Intel Haswell
GenericName[el]=Intel Haswell
GenericName[en_GB]=Intel Haswell
GenericName[eo]=Intel Haswell
GenericName[es]=Intel Haswell
GenericName[et]=Intel Haswell
GenericName[eu]=Intel Haswell
GenericName[fi]=Intel Haswell
GenericName[fr]=Intel Haswell
GenericName[gl]=Intel Haswell
GenericName[he]=Intel Haswell
GenericName[hr]=Intel Haswell
GenericName[hu]=Intel Haswell
GenericName[id]=Intel Haswell
GenericName[it]=Intel Haswell
GenericName[ja]=Intel Haswell
GenericName[kk]=Intel Haswell
GenericName[ko]=Intel Haswell
GenericName[lt]=Intel Haswell
GenericName[lv]=Intel Haswell
GenericName[nb]=Intel Haswell
GenericName[nl]=Intel Haswell
GenericName[nn]=Intel Haswell
GenericName[pa]=Intel Haswell
GenericName[pl]=Intel Haswell
GenericName[pt]=Intel Haswell
GenericName[pt_BR]=Intel Haswell
GenericName[ro]=Intel Haswell
GenericName[ru]=Intel Haswell
GenericName[si]=Intel Haswell
GenericName[sk]=Intel Haswell
GenericName[sq]=Intel Haswell
GenericName[sr]=Intel Haswell
GenericName[sv]=Intel Haswell
GenericName[te]=Intel Haswell
GenericName[tr]=Intel Haswell
GenericName[ug]=Intel Haswell
GenericName[uk]=Intel Haswell
GenericName[ur]=Intel Haswell
GenericName[ur_PK]=Intel Haswell
GenericName[vi]=Intel Haswell
GenericName[zh_CN]=Intel Haswell
GenericName[zh_TW]=Intel Haswell

Exec=/opt/NeteXt73/./kernele haswell
Icon=/opt/NeteXt73/ikony/i7.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;
Version=1.0
Encoding=UTF-8
# vi:set encoding=UTF-8:
