[Desktop Entry]
Name=Haswell
Name[ar]=Haswell
Name[ast]=Haswell
Name[be]=Haswell
Name[bn]=Haswell
Name[ca]=Haswell
Name[cs]=Haswell
Name[da]=Haswell
Name[de]=Haswell
Name[el]=Haswell
Name[en_GB]=Haswell
Name[eo]=Haswell
Name[es]=Haswell
Name[et]=Haswell
Name[eu]=Haswell
Name[fi]=Haswell
Name[fr]=Haswell
Name[gl]=Haswell
Name[he]=Haswell
Name[hr]=Haswell
Name[hu]=Haswell
Name[id]=Haswell
Name[it]=Haswell
Name[ja]=Haswell
Name[kk]=Haswell
Name[ko]=Haswell
Name[lt]=Haswell
Name[lv]=Haswell
Name[nb]=Haswell
Name[nl]=Haswell
Name[nn]=Haswell
Name[pa]=Haswell
Name[pl]=Haswell
Name[pt]=Haswell
Name[pt_BR]=Haswell
Name[ro]=Haswell
Name[ru]=Haswell
Name[si]=Haswell
Name[sk]=Haswell
Name[sq]=Haswell
Name[sr]=Haswell
Name[sv]=Haswell
Name[te]=Haswell
Name[tr]=Haswell
Name[ug]=Haswell
Name[uk]=Haswell
Name[ur]=Haswell
Name[ur_PK]=Haswell
Name[vi]=Haswell
Name[zh_CN]=Haswell
Name[zh_TW]=Haswell
Comment=Kernel designed for Icore Intel Haswell chips, for example. I3 4010U.
Comment[ar]=Kernel designed for Icore Intel Haswell chips, for example. I3 4010U.
Comment[ast]=Kernel designed for Icore Intel Haswell chips, for example. I3 4010U.
Comment[be]=Kernel designed for Icore Intel Haswell chips, for example. I3 4010U.
Comment[bn]=Kernel designed for Icore Intel Haswell chips, for example. I3 4010U.
Comment[ca]=Kernel designed for Icore Intel Haswell chips, for example. I3 4010U.
Comment[cs]=Kernel designed for Icore Intel Haswell chips, for example. I3 4010U.
Comment[da]=Kernel designed for Icore Intel Haswell chips, for example. I3 4010U.
Comment[de]=Kernel designed for Icore Intel Haswell chips, for example. I3 4010U.
Comment[el]=Kernel designed for Icore Intel Haswell chips, for example. I3 4010U.
Comment[en_GB]=Kernel designed for Icore Intel Haswell chips, for example. I3 4010U.
Comment[eo]=Kernel designed for Icore Intel Haswell chips, for example. I3 4010U.
Comment[es]=Kernel designed for Icore Intel Haswell chips, for example. I3 4010U.
Comment[et]=Kernel designed for Icore Intel Haswell chips, for example. I3 4010U.
Comment[eu]=Kernel designed for Icore Intel Haswell chips, for example. I3 4010U.
Comment[fi]=Kernel designed for Icore Intel Haswell chips, for example. I3 4010U.
Comment[fr]=Kernel designed for Icore Intel Haswell chips, for example. I3 4010U.
Comment[gl]=Kernel designed for Icore Intel Haswell chips, for example. I3 4010U.
Comment[he]=Kernel designed for Icore Intel Haswell chips, for example. I3 4010U.
Comment[hr]=Kernel designed for Icore Intel Haswell chips, for example. I3 4010U.
Comment[hu]=Kernel designed for Icore Intel Haswell chips, for example. I3 4010U.
Comment[id]=Kernel designed for Icore Intel Haswell chips, for example. I3 4010U.
Comment[it]=Kernel designed for Icore Intel Haswell chips, for example. I3 4010U.
Comment[ja]=Kernel designed for Icore Intel Haswell chips, for example. I3 4010U.
Comment[kk]=Kernel designed for Icore Intel Haswell chips, for example. I3 4010U.
Comment[ko]=Kernel designed for Icore Intel Haswell chips, for example. I3 4010U.
Comment[lt]=Kernel designed for Icore Intel Haswell chips, for example. I3 4010U.
Comment[lv]=Kernel designed for Icore Intel Haswell chips, for example. I3 4010U.
Comment[nb]=Kernel designed for Icore Intel Haswell chips, for example. I3 4010U.
Comment[nl]=Kernel designed for Icore Intel Haswell chips, for example. I3 4010U.
Comment[nn]=Kernel designed for Icore Intel Haswell chips, for example. I3 4010U.
Comment[pa]=Kernel designed for Icore Intel Haswell chips, for example. I3 4010U.
Comment[pl]=Kernel przeznaczony dla chipów Intela icore Haswell, np. i3 4010U.
Comment[pt]=Kernel designed for Icore Intel Haswell chips, for example. I3 4010U.
Comment[pt_BR]=Kernel designed for Icore Intel Haswell chips, for example. I3 4010U.
Comment[ro]=Kernel designed for Icore Intel Haswell chips, for example. I3 4010U.
Comment[ru]=Kernel designed for Icore Intel Haswell chips, for example. I3 4010U.
Comment[sk]=Kernel designed for Icore Intel Haswell chips, for example. I3 4010U.
Comment[sq]=Kernel designed for Icore Intel Haswell chips, for example. I3 4010U.
Comment[sr]=Kernel designed for Icore Intel Haswell chips, for example. I3 4010U.
Comment[sv]=Kernel designed for Icore Intel Haswell chips, for example. I3 4010U.
Comment[te]=Kernel designed for Icore Intel Haswell chips, for example. I3 4010U.
Comment[tr]=Kernel designed for Icore Intel Haswell chips, for example. I3 4010U.
Comment[ug]=Kernel designed for Icore Intel Haswell chips, for example. I3 4010U.
Comment[uk]=Kernel designed for Icore Intel Haswell chips, for example. I3 4010U.
Comment[ur]=Kernel designed for Icore Intel Haswell chips, for example. I3 4010U.
Comment[ur_PK]=Kernel designed for Icore Intel Haswell chips, for example. I3 4010U.
Comment[vi]=Kernel designed for Icore Intel Haswell chips, for example. I3 4010U.
Comment[zh_CN]=Kernel designed for Icore Intel Haswell chips, for example. I3 4010U.
Comment[zh_TW]=Kernel designed for Icore Intel Haswell chips, for example. I3 4010U.
GenericName=Haswell
GenericName[ar]=Haswell
GenericName[ast]=Haswell
GenericName[be]=Haswell
GenericName[bn]=Haswell
GenericName[ca]=Haswell
GenericName[cs]=Haswell
GenericName[da]=Haswell
GenericName[de]=Haswell
GenericName[el]=Haswell
GenericName[en_GB]=Haswell
GenericName[eo]=Haswell
GenericName[es]=Haswell
GenericName[et]=Haswell
GenericName[eu]=Haswell
GenericName[fi]=Haswell
GenericName[fr]=Haswell
GenericName[gl]=Haswell
GenericName[he]=Haswell
GenericName[hr]=Haswell
GenericName[hu]=Haswell
GenericName[id]=Haswell
GenericName[it]=Haswell
GenericName[ja]=Haswell
GenericName[kk]=Haswell
GenericName[ko]=Haswell
GenericName[lt]=Haswell
GenericName[lv]=Haswell
GenericName[nb]=Haswell
GenericName[nl]=Haswell
GenericName[nn]=Haswell
GenericName[pa]=Haswell
GenericName[pl]=Haswell
GenericName[pt]=Haswell
GenericName[pt_BR]=Haswell
GenericName[ro]=Haswell
GenericName[ru]=Haswell
GenericName[si]=Haswell
GenericName[sk]=Haswell
GenericName[sq]=Haswell
GenericName[sr]=Haswell
GenericName[sv]=Haswell
GenericName[te]=Haswell
GenericName[tr]=Haswell
GenericName[ug]=Haswell
GenericName[uk]=Haswell
GenericName[ur]=Haswell
GenericName[ur_PK]=Haswell
GenericName[vi]=Haswell
GenericName[zh_CN]=Haswell
GenericName[zh_TW]=Haswell

Exec=/opt/NeteXt73/./kernele haswell
Icon=/opt/NeteXt73/ikony/i7.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;
Version=1.0
Encoding=UTF-8
# vi:set encoding=UTF-8:
