[Desktop Entry]
Name=Haswell
Name[ar]=Haswell
Name[ast]=Haswell
Name[be]=Haswell
Name[bn]=Haswell
Name[ca]=Haswell
Name[cs]=Haswell
Name[da]=Haswell
Name[de]=Haswell
Name[el]=Haswell
Name[en_GB]=Haswell
Name[eo]=Haswell
Name[es]=Haswell
Name[et]=Haswell
Name[eu]=Haswell
Name[fi]=Haswell
Name[fr]=Haswell
Name[gl]=Haswell
Name[he]=Haswell
Name[hr]=Haswell
Name[hu]=Haswell
Name[id]=Haswell
Name[it]=Haswell
Name[ja]=Haswell
Name[kk]=Haswell
Name[ko]=Haswell
Name[lt]=Haswell
Name[lv]=Haswell
Name[nb]=Haswell
Name[nl]=Haswell
Name[nn]=Haswell
Name[pa]=Haswell
Name[pl]=Haswell
Name[pt]=Haswell
Name[pt_BR]=Haswell
Name[ro]=Haswell
Name[ru]=Haswell
Name[si]=Haswell
Name[sk]=Haswell
Name[sq]=Haswell
Name[sr]=Haswell
Name[sv]=Haswell
Name[te]=Haswell
Name[tr]=Haswell
Name[ug]=Haswell
Name[uk]=Haswell
Name[ur]=Haswell
Name[ur_PK]=Haswell
Name[vi]=Haswell
Name[zh_CN]=Haswell
Name[zh_TW]=Haswell
Comment=Haswell
Comment[ar]=Haswell
Comment[ast]=Haswell
Comment[be]=Haswell
Comment[bn]=Haswell
Comment[ca]=Haswell
Comment[cs]=Haswell
Comment[da]=Haswell
Comment[de]=Haswell
Comment[el]=Haswell
Comment[en_GB]=Haswell
Comment[eo]=Haswell
Comment[es]=Haswell
Comment[et]=Haswell
Comment[eu]=Haswell
Comment[fi]=Haswell
Comment[fr]=Haswell
Comment[gl]=Haswell
Comment[he]=Haswell
Comment[hr]=Haswell
Comment[hu]=Haswell
Comment[id]=Haswell
Comment[it]=Haswell
Comment[ja]=Haswell
Comment[kk]=Haswell
Comment[ko]=Haswell
Comment[lt]=Haswell
Comment[lv]=Haswell
Comment[nb]=Haswell
Comment[nl]=Haswell
Comment[nn]=Haswell
Comment[pa]=Haswell
Comment[pl]=Haswell
Comment[pt]=Haswell
Comment[pt_BR]=Haswell
Comment[ro]=Haswell
Comment[ru]=Haswell
Comment[sk]=Haswell
Comment[sq]=Haswell
Comment[sr]=Haswell
Comment[sv]=Haswell
Comment[te]=Haswell
Comment[tr]=Haswell
Comment[ug]=Haswell
Comment[uk]=Haswell
Comment[ur]=Haswell
Comment[ur_PK]=Haswell
Comment[vi]=Haswell
Comment[zh_CN]=Haswell
Comment[zh_TW]=Haswell
GenericName=Haswell
GenericName[ar]=Haswell
GenericName[ast]=Haswell
GenericName[be]=Haswell
GenericName[bn]=Haswell
GenericName[ca]=Haswell
GenericName[cs]=Haswell
GenericName[da]=Haswell
GenericName[de]=Haswell
GenericName[el]=Haswell
GenericName[en_GB]=Haswell
GenericName[eo]=Haswell
GenericName[es]=Haswell
GenericName[et]=Haswell
GenericName[eu]=Haswell
GenericName[fi]=Haswell
GenericName[fr]=Haswell
GenericName[gl]=Haswell
GenericName[he]=Haswell
GenericName[hr]=Haswell
GenericName[hu]=Haswell
GenericName[id]=Haswell
GenericName[it]=Haswell
GenericName[ja]=Haswell
GenericName[kk]=Haswell
GenericName[ko]=Haswell
GenericName[lt]=Haswell
GenericName[lv]=Haswell
GenericName[nb]=Haswell
GenericName[nl]=Haswell
GenericName[nn]=Haswell
GenericName[pa]=Haswell
GenericName[pl]=Haswell
GenericName[pt]=Haswell
GenericName[pt_BR]=Haswell
GenericName[ro]=Haswell
GenericName[ru]=Haswell
GenericName[si]=Haswell
GenericName[sk]=Haswell
GenericName[sq]=Haswell
GenericName[sr]=Haswell
GenericName[sv]=Haswell
GenericName[te]=Haswell
GenericName[tr]=Haswell
GenericName[ug]=Haswell
GenericName[uk]=Haswell
GenericName[ur]=Haswell
GenericName[ur_PK]=Haswell
GenericName[vi]=Haswell
GenericName[zh_CN]=Haswell
GenericName[zh_TW]=Haswell

Exec=/opt/NeteXt73/./kernele haswell
Icon=/opt/NeteXt73/ikony/i7.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;
Version=1.0
Encoding=UTF-8
# vi:set encoding=UTF-8:
