[Desktop Entry]
Name=Broadwell
Name[ar]=Broadwell
Name[ast]=Broadwell
Name[be]=Broadwell
Name[bn]=Broadwell
Name[ca]=Broadwell
Name[cs]=Broadwell
Name[da]=Broadwell
Name[de]=Broadwell
Name[el]=Broadwell
Name[en_GB]=Broadwell
Name[eo]=Broadwell
Name[es]=Broadwell
Name[et]=Broadwell
Name[eu]=Broadwell
Name[fi]=Broadwell
Name[fr]=Broadwell
Name[gl]=Broadwell
Name[he]=Broadwell
Name[hr]=Broadwell
Name[hu]=Broadwell
Name[id]=Broadwell
Name[it]=Broadwell
Name[ja]=Broadwell
Name[kk]=Broadwell
Name[ko]=Broadwell
Name[lt]=Broadwell
Name[lv]=Broadwell
Name[nb]=Broadwell
Name[nl]=Broadwell
Name[nn]=Broadwell
Name[pa]=Broadwell
Name[pl]=Broadwell
Name[pt]=Broadwell
Name[pt_BR]=Broadwell
Name[ro]=Broadwell
Name[ru]=Broadwell
Name[si]=Broadwell
Name[sk]=Broadwell
Name[sq]=Broadwell
Name[sr]=Broadwell
Name[sv]=Broadwell
Name[te]=Broadwell
Name[tr]=Broadwell
Name[ug]=Broadwell
Name[uk]=Broadwell
Name[ur]=Broadwell
Name[ur_PK]=Broadwell
Name[vi]=Broadwell
Name[zh_CN]=Broadwell
Name[zh_TW]=Broadwell
Comment=Broadwell
Comment[ar]=Broadwell
Comment[ast]=Broadwell
Comment[be]=Broadwell
Comment[bn]=Broadwell
Comment[ca]=Broadwell
Comment[cs]=Broadwell
Comment[da]=Broadwell
Comment[de]=Broadwell
Comment[el]=Broadwell
Comment[en_GB]=Broadwell
Comment[eo]=Broadwell
Comment[es]=Broadwell
Comment[et]=Broadwell
Comment[eu]=Broadwell
Comment[fi]=Broadwell
Comment[fr]=Broadwell
Comment[gl]=Broadwell
Comment[he]=Broadwell
Comment[hr]=Broadwell
Comment[hu]=Broadwell
Comment[id]=Broadwell
Comment[it]=Broadwell
Comment[ja]=Broadwell
Comment[kk]=Broadwell
Comment[ko]=Broadwell
Comment[lt]=Broadwell
Comment[lv]=Broadwell
Comment[nb]=Broadwell
Comment[nl]=Broadwell
Comment[nn]=Broadwell
Comment[pa]=Broadwell
Comment[pl]=Kernel przeznaczony dla chipów Intela icore Broadwell, np. i5 5200U.
Comment[pt]=Broadwell
Comment[pt_BR]=Broadwell
Comment[ro]=Broadwell
Comment[ru]=Broadwell
Comment[sk]=Broadwell
Comment[sq]=Broadwell
Comment[sr]=Broadwell
Comment[sv]=Broadwell
Comment[te]=Broadwell
Comment[tr]=Broadwell
Comment[ug]=Broadwell
Comment[uk]=Broadwell
Comment[ur]=Broadwell
Comment[ur_PK]=Broadwell
Comment[vi]=Broadwell
Comment[zh_CN]=Broadwell
Comment[zh_TW]=Broadwell
GenericName=Broadwell
GenericName[ar]=Broadwell
GenericName[ast]=Broadwell
GenericName[be]=Broadwell
GenericName[bn]=Broadwell
GenericName[ca]=Broadwell
GenericName[cs]=Broadwell
GenericName[da]=Broadwell
GenericName[de]=Broadwell
GenericName[el]=Broadwell
GenericName[en_GB]=Broadwell
GenericName[eo]=Broadwell
GenericName[es]=Broadwell
GenericName[et]=Broadwell
GenericName[eu]=Broadwell
GenericName[fi]=Broadwell
GenericName[fr]=Broadwell
GenericName[gl]=Broadwell
GenericName[he]=Broadwell
GenericName[hr]=Broadwell
GenericName[hu]=Broadwell
GenericName[id]=Broadwell
GenericName[it]=Broadwell
GenericName[ja]=Broadwell
GenericName[kk]=Broadwell
GenericName[ko]=Broadwell
GenericName[lt]=Broadwell
GenericName[lv]=Broadwell
GenericName[nb]=Broadwell
GenericName[nl]=Broadwell
GenericName[nn]=Broadwell
GenericName[pa]=Broadwell
GenericName[pl]=Broadwell
GenericName[pt]=Broadwell
GenericName[pt_BR]=Broadwell
GenericName[ro]=Broadwell
GenericName[ru]=Broadwell
GenericName[si]=Broadwell
GenericName[sk]=Broadwell
GenericName[sq]=Broadwell
GenericName[sr]=Broadwell
GenericName[sv]=Broadwell
GenericName[te]=Broadwell
GenericName[tr]=Broadwell
GenericName[ug]=Broadwell
GenericName[uk]=Broadwell
GenericName[ur]=Broadwell
GenericName[ur_PK]=Broadwell
GenericName[vi]=Broadwell
GenericName[zh_CN]=Broadwell
GenericName[zh_TW]=Broadwell

Exec=/opt/NeteXt73/./kernele broadwell
Icon=/opt/NeteXt73/ikony/i7.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;
Version=1.0
Encoding=UTF-8
# vi:set encoding=UTF-8:
