[Desktop Entry]
Name=Broadwell
Name[ar]=Broadwell
Name[ast]=Broadwell
Name[be]=Broadwell
Name[bn]=Broadwell
Name[ca]=Broadwell
Name[cs]=Broadwell
Name[da]=Broadwell
Name[de]=Broadwell
Name[el]=Broadwell
Name[en_GB]=Broadwell
Name[eo]=Broadwell
Name[es]=Broadwell
Name[et]=Broadwell
Name[eu]=Broadwell
Name[fi]=Broadwell
Name[fr]=Broadwell
Name[gl]=Broadwell
Name[he]=Broadwell
Name[hr]=Broadwell
Name[hu]=Broadwell
Name[id]=Broadwell
Name[it]=Broadwell
Name[ja]=Broadwell
Name[kk]=Broadwell
Name[ko]=Broadwell
Name[lt]=Broadwell
Name[lv]=Broadwell
Name[nb]=Broadwell
Name[nl]=Broadwell
Name[nn]=Broadwell
Name[pa]=Broadwell
Name[pl]=Broadwell
Name[pt]=Broadwell
Name[pt_BR]=Broadwell
Name[ro]=Broadwell
Name[ru]=Broadwell
Name[si]=Broadwell
Name[sk]=Broadwell
Name[sq]=Broadwell
Name[sr]=Broadwell
Name[sv]=Broadwell
Name[te]=Broadwell
Name[tr]=Broadwell
Name[ug]=Broadwell
Name[uk]=Broadwell
Name[ur]=Broadwell
Name[ur_PK]=Broadwell
Name[vi]=Broadwell
Name[zh_CN]=Broadwell
Name[zh_TW]=Broadwell
Comment=Kernel designed for Intel chips Icore Broadwell, for example. I5 5200U.
Comment[ar]=Kernel designed for Intel chips Icore Broadwell, for example. I5 5200U.
Comment[ast]=Kernel designed for Intel chips Icore Broadwell, for example. I5 5200U.
Comment[be]=Kernel designed for Intel chips Icore Broadwell, for example. I5 5200U.
Comment[bn]=Kernel designed for Intel chips Icore Broadwell, for example. I5 5200U.
Comment[ca]=Kernel designed for Intel chips Icore Broadwell, for example. I5 5200U.
Comment[cs]=Kernel designed for Intel chips Icore Broadwell, for example. I5 5200U.
Comment[da]=Kernel designed for Intel chips Icore Broadwell, for example. I5 5200U.
Comment[de]=Kernel designed for Intel chips Icore Broadwell, for example. I5 5200U.
Comment[el]=Kernel designed for Intel chips Icore Broadwell, for example. I5 5200U.
Comment[en_GB]=Kernel designed for Intel chips Icore Broadwell, for example. I5 5200U.
Comment[eo]=Kernel designed for Intel chips Icore Broadwell, for example. I5 5200U.
Comment[es]=Kernel designed for Intel chips Icore Broadwell, for example. I5 5200U.
Comment[et]=Kernel designed for Intel chips Icore Broadwell, for example. I5 5200U.
Comment[eu]=Kernel designed for Intel chips Icore Broadwell, for example. I5 5200U.
Comment[fi]=Kernel designed for Intel chips Icore Broadwell, for example. I5 5200U.
Comment[fr]=Kernel designed for Intel chips Icore Broadwell, for example. I5 5200U.
Comment[gl]=Kernel designed for Intel chips Icore Broadwell, for example. I5 5200U.
Comment[he]=Kernel designed for Intel chips Icore Broadwell, for example. I5 5200U.
Comment[hr]=Kernel designed for Intel chips Icore Broadwell, for example. I5 5200U.
Comment[hu]=Kernel designed for Intel chips Icore Broadwell, for example. I5 5200U.
Comment[id]=Kernel designed for Intel chips Icore Broadwell, for example. I5 5200U.
Comment[it]=Kernel designed for Intel chips Icore Broadwell, for example. I5 5200U.
Comment[ja]=Kernel designed for Intel chips Icore Broadwell, for example. I5 5200U.
Comment[kk]=Kernel designed for Intel chips Icore Broadwell, for example. I5 5200U.
Comment[ko]=Kernel designed for Intel chips Icore Broadwell, for example. I5 5200U.
Comment[lt]=Kernel designed for Intel chips Icore Broadwell, for example. I5 5200U.
Comment[lv]=Kernel designed for Intel chips Icore Broadwell, for example. I5 5200U.
Comment[nb]=Kernel designed for Intel chips Icore Broadwell, for example. I5 5200U.
Comment[nl]=Kernel designed for Intel chips Icore Broadwell, for example. I5 5200U.
Comment[nn]=Kernel designed for Intel chips Icore Broadwell, for example. I5 5200U.
Comment[pa]=Kernel designed for Intel chips Icore Broadwell, for example. I5 5200U.
Comment[pl]=Kernel przeznaczony dla chipów Intela icore Broadwell, np. i5 5200U.
Comment[pt]=Kernel designed for Intel chips Icore Broadwell, for example. I5 5200U.
Comment[pt_BR]=Kernel designed for Intel chips Icore Broadwell, for example. I5 5200U.
Comment[ro]=Kernel designed for Intel chips Icore Broadwell, for example. I5 5200U.
Comment[ru]=Kernel designed for Intel chips Icore Broadwell, for example. I5 5200U.
Comment[sk]=Kernel designed for Intel chips Icore Broadwell, for example. I5 5200U.
Comment[sq]=Kernel designed for Intel chips Icore Broadwell, for example. I5 5200U.
Comment[sr]=Kernel designed for Intel chips Icore Broadwell, for example. I5 5200U.
Comment[sv]=Kernel designed for Intel chips Icore Broadwell, for example. I5 5200U.
Comment[te]=Kernel designed for Intel chips Icore Broadwell, for example. I5 5200U.
Comment[tr]=Kernel designed for Intel chips Icore Broadwell, for example. I5 5200U.
Comment[ug]=Kernel designed for Intel chips Icore Broadwell, for example. I5 5200U.
Comment[uk]=Kernel designed for Intel chips Icore Broadwell, for example. I5 5200U.
Comment[ur]=Kernel designed for Intel chips Icore Broadwell, for example. I5 5200U.
Comment[ur_PK]=Kernel designed for Intel chips Icore Broadwell, for example. I5 5200U.
Comment[vi]=Kernel designed for Intel chips Icore Broadwell, for example. I5 5200U.
Comment[zh_CN]=Kernel designed for Intel chips Icore Broadwell, for example. I5 5200U.
Comment[zh_TW]=Kernel designed for Intel chips Icore Broadwell, for example. I5 5200U.
GenericName=Broadwell
GenericName[ar]=Broadwell
GenericName[ast]=Broadwell
GenericName[be]=Broadwell
GenericName[bn]=Broadwell
GenericName[ca]=Broadwell
GenericName[cs]=Broadwell
GenericName[da]=Broadwell
GenericName[de]=Broadwell
GenericName[el]=Broadwell
GenericName[en_GB]=Broadwell
GenericName[eo]=Broadwell
GenericName[es]=Broadwell
GenericName[et]=Broadwell
GenericName[eu]=Broadwell
GenericName[fi]=Broadwell
GenericName[fr]=Broadwell
GenericName[gl]=Broadwell
GenericName[he]=Broadwell
GenericName[hr]=Broadwell
GenericName[hu]=Broadwell
GenericName[id]=Broadwell
GenericName[it]=Broadwell
GenericName[ja]=Broadwell
GenericName[kk]=Broadwell
GenericName[ko]=Broadwell
GenericName[lt]=Broadwell
GenericName[lv]=Broadwell
GenericName[nb]=Broadwell
GenericName[nl]=Broadwell
GenericName[nn]=Broadwell
GenericName[pa]=Broadwell
GenericName[pl]=Broadwell
GenericName[pt]=Broadwell
GenericName[pt_BR]=Broadwell
GenericName[ro]=Broadwell
GenericName[ru]=Broadwell
GenericName[si]=Broadwell
GenericName[sk]=Broadwell
GenericName[sq]=Broadwell
GenericName[sr]=Broadwell
GenericName[sv]=Broadwell
GenericName[te]=Broadwell
GenericName[tr]=Broadwell
GenericName[ug]=Broadwell
GenericName[uk]=Broadwell
GenericName[ur]=Broadwell
GenericName[ur_PK]=Broadwell
GenericName[vi]=Broadwell
GenericName[zh_CN]=Broadwell
GenericName[zh_TW]=Broadwell

Exec=/opt/NeteXt73/./kernele broadwell
Icon=/opt/NeteXt73/ikony/i7.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;
Version=1.0
Encoding=UTF-8
# vi:set encoding=UTF-8:
