[Desktop Entry]
Name=Intel Broadwell
Name[ar]=Intel Broadwell
Name[ast]=Intel Broadwell
Name[be]=Intel Broadwell
Name[bn]=Intel Broadwell
Name[ca]=Intel Broadwell
Name[cs]=Intel Broadwell
Name[da]=Intel Broadwell
Name[de]=Intel Broadwell
Name[el]=Intel Broadwell
Name[en_GB]=Intel Broadwell
Name[eo]=Intel Broadwell
Name[es]=Intel Broadwell
Name[et]=Intel Broadwell
Name[eu]=Intel Broadwell
Name[fi]=Intel Broadwell
Name[fr]=Intel Broadwell
Name[gl]=Intel Broadwell
Name[he]=Intel Broadwell
Name[hr]=Intel Broadwell
Name[hu]=Intel Broadwell
Name[id]=Intel Broadwell
Name[it]=Intel Broadwell
Name[ja]=Intel Broadwell
Name[kk]=Intel Broadwell
Name[ko]=Intel Broadwell
Name[lt]=Intel Broadwell
Name[lv]=Intel Broadwell
Name[nb]=Intel Broadwell
Name[nl]=Intel Broadwell
Name[nn]=Intel Broadwell
Name[pa]=Intel Broadwell
Name[pl]=Intel Broadwell
Name[pt]=Intel Broadwell
Name[pt_BR]=Intel Broadwell
Name[ro]=Intel Broadwell
Name[ru]=Intel Broadwell
Name[si]=Intel Broadwell
Name[sk]=Intel Broadwell
Name[sq]=Intel Broadwell
Name[sr]=Intel Broadwell
Name[sv]=Intel Broadwell
Name[te]=Intel Broadwell
Name[tr]=Intel Broadwell
Name[ug]=Intel Broadwell
Name[uk]=Intel Broadwell
Name[ur]=Intel Broadwell
Name[ur_PK]=Intel Broadwell
Name[vi]=Intel Broadwell
Name[zh_CN]=Intel Broadwell
Name[zh_TW]=Intel Broadwell
Comment=Intel Broadwell
Comment[ar]=Intel Broadwell
Comment[ast]=Intel Broadwell
Comment[be]=Intel Broadwell
Comment[bn]=Intel Broadwell
Comment[ca]=Intel Broadwell
Comment[cs]=Intel Broadwell
Comment[da]=Intel Broadwell
Comment[de]=Intel Broadwell
Comment[el]=Intel Broadwell
Comment[en_GB]=Intel Broadwell
Comment[eo]=Intel Broadwell
Comment[es]=Intel Broadwell
Comment[et]=Intel Broadwell
Comment[eu]=Intel Broadwell
Comment[fi]=Intel Broadwell
Comment[fr]=Intel Broadwell
Comment[gl]=Intel Broadwell
Comment[he]=Intel Broadwell
Comment[hr]=Intel Broadwell
Comment[hu]=Intel Broadwell
Comment[id]=Intel Broadwell
Comment[it]=Intel Broadwell
Comment[ja]=Intel Broadwell
Comment[kk]=Intel Broadwell
Comment[ko]=Intel Broadwell
Comment[lt]=Intel Broadwell
Comment[lv]=Intel Broadwell
Comment[nb]=Intel Broadwell
Comment[nl]=Intel Broadwell
Comment[nn]=Intel Broadwell
Comment[pa]=Intel Broadwell
Comment[pl]=Intel Broadwell
Comment[pt]=Intel Broadwell
Comment[pt_BR]=Intel Broadwell
Comment[ro]=Intel Broadwell
Comment[ru]=Intel Broadwell
Comment[sk]=Intel Broadwell
Comment[sq]=Intel Broadwell
Comment[sr]=Intel Broadwell
Comment[sv]=Intel Broadwell
Comment[te]=Intel Broadwell
Comment[tr]=Intel Broadwell
Comment[ug]=Intel Broadwell
Comment[uk]=Intel Broadwell
Comment[ur]=Intel Broadwell
Comment[ur_PK]=Intel Broadwell
Comment[vi]=Intel Broadwell
Comment[zh_CN]=Intel Broadwell
Comment[zh_TW]=Intel Broadwell
GenericName=Intel Broadwell
GenericName[ar]=Intel Broadwell
GenericName[ast]=Intel Broadwell
GenericName[be]=Intel Broadwell
GenericName[bn]=Intel Broadwell
GenericName[ca]=Intel Broadwell
GenericName[cs]=Intel Broadwell
GenericName[da]=Intel Broadwell
GenericName[de]=Intel Broadwell
GenericName[el]=Intel Broadwell
GenericName[en_GB]=Intel Broadwell
GenericName[eo]=Intel Broadwell
GenericName[es]=Intel Broadwell
GenericName[et]=Intel Broadwell
GenericName[eu]=Intel Broadwell
GenericName[fi]=Intel Broadwell
GenericName[fr]=Intel Broadwell
GenericName[gl]=Intel Broadwell
GenericName[he]=Intel Broadwell
GenericName[hr]=Intel Broadwell
GenericName[hu]=Intel Broadwell
GenericName[id]=Intel Broadwell
GenericName[it]=Intel Broadwell
GenericName[ja]=Intel Broadwell
GenericName[kk]=Intel Broadwell
GenericName[ko]=Intel Broadwell
GenericName[lt]=Intel Broadwell
GenericName[lv]=Intel Broadwell
GenericName[nb]=Intel Broadwell
GenericName[nl]=Intel Broadwell
GenericName[nn]=Intel Broadwell
GenericName[pa]=Intel Broadwell
GenericName[pl]=Intel Broadwell
GenericName[pt]=Intel Broadwell
GenericName[pt_BR]=Intel Broadwell
GenericName[ro]=Intel Broadwell
GenericName[ru]=Intel Broadwell
GenericName[si]=Intel Broadwell
GenericName[sk]=Intel Broadwell
GenericName[sq]=Intel Broadwell
GenericName[sr]=Intel Broadwell
GenericName[sv]=Intel Broadwell
GenericName[te]=Intel Broadwell
GenericName[tr]=Intel Broadwell
GenericName[ug]=Intel Broadwell
GenericName[uk]=Intel Broadwell
GenericName[ur]=Intel Broadwell
GenericName[ur_PK]=Intel Broadwell
GenericName[vi]=Intel Broadwell
GenericName[zh_CN]=Intel Broadwell
GenericName[zh_TW]=Intel Broadwell

Exec=/opt/NeteXt73/./kernele broadwell
Icon=/opt/NeteXt73/ikony/i7.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;
Version=1.0
Encoding=UTF-8
# vi:set encoding=UTF-8:
