[Desktop Entry]
Name=Brazos
Name[ar]=Brazos 
Name[ast]=Brazos 
Name[be]=Brazos 
Name[bn]=Brazos 
Name[ca]=Brazos 
Name[cs]=Brazos 
Name[da]=Brazos 
Name[de]=Brazos 
Name[el]=Brazos 
Name[en_GB]=Brazos 
Name[eo]=Brazos 
Name[es]=Brazos 
Name[et]=Brazos 
Name[eu]=Brazos 
Name[fi]=Brazos 
Name[fr]=Brazos 
Name[gl]=Brazos 
Name[he]=Brazos 
Name[hr]=Brazos 
Name[hu]=Brazos 
Name[id]=Brazos 
Name[it]=Brazos 
Name[ja]=Brazos 
Name[kk]=Brazos 
Name[ko]=Brazos 
Name[lt]=Brazos 
Name[lv]=Brazos 
Name[nb]=Brazos 
Name[nl]=Brazos 
Name[nn]=Brazos 
Name[pa]=Brazos 
Name[pl]=Brazos 
Name[pt]=Brazos 
Name[pt_BR]=Brazos 
Name[ro]=Brazos 
Name[ru]=Brazos 
Name[si]=Brazos 
Name[sk]=Brazos 
Name[sq]=Brazos 
Name[sr]=Brazos 
Name[sv]=Brazos 
Name[te]=Brazos 
Name[tr]=Brazos 
Name[ug]=Brazos 
Name[uk]=Brazos 
Name[ur]=Brazos 
Name[ur_PK]=Brazos 
Name[vi]=Brazos 
Name[zh_CN]=Brazos 
Name[zh_TW]=Brazos 
Comment=Brazos 
Comment[ar]=Brazos 
Comment[ast]=Brazos 
Comment[be]=Brazos 
Comment[bn]=Brazos 
Comment[ca]=Brazos 
Comment[cs]=Brazos 
Comment[da]=Brazos 
Comment[de]=Brazos 
Comment[el]=Brazos 
Comment[en_GB]=Brazos 
Comment[eo]=Brazos 
Comment[es]=Brazos 
Comment[et]=Brazos 
Comment[eu]=Brazos 
Comment[fi]=Brazos 
Comment[fr]=Brazos 
Comment[gl]=Brazos 
Comment[he]=Brazos 
Comment[hr]=Brazos 
Comment[hu]=Brazos 
Comment[id]=Brazos 
Comment[it]=Brazos 
Comment[ja]=Brazos 
Comment[kk]=Brazos 
Comment[ko]=Brazos 
Comment[lt]=Brazos 
Comment[lv]=Brazos 
Comment[nb]=Brazos 
Comment[nl]=Brazos 
Comment[nn]=Brazos 
Comment[pa]=Brazos 
Comment[pl]=Brazos 
Comment[pt]=Brazos 
Comment[pt_BR]=Brazos 
Comment[ro]=Brazos 
Comment[ru]=Brazos 
Comment[sk]=Brazos 
Comment[sq]=Brazos 
Comment[sr]=Brazos 
Comment[sv]=Brazos 
Comment[te]=Brazos 
Comment[tr]=Brazos 
Comment[ug]=Brazos 
Comment[uk]=Brazos 
Comment[ur]=Brazos 
Comment[ur_PK]=Brazos 
Comment[vi]=Brazos 
Comment[zh_CN]=Brazos 
Comment[zh_TW]=Brazos 
GenericName=Brazos 
GenericName[ar]=Brazos 
GenericName[ast]=Brazos 
GenericName[be]=Brazos 
GenericName[bn]=Brazos 
GenericName[ca]=Brazos 
GenericName[cs]=Brazos 
GenericName[da]=Brazos 
GenericName[de]=Brazos 
GenericName[el]=Brazos 
GenericName[en_GB]=Brazos 
GenericName[eo]=Brazos 
GenericName[es]=Brazos 
GenericName[et]=Brazos 
GenericName[eu]=Brazos 
GenericName[fi]=Brazos 
GenericName[fr]=Brazos 
GenericName[gl]=Brazos 
GenericName[he]=Brazos 
GenericName[hr]=Brazos 
GenericName[hu]=Brazos 
GenericName[id]=Brazos 
GenericName[it]=Brazos 
GenericName[ja]=Brazos 
GenericName[kk]=Brazos 
GenericName[ko]=Brazos 
GenericName[lt]=Brazos 
GenericName[lv]=Brazos 
GenericName[nb]=Brazos 
GenericName[nl]=Brazos 
GenericName[nn]=Brazos 
GenericName[pa]=Brazos 
GenericName[pl]=Brazos 
GenericName[pt]=Brazos 
GenericName[pt_BR]=Brazos 
GenericName[ro]=Brazos 
GenericName[ru]=Brazos 
GenericName[si]=Brazos 
GenericName[sk]=Brazos 
GenericName[sq]=Brazos 
GenericName[sr]=Brazos 
GenericName[sv]=Brazos 
GenericName[te]=Brazos 
GenericName[tr]=Brazos 
GenericName[ug]=Brazos 
GenericName[uk]=Brazos 
GenericName[ur]=Brazos 
GenericName[ur_PK]=Brazos 
GenericName[vi]=Brazos 
GenericName[zh_CN]=Brazos 
GenericName[zh_TW]=Brazos 


Exec=/opt/NeteXt73/./kernele brazos
Icon=/opt/NeteXt73/ikony/amd.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;
Version=1.0
Encoding=UTF-8
# vi:set encoding=UTF-8:
