[Desktop Entry]
Name=AMD Brazos
Name[ar]=AMD Brazos 
Name[ast]=AMD Brazos 
Name[be]=AMD Brazos 
Name[bn]=AMD Brazos 
Name[ca]=AMD Brazos 
Name[cs]=AMD Brazos 
Name[da]=AMD Brazos 
Name[de]=AMD Brazos 
Name[el]=AMD Brazos 
Name[en_GB]=AMD Brazos 
Name[eo]=AMD Brazos 
Name[es]=AMD Brazos 
Name[et]=AMD Brazos 
Name[eu]=AMD Brazos 
Name[fi]=AMD Brazos 
Name[fr]=AMD Brazos 
Name[gl]=AMD Brazos 
Name[he]=AMD Brazos 
Name[hr]=AMD Brazos 
Name[hu]=AMD Brazos 
Name[id]=AMD Brazos 
Name[it]=AMD Brazos 
Name[ja]=AMD Brazos 
Name[kk]=AMD Brazos 
Name[ko]=AMD Brazos 
Name[lt]=AMD Brazos 
Name[lv]=AMD Brazos 
Name[nb]=AMD Brazos 
Name[nl]=AMD Brazos 
Name[nn]=AMD Brazos 
Name[pa]=AMD Brazos 
Name[pl]=AMD Brazos 
Name[pt]=AMD Brazos 
Name[pt_BR]=AMD Brazos 
Name[ro]=AMD Brazos 
Name[ru]=AMD Brazos 
Name[si]=AMD Brazos 
Name[sk]=AMD Brazos 
Name[sq]=AMD Brazos 
Name[sr]=AMD Brazos 
Name[sv]=AMD Brazos 
Name[te]=AMD Brazos 
Name[tr]=AMD Brazos 
Name[ug]=AMD Brazos 
Name[uk]=AMD Brazos 
Name[ur]=AMD Brazos 
Name[ur_PK]=AMD Brazos 
Name[vi]=AMD Brazos 
Name[zh_CN]=AMD Brazos 
Name[zh_TW]=AMD Brazos 
Comment=AMD Brazos 
Comment[ar]=AMD Brazos 
Comment[ast]=AMD Brazos 
Comment[be]=AMD Brazos 
Comment[bn]=AMD Brazos 
Comment[ca]=AMD Brazos 
Comment[cs]=AMD Brazos 
Comment[da]=AMD Brazos 
Comment[de]=AMD Brazos 
Comment[el]=AMD Brazos 
Comment[en_GB]=AMD Brazos 
Comment[eo]=AMD Brazos 
Comment[es]=AMD Brazos 
Comment[et]=AMD Brazos 
Comment[eu]=AMD Brazos 
Comment[fi]=AMD Brazos 
Comment[fr]=AMD Brazos 
Comment[gl]=AMD Brazos 
Comment[he]=AMD Brazos 
Comment[hr]=AMD Brazos 
Comment[hu]=AMD Brazos 
Comment[id]=AMD Brazos 
Comment[it]=AMD Brazos 
Comment[ja]=AMD Brazos 
Comment[kk]=AMD Brazos 
Comment[ko]=AMD Brazos 
Comment[lt]=AMD Brazos 
Comment[lv]=AMD Brazos 
Comment[nb]=AMD Brazos 
Comment[nl]=AMD Brazos 
Comment[nn]=AMD Brazos 
Comment[pa]=AMD Brazos 
Comment[pl]=AMD Brazos 
Comment[pt]=AMD Brazos 
Comment[pt_BR]=AMD Brazos 
Comment[ro]=AMD Brazos 
Comment[ru]=AMD Brazos 
Comment[sk]=AMD Brazos 
Comment[sq]=AMD Brazos 
Comment[sr]=AMD Brazos 
Comment[sv]=AMD Brazos 
Comment[te]=AMD Brazos 
Comment[tr]=AMD Brazos 
Comment[ug]=AMD Brazos 
Comment[uk]=AMD Brazos 
Comment[ur]=AMD Brazos 
Comment[ur_PK]=AMD Brazos 
Comment[vi]=AMD Brazos 
Comment[zh_CN]=AMD Brazos 
Comment[zh_TW]=AMD Brazos 
GenericName=AMD Brazos 
GenericName[ar]=AMD Brazos 
GenericName[ast]=AMD Brazos 
GenericName[be]=AMD Brazos 
GenericName[bn]=AMD Brazos 
GenericName[ca]=AMD Brazos 
GenericName[cs]=AMD Brazos 
GenericName[da]=AMD Brazos 
GenericName[de]=AMD Brazos 
GenericName[el]=AMD Brazos 
GenericName[en_GB]=AMD Brazos 
GenericName[eo]=AMD Brazos 
GenericName[es]=AMD Brazos 
GenericName[et]=AMD Brazos 
GenericName[eu]=AMD Brazos 
GenericName[fi]=AMD Brazos 
GenericName[fr]=AMD Brazos 
GenericName[gl]=AMD Brazos 
GenericName[he]=AMD Brazos 
GenericName[hr]=AMD Brazos 
GenericName[hu]=AMD Brazos 
GenericName[id]=AMD Brazos 
GenericName[it]=AMD Brazos 
GenericName[ja]=AMD Brazos 
GenericName[kk]=AMD Brazos 
GenericName[ko]=AMD Brazos 
GenericName[lt]=AMD Brazos 
GenericName[lv]=AMD Brazos 
GenericName[nb]=AMD Brazos 
GenericName[nl]=AMD Brazos 
GenericName[nn]=AMD Brazos 
GenericName[pa]=AMD Brazos 
GenericName[pl]=AMD Brazos 
GenericName[pt]=AMD Brazos 
GenericName[pt_BR]=AMD Brazos 
GenericName[ro]=AMD Brazos 
GenericName[ru]=AMD Brazos 
GenericName[si]=AMD Brazos 
GenericName[sk]=AMD Brazos 
GenericName[sq]=AMD Brazos 
GenericName[sr]=AMD Brazos 
GenericName[sv]=AMD Brazos 
GenericName[te]=AMD Brazos 
GenericName[tr]=AMD Brazos 
GenericName[ug]=AMD Brazos 
GenericName[uk]=AMD Brazos 
GenericName[ur]=AMD Brazos 
GenericName[ur_PK]=AMD Brazos 
GenericName[vi]=AMD Brazos 
GenericName[zh_CN]=AMD Brazos 
GenericName[zh_TW]=AMD Brazos 


Exec=/opt/NeteXt73/./kernele brazos
Icon=/opt/NeteXt73/ikony/amd.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;
Version=1.0
Encoding=UTF-8
# vi:set encoding=UTF-8:
