[Desktop Entry]
Name=Brazos
Name[ar]=Brazos 
Name[ast]=Brazos 
Name[be]=Brazos 
Name[bn]=Brazos 
Name[ca]=Brazos 
Name[cs]=Brazos 
Name[da]=Brazos 
Name[de]=Brazos 
Name[el]=Brazos 
Name[en_GB]=Brazos 
Name[eo]=Brazos 
Name[es]=Brazos 
Name[et]=Brazos 
Name[eu]=Brazos 
Name[fi]=Brazos 
Name[fr]=Brazos 
Name[gl]=Brazos 
Name[he]=Brazos 
Name[hr]=Brazos 
Name[hu]=Brazos 
Name[id]=Brazos 
Name[it]=Brazos 
Name[ja]=Brazos 
Name[kk]=Brazos 
Name[ko]=Brazos 
Name[lt]=Brazos 
Name[lv]=Brazos 
Name[nb]=Brazos 
Name[nl]=Brazos 
Name[nn]=Brazos 
Name[pa]=Brazos 
Name[pl]=Brazos 
Name[pt]=Brazos 
Name[pt_BR]=Brazos 
Name[ro]=Brazos 
Name[ru]=Brazos 
Name[si]=Brazos 
Name[sk]=Brazos 
Name[sq]=Brazos 
Name[sr]=Brazos 
Name[sv]=Brazos 
Name[te]=Brazos 
Name[tr]=Brazos 
Name[ug]=Brazos 
Name[uk]=Brazos 
Name[ur]=Brazos 
Name[ur_PK]=Brazos 
Name[vi]=Brazos 
Name[zh_CN]=Brazos 
Name[zh_TW]=Brazos 
Comment=Kernel designed for AMD chips - including machines based on AMD from A10.5 /Phenom II, Athlon II/, by just Brazos platform. 
Comment[ar]=Kernel designed for AMD chips - including machines based on AMD from A10.5 /Phenom II, Athlon II/, by just Brazos platform. 
Comment[ast]=Kernel designed for AMD chips - including machines based on AMD from A10.5 /Phenom II, Athlon II/, by just Brazos platform. 
Comment[be]=Kernel designed for AMD chips - including machines based on AMD from A10.5 /Phenom II, Athlon II/, by just Brazos platform. 
Comment[bn]=Kernel designed for AMD chips - including machines based on AMD from A10.5 /Phenom II, Athlon II/, by just Brazos platform. 
Comment[ca]=Kernel designed for AMD chips - including machines based on AMD from A10.5 /Phenom II, Athlon II/, by just Brazos platform. 
Comment[cs]=Kernel designed for AMD chips - including machines based on AMD from A10.5 /Phenom II, Athlon II/, by just Brazos platform. 
Comment[da]=Kernel designed for AMD chips - including machines based on AMD from A10.5 /Phenom II, Athlon II/, by just Brazos platform. 
Comment[de]=Kernel designed for AMD chips - including machines based on AMD from A10.5 /Phenom II, Athlon II/, by just Brazos platform. 
Comment[el]=Kernel designed for AMD chips - including machines based on AMD from A10.5 /Phenom II, Athlon II/, by just Brazos platform. 
Comment[en_GB]=Kernel designed for AMD chips - including machines based on AMD from A10.5 /Phenom II, Athlon II/, by just Brazos platform. 
Comment[eo]=Kernel designed for AMD chips - including machines based on AMD from A10.5 /Phenom II, Athlon II/, by just Brazos platform. 
Comment[es]=Kernel designed for AMD chips - including machines based on AMD from A10.5 /Phenom II, Athlon II/, by just Brazos platform. 
Comment[et]=Kernel designed for AMD chips - including machines based on AMD from A10.5 /Phenom II, Athlon II/, by just Brazos platform. 
Comment[eu]=Kernel designed for AMD chips - including machines based on AMD from A10.5 /Phenom II, Athlon II/, by just Brazos platform. 
Comment[fi]=Kernel designed for AMD chips - including machines based on AMD from A10.5 /Phenom II, Athlon II/, by just Brazos platform. 
Comment[fr]=Kernel designed for AMD chips - including machines based on AMD from A10.5 /Phenom II, Athlon II/, by just Brazos platform. 
Comment[gl]=Kernel designed for AMD chips - including machines based on AMD from A10.5 /Phenom II, Athlon II/, by just Brazos platform. 
Comment[he]=Kernel designed for AMD chips - including machines based on AMD from A10.5 /Phenom II, Athlon II/, by just Brazos platform. 
Comment[hr]=Kernel designed for AMD chips - including machines based on AMD from A10.5 /Phenom II, Athlon II/, by just Brazos platform. 
Comment[hu]=Kernel designed for AMD chips - including machines based on AMD from A10.5 /Phenom II, Athlon II/, by just Brazos platform. 
Comment[id]=Kernel designed for AMD chips - including machines based on AMD from A10.5 /Phenom II, Athlon II/, by just Brazos platform. 
Comment[it]=Kernel designed for AMD chips - including machines based on AMD from A10.5 /Phenom II, Athlon II/, by just Brazos platform. 
Comment[ja]=Kernel designed for AMD chips - including machines based on AMD from A10.5 /Phenom II, Athlon II/, by just Brazos platform. 
Comment[kk]=Kernel designed for AMD chips - including machines based on AMD from A10.5 /Phenom II, Athlon II/, by just Brazos platform. 
Comment[ko]=Kernel designed for AMD chips - including machines based on AMD from A10.5 /Phenom II, Athlon II/, by just Brazos platform. 
Comment[lt]=Kernel designed for AMD chips - including machines based on AMD from A10.5 /Phenom II, Athlon II/, by just Brazos platform. 
Comment[lv]=Kernel designed for AMD chips - including machines based on AMD from A10.5 /Phenom II, Athlon II/, by just Brazos platform. 
Comment[nb]=Kernel designed for AMD chips - including machines based on AMD from A10.5 /Phenom II, Athlon II/, by just Brazos platform. 
Comment[nl]=Kernel designed for AMD chips - including machines based on AMD from A10.5 /Phenom II, Athlon II/, by just Brazos platform. 
Comment[nn]=Kernel designed for AMD chips - including machines based on AMD from A10.5 /Phenom II, Athlon II/, by just Brazos platform. 
Comment[pa]=Kernel designed for AMD chips - including machines based on AMD from A10.5 /Phenom II, Athlon II/, by just Brazos platform. 
Comment[pl]=Kernel przeznaczony dla chipów AMD-w tym maszynach opartych o procesory AMD od A10.5 /Phenom II, Athlon II/, oraz na platformę Brazos. 
Comment[pt]=Kernel designed for AMD chips - including machines based on AMD from A10.5 /Phenom II, Athlon II/, by just Brazos platform. 
Comment[pt_BR]=Kernel designed for AMD chips - including machines based on AMD from A10.5 /Phenom II, Athlon II/, by just Brazos platform. 
Comment[ro]=Kernel designed for AMD chips - including machines based on AMD from A10.5 /Phenom II, Athlon II/, by just Brazos platform. 
Comment[ru]=Kernel designed for AMD chips - including machines based on AMD from A10.5 /Phenom II, Athlon II/, by just Brazos platform. 
Comment[sk]=Kernel designed for AMD chips - including machines based on AMD from A10.5 /Phenom II, Athlon II/, by just Brazos platform. 
Comment[sq]=Kernel designed for AMD chips - including machines based on AMD from A10.5 /Phenom II, Athlon II/, by just Brazos platform. 
Comment[sr]=Kernel designed for AMD chips - including machines based on AMD from A10.5 /Phenom II, Athlon II/, by just Brazos platform. 
Comment[sv]=Kernel designed for AMD chips - including machines based on AMD from A10.5 /Phenom II, Athlon II/, by just Brazos platform. 
Comment[te]=Kernel designed for AMD chips - including machines based on AMD from A10.5 /Phenom II, Athlon II/, by just Brazos platform. 
Comment[tr]=Kernel designed for AMD chips - including machines based on AMD from A10.5 /Phenom II, Athlon II/, by just Brazos platform. 
Comment[ug]=Kernel designed for AMD chips - including machines based on AMD from A10.5 /Phenom II, Athlon II/, by just Brazos platform. 
Comment[uk]=Kernel designed for AMD chips - including machines based on AMD from A10.5 /Phenom II, Athlon II/, by just Brazos platform. 
Comment[ur]=Kernel designed for AMD chips - including machines based on AMD from A10.5 /Phenom II, Athlon II/, by just Brazos platform. 
Comment[ur_PK]=Kernel designed for AMD chips - including machines based on AMD from A10.5 /Phenom II, Athlon II/, by just Brazos platform. 
Comment[vi]=Kernel designed for AMD chips - including machines based on AMD from A10.5 /Phenom II, Athlon II/, by just Brazos platform. 
Comment[zh_CN]=Kernel designed for AMD chips - including machines based on AMD from A10.5 /Phenom II, Athlon II/, by just Brazos platform. 
Comment[zh_TW]=Kernel designed for AMD chips - including machines based on AMD from A10.5 /Phenom II, Athlon II/, by just Brazos platform. 
GenericName=Brazos 
GenericName[ar]=Brazos 
GenericName[ast]=Brazos 
GenericName[be]=Brazos 
GenericName[bn]=Brazos 
GenericName[ca]=Brazos 
GenericName[cs]=Brazos 
GenericName[da]=Brazos 
GenericName[de]=Brazos 
GenericName[el]=Brazos 
GenericName[en_GB]=Brazos 
GenericName[eo]=Brazos 
GenericName[es]=Brazos 
GenericName[et]=Brazos 
GenericName[eu]=Brazos 
GenericName[fi]=Brazos 
GenericName[fr]=Brazos 
GenericName[gl]=Brazos 
GenericName[he]=Brazos 
GenericName[hr]=Brazos 
GenericName[hu]=Brazos 
GenericName[id]=Brazos 
GenericName[it]=Brazos 
GenericName[ja]=Brazos 
GenericName[kk]=Brazos 
GenericName[ko]=Brazos 
GenericName[lt]=Brazos 
GenericName[lv]=Brazos 
GenericName[nb]=Brazos 
GenericName[nl]=Brazos 
GenericName[nn]=Brazos 
GenericName[pa]=Brazos 
GenericName[pl]=Brazos 
GenericName[pt]=Brazos 
GenericName[pt_BR]=Brazos 
GenericName[ro]=Brazos 
GenericName[ru]=Brazos 
GenericName[si]=Brazos 
GenericName[sk]=Brazos 
GenericName[sq]=Brazos 
GenericName[sr]=Brazos 
GenericName[sv]=Brazos 
GenericName[te]=Brazos 
GenericName[tr]=Brazos 
GenericName[ug]=Brazos 
GenericName[uk]=Brazos 
GenericName[ur]=Brazos 
GenericName[ur_PK]=Brazos 
GenericName[vi]=Brazos 
GenericName[zh_CN]=Brazos 
GenericName[zh_TW]=Brazos 


Exec=/opt/NeteXt73/./kernele brazos
Icon=/opt/NeteXt73/ikony/amd.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;
Version=1.0
Encoding=UTF-8
# vi:set encoding=UTF-8:
