[Desktop Entry]
Name=Bulldozer
Name[ar]=Bulldozer 
Name[ast]=Bulldozer 
Name[be]=Bulldozer 
Name[bn]=Bulldozer 
Name[ca]=Bulldozer 
Name[cs]=Bulldozer 
Name[da]=Bulldozer 
Name[de]=Bulldozer 
Name[el]=Bulldozer 
Name[en_GB]=Bulldozer 
Name[eo]=Bulldozer 
Name[es]=Bulldozer 
Name[et]=Bulldozer 
Name[eu]=Bulldozer 
Name[fi]=Bulldozer 
Name[fr]=Bulldozer 
Name[gl]=Bulldozer 
Name[he]=Bulldozer 
Name[hr]=Bulldozer 
Name[hu]=Bulldozer 
Name[id]=Bulldozer 
Name[it]=Bulldozer 
Name[ja]=Bulldozer 
Name[kk]=Bulldozer 
Name[ko]=Bulldozer 
Name[lt]=Bulldozer 
Name[lv]=Bulldozer 
Name[nb]=Bulldozer 
Name[nl]=Bulldozer 
Name[nn]=Bulldozer 
Name[pa]=Bulldozer 
Name[pl]=Bulldozer 
Name[pt]=Bulldozer 
Name[pt_BR]=Bulldozer 
Name[ro]=Bulldozer 
Name[ru]=Bulldozer 
Name[si]=Bulldozer 
Name[sk]=Bulldozer 
Name[sq]=Bulldozer 
Name[sr]=Bulldozer 
Name[sv]=Bulldozer 
Name[te]=Bulldozer 
Name[tr]=Bulldozer 
Name[ug]=Bulldozer 
Name[uk]=Bulldozer 
Name[ur]=Bulldozer 
Name[ur_PK]=Bulldozer 
Name[vi]=Bulldozer 
Name[zh_CN]=Bulldozer 
Name[zh_TW]=Bulldozer 
Comment=Kernel designed for AMD chips based on the Bulldozer architecture, for example. FX-8150. This kernel may be used to chips based on the core Piledriver. 
Comment[ar]=Kernel designed for AMD chips based on the Bulldozer architecture, for example. FX-8150. This kernel may be used to chips based on the core Piledriver. 
Comment[ast]=Kernel designed for AMD chips based on the Bulldozer architecture, for example. FX-8150. This kernel may be used to chips based on the core Piledriver. 
Comment[be]=Kernel designed for AMD chips based on the Bulldozer architecture, for example. FX-8150. This kernel may be used to chips based on the core Piledriver. 
Comment[bn]=Kernel designed for AMD chips based on the Bulldozer architecture, for example. FX-8150. This kernel may be used to chips based on the core Piledriver. 
Comment[ca]=Kernel designed for AMD chips based on the Bulldozer architecture, for example. FX-8150. This kernel may be used to chips based on the core Piledriver. 
Comment[cs]=Kernel designed for AMD chips based on the Bulldozer architecture, for example. FX-8150. This kernel may be used to chips based on the core Piledriver. 
Comment[da]=Kernel designed for AMD chips based on the Bulldozer architecture, for example. FX-8150. This kernel may be used to chips based on the core Piledriver. 
Comment[de]=Kernel designed for AMD chips based on the Bulldozer architecture, for example. FX-8150. This kernel may be used to chips based on the core Piledriver. 
Comment[el]=Kernel designed for AMD chips based on the Bulldozer architecture, for example. FX-8150. This kernel may be used to chips based on the core Piledriver. 
Comment[en_GB]=Kernel designed for AMD chips based on the Bulldozer architecture, for example. FX-8150. This kernel may be used to chips based on the core Piledriver. 
Comment[eo]=Kernel designed for AMD chips based on the Bulldozer architecture, for example. FX-8150. This kernel may be used to chips based on the core Piledriver. 
Comment[es]=Kernel designed for AMD chips based on the Bulldozer architecture, for example. FX-8150. This kernel may be used to chips based on the core Piledriver. 
Comment[et]=Kernel designed for AMD chips based on the Bulldozer architecture, for example. FX-8150. This kernel may be used to chips based on the core Piledriver. 
Comment[eu]=Kernel designed for AMD chips based on the Bulldozer architecture, for example. FX-8150. This kernel may be used to chips based on the core Piledriver. 
Comment[fi]=Kernel designed for AMD chips based on the Bulldozer architecture, for example. FX-8150. This kernel may be used to chips based on the core Piledriver. 
Comment[fr]=Kernel designed for AMD chips based on the Bulldozer architecture, for example. FX-8150. This kernel may be used to chips based on the core Piledriver. 
Comment[gl]=Kernel designed for AMD chips based on the Bulldozer architecture, for example. FX-8150. This kernel may be used to chips based on the core Piledriver. 
Comment[he]=Kernel designed for AMD chips based on the Bulldozer architecture, for example. FX-8150. This kernel may be used to chips based on the core Piledriver. 
Comment[hr]=Kernel designed for AMD chips based on the Bulldozer architecture, for example. FX-8150. This kernel may be used to chips based on the core Piledriver. 
Comment[hu]=Kernel designed for AMD chips based on the Bulldozer architecture, for example. FX-8150. This kernel may be used to chips based on the core Piledriver. 
Comment[id]=Kernel designed for AMD chips based on the Bulldozer architecture, for example. FX-8150. This kernel may be used to chips based on the core Piledriver. 
Comment[it]=Kernel designed for AMD chips based on the Bulldozer architecture, for example. FX-8150. This kernel may be used to chips based on the core Piledriver. 
Comment[ja]=Kernel designed for AMD chips based on the Bulldozer architecture, for example. FX-8150. This kernel may be used to chips based on the core Piledriver. 
Comment[kk]=Kernel designed for AMD chips based on the Bulldozer architecture, for example. FX-8150. This kernel may be used to chips based on the core Piledriver. 
Comment[ko]=Kernel designed for AMD chips based on the Bulldozer architecture, for example. FX-8150. This kernel may be used to chips based on the core Piledriver. 
Comment[lt]=Kernel designed for AMD chips based on the Bulldozer architecture, for example. FX-8150. This kernel may be used to chips based on the core Piledriver. 
Comment[lv]=Kernel designed for AMD chips based on the Bulldozer architecture, for example. FX-8150. This kernel may be used to chips based on the core Piledriver. 
Comment[nb]=Kernel designed for AMD chips based on the Bulldozer architecture, for example. FX-8150. This kernel may be used to chips based on the core Piledriver. 
Comment[nl]=Kernel designed for AMD chips based on the Bulldozer architecture, for example. FX-8150. This kernel may be used to chips based on the core Piledriver. 
Comment[nn]=Kernel designed for AMD chips based on the Bulldozer architecture, for example. FX-8150. This kernel may be used to chips based on the core Piledriver. 
Comment[pa]=Kernel designed for AMD chips based on the Bulldozer architecture, for example. FX-8150. This kernel may be used to chips based on the core Piledriver. 
Comment[pl]=Kernel przeznaczony dla chipów AMD opartych o architekturę Bulldozer, np. FX-8150. Ten kernel można także stosować do chipów opartych na rdzeniu Piledriver. 
Comment[pt]=Kernel designed for AMD chips based on the Bulldozer architecture, for example. FX-8150. This kernel may be used to chips based on the core Piledriver. 
Comment[pt_BR]=Kernel designed for AMD chips based on the Bulldozer architecture, for example. FX-8150. This kernel may be used to chips based on the core Piledriver. 
Comment[ro]=Kernel designed for AMD chips based on the Bulldozer architecture, for example. FX-8150. This kernel may be used to chips based on the core Piledriver. 
Comment[ru]=Kernel designed for AMD chips based on the Bulldozer architecture, for example. FX-8150. This kernel may be used to chips based on the core Piledriver. 
Comment[sk]=Kernel designed for AMD chips based on the Bulldozer architecture, for example. FX-8150. This kernel may be used to chips based on the core Piledriver. 
Comment[sq]=Kernel designed for AMD chips based on the Bulldozer architecture, for example. FX-8150. This kernel may be used to chips based on the core Piledriver. 
Comment[sr]=Kernel designed for AMD chips based on the Bulldozer architecture, for example. FX-8150. This kernel may be used to chips based on the core Piledriver. 
Comment[sv]=Kernel designed for AMD chips based on the Bulldozer architecture, for example. FX-8150. This kernel may be used to chips based on the core Piledriver. 
Comment[te]=Kernel designed for AMD chips based on the Bulldozer architecture, for example. FX-8150. This kernel may be used to chips based on the core Piledriver. 
Comment[tr]=Kernel designed for AMD chips based on the Bulldozer architecture, for example. FX-8150. This kernel may be used to chips based on the core Piledriver. 
Comment[ug]=Kernel designed for AMD chips based on the Bulldozer architecture, for example. FX-8150. This kernel may be used to chips based on the core Piledriver. 
Comment[uk]=Kernel designed for AMD chips based on the Bulldozer architecture, for example. FX-8150. This kernel may be used to chips based on the core Piledriver. 
Comment[ur]=Kernel designed for AMD chips based on the Bulldozer architecture, for example. FX-8150. This kernel may be used to chips based on the core Piledriver. 
Comment[ur_PK]=Kernel designed for AMD chips based on the Bulldozer architecture, for example. FX-8150. This kernel may be used to chips based on the core Piledriver. 
Comment[vi]=Kernel designed for AMD chips based on the Bulldozer architecture, for example. FX-8150. This kernel may be used to chips based on the core Piledriver. 
Comment[zh_CN]=Kernel designed for AMD chips based on the Bulldozer architecture, for example. FX-8150. This kernel may be used to chips based on the core Piledriver. 
Comment[zh_TW]=Kernel designed for AMD chips based on the Bulldozer architecture, for example. FX-8150. This kernel may be used to chips based on the core Piledriver. 
GenericName=Bulldozer 
GenericName[ar]=Bulldozer 
GenericName[ast]=Bulldozer 
GenericName[be]=Bulldozer 
GenericName[bn]=Bulldozer 
GenericName[ca]=Bulldozer 
GenericName[cs]=Bulldozer 
GenericName[da]=Bulldozer 
GenericName[de]=Bulldozer 
GenericName[el]=Bulldozer 
GenericName[en_GB]=Bulldozer 
GenericName[eo]=Bulldozer 
GenericName[es]=Bulldozer 
GenericName[et]=Bulldozer 
GenericName[eu]=Bulldozer 
GenericName[fi]=Bulldozer 
GenericName[fr]=Bulldozer 
GenericName[gl]=Bulldozer 
GenericName[he]=Bulldozer 
GenericName[hr]=Bulldozer 
GenericName[hu]=Bulldozer 
GenericName[id]=Bulldozer 
GenericName[it]=Bulldozer 
GenericName[ja]=Bulldozer 
GenericName[kk]=Bulldozer 
GenericName[ko]=Bulldozer 
GenericName[lt]=Bulldozer 
GenericName[lv]=Bulldozer 
GenericName[nb]=Bulldozer 
GenericName[nl]=Bulldozer 
GenericName[nn]=Bulldozer 
GenericName[pa]=Bulldozer 
GenericName[pl]=Bulldozer 
GenericName[pt]=Bulldozer 
GenericName[pt_BR]=Bulldozer 
GenericName[ro]=Bulldozer 
GenericName[ru]=Bulldozer 
GenericName[si]=Bulldozer 
GenericName[sk]=Bulldozer 
GenericName[sq]=Bulldozer 
GenericName[sr]=Bulldozer 
GenericName[sv]=Bulldozer 
GenericName[te]=Bulldozer 
GenericName[tr]=Bulldozer 
GenericName[ug]=Bulldozer 
GenericName[uk]=Bulldozer 
GenericName[ur]=Bulldozer 
GenericName[ur_PK]=Bulldozer 
GenericName[vi]=Bulldozer 
GenericName[zh_CN]=Bulldozer 
GenericName[zh_TW]=Bulldozer 


Exec=/opt/NeteXt73/./kernele bulldozer
Icon=/opt/NeteXt73/ikony/amd.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;
Version=1.0
Encoding=UTF-8
# vi:set encoding=UTF-8:
