[Desktop Entry]
Name=AMD Bulldozer
Name[ar]=AMD Bulldozer 
Name[ast]=AMD Bulldozer 
Name[be]=AMD Bulldozer 
Name[bn]=AMD Bulldozer 
Name[ca]=AMD Bulldozer 
Name[cs]=AMD Bulldozer 
Name[da]=AMD Bulldozer 
Name[de]=AMD Bulldozer 
Name[el]=AMD Bulldozer 
Name[en_GB]=AMD Bulldozer 
Name[eo]=AMD Bulldozer 
Name[es]=AMD Bulldozer 
Name[et]=AMD Bulldozer 
Name[eu]=AMD Bulldozer 
Name[fi]=AMD Bulldozer 
Name[fr]=AMD Bulldozer 
Name[gl]=AMD Bulldozer 
Name[he]=AMD Bulldozer 
Name[hr]=AMD Bulldozer 
Name[hu]=AMD Bulldozer 
Name[id]=AMD Bulldozer 
Name[it]=AMD Bulldozer 
Name[ja]=AMD Bulldozer 
Name[kk]=AMD Bulldozer 
Name[ko]=AMD Bulldozer 
Name[lt]=AMD Bulldozer 
Name[lv]=AMD Bulldozer 
Name[nb]=AMD Bulldozer 
Name[nl]=AMD Bulldozer 
Name[nn]=AMD Bulldozer 
Name[pa]=AMD Bulldozer 
Name[pl]=AMD Bulldozer 
Name[pt]=AMD Bulldozer 
Name[pt_BR]=AMD Bulldozer 
Name[ro]=AMD Bulldozer 
Name[ru]=AMD Bulldozer 
Name[si]=AMD Bulldozer 
Name[sk]=AMD Bulldozer 
Name[sq]=AMD Bulldozer 
Name[sr]=AMD Bulldozer 
Name[sv]=AMD Bulldozer 
Name[te]=AMD Bulldozer 
Name[tr]=AMD Bulldozer 
Name[ug]=AMD Bulldozer 
Name[uk]=AMD Bulldozer 
Name[ur]=AMD Bulldozer 
Name[ur_PK]=AMD Bulldozer 
Name[vi]=AMD Bulldozer 
Name[zh_CN]=AMD Bulldozer 
Name[zh_TW]=AMD Bulldozer 
Comment=AMD Bulldozer 
Comment[ar]=AMD Bulldozer 
Comment[ast]=AMD Bulldozer 
Comment[be]=AMD Bulldozer 
Comment[bn]=AMD Bulldozer 
Comment[ca]=AMD Bulldozer 
Comment[cs]=AMD Bulldozer 
Comment[da]=AMD Bulldozer 
Comment[de]=AMD Bulldozer 
Comment[el]=AMD Bulldozer 
Comment[en_GB]=AMD Bulldozer 
Comment[eo]=AMD Bulldozer 
Comment[es]=AMD Bulldozer 
Comment[et]=AMD Bulldozer 
Comment[eu]=AMD Bulldozer 
Comment[fi]=AMD Bulldozer 
Comment[fr]=AMD Bulldozer 
Comment[gl]=AMD Bulldozer 
Comment[he]=AMD Bulldozer 
Comment[hr]=AMD Bulldozer 
Comment[hu]=AMD Bulldozer 
Comment[id]=AMD Bulldozer 
Comment[it]=AMD Bulldozer 
Comment[ja]=AMD Bulldozer 
Comment[kk]=AMD Bulldozer 
Comment[ko]=AMD Bulldozer 
Comment[lt]=AMD Bulldozer 
Comment[lv]=AMD Bulldozer 
Comment[nb]=AMD Bulldozer 
Comment[nl]=AMD Bulldozer 
Comment[nn]=AMD Bulldozer 
Comment[pa]=AMD Bulldozer 
Comment[pl]=AMD Bulldozer 
Comment[pt]=AMD Bulldozer 
Comment[pt_BR]=AMD Bulldozer 
Comment[ro]=AMD Bulldozer 
Comment[ru]=AMD Bulldozer 
Comment[sk]=AMD Bulldozer 
Comment[sq]=AMD Bulldozer 
Comment[sr]=AMD Bulldozer 
Comment[sv]=AMD Bulldozer 
Comment[te]=AMD Bulldozer 
Comment[tr]=AMD Bulldozer 
Comment[ug]=AMD Bulldozer 
Comment[uk]=AMD Bulldozer 
Comment[ur]=AMD Bulldozer 
Comment[ur_PK]=AMD Bulldozer 
Comment[vi]=AMD Bulldozer 
Comment[zh_CN]=AMD Bulldozer 
Comment[zh_TW]=AMD Bulldozer 
GenericName=AMD Bulldozer 
GenericName[ar]=AMD Bulldozer 
GenericName[ast]=AMD Bulldozer 
GenericName[be]=AMD Bulldozer 
GenericName[bn]=AMD Bulldozer 
GenericName[ca]=AMD Bulldozer 
GenericName[cs]=AMD Bulldozer 
GenericName[da]=AMD Bulldozer 
GenericName[de]=AMD Bulldozer 
GenericName[el]=AMD Bulldozer 
GenericName[en_GB]=AMD Bulldozer 
GenericName[eo]=AMD Bulldozer 
GenericName[es]=AMD Bulldozer 
GenericName[et]=AMD Bulldozer 
GenericName[eu]=AMD Bulldozer 
GenericName[fi]=AMD Bulldozer 
GenericName[fr]=AMD Bulldozer 
GenericName[gl]=AMD Bulldozer 
GenericName[he]=AMD Bulldozer 
GenericName[hr]=AMD Bulldozer 
GenericName[hu]=AMD Bulldozer 
GenericName[id]=AMD Bulldozer 
GenericName[it]=AMD Bulldozer 
GenericName[ja]=AMD Bulldozer 
GenericName[kk]=AMD Bulldozer 
GenericName[ko]=AMD Bulldozer 
GenericName[lt]=AMD Bulldozer 
GenericName[lv]=AMD Bulldozer 
GenericName[nb]=AMD Bulldozer 
GenericName[nl]=AMD Bulldozer 
GenericName[nn]=AMD Bulldozer 
GenericName[pa]=AMD Bulldozer 
GenericName[pl]=AMD Bulldozer 
GenericName[pt]=AMD Bulldozer 
GenericName[pt_BR]=AMD Bulldozer 
GenericName[ro]=AMD Bulldozer 
GenericName[ru]=AMD Bulldozer 
GenericName[si]=AMD Bulldozer 
GenericName[sk]=AMD Bulldozer 
GenericName[sq]=AMD Bulldozer 
GenericName[sr]=AMD Bulldozer 
GenericName[sv]=AMD Bulldozer 
GenericName[te]=AMD Bulldozer 
GenericName[tr]=AMD Bulldozer 
GenericName[ug]=AMD Bulldozer 
GenericName[uk]=AMD Bulldozer 
GenericName[ur]=AMD Bulldozer 
GenericName[ur_PK]=AMD Bulldozer 
GenericName[vi]=AMD Bulldozer 
GenericName[zh_CN]=AMD Bulldozer 
GenericName[zh_TW]=AMD Bulldozer 


Exec=/opt/NeteXt73/./kernele bulldozer
Icon=/opt/NeteXt73/ikony/amd.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;
Version=1.0
Encoding=UTF-8
# vi:set encoding=UTF-8:
