[Desktop Entry]
Name=AMD Piledriver
Name[ar]=AMD Piledriver 
Name[ast]=AMD Piledriver 
Name[be]=AMD Piledriver 
Name[bn]=AMD Piledriver 
Name[ca]=AMD Piledriver 
Name[cs]=AMD Piledriver 
Name[da]=AMD Piledriver 
Name[de]=AMD Piledriver 
Name[el]=AMD Piledriver 
Name[en_GB]=AMD Piledriver 
Name[eo]=AMD Piledriver 
Name[es]=AMD Piledriver 
Name[et]=AMD Piledriver 
Name[eu]=AMD Piledriver 
Name[fi]=AMD Piledriver 
Name[fr]=AMD Piledriver 
Name[gl]=AMD Piledriver 
Name[he]=AMD Piledriver 
Name[hr]=AMD Piledriver 
Name[hu]=AMD Piledriver 
Name[id]=AMD Piledriver 
Name[it]=AMD Piledriver 
Name[ja]=AMD Piledriver 
Name[kk]=AMD Piledriver 
Name[ko]=AMD Piledriver 
Name[lt]=AMD Piledriver 
Name[lv]=AMD Piledriver 
Name[nb]=AMD Piledriver 
Name[nl]=AMD Piledriver 
Name[nn]=AMD Piledriver 
Name[pa]=AMD Piledriver 
Name[pl]=AMD Piledriver 
Name[pt]=AMD Piledriver 
Name[pt_BR]=AMD Piledriver 
Name[ro]=AMD Piledriver 
Name[ru]=AMD Piledriver 
Name[si]=AMD Piledriver 
Name[sk]=AMD Piledriver 
Name[sq]=AMD Piledriver 
Name[sr]=AMD Piledriver 
Name[sv]=AMD Piledriver 
Name[te]=AMD Piledriver 
Name[tr]=AMD Piledriver 
Name[ug]=AMD Piledriver 
Name[uk]=AMD Piledriver 
Name[ur]=AMD Piledriver 
Name[ur_PK]=AMD Piledriver 
Name[vi]=AMD Piledriver 
Name[zh_CN]=AMD Piledriver 
Name[zh_TW]=AMD Piledriver 
Comment=AMD Piledriver 
Comment[ar]=AMD Piledriver 
Comment[ast]=AMD Piledriver 
Comment[be]=AMD Piledriver 
Comment[bn]=AMD Piledriver 
Comment[ca]=AMD Piledriver 
Comment[cs]=AMD Piledriver 
Comment[da]=AMD Piledriver 
Comment[de]=AMD Piledriver 
Comment[el]=AMD Piledriver 
Comment[en_GB]=AMD Piledriver 
Comment[eo]=AMD Piledriver 
Comment[es]=AMD Piledriver 
Comment[et]=AMD Piledriver 
Comment[eu]=AMD Piledriver 
Comment[fi]=AMD Piledriver 
Comment[fr]=AMD Piledriver 
Comment[gl]=AMD Piledriver 
Comment[he]=AMD Piledriver 
Comment[hr]=AMD Piledriver 
Comment[hu]=AMD Piledriver 
Comment[id]=AMD Piledriver 
Comment[it]=AMD Piledriver 
Comment[ja]=AMD Piledriver 
Comment[kk]=AMD Piledriver 
Comment[ko]=AMD Piledriver 
Comment[lt]=AMD Piledriver 
Comment[lv]=AMD Piledriver 
Comment[nb]=AMD Piledriver 
Comment[nl]=AMD Piledriver 
Comment[nn]=AMD Piledriver 
Comment[pa]=AMD Piledriver 
Comment[pl]=AMD Piledriver 
Comment[pt]=AMD Piledriver 
Comment[pt_BR]=AMD Piledriver 
Comment[ro]=AMD Piledriver 
Comment[ru]=AMD Piledriver 
Comment[sk]=AMD Piledriver 
Comment[sq]=AMD Piledriver 
Comment[sr]=AMD Piledriver 
Comment[sv]=AMD Piledriver 
Comment[te]=AMD Piledriver 
Comment[tr]=AMD Piledriver 
Comment[ug]=AMD Piledriver 
Comment[uk]=AMD Piledriver 
Comment[ur]=AMD Piledriver 
Comment[ur_PK]=AMD Piledriver 
Comment[vi]=AMD Piledriver 
Comment[zh_CN]=AMD Piledriver 
Comment[zh_TW]=AMD Piledriver 
GenericName=AMD Piledriver 
GenericName[ar]=AMD Piledriver 
GenericName[ast]=AMD Piledriver 
GenericName[be]=AMD Piledriver 
GenericName[bn]=AMD Piledriver 
GenericName[ca]=AMD Piledriver 
GenericName[cs]=AMD Piledriver 
GenericName[da]=AMD Piledriver 
GenericName[de]=AMD Piledriver 
GenericName[el]=AMD Piledriver 
GenericName[en_GB]=AMD Piledriver 
GenericName[eo]=AMD Piledriver 
GenericName[es]=AMD Piledriver 
GenericName[et]=AMD Piledriver 
GenericName[eu]=AMD Piledriver 
GenericName[fi]=AMD Piledriver 
GenericName[fr]=AMD Piledriver 
GenericName[gl]=AMD Piledriver 
GenericName[he]=AMD Piledriver 
GenericName[hr]=AMD Piledriver 
GenericName[hu]=AMD Piledriver 
GenericName[id]=AMD Piledriver 
GenericName[it]=AMD Piledriver 
GenericName[ja]=AMD Piledriver 
GenericName[kk]=AMD Piledriver 
GenericName[ko]=AMD Piledriver 
GenericName[lt]=AMD Piledriver 
GenericName[lv]=AMD Piledriver 
GenericName[nb]=AMD Piledriver 
GenericName[nl]=AMD Piledriver 
GenericName[nn]=AMD Piledriver 
GenericName[pa]=AMD Piledriver 
GenericName[pl]=AMD Piledriver 
GenericName[pt]=AMD Piledriver 
GenericName[pt_BR]=AMD Piledriver 
GenericName[ro]=AMD Piledriver 
GenericName[ru]=AMD Piledriver 
GenericName[si]=AMD Piledriver 
GenericName[sk]=AMD Piledriver 
GenericName[sq]=AMD Piledriver 
GenericName[sr]=AMD Piledriver 
GenericName[sv]=AMD Piledriver 
GenericName[te]=AMD Piledriver 
GenericName[tr]=AMD Piledriver 
GenericName[ug]=AMD Piledriver 
GenericName[uk]=AMD Piledriver 
GenericName[ur]=AMD Piledriver 
GenericName[ur_PK]=AMD Piledriver 
GenericName[vi]=AMD Piledriver 
GenericName[zh_CN]=AMD Piledriver 
GenericName[zh_TW]=AMD Piledriver 


Exec=/opt/NeteXt73/./kernele piledriver
Icon=/opt/NeteXt73/ikony/amd.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;
Version=1.0
Encoding=UTF-8
# vi:set encoding=UTF-8:
