[Desktop Entry]
Name=Piledriver
Name[ar]=Piledriver 
Name[ast]=Piledriver 
Name[be]=Piledriver 
Name[bn]=Piledriver 
Name[ca]=Piledriver 
Name[cs]=Piledriver 
Name[da]=Piledriver 
Name[de]=Piledriver 
Name[el]=Piledriver 
Name[en_GB]=Piledriver 
Name[eo]=Piledriver 
Name[es]=Piledriver 
Name[et]=Piledriver 
Name[eu]=Piledriver 
Name[fi]=Piledriver 
Name[fr]=Piledriver 
Name[gl]=Piledriver 
Name[he]=Piledriver 
Name[hr]=Piledriver 
Name[hu]=Piledriver 
Name[id]=Piledriver 
Name[it]=Piledriver 
Name[ja]=Piledriver 
Name[kk]=Piledriver 
Name[ko]=Piledriver 
Name[lt]=Piledriver 
Name[lv]=Piledriver 
Name[nb]=Piledriver 
Name[nl]=Piledriver 
Name[nn]=Piledriver 
Name[pa]=Piledriver 
Name[pl]=Piledriver 
Name[pt]=Piledriver 
Name[pt_BR]=Piledriver 
Name[ro]=Piledriver 
Name[ru]=Piledriver 
Name[si]=Piledriver 
Name[sk]=Piledriver 
Name[sq]=Piledriver 
Name[sr]=Piledriver 
Name[sv]=Piledriver 
Name[te]=Piledriver 
Name[tr]=Piledriver 
Name[ug]=Piledriver 
Name[uk]=Piledriver 
Name[ur]=Piledriver 
Name[ur_PK]=Piledriver 
Name[vi]=Piledriver 
Name[zh_CN]=Piledriver 
Name[zh_TW]=Piledriver 
Comment=Kernel designed for AMD chips based on the Piledriver architecture, for example. FX-8350 and the Steamroller, for example. A10-7850K. 
Comment[ar]=Kernel designed for AMD chips based on the Piledriver architecture, for example. FX-8350 and the Steamroller, for example. A10-7850K. 
Comment[ast]=Kernel designed for AMD chips based on the Piledriver architecture, for example. FX-8350 and the Steamroller, for example. A10-7850K. 
Comment[be]=Kernel designed for AMD chips based on the Piledriver architecture, for example. FX-8350 and the Steamroller, for example. A10-7850K. 
Comment[bn]=Kernel designed for AMD chips based on the Piledriver architecture, for example. FX-8350 and the Steamroller, for example. A10-7850K. 
Comment[ca]=Kernel designed for AMD chips based on the Piledriver architecture, for example. FX-8350 and the Steamroller, for example. A10-7850K. 
Comment[cs]=Kernel designed for AMD chips based on the Piledriver architecture, for example. FX-8350 and the Steamroller, for example. A10-7850K. 
Comment[da]=Kernel designed for AMD chips based on the Piledriver architecture, for example. FX-8350 and the Steamroller, for example. A10-7850K. 
Comment[de]=Kernel designed for AMD chips based on the Piledriver architecture, for example. FX-8350 and the Steamroller, for example. A10-7850K. 
Comment[el]=Kernel designed for AMD chips based on the Piledriver architecture, for example. FX-8350 and the Steamroller, for example. A10-7850K. 
Comment[en_GB]=Kernel designed for AMD chips based on the Piledriver architecture, for example. FX-8350 and the Steamroller, for example. A10-7850K. 
Comment[eo]=Kernel designed for AMD chips based on the Piledriver architecture, for example. FX-8350 and the Steamroller, for example. A10-7850K. 
Comment[es]=Kernel designed for AMD chips based on the Piledriver architecture, for example. FX-8350 and the Steamroller, for example. A10-7850K. 
Comment[et]=Kernel designed for AMD chips based on the Piledriver architecture, for example. FX-8350 and the Steamroller, for example. A10-7850K. 
Comment[eu]=Kernel designed for AMD chips based on the Piledriver architecture, for example. FX-8350 and the Steamroller, for example. A10-7850K. 
Comment[fi]=Kernel designed for AMD chips based on the Piledriver architecture, for example. FX-8350 and the Steamroller, for example. A10-7850K. 
Comment[fr]=Kernel designed for AMD chips based on the Piledriver architecture, for example. FX-8350 and the Steamroller, for example. A10-7850K. 
Comment[gl]=Kernel designed for AMD chips based on the Piledriver architecture, for example. FX-8350 and the Steamroller, for example. A10-7850K. 
Comment[he]=Kernel designed for AMD chips based on the Piledriver architecture, for example. FX-8350 and the Steamroller, for example. A10-7850K. 
Comment[hr]=Kernel designed for AMD chips based on the Piledriver architecture, for example. FX-8350 and the Steamroller, for example. A10-7850K. 
Comment[hu]=Kernel designed for AMD chips based on the Piledriver architecture, for example. FX-8350 and the Steamroller, for example. A10-7850K. 
Comment[id]=Kernel designed for AMD chips based on the Piledriver architecture, for example. FX-8350 and the Steamroller, for example. A10-7850K. 
Comment[it]=Kernel designed for AMD chips based on the Piledriver architecture, for example. FX-8350 and the Steamroller, for example. A10-7850K. 
Comment[ja]=Kernel designed for AMD chips based on the Piledriver architecture, for example. FX-8350 and the Steamroller, for example. A10-7850K. 
Comment[kk]=Kernel designed for AMD chips based on the Piledriver architecture, for example. FX-8350 and the Steamroller, for example. A10-7850K. 
Comment[ko]=Kernel designed for AMD chips based on the Piledriver architecture, for example. FX-8350 and the Steamroller, for example. A10-7850K. 
Comment[lt]=Kernel designed for AMD chips based on the Piledriver architecture, for example. FX-8350 and the Steamroller, for example. A10-7850K. 
Comment[lv]=Kernel designed for AMD chips based on the Piledriver architecture, for example. FX-8350 and the Steamroller, for example. A10-7850K. 
Comment[nb]=Kernel designed for AMD chips based on the Piledriver architecture, for example. FX-8350 and the Steamroller, for example. A10-7850K. 
Comment[nl]=Kernel designed for AMD chips based on the Piledriver architecture, for example. FX-8350 and the Steamroller, for example. A10-7850K. 
Comment[nn]=Kernel designed for AMD chips based on the Piledriver architecture, for example. FX-8350 and the Steamroller, for example. A10-7850K. 
Comment[pa]=Kernel designed for AMD chips based on the Piledriver architecture, for example. FX-8350 and the Steamroller, for example. A10-7850K. 
Comment[pl]=Kernel przeznaczony dla chipów AMD opartych o architekturę Piledriver, np. FX-8350 oraz Steamroller, np. A10-7850K. 
Comment[pt]=Kernel designed for AMD chips based on the Piledriver architecture, for example. FX-8350 and the Steamroller, for example. A10-7850K. 
Comment[pt_BR]=Kernel designed for AMD chips based on the Piledriver architecture, for example. FX-8350 and the Steamroller, for example. A10-7850K. 
Comment[ro]=Kernel designed for AMD chips based on the Piledriver architecture, for example. FX-8350 and the Steamroller, for example. A10-7850K. 
Comment[ru]=Kernel designed for AMD chips based on the Piledriver architecture, for example. FX-8350 and the Steamroller, for example. A10-7850K. 
Comment[sk]=Kernel designed for AMD chips based on the Piledriver architecture, for example. FX-8350 and the Steamroller, for example. A10-7850K. 
Comment[sq]=Kernel designed for AMD chips based on the Piledriver architecture, for example. FX-8350 and the Steamroller, for example. A10-7850K. 
Comment[sr]=Kernel designed for AMD chips based on the Piledriver architecture, for example. FX-8350 and the Steamroller, for example. A10-7850K. 
Comment[sv]=Kernel designed for AMD chips based on the Piledriver architecture, for example. FX-8350 and the Steamroller, for example. A10-7850K. 
Comment[te]=Kernel designed for AMD chips based on the Piledriver architecture, for example. FX-8350 and the Steamroller, for example. A10-7850K. 
Comment[tr]=Kernel designed for AMD chips based on the Piledriver architecture, for example. FX-8350 and the Steamroller, for example. A10-7850K. 
Comment[ug]=Kernel designed for AMD chips based on the Piledriver architecture, for example. FX-8350 and the Steamroller, for example. A10-7850K. 
Comment[uk]=Kernel designed for AMD chips based on the Piledriver architecture, for example. FX-8350 and the Steamroller, for example. A10-7850K. 
Comment[ur]=Kernel designed for AMD chips based on the Piledriver architecture, for example. FX-8350 and the Steamroller, for example. A10-7850K. 
Comment[ur_PK]=Kernel designed for AMD chips based on the Piledriver architecture, for example. FX-8350 and the Steamroller, for example. A10-7850K. 
Comment[vi]=Kernel designed for AMD chips based on the Piledriver architecture, for example. FX-8350 and the Steamroller, for example. A10-7850K. 
Comment[zh_CN]=Kernel designed for AMD chips based on the Piledriver architecture, for example. FX-8350 and the Steamroller, for example. A10-7850K. 
Comment[zh_TW]=Kernel designed for AMD chips based on the Piledriver architecture, for example. FX-8350 and the Steamroller, for example. A10-7850K. 
GenericName=Piledriver 
GenericName[ar]=Piledriver 
GenericName[ast]=Piledriver 
GenericName[be]=Piledriver 
GenericName[bn]=Piledriver 
GenericName[ca]=Piledriver 
GenericName[cs]=Piledriver 
GenericName[da]=Piledriver 
GenericName[de]=Piledriver 
GenericName[el]=Piledriver 
GenericName[en_GB]=Piledriver 
GenericName[eo]=Piledriver 
GenericName[es]=Piledriver 
GenericName[et]=Piledriver 
GenericName[eu]=Piledriver 
GenericName[fi]=Piledriver 
GenericName[fr]=Piledriver 
GenericName[gl]=Piledriver 
GenericName[he]=Piledriver 
GenericName[hr]=Piledriver 
GenericName[hu]=Piledriver 
GenericName[id]=Piledriver 
GenericName[it]=Piledriver 
GenericName[ja]=Piledriver 
GenericName[kk]=Piledriver 
GenericName[ko]=Piledriver 
GenericName[lt]=Piledriver 
GenericName[lv]=Piledriver 
GenericName[nb]=Piledriver 
GenericName[nl]=Piledriver 
GenericName[nn]=Piledriver 
GenericName[pa]=Piledriver 
GenericName[pl]=Piledriver 
GenericName[pt]=Piledriver 
GenericName[pt_BR]=Piledriver 
GenericName[ro]=Piledriver 
GenericName[ru]=Piledriver 
GenericName[si]=Piledriver 
GenericName[sk]=Piledriver 
GenericName[sq]=Piledriver 
GenericName[sr]=Piledriver 
GenericName[sv]=Piledriver 
GenericName[te]=Piledriver 
GenericName[tr]=Piledriver 
GenericName[ug]=Piledriver 
GenericName[uk]=Piledriver 
GenericName[ur]=Piledriver 
GenericName[ur_PK]=Piledriver 
GenericName[vi]=Piledriver 
GenericName[zh_CN]=Piledriver 
GenericName[zh_TW]=Piledriver 


Exec=/opt/NeteXt73/./kernele piledriver
Icon=/opt/NeteXt73/ikony/amd.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;
Version=1.0
Encoding=UTF-8
# vi:set encoding=UTF-8:
