[Desktop Entry]
Name=Piledriver
Name[ar]=Piledriver 
Name[ast]=Piledriver 
Name[be]=Piledriver 
Name[bn]=Piledriver 
Name[ca]=Piledriver 
Name[cs]=Piledriver 
Name[da]=Piledriver 
Name[de]=Piledriver 
Name[el]=Piledriver 
Name[en_GB]=Piledriver 
Name[eo]=Piledriver 
Name[es]=Piledriver 
Name[et]=Piledriver 
Name[eu]=Piledriver 
Name[fi]=Piledriver 
Name[fr]=Piledriver 
Name[gl]=Piledriver 
Name[he]=Piledriver 
Name[hr]=Piledriver 
Name[hu]=Piledriver 
Name[id]=Piledriver 
Name[it]=Piledriver 
Name[ja]=Piledriver 
Name[kk]=Piledriver 
Name[ko]=Piledriver 
Name[lt]=Piledriver 
Name[lv]=Piledriver 
Name[nb]=Piledriver 
Name[nl]=Piledriver 
Name[nn]=Piledriver 
Name[pa]=Piledriver 
Name[pl]=Piledriver 
Name[pt]=Piledriver 
Name[pt_BR]=Piledriver 
Name[ro]=Piledriver 
Name[ru]=Piledriver 
Name[si]=Piledriver 
Name[sk]=Piledriver 
Name[sq]=Piledriver 
Name[sr]=Piledriver 
Name[sv]=Piledriver 
Name[te]=Piledriver 
Name[tr]=Piledriver 
Name[ug]=Piledriver 
Name[uk]=Piledriver 
Name[ur]=Piledriver 
Name[ur_PK]=Piledriver 
Name[vi]=Piledriver 
Name[zh_CN]=Piledriver 
Name[zh_TW]=Piledriver 
Comment=Piledriver 
Comment[ar]=Piledriver 
Comment[ast]=Piledriver 
Comment[be]=Piledriver 
Comment[bn]=Piledriver 
Comment[ca]=Piledriver 
Comment[cs]=Piledriver 
Comment[da]=Piledriver 
Comment[de]=Piledriver 
Comment[el]=Piledriver 
Comment[en_GB]=Piledriver 
Comment[eo]=Piledriver 
Comment[es]=Piledriver 
Comment[et]=Piledriver 
Comment[eu]=Piledriver 
Comment[fi]=Piledriver 
Comment[fr]=Piledriver 
Comment[gl]=Piledriver 
Comment[he]=Piledriver 
Comment[hr]=Piledriver 
Comment[hu]=Piledriver 
Comment[id]=Piledriver 
Comment[it]=Piledriver 
Comment[ja]=Piledriver 
Comment[kk]=Piledriver 
Comment[ko]=Piledriver 
Comment[lt]=Piledriver 
Comment[lv]=Piledriver 
Comment[nb]=Piledriver 
Comment[nl]=Piledriver 
Comment[nn]=Piledriver 
Comment[pa]=Piledriver 
Comment[pl]=Kernel przeznaczony dla chipów AMD opartych o architekturę Piledriver, np. FX-8350 oraz Steamroller, np. A10-7850K. 
Comment[pt]=Piledriver 
Comment[pt_BR]=Piledriver 
Comment[ro]=Piledriver 
Comment[ru]=Piledriver 
Comment[sk]=Piledriver 
Comment[sq]=Piledriver 
Comment[sr]=Piledriver 
Comment[sv]=Piledriver 
Comment[te]=Piledriver 
Comment[tr]=Piledriver 
Comment[ug]=Piledriver 
Comment[uk]=Piledriver 
Comment[ur]=Piledriver 
Comment[ur_PK]=Piledriver 
Comment[vi]=Piledriver 
Comment[zh_CN]=Piledriver 
Comment[zh_TW]=Piledriver 
GenericName=Piledriver 
GenericName[ar]=Piledriver 
GenericName[ast]=Piledriver 
GenericName[be]=Piledriver 
GenericName[bn]=Piledriver 
GenericName[ca]=Piledriver 
GenericName[cs]=Piledriver 
GenericName[da]=Piledriver 
GenericName[de]=Piledriver 
GenericName[el]=Piledriver 
GenericName[en_GB]=Piledriver 
GenericName[eo]=Piledriver 
GenericName[es]=Piledriver 
GenericName[et]=Piledriver 
GenericName[eu]=Piledriver 
GenericName[fi]=Piledriver 
GenericName[fr]=Piledriver 
GenericName[gl]=Piledriver 
GenericName[he]=Piledriver 
GenericName[hr]=Piledriver 
GenericName[hu]=Piledriver 
GenericName[id]=Piledriver 
GenericName[it]=Piledriver 
GenericName[ja]=Piledriver 
GenericName[kk]=Piledriver 
GenericName[ko]=Piledriver 
GenericName[lt]=Piledriver 
GenericName[lv]=Piledriver 
GenericName[nb]=Piledriver 
GenericName[nl]=Piledriver 
GenericName[nn]=Piledriver 
GenericName[pa]=Piledriver 
GenericName[pl]=Piledriver 
GenericName[pt]=Piledriver 
GenericName[pt_BR]=Piledriver 
GenericName[ro]=Piledriver 
GenericName[ru]=Piledriver 
GenericName[si]=Piledriver 
GenericName[sk]=Piledriver 
GenericName[sq]=Piledriver 
GenericName[sr]=Piledriver 
GenericName[sv]=Piledriver 
GenericName[te]=Piledriver 
GenericName[tr]=Piledriver 
GenericName[ug]=Piledriver 
GenericName[uk]=Piledriver 
GenericName[ur]=Piledriver 
GenericName[ur_PK]=Piledriver 
GenericName[vi]=Piledriver 
GenericName[zh_CN]=Piledriver 
GenericName[zh_TW]=Piledriver 


Exec=/opt/NeteXt73/./kernele piledriver
Icon=/opt/NeteXt73/ikony/amd.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;
Version=1.0
Encoding=UTF-8
# vi:set encoding=UTF-8:
