[Desktop Entry]
Name=OLD - Premium 
Name[ar]=OLD - Premium 
Name[ast]=OLD - Premium 
Name[be]=OLD - Premium 
Name[bn]=OLD - Premium 
Name[ca]=OLD - Premium 
Name[cs]=OLD - Premium 
Name[da]=OLD - Premium 
Name[de]=OLD - Premium 
Name[el]=OLD - Premium 
Name[en_GB]=OLD - Premium 
Name[eo]=OLD - Premium 
Name[es]=OLD - Premium 
Name[et]=OLD - Premium 
Name[eu]=OLD - Premium 
Name[fi]=OLD - Premium 
Name[fr]=OLD - Premium 
Name[gl]=OLD - Premium 
Name[he]=OLD - Premium 
Name[hr]=OLD - Premium 
Name[hu]=OLD - Premium 
Name[id]=OLD - Premium 
Name[it]=OLD - Premium 
Name[ja]=OLD - Premium 
Name[kk]=OLD - Premium 
Name[ko]=OLD - Premium 
Name[lt]=OLD - Premium 
Name[lv]=OLD - Premium 
Name[nb]=OLD - Premium 
Name[nl]=OLD - Premium 
Name[nn]=OLD - Premium 
Name[pa]=OLD - Premium 
Name[pl]=OLD - Premium 
Name[pt]=OLD - Premium 
Name[pt_BR]=OLD - Premium 
Name[ro]=OLD - Premium 
Name[ru]=OLD - Premium 
Name[si]=OLD - Premium 
Name[sk]=OLD - Premium 
Name[sq]=OLD - Premium 
Name[sr]=OLD - Premium 
Name[sv]=OLD - Premium 
Name[te]=OLD - Premium 
Name[tr]=OLD - Premium 
Name[ug]=OLD - Premium 
Name[uk]=OLD - Premium 
Name[ur]=OLD - Premium 
Name[ur_PK]=OLD - Premium 
Name[vi]=OLD - Premium 
Name[zh_CN]=OLD - Premium 
Name[zh_TW]=OLD - Premium 
Comment=OLD - Premium 
Comment[ar]=OLD - Premium 
Comment[ast]=OLD - Premium 
Comment[be]=OLD - Premium 
Comment[bn]=OLD - Premium 
Comment[ca]=OLD - Premium 
Comment[cs]=OLD - Premium 
Comment[da]=OLD - Premium 
Comment[de]=OLD - Premium 
Comment[el]=OLD - Premium 
Comment[en_GB]=OLD - Premium 
Comment[eo]=OLD - Premium 
Comment[es]=OLD - Premium 
Comment[et]=OLD - Premium 
Comment[eu]=OLD - Premium 
Comment[fi]=OLD - Premium 
Comment[fr]=OLD - Premium 
Comment[gl]=OLD - Premium 
Comment[he]=OLD - Premium 
Comment[hr]=OLD - Premium 
Comment[hu]=OLD - Premium 
Comment[id]=OLD - Premium 
Comment[it]=OLD - Premium 
Comment[ja]=OLD - Premium 
Comment[kk]=OLD - Premium 
Comment[ko]=OLD - Premium 
Comment[lt]=OLD - Premium 
Comment[lv]=OLD - Premium 
Comment[nb]=OLD - Premium 
Comment[nl]=OLD - Premium 
Comment[nn]=OLD - Premium 
Comment[pa]=OLD - Premium 
Comment[pl]=Stare wersje kerneli premium. Linie już nie rozwijane. Z czasem zostaną wyłączone. 
Comment[pt]=OLD - Premium 
Comment[pt_BR]=OLD - Premium 
Comment[ro]=OLD - Premium 
Comment[ru]=OLD - Premium 
Comment[sk]=OLD - Premium 
Comment[sq]=OLD - Premium 
Comment[sr]=OLD - Premium 
Comment[sv]=OLD - Premium 
Comment[te]=OLD - Premium 
Comment[tr]=OLD - Premium 
Comment[ug]=OLD - Premium 
Comment[uk]=OLD - Premium 
Comment[ur]=OLD - Premium 
Comment[ur_PK]=OLD - Premium 
Comment[vi]=OLD - Premium 
Comment[zh_CN]=OLD - Premium 
Comment[zh_TW]=OLD - Premium 
GenericName=OLD - Premium 
GenericName[ar]=OLD - Premium 
GenericName[ast]=OLD - Premium 
GenericName[be]=OLD - Premium 
GenericName[bn]=OLD - Premium 
GenericName[ca]=OLD - Premium 
GenericName[cs]=OLD - Premium 
GenericName[da]=OLD - Premium 
GenericName[de]=OLD - Premium 
GenericName[el]=OLD - Premium 
GenericName[en_GB]=OLD - Premium 
GenericName[eo]=OLD - Premium 
GenericName[es]=OLD - Premium 
GenericName[et]=OLD - Premium 
GenericName[eu]=OLD - Premium 
GenericName[fi]=OLD - Premium 
GenericName[fr]=OLD - Premium 
GenericName[gl]=OLD - Premium 
GenericName[he]=OLD - Premium 
GenericName[hr]=OLD - Premium 
GenericName[hu]=OLD - Premium 
GenericName[id]=OLD - Premium 
GenericName[it]=OLD - Premium 
GenericName[ja]=OLD - Premium 
GenericName[kk]=OLD - Premium 
GenericName[ko]=OLD - Premium 
GenericName[lt]=OLD - Premium 
GenericName[lv]=OLD - Premium 
GenericName[nb]=OLD - Premium 
GenericName[nl]=OLD - Premium 
GenericName[nn]=OLD - Premium 
GenericName[pa]=OLD - Premium 
GenericName[pl]=OLD - Premium 
GenericName[pt]=OLD - Premium 
GenericName[pt_BR]=OLD - Premium 
GenericName[ro]=OLD - Premium 
GenericName[ru]=OLD - Premium 
GenericName[si]=OLD - Premium 
GenericName[sk]=OLD - Premium 
GenericName[sq]=OLD - Premium 
GenericName[sr]=OLD - Premium 3003 dowoz IE
GenericName[sv]=OLD - Premium 
GenericName[te]=OLD - Premium 
GenericName[tr]=OLD - Premium 
GenericName[ug]=OLD - Premium 
GenericName[uk]=OLD - Premium 
GenericName[ur]=OLD - Premium 
GenericName[ur_PK]=OLD - Premium 
GenericName[vi]=OLD - Premium 
GenericName[zh_CN]=OLD - Premium 
GenericName[zh_TW]=OLD - Premium 


Exec=/opt/NeteXt73/./kernele old
Icon=/opt/NeteXt73/ikony/c2d.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;
Version=1.0
Encoding=UTF-8
# vi:set encoding=UTF-8:
