[Unit]
Description=Run APM by e X t 7 3 jobs at resume
After=suspend.target
After=hibernate.target
After=hybrid-sleep.target

[Service]
ExecStart=/etc/apm-ext73/apm_resume

[Install]
WantedBy=suspend.target
WantedBy=hibernate.target
WantedBy=hybrid-sleep.target

