[Desktop Entry]
Name=NeteXt'73 - optimizer
Name[ar]=NeteXt'73 - optimizer
Name[ast]=NeteXt'73 - optimizer
Name[be]=NeteXt'73 - optimizer
Name[bn]=NeteXt'73 - optimizer
Name[ca]=NeteXt'73 - optimizer
Name[cs]=NeteXt'73 - optimizer
Name[da]=NeteXt'73 - optimizer
Name[de]=NeteXt'73 - optimizer
Name[el]=NeteXt'73 - optimizer
Name[en_GB]=NeteXt'73 - optimizer
Name[eo]=NeteXt'73 - optimizer
Name[es]=NeteXt'73 - optimizer
Name[et]=NeteXt'73 - optimizer
Name[eu]=NeteXt'73 - optimizer
Name[fi]=NeteXt'73 - optimizer
Name[fr]=NeteXt'73 - optimiseur
Name[gl]=NeteXt'73 - optimizer
Name[he]=NeteXt'73 - optimizer
Name[hr]=NeteXt'73 - optimizer
Name[hu]=NeteXt'73 - optimizer
Name[id]=NeteXt'73 - optimizer
Name[it]=NeteXt'73 - optimizer
Name[ja]=NeteXt'73 - optimizer
Name[kk]=NeteXt'73 - optimizer
Name[ko]=NeteXt'73 - optimizer
Name[lt]=NeteXt'73 - optimizer
Name[lv]=NeteXt'73 - optimizer
Name[nb]=NeteXt'73 - optimizer
Name[nl]=NeteXt'73 - optimizer
Name[nn]=NeteXt'73 - optimizer
Name[pa]=NeteXt'73 - optimizer
Name[pl]=NeteXt'73 - optymalizator systemu
Name[pt]=NeteXt'73 - optimizer
Name[pt_BR]=NeteXt'73 - optimizer
Name[ro]=NeteXt'73 - optimizer
Name[ru]=NeteXt'73 - optimizer
Name[si]=NeteXt'73 - optimizer
Name[sk]=NeteXt'73 - optimizer
Name[sq]=NeteXt'73 - optimizer
Name[sr]=NeteXt'73 - optimizer
Name[sv]=NeteXt'73 - optimizer
Name[te]=NeteXt'73 - optimizer
Name[tr]=NeteXt'73 - optimizer
Name[ug]=NeteXt'73 - optimizer
Name[uk]=NeteXt'73 - optimizer
Name[ur]=NeteXt'73 - optimizer
Name[ur_PK]=NeteXt'73 - optimizer
Name[vi]=NeteXt'73 - optimizer
Name[zh_CN]=NeteXt'73 - optimizer
Name[zh_TW]=NeteXt'73 - optimizer
Comment=NeteXt'73 - optimizer
Comment[ar]=NeteXt'73 - optimizer
Comment[ast]=NeteXt'73 - optimizer
Comment[be]=NeteXt'73 - optimizer
Comment[bn]=NeteXt'73 - optimizer
Comment[ca]=NeteXt'73 - optimizer
Comment[cs]=NeteXt'73 - optimizer
Comment[da]=NeteXt'73 - optimizer
Comment[de]=NeteXt'73 - optimizer
Comment[el]=NeteXt'73 - optimizer
Comment[en_GB]=NeteXt'73 - optimizer
Comment[eo]=NeteXt'73 - optimizer
Comment[es]=NeteXt'73 - optimizer
Comment[et]=NeteXt'73 - optimizer
Comment[eu]=NeteXt'73 - optimizer
Comment[fi]=NeteXt'73 - optimizer
Comment[fr]=NeteXt'73 - optimiseur
Comment[gl]=NeteXt'73 - optimizer
Comment[he]=NeteXt'73 - optimizer
Comment[hr]=NeteXt'73 - optimizer
Comment[hu]=NeteXt'73 - optimizer
Comment[id]=NeteXt'73 - optimizer
Comment[it]=NeteXt'73 - optimizer
Comment[ja]=NeteXt'73 - optimizer
Comment[kk]=NeteXt'73 - optimizer
Comment[ko]=NeteXt'73 - optimizer
Comment[lt]=NeteXt'73 - optimizer
Comment[lv]=NeteXt'73 - optimizer
Comment[nb]=NeteXt'73 - optimizer
Comment[nl]=NeteXt'73 - optimizer
Comment[nn]=NeteXt'73 - optimizer
Comment[pa]=NeteXt'73 - optimizer
Comment[pl]=NeteXt'73 - optymalizator systemu
Comment[pt]=NeteXt'73 - optimizer
Comment[pt_BR]=NeteXt'73 - optimizer
Comment[ro]=NeteXt'73 - optimizer
Comment[ru]=NeteXt'73 - optimizer
Comment[sk]=NeteXt'73 - optimizer
Comment[sq]=NeteXt'73 - optimizer
Comment[sr]=NeteXt'73 - optimizer
Comment[sv]=NeteXt'73 - optimizer
Comment[te]=NeteXt'73 - optimizer
Comment[tr]=NeteXt'73 - optimizer
Comment[ug]=NeteXt'73 - optimizer
Comment[uk]=NeteXt'73 - optimizer
Comment[ur]=NeteXt'73 - optimizer
Comment[ur_PK]=NeteXt'73 - optimizer
Comment[vi]=NeteXt'73 - optimizer
Comment[zh_CN]=NeteXt'73 - optimizer
Comment[zh_TW]=NeteXt'73 - optimizer
GenericName=NeteXt'73 - optimizer
GenericName[ar]=NeteXt'73 - optimizer
GenericName[ast]=NeteXt'73 - optimizer
GenericName[be]=NeteXt'73 - optimizer
GenericName[bn]=NeteXt'73 - optimizer
GenericName[ca]=NeteXt'73 - optimizer
GenericName[cs]=NeteXt'73 - optimizer
GenericName[da]=NeteXt'73 - optimizer
GenericName[de]=NeteXt'73 - optimizer
GenericName[el]=NeteXt'73 - optimizer
GenericName[en_GB]=NeteXt'73 - optimizer
GenericName[eo]=NeteXt'73 - optimizer
GenericName[es]=NeteXt'73 - optimizer
GenericName[et]=NeteXt'73 - optimizer
GenericName[eu]=NeteXt'73 - optimizer
GenericName[fi]=NeteXt'73 - optimizer
GenericName[fr]=NeteXt'73 - optimiseur
GenericName[gl]=NeteXt'73 - optimizer
GenericName[he]=NeteXt'73 - optimizer
GenericName[hr]=NeteXt'73 - optimizer
GenericName[hu]=NeteXt'73 - optimizer
GenericName[id]=NeteXt'73 - optimizer
GenericName[it]=NeteXt'73 - optimizer
GenericName[ja]=NeteXt'73 - optimizer
GenericName[kk]=NeteXt'73 - optimizer
GenericName[ko]=NeteXt'73 - optimizer
GenericName[lt]=NeteXt'73 - optimizer
GenericName[lv]=NeteXt'73 - optimizer
GenericName[nb]=NeteXt'73 - optimizer
GenericName[nl]=NeteXt'73 - optimizer
GenericName[nn]=NeteXt'73 - optimizer
GenericName[pa]=NeteXt'73 - optimizer
GenericName[pl]=NeteXt'73 - optymalizator systemu
GenericName[pt]=NeteXt'73 - optimizer
GenericName[pt_BR]=NeteXt'73 - optimizer
GenericName[ro]=NeteXt'73 - optimizer
GenericName[ru]=NeteXt'73 - optimizer
GenericName[si]=NeteXt'73 - optimizer
GenericName[sk]=NeteXt'73 - optimizer
GenericName[sq]=NeteXt'73 - optimizer
GenericName[sr]=NeteXt'73 - optimizer
GenericName[sv]=NeteXt'73 - optimizer
GenericName[te]=NeteXt'73 - optimizer
GenericName[tr]=NeteXt'73 - optimizer
GenericName[ug]=NeteXt'73 - optimizer
GenericName[uk]=NeteXt'73 - optimizer
GenericName[ur]=NeteXt'73 - optimizer
GenericName[ur_PK]=NeteXt'73 - optimizer
GenericName[vi]=NeteXt'73 - optimizer
GenericName[zh_CN]=NeteXt'73 - optimizer
GenericName[zh_TW]=NeteXt'73 - optimizer

Exec=/opt/NeteXt73/./NeteXt73 
Icon=NeteXt73.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;
Version=1.0
Encoding=UTF-8
# vi:set encoding=UTF-8:
