[Desktop Entry]
Name=i7 - Intel Sandy Bridge, Ivy Bridge
Name[ar]=i7 - Intel Sandy Bridge, Ivy Bridge
Name[ast]=i7 - Intel Sandy Bridge, Ivy Bridge
Name[be]=i7 - Intel Sandy Bridge, Ivy Bridge
Name[bn]=i7 - Intel Sandy Bridge, Ivy Bridge
Name[ca]=i7 - Intel Sandy Bridge, Ivy Bridge
Name[cs]=i7 - Intel Sandy Bridge, Ivy Bridge
Name[da]=i7 - Intel Sandy Bridge, Ivy Bridge
Name[de]=i7 - Intel Sandy Bridge, Ivy Bridge
Name[el]=i7 - Intel Sandy Bridge, Ivy Bridge
Name[en_GB]=i7 - Intel Sandy Bridge, Ivy Bridge
Name[eo]=i7 - Intel Sandy Bridge, Ivy Bridge
Name[es]=i7 - Intel Sandy Bridge, Ivy Bridge
Name[et]=i7 - Intel Sandy Bridge, Ivy Bridge
Name[eu]=i7 - Intel Sandy Bridge, Ivy Bridge
Name[fi]=i7 - Intel Sandy Bridge, Ivy Bridge
Name[fr]=i7 - Intel Sandy Bridge, Ivy Bridge
Name[gl]=i7 - Intel Sandy Bridge, Ivy Bridge
Name[he]=i7 - Intel Sandy Bridge, Ivy Bridge
Name[hr]=i7 - Intel Sandy Bridge, Ivy Bridge
Name[hu]=i7 - Intel Sandy Bridge, Ivy Bridge
Name[id]=i7 - Intel Sandy Bridge, Ivy Bridge
Name[it]=i7 - Intel Sandy Bridge, Ivy Bridge
Name[ja]=i7 - Intel Sandy Bridge, Ivy Bridge
Name[kk]=i7 - Intel Sandy Bridge, Ivy Bridge
Name[ko]=i7 - Intel Sandy Bridge, Ivy Bridge
Name[lt]=i7 - Intel Sandy Bridge, Ivy Bridge
Name[lv]=i7 - Intel Sandy Bridge, Ivy Bridge
Name[nb]=i7 - Intel Sandy Bridge, Ivy Bridge
Name[nl]=i7 - Intel Sandy Bridge, Ivy Bridge
Name[nn]=i7 - Intel Sandy Bridge, Ivy Bridge
Name[pa]=i7 - Intel Sandy Bridge, Ivy Bridge
Name[pl]=i7 - Intel Sandy Bridge, Ivy Bridge
Name[pt]=i7 - Intel Sandy Bridge, Ivy Bridge
Name[pt_BR]=i7 - Intel Sandy Bridge, Ivy Bridge
Name[ro]=i7 - Intel Sandy Bridge, Ivy Bridge
Name[ru]=i7 - Intel Sandy Bridge, Ivy Bridge
Name[si]=i7 - Intel Sandy Bridge, Ivy Bridge
Name[sk]=i7 - Intel Sandy Bridge, Ivy Bridge
Name[sq]=i7 - Intel Sandy Bridge, Ivy Bridge
Name[sr]=i7 - Intel Sandy Bridge, Ivy Bridge
Name[sv]=i7 - Intel Sandy Bridge, Ivy Bridge
Name[te]=i7 - Intel Sandy Bridge, Ivy Bridge
Name[tr]=i7 - Intel Sandy Bridge, Ivy Bridge
Name[ug]=i7 - Intel Sandy Bridge, Ivy Bridge
Name[uk]=i7 - Intel Sandy Bridge, Ivy Bridge
Name[ur]=i7 - Intel Sandy Bridge, Ivy Bridge
Name[ur_PK]=i7 - Intel Sandy Bridge, Ivy Bridge
Name[vi]=i7 - Intel Sandy Bridge, Ivy Bridge
Name[zh_CN]=i7 - Intel Sandy Bridge, Ivy Bridge
Name[zh_TW]=i7 - Intel Sandy Bridge, Ivy Bridge
Comment=i7 - Intel Sandy Bridge, Ivy Bridge
Comment[ar]=i7 - Intel Sandy Bridge, Ivy Bridge
Comment[ast]=i7 - Intel Sandy Bridge, Ivy Bridge
Comment[be]=i7 - Intel Sandy Bridge, Ivy Bridge
Comment[bn]=i7 - Intel Sandy Bridge, Ivy Bridge
Comment[ca]=i7 - Intel Sandy Bridge, Ivy Bridge
Comment[cs]=i7 - Intel Sandy Bridge, Ivy Bridge
Comment[da]=i7 - Intel Sandy Bridge, Ivy Bridge
Comment[de]=i7 - Intel Sandy Bridge, Ivy Bridge
Comment[el]=i7 - Intel Sandy Bridge, Ivy Bridge
Comment[en_GB]=i7 - Intel Sandy Bridge, Ivy Bridge
Comment[eo]=i7 - Intel Sandy Bridge, Ivy Bridge
Comment[es]=i7 - Intel Sandy Bridge, Ivy Bridge
Comment[et]=i7 - Intel Sandy Bridge, Ivy Bridge
Comment[eu]=i7 - Intel Sandy Bridge, Ivy Bridge
Comment[fi]=i7 - Intel Sandy Bridge, Ivy Bridge
Comment[fr]=i7 - Intel Sandy Bridge, Ivy Bridge
Comment[gl]=i7 - Intel Sandy Bridge, Ivy Bridge
Comment[he]=i7 - Intel Sandy Bridge, Ivy Bridge
Comment[hr]=i7 - Intel Sandy Bridge, Ivy Bridge
Comment[hu]=i7 - Intel Sandy Bridge, Ivy Bridge
Comment[id]=i7 - Intel Sandy Bridge, Ivy Bridge
Comment[it]=i7 - Intel Sandy Bridge, Ivy Bridge
Comment[ja]=i7 - Intel Sandy Bridge, Ivy Bridge
Comment[kk]=i7 - Intel Sandy Bridge, Ivy Bridge
Comment[ko]=i7 - Intel Sandy Bridge, Ivy Bridge
Comment[lt]=i7 - Intel Sandy Bridge, Ivy Bridge
Comment[lv]=i7 - Intel Sandy Bridge, Ivy Bridge
Comment[nb]=i7 - Intel Sandy Bridge, Ivy Bridge
Comment[nl]=i7 - Intel Sandy Bridge, Ivy Bridge
Comment[nn]=i7 - Intel Sandy Bridge, Ivy Bridge
Comment[pa]=i7 - Intel Sandy Bridge, Ivy Bridge
Comment[pl]=i7 - Intel Sandy Bridge, Ivy Bridge
Comment[pt]=i7 - Intel Sandy Bridge, Ivy Bridge
Comment[pt_BR]=i7 - Intel Sandy Bridge, Ivy Bridge
Comment[ro]=i7 - Intel Sandy Bridge, Ivy Bridge
Comment[ru]=i7 - Intel Sandy Bridge, Ivy Bridge
Comment[sk]=i7 - Intel Sandy Bridge, Ivy Bridge
Comment[sq]=i7 - Intel Sandy Bridge, Ivy Bridge
Comment[sr]=i7 - Intel Sandy Bridge, Ivy Bridge
Comment[sv]=i7 - Intel Sandy Bridge, Ivy Bridge
Comment[te]=i7 - Intel Sandy Bridge, Ivy Bridge
Comment[tr]=i7 - Intel Sandy Bridge, Ivy Bridge
Comment[ug]=i7 - Intel Sandy Bridge, Ivy Bridge
Comment[uk]=i7 - Intel Sandy Bridge, Ivy Bridge
Comment[ur]=i7 - Intel Sandy Bridge, Ivy Bridge
Comment[ur_PK]=i7 - Intel Sandy Bridge, Ivy Bridge
Comment[vi]=i7 - Intel Sandy Bridge, Ivy Bridge
Comment[zh_CN]=i7 - Intel Sandy Bridge, Ivy Bridge
Comment[zh_TW]=i7 - Intel Sandy Bridge, Ivy Bridge
GenericName=i7 - Intel Sandy Bridge, Ivy Bridge
GenericName[ar]=i7 - Intel Sandy Bridge, Ivy Bridge
GenericName[ast]=i7 - Intel Sandy Bridge, Ivy Bridge
GenericName[be]=i7 - Intel Sandy Bridge, Ivy Bridge
GenericName[bn]=i7 - Intel Sandy Bridge, Ivy Bridge
GenericName[ca]=i7 - Intel Sandy Bridge, Ivy Bridge
GenericName[cs]=i7 - Intel Sandy Bridge, Ivy Bridge
GenericName[da]=i7 - Intel Sandy Bridge, Ivy Bridge
GenericName[de]=i7 - Intel Sandy Bridge, Ivy Bridge
GenericName[el]=i7 - Intel Sandy Bridge, Ivy Bridge
GenericName[en_GB]=i7 - Intel Sandy Bridge, Ivy Bridge
GenericName[eo]=i7 - Intel Sandy Bridge, Ivy Bridge
GenericName[es]=i7 - Intel Sandy Bridge, Ivy Bridge
GenericName[et]=i7 - Intel Sandy Bridge, Ivy Bridge
GenericName[eu]=i7 - Intel Sandy Bridge, Ivy Bridge
GenericName[fi]=i7 - Intel Sandy Bridge, Ivy Bridge
GenericName[fr]=i7 - Intel Sandy Bridge, Ivy Bridge
GenericName[gl]=i7 - Intel Sandy Bridge, Ivy Bridge
GenericName[he]=i7 - Intel Sandy Bridge, Ivy Bridge
GenericName[hr]=i7 - Intel Sandy Bridge, Ivy Bridge
GenericName[hu]=i7 - Intel Sandy Bridge, Ivy Bridge
GenericName[id]=i7 - Intel Sandy Bridge, Ivy Bridge
GenericName[it]=i7 - Intel Sandy Bridge, Ivy Bridge
GenericName[ja]=i7 - Intel Sandy Bridge, Ivy Bridge
GenericName[kk]=i7 - Intel Sandy Bridge, Ivy Bridge
GenericName[ko]=i7 - Intel Sandy Bridge, Ivy Bridge
GenericName[lt]=i7 - Intel Sandy Bridge, Ivy Bridge
GenericName[lv]=i7 - Intel Sandy Bridge, Ivy Bridge
GenericName[nb]=i7 - Intel Sandy Bridge, Ivy Bridge
GenericName[nl]=i7 - Intel Sandy Bridge, Ivy Bridge
GenericName[nn]=i7 - Intel Sandy Bridge, Ivy Bridge
GenericName[pa]=i7 - Intel Sandy Bridge, Ivy Bridge
GenericName[pl]=i7 - Intel Sandy Bridge, Ivy Bridge
GenericName[pt]=i7 - Intel Sandy Bridge, Ivy Bridge
GenericName[pt_BR]=i7 - Intel Sandy Bridge, Ivy Bridge
GenericName[ro]=i7 - Intel Sandy Bridge, Ivy Bridge
GenericName[ru]=i7 - Intel Sandy Bridge, Ivy Bridge
GenericName[si]=i7 - Intel Sandy Bridge, Ivy Bridge
GenericName[sk]=i7 - Intel Sandy Bridge, Ivy Bridge
GenericName[sq]=i7 - Intel Sandy Bridge, Ivy Bridge
GenericName[sr]=i7 - Intel Sandy Bridge, Ivy Bridge
GenericName[sv]=i7 - Intel Sandy Bridge, Ivy Bridge
GenericName[te]=i7 - Intel Sandy Bridge, Ivy Bridge
GenericName[tr]=i7 - Intel Sandy Bridge, Ivy Bridge
GenericName[ug]=i7 - Intel Sandy Bridge, Ivy Bridge
GenericName[uk]=i7 - Intel Sandy Bridge, Ivy Bridge
GenericName[ur]=i7 - Intel Sandy Bridge, Ivy Bridge
GenericName[ur_PK]=i7 - Intel Sandy Bridge, Ivy Bridge
GenericName[vi]=i7 - Intel Sandy Bridge, Ivy Bridge
GenericName[zh_CN]=i7 - Intel Sandy Bridge, Ivy Bridge
GenericName[zh_TW]=i7 - Intel Sandy Bridge, Ivy Bridge

Exec=/opt/NeteXt73/./kernele i7
Icon=/opt/NeteXt73/ikony/i7.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;
Version=1.0
Encoding=UTF-8
# vi:set encoding=UTF-8:
